[2017-02-08 14:28] bnoordhuis commented on #613
To save people from clicking through, the error is this:

Which makes sense because https://github.com/nodejs/node/pull/11086 hasn't been back-ported yet.

[2017-02-08 14:40] gdams commented on #609
I cleanup up a lot of processes that seemed to be blocking the debug port:
[code]

[2017-02-08 14:57] misterdjules commented on #613
My apologies, I disabled the new flag in `node-test-commit-smartos` for now, and I'll work on a backport asap. Thank you for investigating, and sorry for the trouble!

[2017-02-08 15:00] bnoordhuis commented on #613
Thanks, Julien.

[2017-02-08 15:47] mhdawson commented on #616
Also added his key to test-osuosl-aix61-ppc64_be-1

[2017-02-08 16:16] thefourtheye commented on #613
Is it generally okay to backport, given that it hasn't been released in "Current" release stream?

[2017-02-08 16:19] thefourtheye commented on #616
Great! Glad to get more help :-) Thanks @gdams. Have my +1 as well :-)

[2017-02-08 16:46] misterdjules commented on #613
I would think so. Is there any indication of the contrary somewhere? FWIW, this change is part of the v7.6.0 release proposal at https://github.com/nodejs/node/pull/11185.

[2017-02-08 20:24] mhdawson commented on #617
Looks like it is ok now closing.

[2017-02-08 20:24] #617 closed

[2017-02-08 20:47] mhdawson commented on #604
Ended up cloning existing node.js core jobs since they fit what was needed.

Leaving issue open until we get the docs in place across CITGM/node-report and post-mortem

[2017-02-08 20:53] mhdawson opened #619 "Build WG Meeting Feb 14 2017"
### When

Feb 14, 2017 3 PM EST

We met last week but decided we should hold this meeting to get back on the regular cadence.

### Where
- Hangouts on Air, for participants:
- Youtube stream, for viewers:
- Minutes document: https://docs.google.com/document/d/1wftF4I7bVaT3AqD3HDNT5pi0PPSCKH_f_benL2XI7iY/edit

### Agenda

Extracted from `wg-agenda` [issues](https://github.com/nodejs/build/issues?q=

[2017-02-08 21:36] mhdawson commented on #607
PR for minutes https://github.com/nodejs/build/pull/620

[2017-02-09 00:26] gibfahn commented on #613
cc/ @MylesBorins @nodejs/lts

[2017-02-09 00:58] gibfahn commented on #619
Not going to make this one (2 a.m. Beijing time).

[2017-02-09 01:44] richardlau commented on #591
Related: https://github.com/nodejs/node/pull/11246

[2017-02-09 02:33] rvagg commented on #611
Bad news .. I've been notified there are network problems in the area (monopoly government-provided internet infrastructure, yay) and it's been deferfed for another week. If it goes through then it should be up on the 16th of this month.

[2017-02-09 06:11] bnoordhuis commented on #613
I don't see why not, it's not a user-visible change.  It's a change to the test harness, not to node itself.

[2017-02-09 06:15] thefourtheye commented on #613
@bnoordhuis I agree, this specific case is okay. I am wondering, generally, if a commit lands in master, then it is good enough to be backported.

[2017-02-09 06:24] thefourtheye commented on #611
We have three releases and we might get RCs out soon. Should we hold them till this setup is back up? We cannot release binaries without testing them, right?

[2017-02-09 06:25] bnoordhuis commented on #613
@thefourtheye Is that a question or a statement? =)

If it is a user-visible change (bug fix, feature, anything that changes the node binary or how it's built) it should bake for some time in Current first.

[2017-02-09 06:27] thefourtheye commented on #613
I was just thinking out loud :D Cool. That makes sense. @bnoordhuis Thanks :-)

[2017-02-09 15:30] italoacasas commented on #611
I have two questions:
- something I(we) can do to help right now?
- something we can prepare(plan) in the case that this happens again in the future, like for example a storm, etc.

[2017-02-09 17:00] mhdawson commented on #611
The LTS releases are planned for Feb 21st so availability on the 16 may not affect those directly.  It may affect plan RC's, in that case the question would be if the changes going in that we wanted validation through the RC would be ARM only or can be adequately covered by use on other platforms.

In terms of testing for the Current release, I wonder if the binaries could be tested manually by so

[2017-02-09 17:27] Trott commented on #611
I think it's OK to release RCs without testing in the ARM cluster in this situation. Maybe explain/apologize in the release announcement and request that people specifically test the RCs on their ARM devices or whatever.

And actual release (as opposed to an RC) might be different....

[2017-02-10 15:34] jbergstroem opened #622 "provide @phillipj temporary (?) access as jenkins-admin on ci.nodejs.org"
Phillip (part of the build team) wants to help out with debugging the arm/arm-fanned ghost fail as well as adding extended functionality to the citgm suite. If this is temporary or if we should elevate his access to jenkins-admins could also be part of the discussion.

[2017-02-10 16:03] joaocgreis commented on #622
SGTM. Do we also have fails in `arm-fanned`? I've only seen them on `arm`.

He's already on the Build WG and his work is related, I'm ok with permanent access.

[2017-02-10 16:03] joaocgreis commented on #622
cc @nodejs/jenkins-admins

[2017-02-12 02:48] gibfahn commented on #622
LGTM (not sure if my vote counts...)

[2017-02-12 07:45] Trott commented on #622
+1

[2017-02-12 18:33] thefourtheye commented on #622
+1

[2017-02-12 18:34] jbergstroem commented on #622
@phillipj you cool with getting elevated access and working full-time as jenkins admin? 😄

[2017-02-12 19:10] thefourtheye commented on #622
![](http://i3.kym-cdn.com/photos/images/facebook/000/933/852/18f.jpg)

[2017-02-12 21:10] phillipj commented on #622
Full-time? Sure, who needs a paid job anyway..

In all seriousness, I cannot promise to do more than github-bot related things ATM. After hopefully fixing what is needed for ARM and citgm, I'm fine with the access being revoked if that sounds best for the current admins.

[2017-02-13 00:48] italoacasas opened #623 "Release Jenkins access for Italo A. Casas"
Hi everyone, I need access to the Release Jenkins (https://ci-release.nodejs.org/job/iojs+release/)

- As describe in the [documentation](https://github.com/nodejs/node/blob/master/doc/releases.md#1-jenkins-release-access) I should request access here. cc: @nodejs/build
- With the authorization of TSC??, I'm going to cc: @nodejs/ctc instead since all the process to be part of the release team was

[2017-02-13 02:54] gibfahn commented on #623
Probably makes sense to cc/ @nodejs/release  and @nodejs/tsc  as well. I don't think we've had new releasers in a while, so the process won't have been very thoroughly tested. We should probably write up an access document and put it in [doc/process/](https://github.com/nodejs/build/tree/master/doc/process).

+1 from me anyway (as an @nodejs/build member).

I think @mhdawson has a list of question

[2017-02-13 09:30] bnoordhuis commented on #623
+1.  Hard making releases without access to the release CI job.

[2017-02-13 10:45] thefourtheye commented on #623
+1

[2017-02-13 12:41] jbergstroem commented on #623
LGTM as well. Someone with elevated github access needs to add him to the proper group.

[2017-02-13 12:55] evanlucas commented on #623
I went ahead and added to the releases team

[2017-02-13 15:28] jbergstroem commented on #623
@italoacasas can you confirm having access to ci-release.nodejs.org?

[2017-02-13 15:28] italoacasas commented on #623
@jbergstroem confirmed!

[2017-02-13 15:29] jbergstroem commented on #623
Awesome! Closing.

[2017-02-13 15:29] #623 closed

[2017-02-13 15:29] italoacasas commented on #623
Thanks everyone.

[2017-02-13 17:20] Fishrock123 commented on #611
Same, RCs/Betas should be fine.

[2017-02-13 22:46] mhdawson commented on #622
+1 from me.

[2017-02-13 23:19] jbergstroem commented on #622
Cool; @mhdawson can you add him to the group?

[2017-02-13 23:32] mhdawson commented on #610
Jobs are in place, just leaving this open until we close on the doc. @gibfahn @gdams can one of you update the CITGM readme to doc the jobs used there and then I'll replicate that to the node-report repo.

[2017-02-14 15:40] joaocgreis commented on #619
I don't know if I'll be able to make it in time. Please start without me, I'll join if/when possible.

[2017-02-14 19:39] mhdawson commented on #622
@jbergstroem added.

[2017-02-14 20:00] mhdawson commented on #619
meeting link for participants https://hangouts.google.com/hangouts/_/ytl/JNay5hb-3oXGPt37GbiVrnZMvqfO8slRyE-qQ1XblAg=?eid=100598160817214911030

[2017-02-14 20:07] mhdawson commented on #619
Meeting is live just waiting until we have at least one other participant before starting the live stream.

[2017-02-14 20:09] mhdawson commented on #619
Will give it another 5 mins and then assume we are cancelling for this time, and we'll meet at the next regular time as we met just last week.

[2017-02-14 20:14] MylesBorins commented on #619
I won't be able to make it today.

[2017-02-14 21:09] mhdawson commented on #609
@Trott has PRs to do some cleanup of processes.  If we don't see a re-occurrence in the next week or so I'll close this.

[2017-02-14 21:19] mhdawson opened #625 "Build jobs for node-inspect under auspices of diagnostics WG."
Its now the time that we should be setting up ci jobs to test the https://github.com/nodejs/node-inspect module.

Unless there are objects this would be the plan:

* create a new team called diagnostics-admins who will be able to modify/configure jobs. There is already an existing team called 'diagnostics'.
*  Add the members who will be working to configure the ci jobs to diagnostics-admins
*  Cr

[2017-02-15 01:14] gibfahn commented on #625
Is the plan to make everyone in `diagnostics` a member of `diagnostics-admins`, or only a subset? If the latter, you should probably list the initial members here.

LGTM anyway.

[2017-02-15 07:23] phillipj commented on #622
Thanks!

[2017-02-15 11:28] jbergstroem commented on #622
Assom - closing. Ping me if you need help/assistance. It might be good to copy jobs when you start modifying even though we have the config history plugin.

[2017-02-15 11:28] #622 closed

[2017-02-15 15:22] ChALkeR commented on #580
Basic information on flatpak runtimes: http://flatpak.org/runtimes.html

More info on creating a runtime:

I will try to take a closer look at that, but I'm not sure when would that happen =).

[2017-02-15 15:54] mhdawson commented on #625
I'm not sure who would need to be part of the diagnostics-admin, need feedback from them.  Once I add one the team can then self-managed as per the process.

I was not planning on adding add, just a subset.

[2017-02-15 15:54] mhdawson commented on #625
Starting to rough in job here: https://ci.nodejs.org/view/x%20-%20Diagnostics/job/node-inspect-continuous-integration/

[2017-02-15 16:46] targos opened #626 "Make regular canary builds with V8 lkgr"
There are more and more people who would like to try and use Node.js with the most recent V8 version available. (\[1\], \[2\])

I propose that we maintain a [`canary`](https://github.com/nodejs/node/commits/canary) branch, regularly updated, based on master and upgraded to the latest version of V8. I have already created the branch and applied patches on top of it (most of them cherry-picked from

[2017-02-15 18:52] misterdjules commented on #613
The changes to support that new `tools/test.py` command line flag were back ported to v6.x and v4.x branches with https://github.com/nodejs/node/pull/11354 and https://github.com/nodejs/node/pull/11351.

My intention is to re-enable this flag on SmartOS asap. Any objection, or any branch that I missed?

[2017-02-15 19:41] mhdawson commented on #626
Seems like a reasonable idea to me.

[2017-02-15 23:01] stevenvachon opened #627 "*.pkg macOS nightlies are missing"
for the last few days:
https://nodejs.org/download/nightly/v8.0.0-nightly20170214ac602a251a/
https://nodejs.org/download/nightly/v8.0.0-nightly201702152ba4eeadbb/
https://nodejs.org/download/nightly/v8.0.0-nightly20170216642eec162d/

yet recent PRs for [nodejs/node](https://github.com/nodejs/node) are passing their macOS builds on CI

[2017-02-16 01:15] ofrobots commented on #626
Thanks for writing this up / working on this. It would be great to have a canary build of Node.js available so that we can flow node canary feedback to the V8 team before the V8 dev branches solidify into the beta/stable branches.

A question about the work-flow you proposed: how would the cherry-picking from `canary-base` work? It sounds like this would be an automated process. How would the tool

[2017-02-16 03:44] gibfahn commented on #613
@misterdjules sounds good to me. If you get any failures you can always conditionally enable it for v4/v6/v7/master.

[2017-02-16 04:06] bmeurer commented on #626
I like this idea a lot! Looking forward to Node Canary.

[2017-02-16 05:26] gibfahn commented on #625
@mhdawson see https://github.com/nodejs/node-report/issues/18#issuecomment-280234054, I've re-evaluated, and I think the hassle citgm adds isn't worth the benefit for single module testing. I'd like to make it simpler, but for now I think it's probably better to just not use it at all.

Also for these jobs (`node-inspect` and `node-report`) I think we need a way to trigger builds on `v4`, `v6`, `v

[2017-02-16 06:08] hashseed commented on #626
Looking forward to this!

How does automating updating to the newest V8 including its dependencies look like? Internally we were thinking of writing a script to do this, and have it checked into the V8 repository. Does that sound like something you are already working on?

[2017-02-16 06:29] rvagg commented on #611
AAAAND we're back up online again on a new stable connection that's quite a bit faster than the old one as a bonus. Working my way through everything but I'm pretty sure I've got most things in place already so it should be working as it used to before the move. Please let me know if you encounter anything that doesn't seem right.

Regarding RCs and nightlies, I think that it got screwed up after

[2017-02-16 08:35] hashseed commented on #626
I wonder whether it makes sense to port the update-v8 script to python. Requiring Node.js to be able to update Node.js feels weird. Especially if we are looking into checking it into V8 to be able to keep it in sync with V8's version: V8 would have a circular dependency on Node.js.

[2017-02-16 08:48] targos commented on #626
I don't speak python. That's why I wrote it in JS in the first place :).

It doesn't feel so weird to me. We already need Node.js to be able to lint Node.js with ESLint.

I think it would make a lot of sense to have the list of dependencies in V8 (ideally as a JSON). It is currently here: https://github.com/targos/update-v8/blob/master/src/constants.js#L14-L49
I'm not so sure for the rest of the s

[2017-02-16 08:58] targos commented on #626
All the commits after the last V8 update. Something like:
[code]

[2017-02-16 15:58] joaocgreis commented on #611
Jobs seem to be running well! There are still 3 slaves offline and the DNS for the jump host is not updated, but this is not urgent. However, we have some tests failing:

- `test-dgram-address` is failing consistently for master on RPi 1 and 2 (`master` test runs: [1](https://ci.nodejs.org/view/All/job/node-test-commit-arm-fanned/6879/), [2](https://ci.nodejs.org/view/All/job/node-test-commit-arm-

[2017-02-16 19:37] misterdjules commented on #613
Enabled again for the `node-test-commit-smartos` job. Thanks all for the feedback, and sorry for the breakage.

I'll watch builds closely for the next couple of days to make sure it's not breaking anything, and I'll react as quickly as possible if it breaks.

[2017-02-16 19:37] #613 closed

[2017-02-16 21:05] indutny commented on #627
There are `-darwin.tgz` files in those folders. Is it what you are looking for?

[2017-02-16 21:15] stevenvachon commented on #627
I'm looking for *.pkg files

[2017-02-16 21:34] stevenvachon commented on #627
All previous nightlies have *.pkg files.

[2017-02-16 21:46] Trott commented on #627
@nodejs/build

[2017-02-16 22:43] rvagg commented on #611
Thanks to @Trott for jumping on test-dgram-address @ https://github.com/nodejs/node/pull/11432, looks like that'll be addressed soon. Full green run @ https://ci.nodejs.org/job/node-test-binary-arm/6241/

I've taken three Pi's offline, suspecting corrupted filesystems or dodgy SD cards, some of the failures were because of that. I'll address them as soon as I can and bring them back online.

[2017-02-16 23:24] rvagg commented on #611
Failures on test-requireio_arm-ubuntu1404-arm64_xgene-2 are interesting, e.g. https://ci.nodejs.org/job/node-test-commit-arm/7806/nodes=armv8-ubuntu1404/ and correlate with disconnection notifications that we keep on getting for just this machine and they date back pretty far (prior to the move). I was tinkering on that box last night trying to understand it but I have no idea what's going on. The

[2017-02-17 14:28] mhdawson commented on #627
Last few nightly release job runs show red for OSX.

Looks like it might be an issue related to signing.  I think we need either @rvagg or @jbergstroem to take a look.

[2017-02-17 14:32] mhdawson commented on #625
If you have time to work on your suggestions for the jobs, since you are part of the build WG I'm happy to give you access to one or more.  Do you want to start with node-report ?

[2017-02-17 14:33] mhdawson commented on #625
Should be no surprises since they are a clone of the CITGM job you worked on, and they could use more optimization improvement.

[2017-02-19 05:17] rvagg commented on #627
[code]

System clock hasn't been updating on this set of machines for some reason, I've given it a kick and they now appear to be syncing properly.

Ran the latest one again and it's working properly, see .pkg @ https://nodejs.org/download/nightly/v8.0.0-nightly20170218ca37ec084a/

[2017-02-19 05:17] #627 closed

[2017-02-19 06:27] gibfahn commented on #625
SGTM

[2017-02-19 06:32] misterdjules opened #628 "Using GCC 4.9 to build SmartOS binaries"
Ref: https://github.com/nodejs/node/issues/11444.

Currently, [it seems node binaries are built with GCC 4.8 on SmartOS](https://github.com/nodejs/node/issues/11444#issuecomment-280866322). If I remember correctly, we had chosen GCC 4.8 because we wanted to target the oldest possible compiler. However it seems it would make sense to move to GCC 4.9 as [per @jperkin's comment](https://github.com/no

[2017-02-20 13:54] jbergstroem commented on #628
@misterdjules we changed [the logic for what smartos version builds what node version](https://github.com/nodejs/build/issues/601) recently. It seems that the user is trying to use a toolchain version we're not "supporting" (our official support table is yet to be merged). How about we skip 6.x altogether for smartos14 then?

[2017-02-21 04:35] rvagg commented on #625
Sounds OK but please keep `diagnostics-admins` access fairly exclusive as it gives you pretty broad control over our test infra and the ability to get away with nefarious activity while mostly covering your tracks. Also make sure they can't edit any of the other jobs, only diagnostics ones! I assume the list is pretty small here anyway? Maybe only a couple of people?

[2017-02-21 08:36] gibfahn commented on #625
Has anyone looked at using the new `Jenkinsfile` options (equivalent of `.travis.yml` files) in Jenkins 2 to see whether we could put our configurations in there? If we could then it wouldn't be necessary for people to have access to the CI, they could just submit PRs to update the `Jenkinsfile` configs.

[2017-02-21 08:53] gibfahn commented on #533
I've now installed pip on `power8-nodejs2.osuosl.org` (which I'm pretty sure is `test-osuosl-aix61-ppc64_be-2`). Pip itself seems to be working fine, but I had to change the LIBPATH fix, as what works for curl doesn't work for python.

What I did:

[code]

@mhdawson can you install `pip` on the release AIX machine? @jbergstroem does that make sense as the next step? I don't think there have been a

[2017-02-21 09:02] gibfahn commented on #533
PR to update the LIBPATH instructions: https://github.com/nodejs/build/pull/629/commits

[2017-02-21 11:51] joaocgreis commented on #611
@rvagg It's strange that it's just that one machine. I have no solution, but perhaps you can try a different ping interval from the slave side. This is used for Windows: https://github.com/nodejs/build/blob/d2d5dd2506951d0dfdd2ffa83aeba8b37b3e6cbc/setup/windows/resources/jenkins.bat#L5 (the main thing that clearly fixed Windows was the ping interval from the master side, but this was left in place

[2017-02-21 14:52] mhdawson opened #630 "Add pip to AIX release machine"
Add pip to AIX release machine.  Its already been added to the test machines.

As per manual install instructions:  https://github.com/nodejs/build/blob/master/setup/aix61/manualBootstrap.md as updated by: https://github.com/nodejs/build/pull/629

[code]

[2017-02-21 14:52] mhdawson commented on #630
@jbergstroem can you take a look at this as we don't have access to the release machines.

[2017-02-21 15:00] jbergstroem commented on #630
Sure, but do we need to? `pip` (unless we use it for more things i'm unaware of) is to pave way for the `tap2junit` script I wrote which is only used in testing.

[2017-02-21 16:07] mhdawson commented on #625
@rvagg configuration is in line with: https://github.com/nodejs/build/blob/master/doc/process/jenkins_job_configuation_access.md.  It limits config to specific jobs for the WG/team to the corresponding "admins" team.   In terms of who gets added to the "admins" team I start with a small set but its delegated as per that process to the team itself.

[2017-02-21 16:54] gibfahn commented on #630
Makes sense, if we don't need it then we can close.

[2017-02-21 17:19] gibfahn commented on #533
Updating the release machine will be covered in https://github.com/nodejs/build/issues/630, so this can be closed.

[2017-02-21 17:19] #533 closed

[2017-02-21 17:48] #630 closed

[2017-02-21 21:09] misterdjules commented on #628
Building node binaries with GCC 4.8 won't be supported out of the box (i.e without installing any additional package from pkgsrc) on any SmartOS image. This was an oversight from me, and due to miscommunication between myself and the team building SmartOS images and packages.

However, I'm not sure moving from GCC 4.8 to GCC 4.9 is an option within a given major version number due to potential ABI

[2017-02-21 21:38] mhdawson opened #631 "Intermittent checkout failures on linuxone machines"
We've been seeing intermittent checkout failures like:

https://ci.nodejs.org/job/node-test-commit-linuxone/4098/nodes=rhel72-s390x/console

[code]

over the last few days. I've seen them on both test-linuxonecc-rhel72-s390x-1 and test-linuxonecc-rhel72-s390x-2.

I've tried killing/restarting the jenkins agent to see if that makes any difference.

[2017-02-21 23:02] mhdawson commented on #625
@gibfahn you should now be able to view/configure https://ci.nodejs.org/view/post-mortem/job/nodereport-continuous-integration/configure.

[2017-02-22 02:40] MylesBorins opened #632 "added italo's key to dist machine"
To allow him to promote the v7.x release I have added his key to the dist machine. Please let me know if there is a process I should have followed if I have stepped on any toes.

[2017-02-22 05:57] rvagg commented on #611
https://ci.nodejs.org/computer/test-requireio_arm-ubuntu1404-arm64_xgene-2/builds

I tweaked the job slightly after posting the above and you can see that it's _mostly_ green since then. It now downloads slave.jar before starting, each time, under the theory that having an updated slave.jar would be good ... but tbh I don't know if that's been a problem at all.

Kernel logs are still full of:

[co

[2017-02-22 12:42] jbergstroem commented on #611
@rvagg does the exits correlate with anything interesting in the logs?

[2017-02-22 12:52] jbergstroem opened #633 "*.nodejs.org certificate expiry: Tuesday, August 22, 2017"
Just adding this here now so we don't forget. Perhaps write something that talks to digicerts api for monitoring and auto-renewal?

[2017-02-22 21:43] mhdawson opened #634 "Temporary access to 390/linuxone machine for @jbajwa"
@jbajwa (Jaideep) works at IBM with me and need access to one of our 390/linuxone machines in order to ,
investigate: https://github.com/nodejs/v8/issues/6

He meets the requirements for temporary access in: https://github.com/nodejs/build/blob/master/doc/process/special_access_to_build_resources.md based on this subset of the criteria:

* Length and consistency of involvement with Node.js working

[2017-02-22 21:44] rvagg commented on #611
@jbergstroem well, when I look at the actual times, it would correlate with _anything_ that's happening on the machine:

[code]

(who knew `dmesg` had a `-T` eh?)

basically it's constantly happening. Going to have to run this manually and see if I can get anything from it.

[2017-02-22 21:50] gibfahn commented on #634
+1

[2017-02-23 02:31] rvagg commented on #611
captured _a_ failure, not sure if this is _the_ failure, relevant log portions after connect are here: https://gist.github.com/rvagg/8eeb20b0fe7cf289601593ebff5bb827

There's a problem with child processes not being cleaned up properly which seems to cause Jenkins grief (never seen this before elsewhere) and then when it tries to reconnect it gets the kind of error you get when a node is already c

[2017-02-23 13:38] jbergstroem commented on #634
+1

[2017-02-23 13:39] jbergstroem commented on #632
There's really no procedure (I know of :); its mostly manual work. Seeing how he's part of @nodejs/release he should have been added as part of joining the group.

[2017-02-23 13:39] jbergstroem commented on #612
I don't think so but we could always set one up I guess?

[2017-02-23 13:41] jbergstroem opened #635 "Make dist/ backups incremental"
We currently do a `rsync --delete -a...` when backing up `/dist/` from our dist machine. This should probably be incremental to save us from cases where new dist artifacts accidentally gets provisioned.

[2017-02-23 15:18] gibfahn commented on #612
Maybe we could just disable IPv6 on one of our Linux boxes?

[2017-02-24 00:23] MylesBorins commented on #632
we should likely make an on boarding guide

[2017-02-24 00:42] stevenvachon commented on #627
*.pkg is missing again: https://nodejs.org/download/nightly/v8.0.0-nightly201702238e8fbd80d0/

[2017-02-24 01:35] richardlau commented on #594
@gibfahn / @mhdawson Would it be possible to stop the jobs trying to run on AIX and s390x when running against Node v4 since there are no Node.js binaries for those platforms?

e.g. https://ci.nodejs.org/view/post-mortem/job/nodereport-continuous-integration/93/MACHINE=aix61-ppc64/console

[2017-02-24 07:08] gibfahn commented on #594
@richardlau Yes, I'll put a check in.

[2017-02-24 13:00] jbergstroem commented on #632
yeah; for all "levels" of participation. I attempted it for the build group membership with @Trott rott and @Starefossen – should probably summarize that someplace.

[2017-02-24 23:17] mhdawson commented on #634
Will get/add his key on monday

[2017-02-24 23:27] mhdawson commented on #634
Actually adding his key right now.

[2017-02-25 12:32] bnoordhuis commented on #615
Okay, if it isn't really a bug I'll go ahead and close.  Thanks for the replies.

[2017-02-25 12:32] #615 closed

[2017-02-27 14:51] mhdawson opened #636 "OpenPOWER OpenStack cluster - Scheduled maintenance 26 Feb"
I see this already happened (the email was only send out 25 feb - Saturday) but in case we saw issues and were wondering why:

Hello,

The OpenPOWER OpenStack cluster at OSU Open Source Lab, on which your
*POWER8 instance(s)* are hosted, will have a *scheduled downtime on
Sunday, 26th Feb from 1800 to 2000 hrs UTC*.

There is an issue affecting usage of volumes hosted on our cluster. To
fix it, we

[2017-02-27 14:53] mhdawson commented on #636
All of our machines seem to be on-line so closing.

[2017-02-27 14:53] #636 closed

[2017-02-27 20:20] jbergstroem opened #637 "provide temporary access to smartos16 for @mscdex"
[code]

any objections?

[2017-02-27 22:21] Trott commented on #637
+1

[2017-02-27 22:46] mhdawson commented on #637
As per https://github.com/nodejs/build/blob/master/doc/process/special_access_to_build_resources.md since @mscdex is a collaborator + 1 and we probably only need this issue to document/remind us to remove access once he's done.

[2017-02-27 23:09] jbergstroem commented on #637
@mhdawson exactly; I prefer having an open issue so we can close once access is removed.

[2017-02-27 23:24] gibfahn commented on #637
+1

[2017-02-28 00:54] jbergstroem commented on #637
(I provided access at my previous comment)

[2017-02-28 13:47] gdams commented on #546
This is still an issue, the machine is still getting a lot of timeouts running citgm

[2017-03-01 13:14] gibfahn commented on #618
@phillipj thoughts on using this? It'd work pretty well with the automatic build status stuff in https://github.com/nodejs/citgm/issues/358.

[2017-03-01 14:09] jbergstroem commented on #618
I'm `-0`. Not a badge fan and/or user myself.

[2017-03-01 14:33] gibfahn commented on #618
Having looked at it in greater detail, this wouldn't work (at least for the citgm use case) as it would  just show the status of the last build run. The last build run will usually have been on a PR, so it won't actually show us the current status of `master` unless we duplicate the citgm job (which is a bad idea imo).

[2017-03-01 14:33] #618 closed

[2017-03-01 16:23] mhdawson opened #639 "Create new flow job for CITGM"
On request of CiTGM team by @gdams:

Create a flow job so that we can launch runs on multiple node versions.

As per https://github.com/nodejs/build/blob/master/doc/process/jenkins_job_configuation_access.md a member of the build team has to do this for the external teams.

[2017-03-01 16:33] mhdawson commented on #639
Just confirming what type we need as I don't see flow in the options for a new job.  Maybe its not under NewJob ?

[2017-03-01 16:36] mhdawson commented on #639
Guessing is the "Pipleline" option but will confirm before creating.

[2017-03-01 16:50] mhdawson commented on #639
Job created here: https://ci.nodejs.org/job/citgm-flow/

[2017-03-01 16:50] #639 closed

[2017-03-01 17:18] mhdawson opened #640 "Build WG meeting Mar 7 3 PM EST"
### When

Tuesday March 7 2017 3 PM EST

### Where
- Hangouts on Air, for participants:  https://hangouts.google.com/hangouts/_/ytl/nIHGuM4xqsCuNs-64_MB-jd5fqKt2g_YhamrTxifLPY=?eid=100598160817214911030
- Youtube stream, for viewers: https://www.youtube.com/watch?v=8RhgJMn5R88
- Minutes doc: https://docs.google.com/document/d/1H92tArttCPi8EFO2Guz8lWY0kydA-RRHwXe0VIEKn3w/edit

### Agenda

Extracted

[2017-03-01 17:25] mhdawson commented on #631
Have not seen these for a while so closing

[2017-03-01 17:25] #631 closed

[2017-03-01 17:29] mhdawson opened #641 "Enable Benchmarking WG team management of benchmarking jobs"
We've had benchmarking jobs for a while.

We should apply https://github.com/nodejs/build/blob/master/doc/process/jenkins_job_configuation_access.md to then so other build team members can help manage/fix/improve the jobs.

Unless there are objects this would be the plan:

* create a new team called benchmarking-admins who will be able to modify/configure jobs. There is already an existing team ca

[2017-03-01 17:32] mhdawson opened #642 "Benchmarking team access to Benchmarking machines"
We'd discussed giving access to the appropriate benchmarking team members access to the benchmarking machines through ssh as opposed to using the test keys.

I think it makes sense to do that now.  I'd suggest that we use the same approach as for the test keys but replicate for the benchmarking keys.  I"d also suggest that we make it so that only those in the benchmarking-admins have access to the

[2017-03-01 17:40] gibfahn commented on #641
Sounds good to me

[2017-03-01 18:05] jbergstroem commented on #640
Thanks for preparing this. I will attend; adding to calendar.

[2017-03-01 18:10] jbergstroem commented on #642
Sounds good to me. I can look at creating a new subfolder in the secrets repo with keys. Speaking of; who lives in `benchmark-admins`?

[2017-03-01 19:14] gibfahn commented on #640
Is the plan to start recurring every 3 weeks again?

[2017-03-01 20:07] jbergstroem commented on #640
@gibfahn correct.

[2017-03-01 22:06] michael-ts commented on #266
I am seeing this issue cross-compiling for Linux on ARM (but NOT Android). I'm using the following commands:

[code]
Per the above suggestion, I also tried adding:

export CC_host=cc
export CXX_host=c++

I'm not sure I understand what the fix for this is supposed to be.  Is there something I am doing wrong, or is this a bug?

[2017-03-01 22:09] fornwall commented on #266
@michael-ts I think this is the issue to track: https://github.com/nodejs/node/issues/9707

[2017-03-01 22:31] michael-ts commented on #266
Ah, i see they are using `--without-intl`.  Using that I seem to get a successful build.

[2017-03-01 23:05] fornwall commented on #266
@michael-ts Are you building node 6.x or 7.x?

[2017-03-01 23:39] michael-ts commented on #266
@fornwall 6.9.1

[2017-03-02 09:35] gibfahn commented on #642
Will be decided in https://github.com/nodejs/build/issues/641

[2017-03-02 11:26] mscdex commented on #637
You can remove access now. I've fixed the bug! Thanks!

[2017-03-02 11:35] gibfahn commented on #639
Name changed to https://ci.nodejs.org/view/Node.js-citgm/job/citgm-continuous-integration-flow/

[2017-03-02 13:12] jbergstroem commented on #637
Done, closing.

[2017-03-02 13:12] #637 closed

[2017-03-03 18:53] jbergstroem commented on #642
@gibfahn: ok; i'll wait until that lands before creating the group then!

[2017-03-07 19:19] joaocgreis commented on #640
I will attend today.

[2017-03-07 19:30] jbergstroem commented on #641
SGTM

[2017-03-07 19:30] jbergstroem commented on #641
(just adding so i don't forget: I need to introduce the `benchmark-` naming in the ansible refactor so we can make an assumption about ssh keys.

[2017-03-07 19:32] mhdawson commented on #640
Yes we should be back on the recurring 3 week schedule, believe it is as on the community google calendar.

[2017-03-07 20:01] mhdawson commented on #640
meeting link : https://hangouts.google.com/hangouts/_/ytl/nIHGuM4xqsCuNs-64_MB-jd5fqKt2g_YhamrTxifLPY=?eid=100598160817214911030&hl=en_US&authuser=0

[2017-03-07 20:19] gibfahn commented on #640
Supported platforms PR: https://github.com/nodejs/node/pull/8922

[2017-03-07 20:39] joaocgreis commented on #456
Found a way to run a script in master after the job, that does not make the job fail. Will delete `.git` if it is >=5Gb, so it is created again in the next run in a clean state.

[2017-03-07 21:23] gibfahn opened #643 "Add a --without-ssl node-test-commit job"
See https://github.com/nodejs/node/pull/11734, it would be useful to have some testing to catch the non-default build cases (there are probably more than just `--without-ssl`).

[2017-03-08 03:21] richardlau commented on #643
Related #419 (`--without-intl`)

[2017-03-08 15:28] sam-github commented on #643
Related https://github.com/nodejs/node/pull/11747

[2017-03-08 15:30] gibfahn commented on #643
@jbergstroem @mhdawson could one of you clone one of the build jobs (node-test-commit-linux I guess) so I can try to get this set up?

[2017-03-08 15:34] mhdawson opened #644 "LinuxOne machine maintenance March 8 2-5 EST."
You are receiving this email because you have access to a server on the LinuxOne Community Cloud.  If you do not have a server running in the cloud, feel free to ignore this notice.

We require an emergency outage on this cloud for maintenance today, March 8, between 2:00PM - 5:00PM EST .  All systems and servers will be shut down and the cloud will not be available.   Please shut down your server

[2017-03-08 22:48] mhdawson commented on #643
I assume you will cut it down to run on a single linux variant only, as we don't want to double the load and the one would probably be enough to catch compile problems.

Cloned one for you to work on here:  https://ci.nodejs.org/view/All/job/node-test-commit-linux-gibson/

[2017-03-10 18:32] mhdawson commented on #301
I think this issue can be closed as the motivation was to get alpine runs into the ci and it looks like they are there.

[2017-03-10 18:32] #301 closed

[2017-03-10 22:01] mhdawson commented on #644
Outage occurred, was about 20 minutes at around 3:20 I think.

Nighties are green and so have test builds so closing.

[2017-03-10 22:01] #644 closed

[2017-03-10 22:12] mhdawson commented on #641
Ok team created and jobs configured to allow teams appropriate level of access.

[2017-03-10 22:12] #641 closed

[2017-03-11 20:33] jbergstroem commented on #641
@mhdawson we need ssh keys as well, right?

[2017-03-12 17:06] gibfahn opened #645 "test-joyent-freebsd10-x64-1 low disk space on /usr/home/iojs/build"
https://ci.nodejs.org/computer/test-joyent-freebsd10-x64-1/ was offline, I assume it needs a cleanup or a disk space increase.

**All other FreeBSD hosts [matching label `freebsd10-64` seem to be offline](https://ci.nodejs.org/label/freebsd10-64/), so this is somewhat urgent issue.**

<br/>

![image](https://cloud.githubusercontent.com/assets/15943089/23833972/2730f630-0746-11e7-8c3c-b67a13ec7373.

[2017-03-12 17:14] gibfahn commented on #645
[code]

[2017-03-12 17:16] gibfahn commented on #645
[code]

I just ran `node-stress-single-test` on FreeBSD, so I suspect that's what pushed it over the edge.

cc/ @jbergstroem

[2017-03-12 21:24] Trott commented on #645
FreeBSD 10 jobs in CI seem to not be running now. As a "I have no idea what I'm doing, guess I'll restart something" move, I restarted Jenkins on test-joyent-freebsd10-x64-1. No change, though.

[2017-03-13 07:47] gibfahn commented on #645
![image](https://cloud.githubusercontent.com/assets/15943089/23845633/2821f582-07c1-11e7-9440-bb63d18c91dd.png)

@Trott short term fix is to keep clicking the "Bring this node back online" button. Proper fix is to clean up some space on the machine.

If the jobs are getting queued up find which label they want to run on, do a label search for that label (e.g. https://ci.nodejs.org/label/freebsd10-

[2017-03-13 10:58] jbergstroem commented on #645
Looks like the disk is mounted at `/data`. Don't recall this previously. I will look at mounting `/usr/home` to `/data` and mount binding it. Probably need to review other joyent hosts too.

[2017-03-13 15:37] gibfahn commented on #645
@jbergstroem do you know why [test-digitalocean-freebsd10-x64-1](https://ci.nodejs.org/computer/test-digitalocean-freebsd10-x64-1/) is offline? Having neither of them means that no PRs will actually run unless someone keeps hitting the `Bring This Node Back Online` button. Currently it's me doing it.

[2017-03-13 15:40] jbergstroem commented on #645
@gibfahn yes. digitalocean took it down for maintenance and now its not coming back up. potentially some bug with network config as provided by DO. support suggests to log in with console but seeing how we don't rely on root password I'm stuck there. I will redeploy or log into single user mode this week.

[2017-03-13 16:12] targos opened #646 "Jenkins bug"

[2017-03-13 16:13] targos opened #647 "Jenkins bug?"
In https://ci.nodejs.org/job/node-compile-windows/7432/:
The `win-vs2013` job was skipped but it is still clickable and redirects to another earlier build (7420).

[2017-03-13 16:14] #646 closed

[2017-03-13 16:23] joaocgreis commented on #647
This is not a but, it's just a "feature" of Jenkins that is confusing in our use case. When the build is skipped, the green icon is shaded (`<img ... style="opacity:0.5"`), it should look like this:
![image](https://cloud.githubusercontent.com/assets/134460/23863911/e40bc1d2-0808-11e7-999c-387ae0355b1b.png)
Compare with a successful build that should look like this:
![image](https://cloud.githubus

[2017-03-13 18:52] mhdawson commented on #641
Yes figured we'd cover that under https://github.com/nodejs/build/issues/642

[2017-03-13 19:02] joaocgreis commented on #527
Node-ChakraCore has reduced external dependencies, so OSX nightlies are now being released from the OSX release server.

[2017-03-13 20:03] mikeal opened #648 "HTTP forward and CNAME for newsletter"
Heya,

We'd like `newsletter.nodejs.org` to point to http://us14.campaign-archive2.com/home/?u=c7c2e114a827812354112c23b&id=f006b61f29 . We need something setup similar to what we have for `interactive.nodejs.org`. It's just a few clicks and copy pastes in the Cloudflare dashboard :)

Original issue is here https://github.com/nodejs/nodejs.org/issues/1142

[2017-03-13 20:35] jbergstroem commented on #648
I can set it up unless anyone from the build group has opinions on how it should be done. I'll wait around for a day or three.

[2017-03-13 20:39] mikeal commented on #648
The initial request has been sitting for like 20 days already, so the quicker the better ;)

[2017-03-13 21:00] jbergstroem commented on #648
So, I looked at it (over at cloudflare) and it's not handled through there -- rather in our [nginx config](https://github.com/nodejs/build/blame/master/setup/www/resources/config/nodejs.org#L163).

We should probably add SSL redirects for both as well.

[2017-03-13 21:26] mikeal commented on #648
Unfortunately the newsletter listing page isn't available in TLS. However, the link to signup which actually accepts personal information you may not want to leak is TLS.

[2017-03-13 21:31] jbergstroem commented on #648
@mikeal was just referring to capturing `https://newsletter.nodejs.org` in our redirect rule as well. It would land in `default_server` otherwise; likely implying `nodejs.org`.

[2017-03-13 21:32] mikeal commented on #648
ahhhhh

[2017-03-14 12:54] joaocgreis commented on #587
Windows Server 2016 is now added to the CI matrix.

Thanks @kunalspathak !

[2017-03-14 12:54] #587 closed

[2017-03-14 12:58] joaocgreis opened #649 "Add Kunal Pathak to Build WG"
This issue is to discuss adding @kunalspathak to the Build WG.

Kunal has added Windows Server 2016 to our build matrix in CI (https://github.com/nodejs/build/issues/587, https://github.com/libuv/libuv/issues/1245) and will keep maintaining those servers.

We can have a vote on the next WG meeting if consensus is not reached here.

cc @nodejs/build

[2017-03-14 13:18] targos commented on #647
I see. Thank you for the explanation.

[2017-03-14 13:18] #647 closed

[2017-03-14 13:28] jbergstroem commented on #645
Still can't quite explain why the mount that used to be `/usr/home` is now `/data`; but i moved the contents to the new volume and mounted it through fstab. I'll revisit the other VMs shortly.

[2017-03-14 13:28] #645 closed

[2017-03-14 19:04] mhdawson commented on #640
Minutes for last meeting: https://github.com/nodejs/build/pull/651

[2017-03-15 19:09] joaocgreis commented on #572
Should be fixed. It was running the two scripts (for success and failure) unconditionally, so it would mark it as success and immediately mark it as failure. I tested with a success, I don't have a PR that fails to test.

[2017-03-15 19:09] #572 closed

[2017-03-15 20:20] joaocgreis commented on #572
AIX was reporting success when the job fails, so I changed it as well but did not test (cc @mhdawson)

[2017-03-16 11:50] gibfahn commented on #572
I've confirmed that the AIX reporting is fixed.

 | Before/After Fix | PR | CI Job | PR Reported | CI Reported |
| --- | --- | --- | --- | --- |
| Before | [11852](https://github.com/nodejs/node/pull/11852) | [8483](https://ci.nodejs.org/job/node-test-commit/8483/) | 💚  | 🔴  |
| After | [9163](https://github.com/nodejs/node/pull/9163) | [8493](https://ci.nodejs.org/job/node-test-commit/8493/) | 🔴

[2017-03-16 12:06] joaocgreis commented on #572
@gibfahn thanks!

[2017-03-16 20:01] mikeal commented on #648
poke :)

[2017-03-17 02:06] rvagg commented on #648
pls review @mikeal @jbergstroem https://github.com/nodejs/build/pull/652

[2017-03-17 08:58] valscion opened #653 "nodejs.org download site is down? Can't download Node"
Our builds are currently failing because of this.

![screen shot 2017-03-17 at 10 56 49](https://cloud.githubusercontent.com/assets/482561/24036036/946234b8-0b00-11e7-9c26-6eb540932007.png)

I gather this is the correct repository for this issue, based on an older similar issue #562

[2017-03-17 09:00] valscion commented on #653
This seems to have started working again. Wonder what was the cause 🤔

[2017-03-17 09:10] #653 closed

[2017-03-17 15:13] jbergstroem commented on #653
Thanks. Do you have a rough timestamp so I can correlate with server logs?

[2017-03-17 15:14] jbergstroem commented on #653
looks like underlying disk issues:
[code]

will chat to support.

[2017-03-17 16:53] egee-irl commented on #580
Its worth pointing out that Snapcraft (the building engine behind Snaps) already has a [plugin](https://snapcraft.io/docs/reference/plugins/nodejs) for NodeJS. There's even one for [Gulp](https://snapcraft.io/docs/reference/plugins/gulp).

There's even a [tutorial](https://tutorials.ubuntu.com/tutorial/build-a-nodejs-service?utm_source=snapcraft.io&utm_medium=buildsnapsindex&utm_campaign=tutorials

[2017-03-17 17:37] mcollina opened #655 "A localtunnel instance for readable-stream"
In `readable-stream` we use https://localtunnel.github.io/www/ to run our test on saucelabs, and verify that Node.js streams works in the browser as well!

However, localtunnel is somewhat flaky, and we were wondering if we could get our own instance running on a VM somewhere. Here is the software: https://github.com/localtunnel/server.

I'm not familiar with the whole setup, so it might be bumpy.

[2017-03-18 23:46] jbergstroem commented on #653
Got a reply (sorry for reporting back late): Digitalocean support confirmed that there were issues with latency to block storage in NYC1 during this time that have since been fixed:

[2017-03-19 13:52] rhjyy opened #656 "sorry,wrong place cross build fail:icupkg exec format error(on linux for android)"
sh: /home/rhjyy/Downloads/node-v6.10.0/out/Release/icupkg: cannot execute binary file: Exec format error
FAILED: /home/rhjyy/Downloads/node-v6.10.0/out/Release/icupkg -tl ../../deps/icu-small/source/data/in/icudt58l.dat /home/rhjyy/Downloads/node-v6.10.0/out/Release/obj/gen/icutmp/icudt58l.dat
make[1]: *** [/home/rhjyy/Downloads/node-v6.10.0/out/Release/obj/gen/icutmp/icudt58l.dat] Error 1
make[1]

[2017-03-19 14:41] valscion commented on #653
Thank you for following up with the source of the error, I appreciate it a ton 💕

[2017-03-20 00:35] #656 closed

[2017-03-20 09:39] mcollina opened #657 "Move nodejs/readable-stream CI from Travis to Jenkins"
Hey folks, do you think it might be possible to do this? What would it require from our part?
At this point we are evaluating for options, as we can't get a full CI run go green because of our current infrastructure.

Our current Travis setup is quite articulated: https://github.com/nodejs/readable-stream/blob/master/.travis.yml. And we would still need #655.

cc @nodejs/streams @addaleax

[2017-03-20 10:12] yoshuawuyts commented on #657
This is mostly because of the mobile builds right? E.g. the tunnel to
SauceLabs fails. If that's the case I'm not sure moving off Travis is as
much of a benefit as investing in a more reliable tunnel.

On Mon, Mar 20, 2017, 10:39 Matteo Collina <notifications@github.com> wrote:

[2017-03-20 10:15] mcollina commented on #657
@yoshuawuyts There is also the fact that we are unable to trigger/manage the Travis integration, because of the lacking permissions in GitHub OAuth. At this point, we can't even restart a single job that failed.

I would like to know how much effort is needed for this, and then we can make our call.

[2017-03-20 10:47] yoshuawuyts commented on #657
Ah yeah, super fair.

On Mon, Mar 20, 2017 at 11:15 AM Matteo Collina <notifications@github.com>
wrote:

[2017-03-20 11:41] gibfahn commented on #657
Related to: https://github.com/nodejs/readable-stream/issues/265

There is now [documentation](https://github.com/nodejs/build/blob/master/doc/process/jenkins_job_configuation_access.md) for the process of adding new job types to the CI. @mhdawson has been handling it for other projects so far (currently citgm, node-report, and node-inspect).

Basic answer is that we have a reasonably good process

[2017-03-20 11:42] gibfahn commented on #657
@mcollina and to answer your question, it's not very much effort.

[2017-03-20 11:50] mcollina commented on #657
@gibfahn do you think it would be hard to have a localtunnel instance running somewhere as well? #655

[2017-03-20 12:17] gibfahn commented on #657
Yeah, that's what I meant by `streams-continuous-integration`, pull a tarball from https://nodejs.org/dist/ and run your tests on it. See for example the equivalent for [node-report](https://ci.nodejs.org/view/All/job/nodereport-continuous-integration/). Different how?

No idea, it's quite possible that your tests are doing something unusual that we'd need to make special arrangements for, could y

[2017-03-20 12:18] gibfahn commented on #657
You'd also set up a pipeline that runs the same job with `0.8, 0.10, 0.12, 1, 2, 3, 4, 5, 6, 7` as parameters, so you could just kick that off.

[2017-03-20 12:24] mcollina commented on #657
I didn't understood :D.

Part of our current CI test suite opens up a server, exposed that to the world via localtunnel, then it has saucelabs connect there with various browsers, and that is published. This is not really working well for us on the localtunnel dependency.

[2017-03-20 15:23] chorrell commented on #628
Looks good!

I think it might be useful to add the SmartOS image type (e.g., base-64-lts or base-32-lts) as well as the image version (e.g., 15.4.x).  I think it would also be good to spell out the pkgsrc release version the given image version corresponds to. So for example:

| Node version  | SmartOS image | pkgsrc release | Compiler  | Notes |
| -------------- | --------------- | --------------

[2017-03-23 22:21] #648 closed

[2017-03-24 22:29] joaocgreis commented on #206
Added https://ci.nodejs.org/job/nodegyp-test-pull-request/ to spawn nodegyp-test-commit with multiple versions of node, but for now the versions still have to be manually updated in the job config and there is still no rebase support.

[2017-03-27 22:13] mhdawson opened #660 "Build WG meeting 28 March 2017 - 4PM EST"
### When

Mar 28, 2017 4 PM EST

### Where
- Hangouts on Air, for participants:  https://hangouts.google.com/hangouts/_/ytl/KOIfKbVSfs8CMc3OB3XsoxoKlDtgpIGkbsfAvJbRIe8=?eid=100598160817214911030&hl=en_US&authuser=0
- Youtube stream, for viewers:  https://www.youtube.com/watch?v=znJWeDabfOw
- events page, https://www.youtube.com/my_live_events?filter=scheduled
- Minutes document: https://docs.googl

[2017-03-27 22:59] rvagg commented on #660
Question @ the Board for @nodejs/build: what is the level of concern re bus-factor for people and redundancy for build resources required for releases. The question is specifically around the ARM cluster and the planned outage we had there (I clarified that releases were not impacted), but from our perspective I think macOS redundancy is much more of a problem right now and the people bus-factor m

[2017-03-27 23:03] jbergstroem commented on #660
I'd put macOS redundancy and perhaps my ability to a degree as well. I definitely haven't been as responsive and/or active this quarter as last quarter.

[2017-03-28 03:47] rvagg commented on #660
@mhdawson I don't think the 3pm one is right, that's 6am for me but I haven't ended DST yet, that'll happen next week and this slot will move to 5am, it's never been that early for me, it's always been 7am during DST and 6am during the rest of the year. I suspect that calendar entry was set to a US TZ and got shifted when the US hit DST when it should have been tied to UTC. Either way, can we do t

[2017-03-28 04:06] williamkapke commented on #660
I added this to the calendar with EST timezone. I usually always add them as UTC but this one was - specifically stated at EST. I should have clarified. Happy to update to UTC - just LMK!

![image](https://cloud.githubusercontent.com/assets/739813/24388573/897cf88e-1330-11e7-933d-901658741f57.png)

I'm confused at what time it's really happening now- the title of this issue says 4PM EST, the OP sa

[2017-03-28 06:57] piccoloaiutante commented on #660
I should be able to make it.

[2017-03-28 11:26] mhdawson commented on #660
Ok, based on the input from @rvagg lets agrees its 4pm EST.

[2017-03-28 11:54] mhdawson commented on #640
Minutes landed, closing

[2017-03-28 11:54] #640 closed

[2017-03-28 12:47] gdams opened #661 "Add ramdisk to AIX machines"
Following issues with citgm being particularly slow, I am going to add a ramdisk to power8-aix-nodejs2.osuosl.org to see if this helps increase performance.

cc/ @mhdawson @gibfahn

[2017-03-28 12:54] gibfahn commented on #661
So we're starting with `power8-nodejs2.osuosl.org` (a.k.a. `test-osuosl-aix61-ppc64_be-2`). If everything works okay we can try with the other test machine, `power8-nodejs1.osuosl.org` (a.k.a. `test-osuosl-aix61-ppc64_be-3`)

[2017-03-28 13:06] gibfahn commented on #661
If we go ahead with this, we need to make sure we update the Ansible script (and temporarily the manual instructions).

[2017-03-28 13:19] gdams commented on #661
okay so running citgm on the ramdisk was much quicker (less than 20 minutes)

[2017-03-28 13:23] gdams commented on #661
commands to add the ramdisk:
[code]

[2017-03-28 13:42] gdams commented on #661
from googling, this seems to be the easiest way to mount the ramdisk at startup: http://www.unix.com/aix/244552-how-can-we-re-mount-ram-disk-automatically-after-reboot-aix.html @edelsohn @mhdawson

[2017-03-28 14:11] gibfahn commented on #660
@williamkapke is that calendar linked from nodejs/node?

[2017-03-28 14:21] richardlau commented on #660
@gibfahn There's a link at the bottom of the TSC meeting minutes, e.g. https://github.com/nodejs/TSC/blob/master/meetings/2017-03-09.md

[2017-03-28 16:16] williamkapke commented on #660
@mhdawson I've updated it to use 8PM GMT:
![image](https://cloud.githubusercontent.com/assets/739813/24415575/befca0f2-1396-11e7-8a31-d9860e2c8775.png)

- http://www.wolframalpha.com/input/?i=8pm+UTC,+Mar+23,+2017+in+local+time
- https://www.timeanddate.com/worldclock/fixedtime.html?msg=Build%20WG%20Meeting&iso=20170328T20

[2017-03-28 18:27] jbergstroem commented on #660
Sorry for my late notice but I won't be able to join. My efforts since last time:
- jenkins master security updates, twice
- play around with the tap2junit parser -- it will bail on citgm stuff; needs to be refactored
- fix disk issues on joyent freebsd workers which seems to have changed how disk is mounted which led to disk issues.
- housekeeping on a few workers

..as for my input:
- I'd like t

[2017-03-28 18:56] mhdawson commented on #661
@gdams, ramdisk.ksh seems to say '5M" is that correct or should it be 5G ?

A pull request against the build repo, adding ramdisk.ksh and updates to the ansible scripts to make it run on startup would be the best way to review

[2017-03-28 19:16] gdams commented on #661
Oh sorry, it looks like @gibfahn edited my comment, take the configuration from the above comment that mentions 4G

[2017-03-28 20:00] mhdawson commented on #660
Link for participants: https://hangouts.google.com/hangouts/_/ytl/KOIfKbVSfs8CMc3OB3XsoxoKlDtgpIGkbsfAvJbRIe8=?eid=100598160817214911030&hl=en_US&authuser=0

[2017-03-28 20:21] joaocgreis commented on #649
Approved in today's meeting (https://github.com/nodejs/build/issues/660). I'll move forward with adding to secrets.

@kunalspathak can you file a PR adding yourself to the list in README.md?

[2017-03-28 20:34] williamkapke commented on #660
I asked a question in IRC

[2017-03-28 20:42] mhdawson opened #662 "Create matrix of "coverage" areas for build team"
This issue is to discuss and capture the areas that we want to ensure we have enough coverage in terms of people who can step in and help resolve issues.

As as starting list:

* Windows test workers
  * Currently active
     *
  * Volunteering
* Core unix test workers
* Arm test workers
* zLinux test workers
* PPC test workers
* AIX test workers
* SmartOS test workers

* Jenkins - jobs

* Jenkins

[2017-03-28 20:53] gibfahn commented on #661
I copied that verbatim from the linked website. Fixed now.

[2017-03-28 21:03] jbergstroem commented on #662
- ansible playbooks
- backup routines
- backup machines

[2017-03-28 21:57] gibfahn commented on #657
Discussed this in the Build WG meeting (https://github.com/nodejs/build/issues/660). Answer was that the localtunnel internet access shouldn't be a problem.

Whatever the better solution for this is, we should be able to accomodate on the build machines. Is there an issue somewhere to discuss alternatives for this? I'd like to understand in more detail.

[2017-03-28 22:15] rvagg opened #664 "Task idea: automatically audit fail/pass ratio of each Jenkins node"
Here's something I'd love to have alongside the automatic uptime checking that we have in place for Jenkins nodes: figure out how to use the node/slave build list via the API and audit the pass/fail ratio of each. When a node has a certain ratio of fails to passes then we get notifications.

e.g. have a look at https://ci.nodejs.org/computer/test-requireio_bengl-debian7-arm_pi1p-1/builds which was

[2017-03-29 08:44] mcollina commented on #657
Let's start with `localtunnel`, how can I help?

[2017-03-29 15:19] gibfahn commented on #660
Minutes here: https://github.com/nodejs/build/issues/660

[2017-03-29 22:11] gibfahn opened #666 "Create streams-admins and streams CI jobs"
Proposal for us to follow [the process for adding teams/projects to CI](https://github.com/nodejs/build/blob/master/doc/process/jenkins_job_configuration_access.md) for the readable-stream nodejs project, as discussed in [the last build WG](https://github.com/nodejs/build/issues/660). This would be similar to what we've done for [CitGM](https://github.com/nodejs/build/issues/584), [benchmarking](h

[2017-03-29 22:13] gibfahn commented on #666
@mcollina Obviously there may be extra things we have to do later, but let's start by getting a job up and running.

[2017-03-29 23:16] gibfahn opened #667 "Request to join the jenkins-admins team (gibfahn)"
Not sure what the process is for this, but I've been helping out with setting up CI for a lot of the new nodejs projects joining our CI (most recently in https://github.com/nodejs/build/issues/666), and it'd be really helpful to be able to create/edit jobs myself.

[2017-03-30 10:21] mcollina commented on #666
👍

[2017-03-30 13:38] mhdawson opened #668 "AIX release - file permission issues."
There seems to be a permissions issue on the AIX release machine:

https://ci-release.nodejs.org/job/iojs+release/1601/
[code]

[2017-03-30 13:39] mhdawson commented on #668
@jbergstroem can you take a look at this since I don't have access to the release machines.  It is blocking the nightlies and the 6.x and 4.x updates.

[2017-03-30 18:13] jbergstroem commented on #668
[code]

[2017-03-30 21:52] mhdawson commented on #668
That seems to have done the trick, thanks.

[2017-03-30 21:52] #668 closed

[2017-03-30 21:56] mhdawson opened #669 "Windows release job failing on vs2015-x86"
This seems to have failed the most recent couple of nightly builds.  Looks like it passed on an earlier one (Mar 23)

https://ci-release.nodejs.org/job/iojs+release/
[code]

[2017-03-30 21:56] mhdawson commented on #669
@joaocgreis

[2017-03-30 22:36] joaocgreis commented on #669
This was tracked and fixed for x64 in https://github.com/nodejs/v8/issues/4 .

We don't have 32 bit builds in the test CI because we don't have real 32 bit VMs, but this issue makes a very good case for adding WoW64 somewhere in the matrix.

[2017-03-30 22:43] kunalspathak commented on #669
Is it possible to pass `x86` to `vcbuild.bat` and that should trigger 32 bit builds or is it that it won't simulate the behavior we would get while running on Wow64?

[2017-03-30 22:59] joaocgreis commented on #669
Yes, that's even how we do the x86 releases. But we don't have 32 bit machines to test a 32 bit node.exe natively, WoW64 will have to do.

[2017-03-31 07:46] gibfahn commented on #660
Minutes landed, closing.

[2017-03-31 07:46] #660 closed

[2017-03-31 13:11] gibfahn commented on #664
We did something similar internally for monitoring machines.

The easiest way is probably just to monitor the node-test-commit job (you could also check other jobs), and write a quick script to work out whether the last X builds that ran on that machine failed.

cc/ @mhdawson @bgriggs @akpotohwo

[2017-03-31 14:29] gdams commented on #661
also added the same config to  power8-aix-nodejs3.osuosl.org

[2017-04-02 13:10] indutny opened #671 "Temporary access to some windows box"
Hello!

I'd like to port [dukgyp][0] to Windows. An access to Windows machine would increase my development speed by infinite amount, since it is practically 0 now :wink:

[0]: https://github.com/indutny/dukgyp

[2017-04-02 13:10] indutny commented on #671
cc @nodejs/build

[2017-04-02 13:30] gibfahn commented on #671
SGTM

Would you need a CI job to test with? I'm thinking that it might be easier to just use Travis and Appveyor to start with.

[2017-04-02 14:01] indutny commented on #671
Not sure if it is feasible, but remote desktop would be more helpful. I'll have to run it many many times, and CI will slow me down significantly.

[2017-04-02 14:52] gibfahn commented on #671
Sorry, forgot to write also. Direct access with Remote Desktop SGTM. I was wondering if you'd also need a CI job.

[2017-04-02 14:54] indutny commented on #671
No problem. I don't need CI at this point, just need to make it work.

[2017-04-02 15:02] Trott commented on #671
SGTM

[2017-04-02 23:29] refack commented on #671
@indutny need help with a live person in front of a windows machine?

[2017-04-02 23:36] indutny commented on #671
@refack this is going to be "trial and error" until I will succeed :) Better get my hands on machine if we have one.

[2017-04-02 23:36] indutny commented on #671
@refack but thanks for the offer!

[2017-04-03 01:00] refack commented on #671
Also I have a some free credit, and a nice machine image on Azure if the org can't provide anything else.
In parallel to you getting RDP, I have the next two days free, give me an entry point and I'll dig. I'm very comfortable on Windows... 😉

[2017-04-03 15:33] gibfahn opened #672 "Add the Rebuild Plugin to Jenkins (ci.nodejs.org)"
We use [the Rebuild plugin](https://wiki.jenkins-ci.org/display/JENKINS/Rebuild+Plugin) internally, and it's really helpful. It basically does a `Build now` and prepopulates the parameters with whatever they were set to in the job you are rebuilding. You can still change any you need to.

Basically it saves a lot of typing when you're trying to fix a job which has lots of parameters.

cc/ @gdams

[2017-04-03 17:07] jbergstroem commented on #672
SGTM if it scratches an itch!

[2017-04-03 17:22] gibfahn opened #673 "Root directory is full on the AIX test machines"
[code]

Looks like the issue is these three directories:

[code]

`136.98+255.86+94.55 = 487.39MB`, so those three directories are taking up pretty much all of the space.

[2017-04-03 17:25] jbergstroem commented on #673
I brought this up with @mhdawson the other day as well. I'm not sure if this is a problem though? I don't know AIX standard layout well enough to say if its good or bad -- but the builder lives in `/home` which has lots of space.

[2017-04-03 17:26] gibfahn commented on #673
@jbergstroem I guess the question is whether they're getting fuller.

[2017-04-03 18:23] joaocgreis commented on #671
@indutny sent you an email with credentials. Let us know when you no longer need access.

[2017-04-03 21:15] mhdawson commented on #667
This would be good. I've added a number of the new jobs for WG's and it would be great if @gibfahn could help out too.

[2017-04-03 21:16] jbergstroem commented on #667
`+1` from me.

[2017-04-03 22:16] mhdawson opened #674 "Running out of space on /tmp on AIX machines"
A number of recent failures:

[code]

[2017-04-03 22:25] mhdawson commented on #674
One machine looked ok, but the other had a lot of old npm-* directories .  Thinking those might be due to cigtm runs.  I deleted them and we'll see if that fixes things up or if something has changed and we need more /tmp space

[2017-04-03 22:26] mhdawson commented on #674
Noticed that deleting npm-* only freed up 2%.  Looks like this one is the bigger culpret:

[2017-04-03 22:27] mhdawson commented on #674
deleting that freed up about 50%

[2017-04-03 22:29] mhdawson commented on #674
@gibfahn are the directories in the form of 0629edd6-daca-4544-ac99-2ffc3a3f0052 tied to citgm, they seem to be taking a good portion of the space, and there are a number of them from yesterday.

[2017-04-03 22:31] mhdawson commented on #674
Build to see if I've freed up enough space: https://ci.nodejs.org/job/node-test-commit-aix/4800/

[2017-04-03 22:33] mhdawson commented on #673
Looking at another issue I see it says
[code]
So I think we should add some space, because that seems like the system is unhappy, even if it does not affect our tests.  Will look at adding some space tomorrow.

[2017-04-04 06:38] gibfahn commented on #674
@mhdawson yes, those directories are citgm's temp directories. A build was run without the temp directory settings properly configured, which is why they filled up. I thought I'd cleaned up both machines.

[2017-04-04 13:30] mhdawson commented on #674
can you take a look and clean up the rest.  When I looked yesterday I only cleaned up enough to get the machines working again.

[2017-04-04 19:50] mhdawson commented on #673
Added space to both be-1 and be-2, complaining message no longer appears.

PR to add step to manual configuration: https://github.com/nodejs/build/pull/675

[2017-04-04 22:10] williamkapke commented on #653
Same problem?

[2017-04-04 22:26] jasnell commented on #653
Yes, same problem but it definitely is not resolved. Still having issues.

[2017-04-04 22:41] mobiletradingpartners commented on #653
https://nodejs.org/download/release/v4.8.1/node-v4.8.1-headers.tar.gz - same error 522 this evening

[2017-04-04 22:42] mobiletradingpartners commented on #653
https://status.digitalocean.com:
NYC1 - Storage Volumes
Our engineering team is actively investigating Storage Volume availability in NYC1. We apologize for any inconvenience that this causes for you.

[2017-04-05 01:28] jbergstroem opened #676 "nodejs.org resilience"
I'd argue [we learnt our lesson](https://github.com/nodejs/build/issues/653) but [here we are](https://github.com/nodejs/nodejs.org/issues/1191). Before we begin I just want to make a note to the readers that most of the node.js build team are doing this on their (our) spare time. We're always looking for new members!

Anyway, lets get to work.

1. Lets set up `unencrypted.nodejs.org` to host `nod

[2017-04-05 01:30] jasnell commented on #676
What multi-provider options for CDN and hosting do we currently have (or can we have)?

[2017-04-05 01:33] jbergstroem commented on #676
As of now; here's a list of (viable; excluding sponsors that probably won't cut it)

CDN:
 - Cloudflare
 - Google? (cc: @MylesBorins)

Hosting:
 - Digital Ocean (current)
 - Joyent (suggested failover)
 - Softlayer (IBM)
 - Rackspace
 - Azure/Microsoft ?

[2017-04-05 07:10] MylesBorins commented on #676
Google may be able to help with both CDN and hosting. We any even be able
to find resources to help with implementation. If we want to move forward
with that lmk and I'll ping some people internally to see what I can get

On Apr 5, 2017 3:33 AM, "Johan Bergström" <notifications@github.com> wrote:

[2017-04-07 15:17] gireeshpunathil opened #677 "Request for temporary access to BSD systems"
[Reference:] (https://github.com/libuv/libuv/pull/1279#discussion_r110334636)

I would like to have access to BSD systems (net, free, open, and any other supported variants) for development and testing (manual | CI automated) purpose as part of a libuv PR. Also appreciate a little tip on file system structure, anything special abut building, and running automated tests. Thanks in advance.

[2017-04-07 16:27] bnoordhuis commented on #677
I can vouch for Gireesh.

We have a FreeBSD buildbot but at the moment that's it.

[2017-04-07 17:01] gireeshpunathil commented on #463
@mhdawson - the purpose of this temporary access is achieved, and the access can now be revoked. Thanks to the approvers and endorsers.

[2017-04-07 17:54] gibfahn commented on #677
SGTM

[2017-04-08 18:01] wmhilton opened #678 "Add CORS headers to downloads enabling WebTorrent"
Howdy! Inspired by the recent downtime, I've been working on a way to make a resilient Node downloader using [WebTorrent](https://github.com/feross/webtorrent). Even if the primary download source becomes temporarily unavailable, the files would continue to be available on the bittorrent network. For my proof-of-concept [Download with WebTorrent Button](https://github.com/wmhilton/download-with-we

[2017-04-09 04:39] feross commented on #678
I can't think of any security issues caused by adding CORS headers. It'll just make it possible for javascript on any website to download the installer files and use the data.

In addition to setting the `Access-Control-Allow-Origin: *` header on responses to GET request, it's important to also support the `OPTIONS` preflight method.

When a client sets a custom header like `Range` (to make http r

[2017-04-09 08:44] PeterDaveHello commented on #562
@jbergstroem Hi! do you still plan to provide official mirror mechanism? since nodejs.org was down again few days ago and I don't know if there is any ETA on it, I can only use other stupid method to mirror it right now, to prevent the next server down and provide better performance 😉

To those who needs a mirror, you can try: http://ftp.yzu.edu.tw/nodejs.org-dist,
and export to environment variab

[2017-04-09 18:21] jbergstroem commented on #562
@PeterDaveHello it's not gone; its mirrored at http://unencrypted.nodejs.org/download/. The landing page I created to say it was unencrypted was temporarily 404'ing (not sure we should even keep it).

[2017-04-09 19:08] wmhilton commented on #678
@feross That brings up an interesting point. Does the server have to support HTTP range requests to work as a webseed?

Because I noticed that some file extensions (tested in the https://nodejs.org/dist/v6.10.2/ directory) do *not* respect range requests:
- .txt, .asc, .sig, .lib

These file extensions *did* respect range requests:
- .gz, .xz, .7z, .zip, .msi, .exe

It also might be a file size ra

[2017-04-09 19:24] wmhilton commented on #678
That is correct. CORS is simply a way to bypass the same-origin policy, which prevents malicious pages from obtaining sensitive data on other sites by using AJAX and exploiting the fact the user is logged in with a cookie. Since the nodejs site, or at least the /dist folder, contains no sensitive data, there is absolutely no security advantage to not having CORS headers.

[2017-04-09 19:52] jbergstroem commented on #678
@wmhilton: FWIW, we will shortly have cloudflare front our downloads; perhaps see how that's supported at their end as well.

[2017-04-09 23:01] wmhilton commented on #678
I use the free level of Cloudflare for my sites, and while it adds a few headers I've never had a problem with it stripping or altering CORS headers. Cloudflare [passes Access-Control-Allow-Origin header through unaltered](https://support.cloudflare.com/hc/en-us/articles/200308847-Does-CloudFlare-support-Cross-origin-resource-sharing-CORS-).

[2017-04-10 03:07] jbergstroem commented on #678
@wmhilton was rather talking about range requests; but yeah - the more testing the better!

[2017-04-10 05:04] wmhilton commented on #678
Good thinking. I just tested, and I am able to do range requests on a file on my website that is cached by Cloudflare and hosted on github pages.

[code]

[2017-04-10 11:49] rvagg commented on #676
CloudFlare log component is @ https://github.com/nodejs/build/pull/679, gets us closer to removing those cache bypass rules in CloudFlare.

For the record @nodejs/build, I discovered that we didn't have bypass rules for *.7z and *.zip files so metrics until today won't be accurate for them.

[2017-04-10 11:52] rvagg commented on #676
FWIW I did try and configure CF to do this, the "always on" option is turned off but that seems to conflict with "bypass" so it never worked. I've also never been game to trouble-shoot to figure out how to make it work because that would involve taking the server offline .. or playing in a fresh zone that I'd have to set up. Thankfully we don't have to figure that out after this is all sorted out.

[2017-04-10 13:50] mhdawson commented on #674
@gibfahn happened again.  Saw a failure over the weekend and tmp was full on test-osuosl-aix61-ppc64_be-2.  Lots of directories with watchify-xxxx but those did not contribute significantly to the space.

Issue still seemed to be the directories associated with citgm. Cleaned up all the directories with the command above.  I guess we'll see now if it continues to pile up.

[2017-04-10 15:10] vielmetti commented on #676
You have access to resources on Packet, and make sure you consider those for hosting too.

[2017-04-10 16:07] jbergstroem commented on #678
Ok, great that we have that confirmed. I have no issues with adding cors headers for downloads; just want to test out options configuration.

[2017-04-10 22:21] mhdawson commented on #677
+1 from me

[2017-04-11 00:40] jbergstroem commented on #677
No objections either if people from the libuv crowd like Ben says yes (which he did :). Does someone from the build team want to facilitate or should I do it?

[2017-04-11 01:21] aqrln opened #681 "node-test-commit-osx consistently failing with NullPointerException"
[code]

https://ci.nodejs.org/job/node-test-commit-osx/8928/console
https://ci.nodejs.org/job/node-test-commit-osx/8929/console
https://ci.nodejs.org/job/node-test-commit-osx/8930/console

[2017-04-11 01:26] aqrln opened #682 "Not enough space on test-osuosl-aix61-ppc64_be-1"
`node-test-commit-aix` failed with:

[code]

(see https://ci.nodejs.org/job/node-test-commit-aix/4960/nodes=aix61-ppc64/console)

[2017-04-11 01:35] jbergstroem commented on #681
ping @rvagg

[2017-04-11 04:10] richardlau commented on #674
https://github.com/nodejs/build/issues/682

[2017-04-11 04:10] richardlau commented on #682
https://github.com/nodejs/build/issues/674

[2017-04-11 04:23] Trott commented on #674
Just ran `rm -rf /tmp/*-*-*-*-* /tmp/npm-*` again now and that seems to have cleared things up. Obviously, needing a more permanent solution...

[2017-04-11 04:23] Trott commented on #682
Fixed with `rm -rf /tmp/*-*-*-*-* /tmp/npm-*` although a more permanent fix will have to be concocted. But that's a discussion for #674, so I'll close this. (Feel free to comment or re-open if you think it shouldn't be closed!)

[2017-04-11 04:23] #682 closed

[2017-04-11 11:18] gibfahn commented on #674
See https://github.com/nodejs/citgm/issues/396#issuecomment-293217118 , this shouldn't be happening if jobs are configured correctly.

[2017-04-11 11:24] gibfahn commented on #677
I can add Gireesh's keys to a couple of the boxes, maybe [test-joyent-freebsd10-x64-1](https://ci.nodejs.org/computer/test-joyent-freebsd10-x64-1/) and [test-digitalocean-freebsd11-x64-1](https://ci.nodejs.org/computer/test-digitalocean-freebsd11-x64-1/), I'll discuss with @gireeshpunathil .

[2017-04-11 11:37] jbergstroem commented on #677
@gibfahn please mark which boxes he gets access to in this issue and walk him through the procedure of using it. If need be, perhaps disconnect them from ci while he uses them (I most often don't have to though).

General guidelines:
 - since resources are shared with ci, please use them sparingly; copy a checkout, check disk/cpu usage etc.
 - avoid using root unless you have to (the iojs user is

[2017-04-11 11:46] joaocgreis commented on #669
Added a x86 build to the test matrix to `node-compile-windows` on VS2015. The resulting 32 bit binary is tested on the 64 bit Windows 2008 machines. Test runs:

- [`master`](https://ci.nodejs.org/view/All/job/node-test-commit-windows-fanned/8217/) ✔️
- [`v7.x-staging`](https://ci.nodejs.org/view/All/job/node-test-commit-windows-fanned/8218/) ✔️ (one failed test but not on the x86 build)
- [`v6.x-s

[2017-04-11 11:46] #669 closed

[2017-04-11 12:54] gibfahn commented on #677
I've added Gireesh's key to:
 - the `root` user on [test-joyent-freebsd10-x64-1](https://ci.nodejs.org/computer/test-joyent-freebsd10-x64-1/)
 - the `freebsd` user on [test-digitalocean-freebsd11-x64-1](https://ci.nodejs.org/computer/test-digitalocean-freebsd11-x64-1/)

We've been through all the above, and he should be good to go.

[2017-04-11 15:20] refack commented on #676
Do you need any help with configuring Cloudflare, I have extensive experience with them (and some insider connections).

[2017-04-11 19:01] mhdawson commented on #673
Landed PR to added manual step, closing for now.

[2017-04-11 19:01] #673 closed

[2017-04-11 20:25] jbergstroem commented on #677
Great!
@gireeshpunathil: thanks for helping out improving libuv :) let us know when you're done using the machines.

[2017-04-11 21:09] Trott commented on #681
Looks like this has been resolved. Would be great to get a comment describing the fix if someone knows what fixed it. In any event, closing...

[2017-04-11 21:09] #681 closed

[2017-04-12 03:13] gireeshpunathil commented on #677
sure, will do, thank you too.

[2017-04-13 20:28] mhdawson opened #683 "Build WG meeting 18 April 2017 at 4 EST"
Putting in this placeholder as  a reminder.  Will fill in details on Tuesday (Friday/Monday are a holiday for me) if nobody beats me to it.

### When

Apr 18, 2017 4 PM EST - [time in your timezone](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Build+WG+Meeting&iso=20170418T20&p1=1440&ah=1)

### Where
- Hangouts on Air, for participants:  https://hangouts.google.com/hangouts/_/

[2017-04-13 20:28] mhdawson commented on #683
@nodejs/build

[2017-04-16 00:45] wmhilton commented on #678
I still would love to see CORS headers added, but in the meantime (and because opening a Github issue with every website in the world isn't practical) I made a workaround service called [cors-buster](https://cors-buster.now.sh) that proxies HTTP range requests. I list both the canonical URL and the proxied one as webseeds in the output of [webtorrentify-server](https://webtorrentify.now.sh) so now

[2017-04-18 04:29] MylesBorins opened #685 "ubuntu1204-clang341 has been disabled in CI"
Can we get this to skip so we don't have red builds?

[2017-04-18 13:52] rvagg commented on #683
Unlikely to make it this week sorry. Status:

* Restored a couple of Pi's, pi2-2 and pi2-10 (don't have their real names at hand). Wiped and reinstalled but I'm worried about their storage, they may be faulty so we'd best keep an eye on them.
* Pinged miniNodes and got the 3rd Odroid C2 back online
* Did the CF log download thing, PR in this repo. Still haven't done a full validation that the data

[2017-04-18 13:59] mhdawson opened #686 "Softlayer - upcoming maintenance May 18 2017"
Customer Identification: SoftLayer Internal - Node.js Community Account (729957)
Start Date: Thursday 18-May-2017 07:00 UTC
End Date: Thursday 18-May-2017 10:00 UTC
Duration: 3 hours
Event Type: Planned Event
Subject: Event 39484731 - EMERGENCY MAINTENANCE -  fcr01.sjc01 - Firmware Upgrade

During this maintenance, customer servers will not be reachable on the public network. Private connectivity

[2017-04-18 16:17] jbergstroem commented on #683
While at it; perhaps establish a standard where we use a certain emoji to indicate availability? +1/-1 or something. It would not just show if we can be there; but also if you abstain or just don't reply (general build wg activity).

[2017-04-18 16:34] gibfahn opened #687 "Transfer Jenkins OAuth Application to nodejs (from rvagg)"
I noticed that the  ci.nodejs.org Jenkins Auth plugin is still owned by @rvagg. It would be good if we could transfer it to the Node.js org so it looks more official.

![image](https://cloud.githubusercontent.com/assets/15943089/25141759/798f3ab2-245c-11e7-81df-23ab01d86325.png)

Apparently you go Setting->Oauth->Transfer and then specify nodejs (cc/ @gdams who's done it before).

[2017-04-18 16:52] joaocgreis commented on #649
Can someone with permission add @kunalspathak to https://github.com/orgs/nodejs/teams/build ? (@jbergstroem @mhdawson perhaps)

[2017-04-18 17:08] jbergstroem commented on #649
Added!

[2017-04-18 17:22] gibfahn commented on #687
Adding `wg-agenda` to check that this is okay in the meeting.

[2017-04-18 17:32] joaocgreis commented on #649
Thanks! This is done then!

[2017-04-18 17:32] #649 closed

[2017-04-18 19:03] piccoloaiutante commented on #683
@jbergstroem lets go 👍 and 👎 for showing who is going to attend or not..

[2017-04-18 19:14] jbergstroem commented on #683
@piccoloaiutante yeah; lets make a note about it in the meeting and add it to the 'template' for next meeting.

[2017-04-18 19:48] bnoordhuis opened #688 "Retire fedora22 buildbot?"
Continuing from https://github.com/nodejs/build/issues/579#issuecomment-270890195, FC22 has been EOL for the better part of a year now.  Time to retire it?

[2017-04-18 19:49] jbergstroem commented on #688
No objections. I can pull the plug if others agree.

[2017-04-18 20:02] piccoloaiutante commented on #683
has it already started?

[2017-04-18 20:03] joaocgreis commented on #683
@piccoloaiutante no, we're waiting for the link from @mhdawson

[2017-04-18 20:03] mhdawson commented on #683
just about to start the hangout, 2 mins

[2017-04-18 20:03] mhdawson commented on #683
link: https://hangouts.google.com/hangouts/_/ytl/vPmERoYEfy59XZzr6SjnYXIlmOVcWq1pDnbXXjz2714=?eid=100598160817214911030&hl=en_US&authuser=0

[2017-04-18 20:06] kfarnung commented on #683
I'm getting 403 forbidden for the hangouts link.

[2017-04-18 20:08] gibfahn commented on #683
@kfarnung odd, it's working for me/us: https://hangouts.google.com/hangouts/_/ytl/vPmERoYEfy59XZzr6SjnYXIlmOVcWq1pDnbXXjz2714=?eid=100598160817214911030&hl=en_US

[2017-04-18 20:08] joaocgreis commented on #683
@kfarnung try removing everything after `?` or the `=` before, worked for me once

[2017-04-18 20:10] jbergstroem opened #689 "meeting planning: Thumbs up / thumbs down"
(we should really have a template for creating meeting issues)

Lets use thumbs up/thumbs down for noting attendance to the meeting via the issue. 👍🏻 for "I will attend" and  👎🏻 for "not attending". This gives us the benefit of also seeing build member activity.

[2017-04-18 20:11] joaocgreis commented on #667
+1 from me as well.

[2017-04-18 20:16] kfarnung commented on #683
Thanks @joaocgreis, not sure what was going on, but opening incognito worked.

[2017-04-18 20:18] mhdawson commented on #667
Agreed in meeting today, I'll go ahead and add him

[2017-04-18 20:18] jbergstroem commented on #667
@gibfahn with great power comes great responsibility :)

[2017-04-18 20:36] joaocgreis commented on #662
- Release Jenkins - jobs
- Release Jenkins - infrastructure

And split Website into:
- Website - WWW
- Website - Nightlies (promoting, ...)
- Website - Releases

[2017-04-18 20:38] refack commented on #662
Put me down for everything Windows.

[2017-04-18 20:55] mhdawson commented on #667
added

[2017-04-18 20:55] #667 closed

[2017-04-18 21:03] gibfahn commented on #689
There were no objections to this at the meeting. Next steps are for someone to write up the meeting template and PR it to the build WG, and then we'll start doing this for future meetings.

@jbergstroem I can do the PR if you want (I'm already doing the minutes).

[2017-04-18 21:04] gibfahn commented on #688
SGTM

[2017-04-18 21:08] gibfahn commented on #687
Couple of points brought up in the meeting.

 - Is it an easy process?
   - As I noted above, it should be a two minute change.
 - Will there be any loss of data from moving it?
   - There shouldn't be, and in any case if we lose the cache that just means everyone has to click the button again, which isn't the end of the world.
 - Does the app know any sensitive information that we wouldn't want t

[2017-04-19 01:16] rvagg commented on #687
Fine by me, it was done under my name because nodejs is an org, not a user, but if this is possible then :+1:

[2017-04-19 02:27] rvagg commented on #689
I have a request re meetings too -- can we consider adjusting our time for it? DST has made it go back to 6am for me and that sucks so deeply (for me at least). I don't want to exclude folks but perhaps we could do a spreadsheet similar to what the CTC uses to find good meeting times and work out if there is a better time of day? @mhdawson do you have time to facilitate that? Perhaps copy the CTC

[2017-04-19 02:41] rvagg commented on #687
![screenshot 2017-04-19 12 37 09](https://cloud.githubusercontent.com/assets/495647/25161018/eef3770a-24fc-11e7-9f05-cfccc18b9c36.png)

OK, so it's possible to transfer to an org, the next question is permission. I don't know who gets access to the secret on this in the org, and we have a _lot_ of org members. Instead of trying to find a doc (I can't so far), how about we test. I've made a new OAu

[2017-04-19 02:41] rvagg commented on #687
There's a second app btw, the Node.js Release Jenkins one

[2017-04-19 04:11] Trott commented on #689
I wouldn't object, but I guess if you're asking my preference: separate spreadsheet. I don't know that sharing the link (and thus the data in the spreadsheet) is a violation of anyone's privacy, but it *feels* wrong to me. So just make a new one. But if you want to instead just add a Build tab, I'm not going to stop you.

[2017-04-19 04:13] Trott commented on #689
Also: I've not been terribly active in the WG. I'd like to maintain some elevated privileges in Jenkins to take problematic hosts offline and to be able to log in to the machines to terminate stalled tests and stuff like that. If I can somehow do that without having the guilt of missing pretty much every WG meeting and not really participating, that would be awesome. On the other hand, if the two

[2017-04-19 06:55] gdams commented on #687
@rvagg I believe that it's only the owner of the org who has full permissions

[2017-04-19 07:06] piccoloaiutante commented on #689
@gibfahn if you want i can go ahead with the PR for template.

@rvagg yes 6AM sucks a lot, lets try to find a better timeframe.

[2017-04-19 07:10] piccoloaiutante opened #690 "Collaborator meeting in Berlin 4th-5th May"
I'm trying to arrange a two hours slot for this WG during the next collaborator meeting in Berlin and I was wondering who is going to attend it. From the last standup I know that @mhdawson, @gibfahn and me will be there. Is there anyone else that is going to attend it?

[2017-04-19 07:58] gibfahn commented on #687
I can't see it

[2017-04-19 10:38] gibfahn commented on #690
@jbergstroem remotely!

It'd be good to try to work out a rough agenda for what we should try to work on.

One good goal might be to get everyone running Johan's refactor branch and flushing out bugs, with the aim of getting it landed.

[2017-04-21 04:09] rvagg commented on #687
OK, well that's no good, since @gibfahn isn't even an org owner, we don't really want that key to be leaked

[2017-04-21 06:23] rvagg commented on #676
![cf_lb](https://cloud.githubusercontent.com/assets/495647/25265081/76667c52-26ae-11e7-81d3-898b443f1c93.png)

So @jbergstroem set this up and configured a 15 minute sync to pull from the DigitalOcean primary server to our Joyent backup server for /home/dist (downloads) and /home/www (everything else). We did a little bit of testing with a temporary hostname, it's tricky to get full confidence wit

[2017-04-21 07:32] gibfahn commented on #687
To clarify, I am **not** able to see it, which suggests to me that it's only org owners who can.

[2017-04-21 15:30] mhdawson opened #693 "Adding zOS machines to CI"
We have some zOS machines being made available through Marius University.

These will allow us to start testing the libuv zOS port which is already in the repos and position us to be able to build Node.js once the V8 port to zOS goes back into the v8 repos.

First step is to get build team members to acknowledge the terms an conditions. I'm going to send an email to:

* @rvagg
* @jbergstroem
* @jo

[2017-04-21 15:42] gibfahn commented on #693
Please cc me as well, I'd like to help out with this.

[2017-04-21 16:21] mhdawson commented on #688
+1 from me

[2017-04-21 16:22] mhdawson commented on #687
I **can** see it.

[2017-04-24 17:44] MylesBorins commented on #690
I'll be there

[2017-04-24 17:44] MylesBorins commented on #685
ping... this is quite annoying... seems like it is failign on v7 too

[2017-04-24 17:58] MylesBorins opened #695 "release-joyent-smartos14-x64-1 is down and stalling build jobs"
https://ci-release.nodejs.org/computer/release-joyent-smartos14-x64-1/

/cc @nodejs/build

[2017-04-24 18:02] jbergstroem commented on #695
..and back up.

[2017-04-24 18:02] #695 closed

[2017-04-24 18:10] gibfahn commented on #685
I can add something to the combination filter to skip, but do we know why it's failing on 4/6/7 but not master?

Example of failing build:

[2017-04-24 18:26] targos commented on #685
I think this is because of the upgrade to gcc 4.9: https://github.com/nodejs/build/pull/650
It doesn't fail on master because this particular build is skipped.

[2017-04-24 18:29] gibfahn commented on #685
Lots of people running into this elsewhere:
https://github.com/philsquared/Catch/issues/334
https://askubuntu.com/questions/523613/upgrade-to-gcc-4-9-broke-clang
http://stackoverflow.com/questions/23462950/clang-only-compiles-c11-program-using-boostformat-when-std-c11-option-i

Suggested fixes are "use `libc++` instead of `libstdc++`" and "upgrade to clang 3.5". Not sure why it's intermittent, but

[2017-04-24 18:42] gibfahn opened #696 "Clean up Jenkins configs"
I was looking at https://github.com/nodejs/build/issues/685#issuecomment-296765873, and I noticed that the combination filter for [node-test-commit-linux](https://ci.nodejs.org/job/node-test-commit-linux) is full of a load of stuff that is no longer required.

[code]

As I understand it, we currently build everything on every platform, so we could remove the combination filter (and `NODES_SUBSET`)

[2017-04-24 21:14] santigimeno commented on #690
I'll be there too and would love to help even though I'm not a member. Would that be ok?

[2017-04-24 22:41] gibfahn commented on #690
👍 💯 Yes!

[2017-04-25 13:31] jbergstroem commented on #690
That'd be awesome. I can only assume that there's a lot of things fixed/new bugs introduced with ansible upgrades.

The big gaps are:
1. aix -- most of the setup scripts still seem fully manual
2. windows
3. its falling out of date; there's been a few changes to things like www we need to re-integrate

[2017-04-25 13:36] refack commented on #690
I'm jealous of you all going. I can't leave the US :(
I'd be happy to join your session remotely to help with windows issues.

[2017-04-25 13:36] refack commented on #690
P.S. VS2017

[2017-04-25 14:31] mhdawson opened #698 "New meeting time for build WG"
Have created spreadsheet here: https://docs.google.com/spreadsheets/d/1E4Gb2dzu245nA8YTWFVXQQaYE-85HtzfZTeLFmpljBk/edit?usp=sharing

@nodejs/build please fill in your availability.

[2017-04-25 14:46] mhdawson commented on #689
Opened issue here to work on new time: https://github.com/nodejs/build/issues/698

[2017-04-25 16:32] joaocgreis commented on #696
Combination filter: Happy to welcome a simplification for this! There are at least 3 mechanisms for selecting what configurations run for what versions:
- `NODES_SUBSET`: This is used to support testing versions 0.10 and 0.12 (and iojs at some point). Can we already delete that? It will no longer be possible to test 0.10 and 0.12 (at least without knowing what configurations can be ignored). I sus

[2017-04-25 16:46] gibfahn commented on #690
FYI, we're looking at this, and I *think* we've got something working

[2017-04-25 19:51] MylesBorins commented on #688
+1

This does raise a question for @nodejs/LTS. Should we continue to build /
test for platforms that go eol during lts?

On Apr 21, 2017 12:21 PM, "Michael Dawson" <notifications@github.com> wrote:

[2017-04-26 06:54] bnoordhuis commented on #688
Good question.  CentOS / RHEL 5 is another example, it's officially EOL as of last month.  Windows XP we stopped supporting when MS did so it probably makes sense to do the same for other platforms.

[2017-04-26 07:16] shigeki opened #699 "Retire Ubuntu 12.04?"
[code]
https://insights.ubuntu.com/2017/03/14/introducing-ubuntu-12-04-esm-extended-security-maintenance/

Although it has an extended commercial support by Canonical, I would be happy if it is retied because it has an old gas version of 2.22 that needs `deps/openssl/asm_obsolete/`.

[2017-04-26 08:24] targos opened #700 "Temporary access to 32-bit Linux box"
Hello. To debug a segfault that my PR (https://github.com/nodejs/node/pull/12621) is causing, I would like a temporary access to one of the 32-bit Linux boxes. `centos5-32` would be nice.

[2017-04-26 08:48] piccoloaiutante commented on #698
@mhdawson should I add mine even if i'm not part of the WG?

[2017-04-26 10:14] gibfahn commented on #698
Yes!

[2017-04-26 12:05] jasnell commented on #688
I agree. When a platform goes EOL, we should simply drop support and do any more releases for it past that point, even in LTS.

Considering that we shorten the lifetime of LTS for OpenSSL EOL, this would be consistent, I think.

[2017-04-26 13:12] mhdawson commented on #698
@piccoloaiutante just to add to @gibfahn response.  Absolutely we want to take into account all regular attendees.

[2017-04-26 13:21] mhdawson commented on #690
Signed us up here, not sure what time was going to work for @jbergstroem  so just chose one after what I think his work hours were, Johan feel free to move. https://docs.google.com/spreadsheets/d/1gJoyiq0z6rjS7jEoHkRe6jte8Dd7ZBkwD3WjOh6djvQ/edit#gid=1606836561

[2017-04-26 14:21] gibfahn commented on #700
SGTM

[2017-04-26 16:53] gibfahn commented on #688
If you specify the supported platforms for a version, then dropping support within a release line is arguably `semver-major`. I think we could be explicit about this by simply adding a sentence to [`BUILDING.md`](https://github.com/nodejs/node/blob/master/BUILDING.md#supported-platforms-1) to say something like:

or

[2017-04-26 16:54] gibfahn commented on #699
I think this should be handled by https://github.com/nodejs/build/issues/688, reopen if I'm wrong!

[2017-04-26 16:54] #699 closed

[2017-04-26 16:54] gibfahn commented on #688
From https://github.com/nodejs/build/issues/699

@shigeki

[2017-04-26 17:09] ljharb commented on #688
Supported platforms are absolutely part of the API; dropping one that works is absolutely semver-major.

[2017-04-26 17:12] gibfahn commented on #688
Unless you specify otherwise right?

[2017-04-26 17:17] ljharb commented on #688
@gibfahn that would be the debate; personally I believe that documentation doesn't invalidate what code does at runtime, and that what code does at runtime is the API.

If the documentation takes precedence over the code, then *adding* such specification is also semver-major.

[2017-04-26 18:45] bnoordhuis commented on #688
Says who? First time I've heard anyone make this claim w.r.t. semver.

[2017-04-26 19:09] refack commented on #688
IMHO these cases should be judgment calls (for fear of breaking) Ref: https://github.com/nodejs/node/pull/12293#issuecomment-292803271

[2017-04-26 23:06] ljharb commented on #688
@bnoordhuis to be more precise; it's the act of shipping a change in a non-major that doesn't work, on a platform where the code previously worked, that's semver-major - simply declaring that you drop support for a platform isn't the important part, but effectively it ends up being the same thing over time.

Semver fails to precisely specify a number of things; one of these is "backwards compatibl

[2017-04-27 04:06] rvagg opened #701 "VPN access to release Jenkins"
Johan and I have been discussing how we can increase the security of our release Jenkins. With the continual stream of Jenkins vulnerabilities we really want to lock it down as much as possible because the last thing any of us wants is to have to rebuild all of our release infrastructure just from a suspicion of a breach.

So, we already have fixed IP addresses for all of our release nodes and the

[2017-04-27 14:07] cjihrig commented on #701
As annoying as it might be, I'm OK with the VPN requirement.

[2017-04-27 14:41] mhdawson commented on #700
SGTM

[2017-04-27 14:46] mhdawson commented on #701
I'm not on the release team, but have done a fair amount in terms of configuring the jobs which I assume would required VPN access as well.  I'm ok with the VPM requirement as well.  I just hope the client can co-exist with other VPN clients as I have to use our corporate one as well.

[2017-04-27 18:54] piccoloaiutante commented on #690
One thing we could also do is to identify one or two issues as `good-as-first-contribution` so that new comers can start helping the build group.

[2017-04-27 20:06] mhdawson commented on #693
@gibfahn sent terms to you.

[2017-04-27 20:43] refack commented on #690
Yes please!

[2017-04-27 22:45] #683 closed

[2017-04-28 11:22] MylesBorins opened #702 "All osx executors are down"
for Test + Release

[2017-04-28 12:48] refack opened #703 "is it possible to mark out-of-matrix tests as gray?"
Like in this case?
![image](https://cloud.githubusercontent.com/assets/96947/25529272/6c94cf1c-2bef-11e7-94e2-52b50eb2868a.png)

[2017-04-28 13:05] refack commented on #703
maybe calling `java -Dhudson.util.ProcessTree.disable=true -jar jenkins.war`
as suggested in http://stackoverflow.com/questions/25655867/how-can-i-abort-a-jenkins-build

[2017-04-28 15:19] gibfahn commented on #703
How does this mark out-of-matrix tests as grey?

I'm not entirely sure what issue you're asking for a fix for, but my guess is that you mean that when you go to https://ci.nodejs.org/job/node-test-commit-linux/ it doesn't show you the tests that haven't run yet for the latest build?

![image](https://cloud.githubusercontent.com/assets/15943089/25535170/0fdd83f6-2c2e-11e7-84c5-c7221c6c9c7d.png)

If

[2017-04-28 15:20] gibfahn commented on #703
Of course that doesn't work for things where we're doing an `exit 0` within the tests. I think the answer is to skip things in the combination filter where possible.

[2017-04-28 17:04] shigeki opened #704 "Need to test Node on intel cpu that has no avx feature."
Through the investigation of https://github.com/nodejs/node/issues/12691 , Node seems to have sha256 hash computation failure on Intel CPU that has no avx feature.

This is a list of such CPU.

- Intel Pentium J4205
- Intel Celeron J3455
- Intel Celeron J3355
- Intel Pentium N4200
- Intel Celeron N3350
- Intel Celeron N3450
- Intel Atom x7-E3950
- Intel Atom x5-E3940
- Intel Atom x5-E3930

Unfortu

[2017-04-28 19:41] refack commented on #703
I mean cases like the screenshot in the first comment
[code]

[2017-04-29 21:59] refack opened #705 "suggestion: investigate a commit-queue solution"
Instead of landing directly on `master`, contributors push to a commit-queue that validates commit message, code-review meta-data, and possibly runs a CI, only then actually lands on `master`.
Ref: http://dev.chromium.org/developers/testing/commit-queue

[2017-04-30 11:58] gibfahn commented on #705
Interesting idea, and I know other projects do this (e.g. Rust, which has rollup commits).

What would the advantages be? I find the process of landing commits pretty straightforward today. A CI job to verify commit metadata [already exists](https://ci.nodejs.org/job/node-test-commitmsg/), it just needs reviving. I think other projects have CI runs that take a lot longer, so it probably makes more

[2017-04-30 12:27] refack commented on #705
Mainly taking out human error out of the straight forward but manual steps.
* reject on fail of validation of commit message structure & metadata
* reject on CI fail
* Automatic close of PR

If the PR has a good message and could be just squashed:
* automate adding metadata
* automate squash

i.e. turn these cases to a one-click merge

[2017-04-30 12:34] gibfahn commented on #705
What do you mean by commit queue then?

Those are reasons to have a CI flow that runs the commit validation, adds metadata, runs CI, squashes, and lands (although it'd only work for cases where you want to squash), but why do you need a queue?

[2017-04-30 12:40] refack commented on #705
A CQ is in essence a different git remote that colabs can push to, and will either automate the land to `master` or reject.
one-click-merge is a bonus feature: collab tell CQ to pick up a PR, and CQ does everything.
The design doc by Chromium is quite good http://dev.chromium.org/developers/testing/commit-queue/design

[2017-04-30 12:47] refack commented on #705
P.S. queue is a borrowed term from "mercurial patch queues", the main metaphor is a side storage that can accept or reject without changing `master` beforehand, and allows for temporary storage of manually rebased commits.

[2017-04-30 13:56] refack opened #706 "question: can I tree-factor `test/sequential`"
I'm asking here before opening a PR in core...
Is there some build voodoo around `test/sequential`?
Can I tree-factor it to subdirectories by `/test-(\w+)-/` ?

[2017-04-30 18:00] bnoordhuis commented on #704
Any Intel CPU without AVX or just Skylake and above?  I have an Ivy Bridge system that I'm reasonably sure has no AVX I could use to investigate.  Is https://github.com/nodejs/node/issues/12691#issuecomment-298019749 the test case to try?

[2017-04-30 20:39] gibfahn commented on #706
It's listed here: https://github.com/nodejs/node/blob/master/tools/test.py#L1559, any special casing will be done in `tools/test.py`.

All our tests are currently in `test/*` (i.e. only one directory deep). Not sure what you mean by `tree-factor`, are you talking about having `test/sequential/buffer/` and `test/sequential/fs`? If so why? There are only 40 tests in sequential, there doesn't seem to

[2017-04-30 20:50] refack commented on #706
@gibfahn I ment `test/parallel`.
Thank. I'll try a little bit and adjust `test.py` to make sure it works.

[2017-04-30 20:55] gibfahn commented on #706
`parallel` will be special-cased, as `tools/test.py -j4` will only run 4 at a time for the parallel test suite.

I think breaking it up was proposed before and didn't happen, it might be having a look for previous discussions before going down that road again.

[2017-04-30 20:57] refack commented on #706
I can tell `test.py` that it's a single suite, just a two dirs deep.
Anyway I'll try too look up the previous discussions.

[2017-05-01 08:34] shigeki commented on #704
The issue was only confirmed on Intel Celeron N3350.

I guess that it depends on the product name such as Celeron or Atom rather than the micro architecture name such as Skylake or Ivy Bridge. But it is worth while testing it other cpu if it does not support AVX.

https://en.wikipedia.org/wiki/List_of_Intel_Celeron_microprocessors#.22Apollo_Lake.22_.2814_nm.29_2 shows that they do support up to SS

[2017-05-01 09:19] santigimeno commented on #704
@shigeki I have access to a `Intel(R) Celeron(R) M processor 1.00GHz` that apparently has no AVX support. From the output of `cpuid`: `AVX: advanced vector extensions         = false`. Would this work for you? If that's the case, what code should I run?

[2017-05-01 09:32] shigeki commented on #704
@santigimeno That's great! Could you try to run a sample code of https://github.com/nodejs/node/issues/12691#issuecomment-298019749 at first?

[2017-05-01 09:50] santigimeno commented on #704
@shigeki tested with `v7.9.0` and `v4.7.0` and output looks fine:

[code]

[2017-05-01 09:54] shigeki commented on #704
@santigimeno Thanks, but it is sad for me that we cannot reproduce the issue. Do you run it on Windows?

[2017-05-01 09:57] santigimeno commented on #704
No, its running a linux

[2017-05-01 09:59] shigeki commented on #704
@santigimeno If possible, can you run the test it on Windows?

[2017-05-01 10:29] santigimeno commented on #704
@shigeki unfortunately that's not going to be possible. I think I have another old box with a different processor that doesn't support `AVX` and that I could probably run Windows on. I'll report back if I can work out something.

[2017-05-01 10:34] shigeki commented on #704
@santigimeno Thanks. The result that the testing on Linux is good is great help for me.

[2017-05-01 10:45] refack commented on #704
I have an old (7 year old) machine with a Celeron. I'll give it a try...

[2017-05-01 13:04] santigimeno commented on #704
I have tested on a `Core 2 Duo T7250` that doesn't support `AVX` with nodejs `v4.8.2` (I couldn't install anything newer as it's running `Windows Vista`) and the results are the same:
[code]

[2017-05-01 13:05] jbergstroem commented on #704
For build infra purposes; can we emulate it by skipping flags and running qemu?

[2017-05-01 13:43] shigeki commented on #704
@santigimeno Thanks for testing.

For summarizing the current results, it shows that

| model | release date | featurse | OS |test result |
|-------|--------------|----------|----|-----------|
| Intel Celeron N3350 |  Aug 30, 2016 | SSE-SSE4, AES-NI, SHA extension | Win | NG |
| Intel Celeron N3350  |  Aug 30, 2016 | SSE-SSE4, AES-NI, SHA extension | Win | OK (with disabling to use all AVXs in Ope

[2017-05-01 15:40] joaocgreis commented on #706
Ref: https://github.com/nodejs/node/pull/6230

[2017-05-01 15:48] joaocgreis commented on #703
The screenshot is from `node-stress-single-test`, that uses a shallow structure of just one Jenkins job to do everything, for simplicity. It's debatable if this is an advantage going forward.

For the `node-test-*` jobs, this is skipped in combination filters (which in turn rises issues like https://github.com/nodejs/build/issues/647). This is only possible if there is a parent job that gets the v

[2017-05-01 17:41] #703 closed

[2017-05-01 17:41] refack commented on #703
Thanks @joaocgreis

[2017-05-01 18:31] gibfahn commented on #703
As a workaround we could just assume any branch will have `v4` in the branch name if it's a `v4.x` branch (or equivalent for other major versions). That won't cover every case, but it allows us to skip things in the combination filter if the branch has the right name, and it'll work for all the official branches.

[2017-05-01 19:34] refack commented on #151
We can hook such a service into GYP (or gyp.js) with `key` = `hash of all the input files` + `platform` + `toolset`. This gives us an unmodified install flow, and another use case:
* __Generic compiler cache__
  A major part of the node binary are external dependencies that are vendored in at (relative) low frequency. Having them pre built and downloadable, should speedup the build 10 fold.

[2017-05-01 20:10] mhdawson commented on #705
This was in place for a short period (basically a job which did the test and if tests passed, landed the PR)  but it was backed out because at the time the tests were not stable enough and it would take multiple attempts due to flakes even when nothing was wrong with the PR.

I think we still have a number of flakes on the arm fanned builds and to a less extend the fanned windows builds.  I know t

[2017-05-01 22:00] refack commented on #705
Sounds legit.
Thanks.

[2017-05-01 22:07] refack commented on #703
I've digged just a little bit, but is there really no way to tell Jenkins to ignore the build from the build script?

[2017-05-03 01:19] #702 closed

[2017-05-03 01:24] MylesBorins commented on #685
I have confirm that the ubuntu1204-clang341 executor is skipped on master and failing on all release lines. I am disabling it from the main CI for now.

I'm unsure who originally set it up, but I've changed this issue to track the progress of adding this executor back to CI

/cc @nodejs/ctc @nodejs/build

[2017-05-03 05:31] bnoordhuis commented on #685
For posterity: it was added (by Rod?) in response to nodejs/node#8323.

[2017-05-03 15:02] jbergstroem commented on #685
I updated GCC on the box as a response to @targos on newer V8 requirements too. Then there's [this](https://github.com/nodejs/build/issues/688#issuecomment-297474239).

[2017-05-03 23:43] shigeki commented on #704
It was confirmed that the issue is caused by building openssl with masm (Microsoft Assembler).
Thanks for your corporation for testing.

[2017-05-03 23:43] #704 closed

[2017-05-04 09:35] gibfahn commented on #626
We should try to get this up and running in the Collab Summit.

with @piccoloaiutante @targos @fhinkel

[2017-05-04 09:39] targos commented on #700
The issue has been fixed thanks to @addaleax. I do not need access anymore. Thanks!

[2017-05-04 09:39] #700 closed

[2017-05-04 21:10] refack opened #707 "questions: about Jenkins"
1. How long does it keep job logs? [this one](https://ci.nodejs.org/view/All/job/node-test-pull-request/7858/) disapeared after less the 9 hours?
2. Can you extend the cookie expiration, it seems like I need to login everytime I use it...

BTW: It's a fantastic tool, super super useful!!! 🥇
Thanks!

[2017-05-04 22:02] jbergstroem commented on #707
Currently 7 days as defined by our backup job (also: disk at 85% full)

Can't find a setting for it. Sorry.

[2017-05-04 22:56] refack commented on #707
Thanks!

[2017-05-04 22:56] #707 closed

[2017-05-05 08:44] gibfahn commented on #657
Working on this with @mcollina and @piccoloaiutante in the Collab Summit, will update with progress.

#### Subtasks:

1. Job to run on specific node version
2. Pipeline to call the job with different versions of Node
3. Deal with the browser tests

[2017-05-05 08:58] targos opened #709 "Temporary access to a FreeBSD host"
I'd like to try to debug the build issue with [FreeBSD and V8 5.8](https://ci.nodejs.org/job/node-test-commit-freebsd/8704/nodes=freebsd10-64/console).

/cc @gibfahn

[2017-05-05 09:19] mhdawson commented on #709
LGTM

[2017-05-05 09:50] gibfahn commented on #709
LGTM, I can put his key on the machines.

[2017-05-05 09:52] gibfahn commented on #709
Added a new label `access request`, as we seem to get a lot of these

[2017-05-05 11:04] gibfahn commented on #709
Added @targos's key to the `freebsd` user on `test-digitalocean-freebsd11-x64-1` (`45.55.90.237`).

[2017-05-05 11:54] fhinkel commented on #709
@targos Can you find out what compiler version we use there?

[2017-05-05 12:00] gibfahn commented on #709
I think it's:

[code]

[2017-05-05 12:30] gibfahn commented on #707
Maybe this:

http://stackoverflow.com/questions/26407541/increase-the-jenkins-login-timeout

[2017-05-05 12:31] fhinkel commented on #709
Thanks!

[2017-05-05 13:05] gibfahn opened #710 "Collab Summit Build meetup"
### Where
- [Hangouts on Air, for participants](https://hangouts.google.com/call/gvgsglvvzrhthazsctgkft6ormy)
- [Minutes document](https://docs.google.com/document/d/14ZwtCcNdRCp7jCdRG5mIgZx9LFTJk22kOJzi-9nMEZI/edit?usp=sharing)

All welcome

Refactor the World PR: https://github.com/nodejs/build/pull/606

### What we agreed:
- [x] @jbergstroem will squash and merge (multiple commits if he wants,

[2017-05-05 13:50] gibfahn opened #711 "Add Michele Capra (@piccoloaiutante) to the Build WG"
@piccoloaiutante has been helping out a lot with build stuff, I actually thought he was already a member.

As he's not, I propose we add him.

_**EDIT:**_ Not sure if we normally give justification, but just to be thorough:

- Michele works for Nearform, so there are plenty of Collaborators to vouch for him.
- He's already done a bunch of work for us, most recently at the collaborator summit.
- He

[2017-05-05 14:03] gibfahn opened #712 "Tasks to make ansible/ the default repo"
List of things we need to do, please put your name against them if you're working on them, and check them off once they're done.

### Tasks:
- [ ] Update the inventory with all of the machines we manage
- [ ] Go through each machine type and confirm that the setup script works on a local machine
  <details><summary>List of Jenkins labels</summary>

  Obtained with `Jenkins.getInstance().getLabels(

[2017-05-05 14:21] #710 closed

[2017-05-05 16:45] refack opened #713 "jenkins: give little more CPU priority to the WEB UI"
I'm not sure how the web server is set up, maybe it needs a lower `nice` value.
Or maybe you could shorten the task queue by one so there will always be a free core for the UI?

[2017-05-05 18:28] jbergstroem commented on #713
I hear what you're asking, but its not that simple. We've done a lot of profiling of jenkins in the past, and one way to speed it up is to avoid using tap. This is not about the UI being slow; it's about waiting for jenkins to parse hundreds of XMLs. If you search for tap in the issue tracker you'll find a few issues about performance and additionally a stub to a solution (ask gibson if you're at

[2017-05-05 18:28] #713 closed

[2017-05-05 19:45] targos commented on #709
The issue has been fixed. You can revoke my access. Thanks!

[2017-05-06 09:03] gibfahn commented on #709
Key removed.

[2017-05-06 09:03] #709 closed

[2017-05-07 16:51] santigimeno commented on #712
I've tested the scripts on a `freebsd11-x64` box and it looks they work fine (I've only tested that the ansible scripts run without problems not that the box ends in the expected state)

[2017-05-09 07:07] piccoloaiutante opened #716 "Build WG meeting 9th May 2017 at 4 EST"
I'm putting this issue as reminder that there should be a meeting today as per schedule. I'm not sure if we want to have one since we had another unofficial one during collaborator summit in Berlin. Unfortunately I can't attend it today. I suggest to use 👍 and 👎 to see who can attend it.

[2017-05-09 11:49] rvagg commented on #716
Did a 👎 cause I'm not going to get enough notice whether it goes ahead or not and I'm not a fan of needless 6am wakeups!

[2017-05-09 12:38] #690 closed

[2017-05-09 13:34] joaocgreis commented on #711
+1! Michele has been participating and helpful for some months now, it's well about time we add him!

[2017-05-09 13:36] joaocgreis commented on #716
cc @nodejs/build

[2017-05-09 13:47] jbergstroem commented on #716
Can't join either. Sorry!

[2017-05-09 14:23] joaocgreis commented on #716
The only issue with WG agenda is https://github.com/nodejs/build/issues/711 , I believe we can make progress through github if needed. I suggest we skip this week and schedule for May 30, 3 weeks from today.

[2017-05-09 15:05] jbergstroem commented on #716
A summary of the summit would be nice to hear!

[2017-05-09 15:06] piccoloaiutante commented on #716
I think that @mhdawson could have some notes about it.

[2017-05-09 15:59] mhdawson commented on #716
I'll be writing up a short summary of the summit later today and will share in some form.

[2017-05-09 15:59] mhdawson commented on #711
+1 from me as well.

[2017-05-09 21:17] mhdawson commented on #698
Hmm, no easy choice from the spreadsheet.  We may need to look at having 2 different times.

[2017-05-10 19:30] jasnell opened #717 "Unable to access ci-release"
Attempting to do the 8.0.0 release candidate build... unable to because of....

![image](https://cloud.githubusercontent.com/assets/439929/25917294/639655fc-357c-11e7-8389-aea3b72be5aa.png)

[2017-05-10 22:11] gibfahn commented on #717
That's odd, the release team still have access according to the permissions, and you're definitely [still in the release team](https://github.com/orgs/nodejs/teams/release). @nodejs/release is anyone else having this issue?

![image](https://cloud.githubusercontent.com/assets/15943089/25923479/a8029d8c-35d5-11e7-94e6-905e0449315d.png)

[2017-05-10 22:15] gibfahn commented on #717
The Github Auth plugin is currently on `0.26`, and there's a `0.27` available, no idea if that's relevant to anything.

![image](https://cloud.githubusercontent.com/assets/15943089/25923593/20984986-35d6-11e7-8ebc-1f058194de57.png)

[2017-05-11 01:12] rvagg opened #718 "Linux build distro strategy (CentOS 5 retired)"
So, CentOS 5, which we use to build our Linux x64 and 86 binaries, ceased support at the end of March. You can't even do a `yum update` now on CentOS 5 and we need to move on.

In terms of getting the oldest reasonably supported libc to compile against, the next oldest I believe is actually RHEL 6, therefore CentOS 6, with version 2.12, the next from that is Debian 7 (Wheezy) with 2.13 (CentOS 5 g

[2017-05-11 02:08] jbergstroem commented on #717
@jasnell has spesjul permissions on `ci` at least (not part of a group), so this might be a github acl thing?

[2017-05-11 02:23] cjihrig commented on #717
The release Jenkins seems to be working for me. It looks like @jasnell was able to get in and start a job.

[2017-05-11 02:48] rvagg commented on #717
@jasnell not a solution per se but perhaps try navigating straight to https://ci-release.nodejs.org/job/iojs+release/ and see if you get anywhere, that shouldn't require "Overall" I think

[2017-05-11 10:52] gibfahn commented on #718
If https://github.com/nodejs/node/pull/12672 lands then we're good to update mid-stream.

[2017-05-11 12:43] jbergstroem commented on #718
Relevant discussion in here too: https://github.com/nodejs/build/issues/688#issuecomment-297478568

[2017-05-11 13:06] mhdawson commented on #686
Received reminder today that this is still planned.

[2017-05-11 22:36] mhdawson commented on #718
I think technically it should be semver-major to switch the libc base as I could see that there would be a reasonable expectation that unless you upgrade to a new major Node.js version you don't have to upgrade the OS that you are running your application on.

Going forward we should probably look at the EOL of the platforms we build on and make sure the minimum level specified for an LTS release

[2017-05-11 22:58] jasnell commented on #718
This is definitely a good policy in general. It would require being a bit more proactive about finding and documenting the expected EOL dates for supported platforms. At the moment we're fairly loose about that.

[2017-05-11 23:00] jasnell commented on #718
Just to clarify, what would be the specific impact for an average user if we switch to building on CentOS 6?

[2017-05-11 23:50] jbergstroem commented on #718
What lifespan though? There's Rhel, Centos or even Oracle and Unbreakable. Some extends EOL, some doesn't. I think an interesting add to this mix is the fact that although we provide packages it is not always our responsibility to cater for every permutation. Thats why some distributions gets paid and some doesn't.

Personally, I'd be happy with following the "majority upstream" distributions and

[2017-05-12 07:17] bnoordhuis commented on #718
False equivalence, IMO.  If you willfully stay at an OS version that its vendor no longer cares to support, you have no reasonable expectation that third-party software keeps working.

[2017-05-12 16:42] gibfahn commented on #718
You might be unable to run the binary on a machine with an earlier `libc` (or kernel version) than the machine we build on (AIUI).

[2017-05-12 16:46] gibfahn commented on #718
@jasnell @mhdawson as I said in https://github.com/nodejs/node/pull/12672, that means dropping support for Ubuntu 14.04 in Node 8. I don't think that's a reasonable thing to do. Basically we have to drop support for platforms 2½ years before their maintainers do.

[2017-05-13 14:42] refack opened #719 "CITGM runs for 16 hours starving other jobs"
How can I help?

![image](https://cloud.githubusercontent.com/assets/96947/26026364/97ff095e-37c7-11e7-9b76-67d331680014.png)

For example this one has been waiting for a fedore22 worker for 6 hours
![image](https://cloud.githubusercontent.com/assets/96947/26026395/feec050e-37c7-11e7-8766-715c277236e4.png)

[2017-05-13 15:25] gibfahn commented on #719
This is a CitGM issue, so you should raise it on https://github.com/nodejs/citgm. We definitely need to work out what's going on and fix it.

[2017-05-13 15:28] gibfahn commented on #719
Thanks, I'll close this for now, we can reopen if it turns out to be an infra issue.

[2017-05-13 15:28] #719 closed

[2017-05-13 15:31] refack commented on #719
[question] Is it a real problem to have more than one worker per platform? For example https://ci.nodejs.org/label/fedora22/ one is off-line?

[2017-05-13 15:38] gibfahn commented on #719
Do you mean "Is it a problem to have _only_ one worker per platform"? If so then the answer is yes.

[2017-05-13 15:38] gibfahn commented on #719
@Trott I see you took https://ci.nodejs.org/computer/test-rackspace-fedora22-x64-1/ offline as it was failing to build. Do you know if it's fixed?

[2017-05-13 15:49] refack commented on #719
Yes. Also is it a financial/human-bandwidth/whatevs problem to maintain redundancies? or an oversight?
Again, if I can help in anyway, I'm pretty much available.

[2017-05-13 16:12] gibfahn commented on #719
Maintaining the infra in general is a bandwidth problem, and yeah, there's definitely lots that needs doing. I'll see if I can find some ways to get you involved, we're always keen to have more people help out, it's just there's a lot of specific stuff to learn about how we've ended up doing things in Node.

[2017-05-13 18:15] refack commented on #719
I do devops too 😊 , also don't need to see the "secrets"

[2017-05-13 18:58] refack opened #720 "lint job doesn't show tap result"
Maybe I'm doing something wrong, but I can't figure out how to get the lint errors...

e.g. https://ci.nodejs.org/job/node-test-linter/9042/console
[code]

Sorry to fast fire issues today.

[2017-05-13 22:38] gibfahn commented on #720
You're right, we're passing the output to a TAP file, but not actually running the TAP parser on it. I tried enabling it, but the TAP plugin fails to parse it as it isn't valid TAP.

[code]

The problem with the generated TAP output is that it's actually multiple TAP files concatenated together, so there are multiple TAP headers.

In the short term you can view the file directly (assuming you have

[2017-05-13 22:39] gibfahn commented on #720
Looks like we can definitely blame @jbergstroem for this 😜

@mscdex https://github.com/nodejs/node/pull/5638#issuecomment-194689171

---

@jbergstroem https://github.com/nodejs/node/pull/5638#issuecomment-194694304

[2017-05-13 22:41] gibfahn commented on #720
So basically we need to update [tools/jslint.js](https://github.com/nodejs/node/blob/master/tools/jslint.js) to remove all but the first instance of `TAP version 13`, I think that should work.

[2017-05-13 23:40] refack commented on #720
I'm on it.

P.S. the `workspace` will only show that last run, right?

[2017-05-13 23:42] gibfahn commented on #720
Yes, it's overwritten every time.

[2017-05-14 00:15] gibfahn commented on #720
I lied, the plan [can't be repeated](https://testanything.org/tap-version-13-specification.html), I tested it and it still breaks the TAP parsing plugin. The easiest solution is to use Subtests that Jenkins can understand (see the [plugin docs](https://wiki.jenkins-ci.org/display/JENKINS/TAP+Plugin)):

I've confirmed that this works in a [test job](https://ci.nodejs.org/view/All/job/gibfahn-tmp/4/

[2017-05-14 00:16] Trott commented on #719
@gibfahn Yikes! That was weeks ago! I have no idea if anyone fixed it or not. /ping @jbergstroem

[2017-05-14 00:51] gibfahn opened #721 "IPv6 localhost isn't defined in /etc/hosts on AIX"
[This `ws` test](https://github.com/websockets/ws/blob/master/test/WebSocket.test.js#L93-L103) is failing on CitGM because our AIX boxes are missing the `::1             localhost` line from `/etc/hosts`, despite having IPv6 enabled. I have confirmed that appending that line fixes the issue (I then removed it again).

[code]

I'd suggest we add this to `/etc/hosts` on the machines, and also to the

[2017-05-14 02:56] refack commented on #720
I started writing the PR... ✍️

[2017-05-14 12:17] gibfahn commented on #719
The amount you can do without Jenkins or machine access is limited though. The [ansible work](https://github.com/nodejs/build/issues/712) is hopefully a good way in.

[2017-05-14 14:17] refack opened #722 "add `VS_VERSION=vs2015,label=win2008r2` option to `node-stress-single-test`"
Most often flaky test fail on `VS_VERSION=vs2015,label=win2008r2` but I don't know who to run a `win2008r2` with `VS_VERSION=vs2015`
e.g.
https://ci.nodejs.org/job/node-test-binary-windows/8471/
https://ci.nodejs.org/job/node-test-binary-windows/8362/
https://ci.nodejs.org/job/node-test-binary-windows/8402/

[2017-05-14 16:09] gibfahn commented on #722
Easiest way to add this would probably be a choice parameter for `VS_VERSION`, with the same choices as the `test-binary` job (`vs2013 vs2015 vcbt2015 vs2015-x86`). It'd only be used if a windows build was chosen from the dropdown.

Happy to add this if there are no objections (cc/ @joaocgreis @Trott )

[2017-05-14 18:46] Trott commented on #722
I'm a frequent user of the stress tests but not knowledgable about the configuration etc. @joaocgreis is the authority AFAIK.

[2017-05-14 19:26] gibfahn commented on #722
Yeah, I was looking for user feedback from you and Jenkins feedback from João.

[2017-05-15 15:31] joaocgreis commented on #722
All our Windows 2008 machines have VS2013 installed (and should be only VS2013 - having only one version is good armor against errors in config scripts). We need to have VS2013 in the Windows 2008 machines to cover building addons tests with VS2013 as part of `node-test-binary-windows`.

But since we dropped VS2013 to build node, the stress-tests job is useless for Windows 2008. I believe the best

[2017-05-15 16:29] mhdawson commented on #718
@gibfahn that specific example makes a good point. Maybe I should have said that we should take it into consideration.   It is also an argument for the "its supported as long as the OS is".  Personally I'm ok with that, although if an OS is going to go EOL the month after the release then maybe just not supporting it at all makes sense.

[2017-05-16 06:41] targos opened #723 "update clang on FreeBSD 10"
Ref: https://github.com/nodejs/node-v8/issues/1

Latest V8 cannot be compiled with version 3.4.1. We should try to update to 3.4.2 and see if that fixes the crash.

/cc @jbergstroem

[2017-05-16 13:35] mhdawson opened #724 "Potential Mac provider"
A colleague at IBM was co-coordinating hardware donations for https://adoptopenjdk.net/ and mentioned that several providers had donated vms for OSX.  They recommended we approach MacInCloud to see if the would do the same for Node.js.

@rvagg any concern if I approach them to see if they would be willing to donate ?

[2017-05-16 16:34] serenam18 opened #725 "New Node.js Store"
Hello!

We have re-vamped our node.js store and need to repoint it.

Can you please point this new site, https://node-js-community-store.myshopify.com/

to: store.nodejs.org

Thank you so much for your help!

[2017-05-16 22:18] jbergstroem commented on #723
Ok, I will open a PR tomorrow.

[2017-05-16 22:24] mhdawson commented on #724
In further discussion he also mentioned macstadium, but I think that I remember @rvagg had already been talking to them.

[2017-05-17 13:55] mhdawson opened #726 "Potential OSUOsl outage"
FYI - Not sure if this will affect our Linux on P and AIX machines but there is the possibility:

Please make a note of the following maintenance of our ISP's connectivity the Internet Exchange at Portland, which would cause service interruptions only for our Corvallis, OR facilities on Thursday.

​Planned Start: May 18, 2017 12:00AM
Expected End: May 18, 2017 6:00AM

​If you have any questions, p

[2017-05-18 20:02] piccoloaiutante commented on #716
@mhdawson let us know when your short summary is ready. I'll close this issue in the meantime.

[2017-05-18 20:02] #716 closed

[2017-05-18 20:45] mikeal commented on #725
I think this is just a Coudflare config thing. /cc @jbergstroem @rvagg

We really need to stop getting orders to the old site.

[2017-05-18 21:28] jbergstroem commented on #725
Just checked cloudflare:
<img width="684" alt="screen shot 2017-05-18 at 5 28 12 pm" src="https://cloud.githubusercontent.com/assets/176984/26224226/6546e370-3bef-11e7-8bad-ac6c0c0b4691.png">

..am I missing something? Are we all good?

[2017-05-19 09:24] mcollina commented on #666
@gibfahn any update on the work you started during the Collab Summit?

[2017-05-19 16:46] mhdawson commented on #726
Time has passed and OSU machines are online. Closing.

[2017-05-19 16:46] #726 closed

[2017-05-19 16:47] mhdawson commented on #721
@gibfahn can you go ahead and do that ?

[2017-05-19 16:47] mhdawson commented on #724
@rvagg ping ?

[2017-05-19 16:48] mhdawson commented on #686
Time has passed, softlayer machines seem to be online. Closing.

[2017-05-19 16:48] #686 closed

[2017-05-19 16:57] gibfahn commented on #721
Added to both test machines, PR is #728

CI run on AIX to make sure everything's still kosher: https://ci.nodejs.org/job/node-test-commit-aix/5980/

[2017-05-19 18:26] #721 closed

[2017-05-19 21:49] joaocgreis opened #729 "Jenkins build.xml files size"
According to https://issues.jenkins-ci.org/browse/JENKINS-19022 , the Jenkins Git plugin stores information on `build.xml` that seems pointless in our use case. A warning is print in every run, pointing to a page with a workaround:

There was at least one PR to address this that did not land (https://github.com/jenkinsci/git-plugin/pull/163) and another one that was reverted (https://github.com/je

[2017-05-20 00:13] gibfahn opened #730 "Fix test-rackspace-fedora22-x64-1"
So [`test-rackspace-fedora22-x64-1`](https://ci.nodejs.org/computer/test-rackspace-fedora22-x64-1/) is still offline, apparently it was failing to build.

I think this is what is causing builds to back up at the moment, so it would be good to get it back.

@Trott I'm sure I brought this up somewhere a couple of days ago, but I can't find that comment for the life of me. Do you remember what exactl

[2017-05-20 02:20] Trott commented on #730
@gibfahn https://github.com/nodejs/build/issues/719#issuecomment-301282466

[2017-05-20 14:51] jbergstroem commented on #730
Wipe it!

[2017-05-21 14:56] refack opened #731 ""Rebasing is not supported" for CITGM @ win10"
When you want to run CITGM for a PR rebased on a ref that has a base line CITGM run
e.g. https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/808/nodes=win-vs2015/parameters/
[code]

[2017-05-21 15:01] refack commented on #325
Cross ref: #705

There's an issue of racing with humans/concurrent jobs. That's where the concept of a queue comes into play.

[2017-05-21 22:51] refack opened #732 "All 3 macOS workers are down :("
As of 2017-05-21 2pm EDT
https://ci.nodejs.org/label/osx1010/
![image](https://cloud.githubusercontent.com/assets/96947/26288044/7aac754a-3e56-11e7-8070-06f06af99311.png)

[2017-05-22 00:17] rvagg commented on #732
I'm working on it right now fyi

[2017-05-22 00:47] refack commented on #732
BTW: I think I crashed it with https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/809/nodes=osx1010/

[2017-05-22 01:25] rvagg commented on #732
whole machine was down, so something dramatic happened

all sorted now

[2017-05-22 01:25] #732 closed

[2017-05-22 01:30] refack commented on #732
Bless your soul... 🙏

[2017-05-22 08:07] joaocgreis commented on #731
Added, should be working now.

@nodejs/citgm I removed the `POST_REBASE_SHA1_CHECK` (it was introduced for accept-pr, was always broken and should be removed everywhere). Let me know if you used it for something.

[2017-05-22 08:07] #731 closed

[2017-05-22 11:06] targos commented on #688
There is an issue on Ubuntu 12.04 with V8 5.9 and 6.0: https://github.com/nodejs/node-v8/issues/2
I am +1 for retiring or disabling this buildbot before the 8.0.0 release.

[2017-05-22 11:29] refack opened #733 "rejuvenate "citgm-smoker-nobuild" job"

[2017-05-22 11:42] gibfahn commented on #733
Are you talking about [citgm-smoker](https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/) and [citgm-smoker-nobuild](https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker-nobuild/)?

If so then yeah, we should make them identical. In fact there's no reason we shouldn't just have the one job. I set up `nobuild` because I didn't want to break the main smoker run while testing the `nobuild

[2017-05-22 11:45] refack commented on #733
<sub>Sorry clicked enter (read: submit form) 🤦‍♂️ when writing the title</sub>

## `citgm-smoker`:
* command: `citgm-all -J`
1. aix61-ppc64
2. debian8-64
3. fedora22
4. fedora23
5. osx1010
6. ppcbe-ubuntu1404
7. ppcle-ubuntu1404
8. rhel72-s390x
9. ubuntu1204-64
10. ubuntu1404-64
11. ubuntu1604-64
12. win-vs2015 __+__

## `citgm-smoker-nobuild`:
* command: `citgm-all`
1. aix61-ppc64
2. centos5-64 _

[2017-05-22 11:47] refack commented on #733
I think it could be very useful job by using the nightly as a baseline, also for quick testing specific packages vs. platform.

[2017-05-22 13:35] refack commented on #688
Cross-ref: https://github.com/nodejs/build/issues/730
There is only one `fedora22` worker, and it gets clogged (>6hr wait) a few times a week.

[2017-05-22 16:12] gibfahn commented on #688
There [are actually two machines](https://ci.nodejs.org/label/fedora22/), but I agree that the lack of redundancy is an issue.

[2017-05-22 17:10] bnoordhuis commented on #688
So, anyone going to put it out to pasture?

[2017-05-23 14:32] refack opened #734 "help needed with CITGM-smoker@rhel72-s390x"
https://ci.nodejs.org/job/citgm-smoker/nodes=rhel72-s390x/
From the console output it seems that the tests are finished (`sodium-native` is that last module to test)  but the run does not complete, so the results are not parsed.
/cc @nodejs/citgm maybe the process doesn't exit?

[2017-05-23 14:53] refack commented on #734
Cross-Ref: https://github.com/nodejs/citgm/issues/423

[2017-05-23 15:11] refack commented on #734
PR opened: nodejs/citgm#424
I'm keeping this open until confirmed fix.

[2017-05-23 15:13] joaocgreis commented on #671
@indutny please let us know when you no longer need access, or when we can connect the machine back to CI even if you'd like to keep access. Thanks!

[2017-05-23 18:33] mhdawson commented on #724
@nodejs/build any objections ?  Otherwise I'll approach them to see if they might be an option.

[2017-05-23 19:37] mhdawson commented on #688
How about we update the main regression job so that in master it skips fedora22, at least until we come to agreement here ?

[2017-05-23 19:57] gibfahn commented on #724
SGTM. Probably worth reaching out to macstadium as well, just in case anything's changed since last time.

[2017-05-23 20:29] gibfahn commented on #688
Done

[2017-05-23 21:51] refack commented on #688
☺️
Could you take it out of the CITGM jobs as well.

[2017-05-23 22:18] mhdawson commented on #688
@gibfahn I think that will remove it for all versions (4.x, 6.x etc) as well ?
I was thinking we'd need to tweak the job to not run if the node version was 8 or higher and instead simply "pass".

That would not remove coverage for older streams while taking the pressure off since most runs are on master.

[2017-05-23 22:45] gibfahn commented on #688
Added this to the job instead:

[code]

[2017-05-24 11:43] joyeecheung commented on #718
IMO if there is no significant problem building Argon and Boron on CentOS5, then keep building them on CentOS5 will at least give people enough time to upgrade to a newer OS without having to build a binary themselves.

[2017-05-24 15:49] mhdawson commented on #688
Thanks that is what I originally had in mind.

[2017-05-24 16:17] gibfahn commented on #718
The fact that there are no more updates means that we won't get security patches, which isn't really acceptable for our main build machine. RHEL 7 has been out for almost 3 years, and RHEL 6 for 6 years.

People can continue to use Node 6.10.3 for as long as they like, but if they don't get updates for their OS then they probably don't update their Node instance. The [supported platforms](https://

[2017-05-25 01:53] joyeecheung commented on #718
From my experience this is not usually true in an enterprise if the OS is managed by one team and the application runtime is managed by another team, as you don't have to use the global node in `PATH` to run an application so they could be updated separately. (Same goes for desktop OS where people are using Node to build GUI applications, although that's usually Windows).

AFAIK not safely for sur

[2017-05-25 03:07] joaocgreis commented on #527
Node-ChakraCore now supports Ubuntu 14.04. Deployed a Ubuntu 14.04 release server to replace 16.04 with https://github.com/janeasystems/build/commit/622ea305cccf4c06a9a7648e1dd0f4205ef8cb9b .

[2017-05-25 08:42] bnoordhuis commented on #718
The issue I have with saying "yes, we'll keep on supporting centos 5" is that keeping the code base working with obsolete technology often requires a disproportionate amount of effort.

Case in point: the fix we had to develop and the buildbot we had to bring up to work around bugs in clang 3.4.1 that had been fixed in 3.4.2.

The case of centos 5 is doubly aggravating because anyone still using i

[2017-05-25 08:46] targos commented on #723
ping

[2017-05-25 22:58] misterdjules commented on #492
#606 was merged a while ago, so closing. Thank you very much @jbergstroem!

[2017-05-25 22:58] #492 closed

[2017-05-25 23:07] refack opened #736 "smartos16 not available for node-stress-single-test"
Ref: https://github.com/nodejs/node/issues/13227

[2017-05-26 03:46] Trott commented on #736
/cc @joaocgreis

[2017-05-26 07:11] piccoloaiutante commented on #724
SGTM too. I would go ahead to see if there is anyone that could support us..

[2017-05-26 07:20] bnoordhuis commented on #599
Backref to https://github.com/nodejs/node/issues/13219 which was about the fips tarball download failing.

[2017-05-26 07:21] piccoloaiutante opened #737 "Build WG meeting 30th May 2017 at 4 EST"
### When

May 30, 2017 4 PM EST - [time in your timezone](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Build+WG+Meeting&iso=20170530T20&p1=1440&ah=1)

### Where
- [Hangouts on Air, for participants](https://hangouts.google.com/hangouts/_/ytl/WnAkVlNCy469TJma6aMz8G74fekbMND1M9SNl9eJ0hE=?eid=100598160817214911030)
- [Youtube stream, for viewers](https://www.youtube.com/watch?v=5

[2017-05-26 09:27] gibfahn commented on #711
@nodejs/build this is currently our only agenda item, so it'd be good if we could weigh in on this.

[2017-05-26 09:43] gibfahn opened #738 "Add /home/iojs/cores to smartos ansible scripts"
IIUIC we aren't currently creating the `/home/iojs/cores` directory on our smartos boxes, which means that coredumps aren't saved when something goes wrong. We should create this directory in our [ansible scripts](https://github.com/nodejs/build/tree/master/ansible).

I _think_ this only needs to be done on smartos test machines.

@jbergstroem correct me/this if I'm wrong.

Refs: https://github.co

[2017-05-26 10:44] gibfahn commented on #718
sure, but from my experience if the devops team managing the OS haven't seen the need to upgrade the system in the last 6 years, they probably won't do it until they have to, which will be when the next Node binary stops working and the applications team start pestering them.

[2017-05-26 15:06] misterdjules commented on #738
Thank you!

[2017-05-26 16:21] jbergstroem commented on #724
We have an open connection with macstadium; it just depends on us figuring out the way we can better show the support that is provided to us. @rvagg wanna chip in here?

[2017-05-26 16:32] jbergstroem commented on #723
Truly sorry :( $wrk, etc etc. I will get to it as soon as I can; likely tomorrow morning.

[2017-05-26 16:57] jbergstroem commented on #738
@gibfahn sounds about right! PR welcome.

[2017-05-26 20:21] mhdawson commented on #724
Ok, I'll look to contact MacInCloud next week to see where that goes.

[2017-05-28 03:48] refack opened #739 "idea: maybe gate on results of `linuxone`"
AFAICT `linuxone` can finish a run very quickly
![image](https://cloud.githubusercontent.com/assets/96947/26525961/16e889b0-4336-11e7-8e8f-fd8486995ed5.png)
hence it can be an excellent sanity tester.
1. Maybe have it as a gate for `node-test-commit`, if there is a failure (if possible check if it's related to change) don't fan out to the other platforms (saving on resources).
2. Maybe have it aut

[2017-05-29 12:15] rvagg commented on #718
See https://github.com/nodejs/build/pull/740, added 2 new hosts and some Jenkins config to make this >=8.0.0, still testing but if all goes well and there are no objections, 8.0.0 should be libc 2.12 instead of 2.5. Built using devtoolset-2 so same gcc as we are using on CentOS 5 still.

[2017-05-29 13:08] rvagg commented on #718
Existing builds:

[code]

New builds for Node 8:

[code]

So technically I think that means we maintain Debian 5 (Lenny) & Ubuntu 8.04 support (yay?) since we're not even reaching up to 2.12.

There's a test build @ https://nodejs.org/download/test/v8.0.0-test201705296aa5896d1b14eb59d4d2c5b1a725b8eed1abfa64/ if anyone else wants to poke at it.

[2017-05-29 14:30] mhdawson commented on #739
Its an interesting idea.  linuxone does finish much faster than the others. @jbergstroem what's your thought ?

[2017-05-29 14:31] mhdawson commented on #698
adding to agenda for this weeks meeting.

[2017-05-30 02:09] joaocgreis commented on #736
Added. Let me know if there's any issue.

[2017-05-30 02:09] #736 closed

[2017-05-30 08:20] targos commented on #626
The nightly test job works fine and allowed to find and fix quickly some issues.
[Latest run is almost green](https://ci.nodejs.org/job/node-test-commit-node-v8/30/) (known issue on FreeBSD: https://github.com/nodejs/node-v8/issues/1, https://github.com/nodejs/build/issues/723).

@gibfahn would you like to help me setup the nightly build?

[2017-05-30 09:25] gibfahn commented on #626
So this would be adding a trigger to the release CI job to upload builds every night? I can definitely help with that, but I'll add this to the Build WG agenda tonight to make sure there are no objections.

[2017-05-30 12:34] targos commented on #626
Yes. I'm thinking about a new https://nodejs.org/download/v8-nightly/ similar to https://nodejs.org/download/chakracore-nightly/

[2017-05-30 12:54] refack commented on #736
Thanks!

[2017-05-30 19:33] mhdawson commented on #737
I've created the youtube meeting, and will add the link for participants a few minutes before the meeting starts.

[2017-05-30 19:55] ofrobots commented on #55
Would it be possible to allow a rsync over ssh?

[2017-05-30 19:56] jbergstroem commented on #55
@ofrobots that means we'd have to figure out some kind of ssh jail, right?

[2017-05-30 19:57] ofrobots commented on #55
Yup. Has this been considered? I haven't seen this discussed anywhere.

[2017-05-30 20:04] mhdawson commented on #737
sorry I'm a bit late: https://hangouts.google.com/hangouts/_/ytl/WnAkVlNCy469TJma6aMz8G74fekbMND1M9SNl9eJ0hE

[2017-05-30 20:05] kfarnung commented on #737
@mhdawson I'm not seeing the meeting participant link.

[2017-05-30 20:05] piccoloaiutante commented on #737
i can't enter, it seems unauthorised

[2017-05-30 20:06] mhdawson commented on #737
Let me cut/paste again

[2017-05-30 20:06] mhdawson commented on #737
https://hangouts.google.com/hangouts/_/ytl/WnAkVlNCy469TJma6aMz8G74fekbMND1M9SNl9eJ0hE=?eid=100598160817214911030

[2017-05-30 20:08] mhdawson commented on #737
For those watching will start broadcast in a few mins, just giving people a bit more time to join.

[2017-05-30 20:08] refack commented on #737
You going on air? I love watching you guy 😄

[2017-05-30 20:11] rvagg commented on #737
getting a 403 for the latest url

[2017-05-30 20:12] gibfahn commented on #737
@rvagg Odd, it works for everyone else.

[2017-05-30 20:12] rvagg commented on #737
nevermind .. copy/paste doesn't work for the url from github FOR SOME STUPID REASON

[2017-05-30 20:18] gibfahn commented on #711
+1 from me (to be explicit)

[2017-05-30 20:18] mhdawson commented on #711
Agreed in meeting, welcome. :)

[2017-05-30 20:25] gibfahn commented on #711
@jbergstroem can you arrange the onboarding?

[2017-05-30 20:53] rvagg opened #741 "Build prospectus for hardware donors"
A document of some kind listing the benefits that you can get from donating infrastructure to the project.

Current:

* Mention in our README, including logo for corporate donors
* Name in CI hosts that are publicly accessible and regularly discussed on the Node.js repo by contributors

Potential (please contribute to this list):

* Copy content onto our website (https://github.com/nodejs/nodejs.o

[2017-05-30 20:56] rvagg commented on #741
* Mentions in conferences - gather a list of talks

[2017-05-30 20:57] gibfahn commented on #741
For the website, something like https://adoptopenjdk.net/sponsors.html would be ideal.

[2017-05-30 20:57] rvagg commented on #741
* Quotes from us for use on their material, within reason, e.g. scaleway quotes from me

[2017-05-30 21:07] jbergstroem commented on #55
@ofrobots http://nginx.org/en/docs/http/ngx_http_autoindex_module.html

[2017-05-30 21:09] gibfahn commented on #55
Using https://nodejs.org/dist/index.json was suggested in the meeting, @ofrobots let us know whether that works for you.

[2017-05-30 21:10] jbergstroem commented on #55
[slight hijack here] According to documentation, autoindex is compiled in by default, so I'll see what we can do here.

[2017-05-30 21:11] rvagg opened #742 "Cloudflare log processing for metrics"
We're in a bit of limbo here, mainly because it's been fully on me and we know how that's working out lately!

Current status: we're load balancing with CF now so there's a fallback server in place so if the main one goes down it'll switch to serving the backup. But we still need to fully detach the /downloads/ content from CF so that it can serve it from cache. The blocker is that we need to be a

[2017-05-30 21:18] refack commented on #742
I'll take this on (unless someone with access wants to).
In this case I'll need the samples.

[2017-05-30 21:23] refack commented on #742
Send me the code and a sample of input and output. I'll manage.

[2017-05-30 21:35] refack commented on #742
Is this the API you're using? https://support.cloudflare.com/hc/en-us/articles/216672448-Enterprise-Log-Share-REST-API

[2017-05-30 22:04] jbergstroem commented on #742
@refack yes.

[2017-05-30 22:27] gibfahn commented on #711
From what I understood @piccoloaiutante is cross-platform user (main machine is a mac etc.), he's just been doing lots of Windows stuff because that's where there were things to be done. But it definitely makes sense to have @joaocgreis involved anyway.

[2017-05-30 23:43] jbergstroem commented on #711
Then I'll have first dibs :) I'll set it up

[2017-05-31 00:04] jasongin opened #743 "headers.tar.gz packages are missing from recent nightly builds"
The nightly build directories from 4 days ago and prior include `headers.tar.gz/.xz` packages, as expected:
 - https://nodejs.org/download/nightly/v8.0.0-nightly20170527f84666f923/

But those packages are missing from the last 3 nightly builds:
 - https://nodejs.org/download/nightly/v8.0.0-nightly2017052890877003c1/
 - https://nodejs.org/download/nightly/v8.0.0-nightly2017052910913271bf/
 - https:

[2017-05-31 07:44] piccoloaiutante commented on #711
Thank guys for the on boarding. Let say that my background is on windows but I've been using other operating systems for a while. Also for me it's easy to get new VM on my laptop on whatever windows version we want as I have and MSDN subscription.

[2017-05-31 08:06] bnoordhuis opened #744 "rfc: revoke collaborator CI access after $x months inactivity"
Strawman proposal: $x == 3

Rationale: inactive accounts are a security liability.

This need not be a sensitive, think-of-the-feels issue: a revoked account is easy to reinstate if the collaborator becomes active again.

I'm 80% sure Jenkins has the necessary functionality baked in but I don't know if it works with GitHub auth.

Also, anyone have suggestions on the appropriate labels?  Infra, enh

[2017-05-31 09:34] gibfahn commented on #744
Seems like a good idea in general, but I don't see anything in Jenkins to make this work with Github auth.

If we're going to do this I think it would be better to organise it with the Github teams, that way anyone who's a member can see who is in the inactive list (otherwise you could lose access and not be able to tell why).

This seems related to the CTC emeritus labels, maybe we should have an

[2017-05-31 09:38] bnoordhuis commented on #743
https://github.com/nodejs/node/issues/12719#issuecomment-304941983 is relevant, error when building the documentation with `make doc`:
[code]

[2017-05-31 09:47] bnoordhuis commented on #744
That's currently under discussion in the CTC but the rules around that will probably be much looser than what is appropriate for CI access, hence this issue.

[2017-05-31 13:12] mhdawson commented on #744
When you say CI access, you just mean the ability to start jobs right ?   I think that is all regular collaborators can do in the CI over what unauthorized users can do.

[2017-05-31 14:49] bnoordhuis commented on #744
Yes.

That and use authenticated exploits as a jumping board. :-)

[2017-05-31 17:09] jbergstroem commented on #744
I've been a fan of enforcing this for the build group seeing how we have access to a lot of machines. The tricky part is that we have to re-roll the keys (which we have an ansible script for) which means we should probably just have a purge every 6-or-so months. Sorry for potentially hijacking the thread.

[2017-05-31 19:40] mhdawson commented on #743
Strangely make doc seemed to fail before this PR landed and passed afterwareds https://github.com/nodejs/node/pull/13274

[2017-05-31 19:41] mhdawson commented on #743
It failed in generating errors.md which was the one changed by that PR.

[2017-06-01 00:33] joaocgreis commented on #711
@jbergstroem happy to join, let me know when!

[2017-06-01 15:23] mhdawson commented on #743
@jasongin can you check if last nights builds were ok ?   I'm  wondering if the PR I mentioned fixed the doc issue.

[2017-06-01 15:58] gibfahn commented on #743
Header packages are there in the latest nightly (assuming this is the right one):

https://nodejs.org/download/nightly/v9.0.0-nightly20170531102e1aa4e3/

![image](https://cloud.githubusercontent.com/assets/15943089/26688778/86b49dca-46eb-11e7-9de4-e8dafa41bf41.png)

[2017-06-01 16:57] jasongin commented on #743
Yes, the latest nightly build looks good. Closing.

[2017-06-01 16:57] #743 closed

[2017-06-01 17:25] qbit commented on #677
There is also this now: https://github.com/joyent/openbsd-kvm-image-builder

[Hopefully](https://github.com/joyent/freebsd-kvm-image-builder/issues/1#issuecomment-303732957) the images show up on Joyent's production env soon!

[2017-06-02 02:36] ChALkeR commented on #580
@egee-irl That is completely unrelated to the issue here. As already said above, snap (afaik) does not have the concept of runtimes, and the minor things like plugins that simplify builds are unimprotant as they (and should) be managed outside of Node.js (i.e., in/by snapcraft itself).

On the contrary, flatpak runtime is (ideally) supposed to be managed by the software/platform authors themselves

[2017-06-02 13:45] mhdawson commented on #741
Talked to Tracy about

* Badge and/or authorised sponsorship wording they can list on their website, e.g. "Proud infrastructure sponsor of the Node.js project"
* Regular tweets from @nodejs

Response was positive, and she's going to ask the team at the Foundation to look at how they can help make these happen.

[2017-06-02 14:03] mhdawson commented on #737
PR for minutes: https://github.com/nodejs/build/pull/745

[2017-06-02 14:04] mhdawson commented on #734
Looks like nodejs/citgm#424 landed.  Closing.  Please re-open if thats not the right thing to do.

[2017-06-02 14:04] #734 closed

[2017-06-02 14:06] mhdawson commented on #677
@gireeshpunathil do you still need access ?

[2017-06-02 14:18] gireeshpunathil commented on #677
The test runs in [#1279](https://github.com/libuv/libuv/pull/1279#issuecomment-305798351) indicated that the darwin code cannot run as it is in *BSD* systems as it is, and needs proper porting.

At the moment, the discussion is on in the PR about viability of PR in v1 vs. v2, so I think I will delay further work on this system(s) until that is resolved. So you may please revoke the access. Thanks!

[2017-06-02 15:17] refack commented on #734
👍 Yep, #424 solved this.
General issue covered by https://github.com/nodejs/citgm/issues/426

[2017-06-02 18:54] refack opened #746 "jenkins: ping users"
It would be nice if Jenkins would ping (i.e. e-mail) users, on job completion.
A possible list:
1. The user who started the job
2. For PRs the OP (or tell the bot to add a comment)
3. [future] for breakage on `master` all commit authors since last green

Since jobs take some time and some of us are a bit ADHD ( :shipit: me ⚡️ ) with melignent [tabitis](http://www.urbandictionary.com/define.php?ter

[2017-06-05 09:36] rvagg commented on #626
fyi I have this on my plate, still working on it, it's not a trivial task unfortunately because it also involves the `Makefile` in core. In the meeting we talked about using "v8-canary" since it roughly aligns with the V8 in Chrome Canary. I'm fine with either that or "v8-nightly". Can we get a consensus here on naming?

[2017-06-05 09:53] gibfahn commented on #626
I prefer `v8-canary`, I think it better conveys that it's V8 canary and Node master/nightly.

[2017-06-05 11:25] gibfahn commented on #677
Keys removed.

[2017-06-05 11:25] #677 closed

[2017-06-05 16:54] targos commented on #626
v8-canary is fine for me

[2017-06-05 17:40] kfarnung commented on #626
+1 on `v8-canary`.  `chakracore-nightly` tracks a relatively stable version of ChakraCore (just like normal node nightly builds).

[2017-06-05 19:01] piccoloaiutante commented on #626
+1 for `v8-canary` also for me

[2017-06-05 19:28] piccoloaiutante commented on #744
@jbergstroem a 6 month window seems a more appropriate time window to understand if someone become inactive. +1 for the `build-alumni` group @gibfahn so we can move them back quickly if they become active again.

[2017-06-05 19:33] jbergstroem commented on #711
Can you guys do tomorrow or Wednesday? Your later pm, my not-as-late pm?

[2017-06-05 19:35] piccoloaiutante commented on #711
@jbergstroem Wednesday works for me, if it's not too long we ca do it after dinner around 9 PM CET if that is better for you.

[2017-06-05 19:35] jbergstroem commented on #711
@piccoloaiutante 9pm CET is ok for me. @joaocgreis ?

[2017-06-05 20:31] mhdawson commented on #737
Minutes landed, closing.

[2017-06-05 20:31] #737 closed

[2017-06-05 20:33] mhdawson commented on #698
Ok agreed on alternating between 20 and 22 UTC.  I just updated the Foundation calendar.  Let me know if it does not match what's expected.  Closing.

[2017-06-05 20:33] #698 closed

[2017-06-05 23:00] joaocgreis commented on #711
Works for me as well. I'm assuming you mean CEST, that is 7 PM UTC, 9 PM in Italy, 3 PM in Santiago.

[2017-06-06 00:36] mhdawson commented on #741
Once we are ready on our side to generate tweets pointing to the donor list, we are ready to setup with Zibby at the foundation to start sending them out.  We can either wait until we've move it to nodejs.org or simply start with the pointer to the existing doc in our README.md.  I'm tempted to just start by pointing to the existing README.md and then update once we have moved.  Thoughts ?

[2017-06-06 01:43] refack opened #747 "update `nodegyp-test-pull-request`"
Re: https://github.com/nodejs/node-gyp/pull/1212
1. We should add `node8` to the fan
2. For `node-gyp@4.x.x` we will only support node >= 4
    `node-gyp@3` will go into "LTS"

So I assume we need a matrix?

[2017-06-06 06:19] bnoordhuis commented on #747
I wasn't planning on maintaining  branches for v0.10 and v0.12 once we bump major.  Was anyone else and if so, why?

[2017-06-06 06:56] piccoloaiutante commented on #711
@joaocgreis yes i meant CEST :)

[2017-06-06 08:57] joaocgreis commented on #747
- Added Node version 8
- Node versions 0.x will only run if node-gyp < 4 (so this will simply work if we ever create a v3.x branch)

I believe that takes care of it, so I'll close. Please reopen if I missed something.

[2017-06-06 08:57] #747 closed

[2017-06-06 10:50] refack commented on #747
https://github.com/nodejs/node-gyp/pull/1212#issuecomment-305539119 If someone finds a new bug (especially on Windows, ["Windows user are not happy"](https://github.com/nodejs/node-gyp/issues/629) and all that Jazz) 🤷‍♂️ personally I have no problem helping them.
So maybe LTS is the wrong comparison, more like "lazy-copy-on-write-maintenance"?

[2017-06-06 10:54] refack commented on #747
@joaocgreis 👍 Looking good
https://ci.nodejs.org/job/nodegyp-test-pull-request/27/

[2017-06-06 11:00] refack commented on #747
Re: https://github.com/nodejs/node-gyp/commit/75cfae290fee1791a23fa68820ae5dd841e93e14
If I jumped the gun, shoot me.

[2017-06-06 14:04] jbergstroem commented on #711
SGTM!

[2017-06-06 15:24] gibfahn commented on #747
I think the right statement is "we might consider doing another release on a case-by-case basis".

[2017-06-07 11:37] fhemberger opened #748 "Use different compression format than .xz? (Considered unreliable)"
Just stumbled over this article, maybe we should consider changing the compression format for builds: http://www.nongnu.org/lzip/xz_inadequate.html

Quote:

[2017-06-07 15:05] jbergstroem commented on #748
Meh. I've seen that before as well. My take is that we're going to have a hard time to find a universally installed compression algorithm that is as efficient. If it works for the linux kernel and most linux distributions, it works for me.

If data validation is a bigger concern to you, using git and/or .tar.gz is likely a better choice.

[2017-06-07 22:54] rvagg opened #749 "Major outage right now"
Power company has shut me down just now. ARM cluster is offline as is the primary osx build / release machines. This could last for up to ~5 hours apparently, will keep updated as I know more. Sorry for the lack of notice.

@nodejs/release no releases possible just yet.

[2017-06-07 22:55] mikeal commented on #749
This is a good time to figure out what service we want to pay for to get OSX builds. Budget is already allocated for it by the board.

[2017-06-07 23:01] jbergstroem commented on #749
I don't think downtime is a good time to talk about future plans, but I'll bite. We already have the initiatives (#724, #741 or the classic #367) to get mac resources in place. To me, it seems we lack man hours. As you can see, we think the main issue is lack of sponsorship visibility which could be seen as a marketing effort. Suggestions on how to improve and speed up?

[2017-06-07 23:04] joaocgreis commented on #671
@indutny the machine is back in the CI pool, let me know if you want to have it back exclusively.

[2017-06-07 23:39] rvagg commented on #749
Not unreasonable @mikeal, we've been in a limbo situation with our osx resources for a bit too long. We decided on some concrete steps we need to take ASAP and we've also looped in @mhdawson to the process so we're not reliant on fragile and unreliable dependencies (me). Best to take discussion on specifics to email at this stage though.

[2017-06-07 23:43] jasnell commented on #749
@rvagg ... For the arm cluster, have you written up a detailed description of what it would take to set up an equivalent mirror? If not, that would be quite helpful.

[2017-06-07 23:57] mikeal commented on #749
@jbergstroem we have budget allocated to pay a provider. I'm not saying we shouldn't pursue donors but we should get setup on a paid provider if only for the reliability if a donor goes down.

[2017-06-07 23:58] jasnell commented on #749
@rvagg ... It would be helpful to have a post mortem write up of this (and all outages really) to the CTC/TSC once it's resolved. We need to have more visibility into these kinds of things.

[2017-06-08 00:19] rvagg commented on #749
:thumbsup: @jasnell, FYI we're tracking to a point where the only difficult to duplicate resource is armv6 and we already have a precedent of allowing releases to go out without those. OSX is about to be sorted (just got good news via email on that front @mikeal) and armv8 has two new providers stepping up to take the load off the noisy boxes in my garage (I might decommission those entirely when

[2017-06-08 01:47] rvagg commented on #749
We've just successfully kicked off a relationship with MacStadium, initially with a 6 month relationship with a review after that to see how it's working. Still working on setting up some resources but this will nix the weakest point in our infra at the moment! Will give more details soon but thought the good news is worth sharing.

[2017-06-08 02:04] jbergstroem commented on #749
Just want to add that I'm also involved in both setting up the new MacOS cluster as well as offloading ARM to new sponsors. Downtimes like these shouldn't have to be a driver for improvement, but usually ends up being anyway (remember digital ocean issues?).

[2017-06-08 06:15] rvagg commented on #749
all working again, I also took the opportunity to do some minor maintenance across the Pi's

[2017-06-08 06:15] #749 closed

[2017-06-08 12:46] mhdawson opened #751 "Power outage at OsuOSL"
There was a power outage last night and all machines were shut down.

They are being restarted now (8:45 AM EST)

[2017-06-08 12:57] mhdawson commented on #751
Looks like the p-linux machines were actually back on-line at 2:15 AM.

The AIX ones are back on-line now and building.  Will check that the builds are successful.

[2017-06-08 13:12] mhdawson commented on #751
AIX builds have passed on both test machines.

[2017-06-08 13:13] mhdawson commented on #751
Release build is running on AIX, waiting for that to complete before closing this issue.

[2017-06-08 13:31] mhdawson commented on #751
Release build completed on AIX as well, and linux on P builds had completed earlier.

Looks like everything is back and working.

[2017-06-08 13:31] #751 closed

[2017-06-08 13:44] refack commented on #749
No mining cryptocurrency with the spare cycles?
https://www.bleepingcomputer.com/news/security/linux-malware-mines-for-cryptocurrency-using-raspberry-pi-devices/

[2017-06-09 02:52] rvagg commented on #749
OK so the pi cluster is back to "healthy" again, my guess is simply that it's poor nfs performance to blame, because I cleared out workspaces after restarting everything it had to start from scratch but that leads to all of these machines simultaneously reading and writing over the network.

The disk can handle it, the server should be able to handle it, the individual machines should be able to h

[2017-06-09 03:15] refack commented on #749
For my experience CIFS is not better than NFS

[2017-06-09 05:29] rvagg commented on #626
OK folks, here it is https://nodejs.org/download/v8-canary/

I did some pretty heavy refactoring of the Jenkins iojs+release job on ci-release to make this work nicely but in the process I cleaned up a bunch of old cruft and made it easier to trigger.

I haven't automated this yet, I'll need to do some small tweaks to nightly-builder to handle this nicely, that shouldn't take much effort though.

[2017-06-09 05:32] rvagg commented on #626
[code]

[2017-06-09 05:37] rvagg commented on #626
To add to what I said above about messaging—you may not want to promote this too much, I can see people getting much more tangled in this than they would in our slower and more controlled `master` process that leads to `nightly` builds. Let's have a talk about limiting uninformed user problems first.

[2017-06-09 11:10] rvagg commented on #746
We could add an optional email field in the build request page, since we have email infra working now and the IBM boys seem to be successfully using it post-build, perhaps it wouldn't be hard to add.

[2017-06-09 11:45] refack commented on #746
I would be very appreciative 😍

[2017-06-09 11:54] gibfahn commented on #746
I'd much rather not have emails on Job completion, I guess it'd be okay if it was opt-in (maybe another checkbox in node-test-pull-request.

I just go through the [PRs that I raised](https://github.com/pulls) and [the ones I've self-assigned](https://github.com/pulls/assigned) and check for any updates.

We're using the email notifications to signal that something's wrong with the IBM machines.

I

[2017-06-09 12:47] mcollina commented on #746
I'm 👍  on receiving an email field, and if you want to be notified you can just past your email there.
I'm 👎  on automatic emails.

@gibfahn editing comments do not trigger an email notification. I'd prefer a direct email than a comment in a gh pr.

[2017-06-09 13:24] mhdawson commented on #746
An optional email field seems like a good idea to me.  If we get consensus I can take a look at doing that.  As long as we can use dynamic elements in the list of emails notifications get sent to it might be pretty easy.

[2017-06-09 13:25] cjihrig commented on #746
I'm +1 on being able to opt in to getting an email on job completion.

[2017-06-09 16:25] refack commented on #746
Opt in is great 💯

[2017-06-09 16:25] refack commented on #746
Only if the edit has a new mention.

[2017-06-09 23:02] Trott opened #752 "requesting access for test-requireio-osx1010-x64-1"
I would like to be able to access test-requireio-osx1010-x64-1 so I can test some things in the hopes of identifying the problem in https://github.com/nodejs/node/issues/13527.

My public ssh keys can be found at https://github.com/Trott.keys

[2017-06-09 23:30] gibfahn commented on #752
SGTM

[2017-06-10 00:14] gibfahn commented on #752
@Trott would you mind PRing the update to the inventory if you've got things working?

I understand from IRC that you've got the IP and the keys, you just need the user (which I assume will be `root`).

[2017-06-10 04:14] Trott commented on #752
`root` was my guess too but alas no...

[2017-06-10 07:22] rvagg commented on #626
https://twitter.com/mathias/status/873204105161961473

So much for taking it gently

[2017-06-10 08:12] mathiasbynens commented on #626
My apologies, @rvagg — I was unaware of your request to “not promote this too much” when I posted that.

I’d assume those opting in to canary builds know what to expect, analogous to Chrome Canary: you’re giving up stability for a more bleeding-edge feature set.

I agree that a blog post would help clarify the difference between nightly and canary builds. 👍

[2017-06-10 08:31] rvagg commented on #626
Yeah, no biggie, I'll try and find time soon to draft up a post for you all to review

[2017-06-10 11:59] gibfahn commented on #752
How did you get the IP address?

@jbergstroem in general how do we get the IP of a machine?

[2017-06-10 12:15] rvagg commented on #752
@Trott it's not straightforward but this _should_ get you in:

[code]

[2017-06-10 12:15] rvagg commented on #752
sorry, that's for your .ssh/config

[2017-06-10 13:34] jbergstroem commented on #752
@gibfahn all machines should live in our inventory. This one doesn't.

[2017-06-10 13:45] gibfahn commented on #752
Yeah, I meant how do we get the IP to add to the inventory. Using one of these from the [Script Console](https://ci.nodejs.org/computer/test-requireio-osx1010-x64-1/script) does seem to work, but of course it gave `192.168.2.210`, which I assumed was wrong (didn't think of the jump box).

[code]

[2017-06-10 13:46] gibfahn commented on #752
Followon question, at the moment the generated `~/.ssh/config` entries that use the jumpbox are of the form:

[code]

The one @rvagg just posted seems like a nicer way to write it, could we convert the inventory ansible script to write configs like that? I'm happy to do the work if it's possible.

[2017-06-11 01:55] Trott commented on #752
Thanks, @rvagg. That worked.

[2017-06-11 01:55] #752 closed

[2017-06-11 21:48] joaocgreis commented on #495
As noted by @nschonni in https://github.com/nodejs/build/pull/750#issuecomment-307440878 , we don't have a `CONTRIBUTING.md`. We could add one pointing to https://github.com/nodejs/node/blob/master/CONTRIBUTING.md , with also a placeholder to mention any differences or additions. Furthermore, the templates (https://github.com/nodejs/node/tree/master/.github) would also be good to have. This could

[2017-06-12 06:25] rvagg opened #755 "packet.net ARM8 resources (FYI / headsup)"
https://www.packet.net/ are an IaaS service that offer some pretty serious resources, including lots of bare-metal stuff, including server-class ARM8 machines. They are also a strategic investment by SoftBank, the owner of ARM Holdings, so they put us in touch and packet.net have been enthusiastic to support what we are doing and also to give their hardware a good workout.

Copying this next bit f

[2017-06-12 06:25] #755 closed

[2017-06-12 06:37] rvagg commented on #755
In addition to this FYI: I'm keen to retire the ARM8 resources in my garage, they were only early prototypes of the final AppliedMicro X-Gene machines so they are not optimally set up, they draw more power than they could be, the fans are noisy and they take up a bunch of space on my "rack". The new test & release resources essentially make them redundant already, if all goes smoothly from here, b

[2017-06-12 07:00] rvagg opened #756 "MacStadium sponsorship"
@nodejs/test @nodejs/release @nodejs/tsc

I mentioned in a previous thread that we'd reached an initial agreement with [MacStadium](https://www.macstadium.com/cloud/) to sponsor the Node.js project with some hardware resources. This is great news of course because since our Voxer resources dropped off (because they had staff turnover and didn't realise that the couple of macMinis in their datacent

[2017-06-12 10:12] rvagg commented on #752
@gibfahn I don't mind either way. The one you pasted doesn't require the parent Host entry though so perhaps it's nicer.

[2017-06-12 11:40] rvagg commented on #626
PRs to support this in the dist tooling we use:
 * https://github.com/nodejs/nodejs-dist-indexer/pull/4
 * https://github.com/nodejs/nodejs-nightly-builder/pull/1

They're active on the server now and we have working [index.tab](https://nodejs.org/download/v8-canary/index.tab) and [index.json](https://nodejs.org/download/v8-canary/index.json) files and there's a cron job in to trigger a job for th

[2017-06-13 05:06] rvagg opened #758 "Raspberry Pi 3 NFS speed problems"
This seems to have come up since the outage last week (https://github.com/nodejs/build/issues/749). The summary is that the power took out all of the infra, the UPS that they are all on didn't last long at all (it's more overloaded than it should be, I'm reorganising things over the coming weeks to shift the load to be more reasonable), so it was a hard-shutdown for everything.

On startup, I took

[2017-06-13 08:04] bnoordhuis commented on #758
CPU is probably going to be a big bottleneck on those machines unless you use a cipher like blowfish, and maybe even then.  ssh and sshfs don't have null ciphers.

If you don't care about the abstractions NFS provides except storage (not files, locks, uids, etc.), you could configure a Linux machine on your network as a iSCSI target and have the Pis use it as block storage.  Cheap, fast, easy to s

[2017-06-13 08:35] targos commented on #723
ping @nodejs/build (no worries @jbergstroem. I totally understand that you can be busy)

[2017-06-13 11:33] rvagg commented on #749
@jasnell, @mhdawson, @trott, @nodejs/build I did a write-up of the outage here: https://github.com/nodejs/build/wiki/Service-disruption-post-mortems#2017-06-07-ci-infrastructure-partial-outages

Includes:
 * Details
 * Impact
 * Resolution
 * Weaknesses exposed
 * Action items post-outage

Plus also links to various issues related.

I'd like us to produce similar write-ups on the same wiki page fo

[2017-06-13 12:49] jasnell commented on #749
Thank you @rvagg. I think making it available on the wiki or even as repo issues somewhere is sufficient.

[2017-06-13 16:56] Trott commented on #758
Does it make sense to configure CI to not run on the Pi3's until this is all sorted out? Or would that just make it so we won't know when it's fixed?

[2017-06-13 23:35] rvagg commented on #758
@Trott if you can confirm that it continues to be a problem we can take them out of the pool, I don't think we'd lose a lot in terms of coverage. It is useful knowing if the problem is persisting but I could reconnect them whenever I'm doing testing of changes on my end.

[2017-06-14 02:51] Trott commented on #758
All day, nothin' but failing Pi3's...I haven't seen a single Pi3 pass...

[2017-06-14 03:14] rvagg commented on #758
Done: https://ci.nodejs.org/job/node-test-binary-arm/8670/

@joaocgreis can you sanity check for me -- I've just unticked pi3 from the labels list and it _seems_ to be enough to turn them off, tbh it feels too simple!

[2017-06-14 13:32] #688 closed

[2017-06-14 16:11] mhdawson commented on #749
I think putting these in a directory in the repo is probably good enough.  Maybe something like doc/service-disruptions-post-mortems  (or something shorter if somebody has a better name).

On the PPC/AIX front I agree with your write up that its not a high priority to get additional redundancy as the uptime for those systems has been quite good. I can't remember the last time they were down, just

[2017-06-15 14:53] MylesBorins opened #760 "Releases should not be possible if release bit is not set"
This is something we could likely fix in the build process for release builds... it is also something we could work into the release scripts.

Thoughts?

[2017-06-15 15:03] MylesBorins commented on #760
One way to check would be to regex the result of `node -p process.release.sourceUrl` for the string `release`.

It seems to me that doing this during the promotion stage might be too late as the tag will already be published.

As such I think it would make sense for this to happen in the release CI job... technically the job should simply fail if the bit isn't set

[2017-06-15 19:38] refack opened #761 "Now: Jenkins is in a weird mood"
Saying something about reserving the machines
![image](https://user-images.githubusercontent.com/96947/27198529-91f14b7a-51e0-11e7-816e-11386b98c51f.png)

[2017-06-15 19:40] refack commented on #761
Ohh the master node is offline:
![image](https://user-images.githubusercontent.com/96947/27198627-fdc4edca-51e0-11e7-9b9a-0774954ea9d8.png)

[2017-06-15 19:42] gibfahn commented on #761
I can bring it back online, but we fundamentally need to clean up that disk (or allocate more space).

[2017-06-15 19:42] gibfahn commented on #761
Oh wait, I can't bring it back online:

![image](https://user-images.githubusercontent.com/15943089/27198696-34e774c4-520b-11e7-899c-0ce55f915e5c.png)

[2017-06-15 19:44] refack commented on #761
sad emoji

[2017-06-15 19:48] gibfahn commented on #761
@refack Have you tried the node-build IRC channel? You need someone with the `nodejs_build_infra` ssh key (who can actually get into the machines).

[2017-06-15 19:50] refack commented on #761
Yep, and #node-dev (posted here last since I thought maybe someone will get an e-mail)

[2017-06-15 21:40] rvagg commented on #761
on it

[2017-06-15 22:02] rvagg commented on #761
working again ... but we're using up _so much disk_, I've even gone back from 7 days to 5 days retention and we're still at 95% disk. We're going to have to switch to block storage for this

[2017-06-15 22:06] gibfahn commented on #761
Do we know what's using this up? Is it just loads of copies of Node repos? Jenkins artifacts? Something else?

[2017-06-15 22:24] joaocgreis commented on #758
@rvagg Looks good! Might be the only thing in Jenkins, but it is that simple.

[2017-06-15 23:14] refack commented on #761
Maybe it's time to revisit https://github.com/nodejs/build/issues/739, gate the big jobs (or maybe just PR) on first passing linux one, it's also gives a very quick feedback.

[2017-06-15 23:20] joaocgreis commented on #761
Found a huge job log file, cctest produced 40Gb of output (stack traces in the beginning). We are back at 50+ Gb free, which is about normal.

[2017-06-16 01:55] #761 closed

[2017-06-16 01:55] rvagg commented on #761
we should move to block storage on DO for this now that we _can_

[2017-06-16 02:35] refack commented on #761
Was it https://ci.nodejs.org/job/node-test-binary-windows/9117/RUN_SUBSET=0,VS_VERSION=vs2015,label=win2012r2/
I tried to ping ya'll https://github.com/nodejs/node/pull/13490#issuecomment-307460105

[2017-06-16 22:09] gibfahn opened #762 "Use gcc 4.9.4 in CI"
Now that https://github.com/nodejs/node/pull/13466 has landed, we need to make sure all our boxes have the newer compiler levels.

According to @bnoordhuis in https://github.com/nodejs/node/pull/13466#issuecomment-306164694, binaries built with the later version should run everywhere they did before, so there shouldn't be a problem just updating the level on all our boxes.

I'd assume most/all of

[2017-06-17 13:11] fhemberger opened #763 "Redirect /dist/latest/docs/api/ to /dist/latest-v.X.X/docs/api/"
I was looking at the analytics data for the website (https://github.com/nodejs/nodejs.org/issues/1268) and noticed, that `/dist/latest/docs/api/` is a entry on it's own. IMHO we should redirect `/dist/latest/docs/api/` to whatever the latest current version is (e.g. `/dist/latest-v8.x/docs/api/`).

Thoughts?

[2017-06-17 16:52] seishun commented on #762
I would like to work on this, but I couldn't find documentation on how this whole thing works and how I can test it locally. I would be grateful if someone can point me in the right direction.

/cc @nodejs/build

[2017-06-17 17:07] gibfahn commented on #762
@seishun old ansible scripts are in [`setup/`](https://github.com/nodejs/build/tree/master/setup), new ones are in [`ansible/`](https://github.com/nodejs/build/tree/master/ansible), we're trying to move over to the new scripts, but they're not completely tested yet.

The [`README` in the ansible directory](https://github.com/nodejs/build/blob/master/ansible/README.md) should have the info you need

[2017-06-17 19:07] joaocgreis commented on #761
@refack it was node-test-binary-windows 9196 (started to test https://github.com/nodejs/node/pull/13482), probably run until it crashed Jenkins because it is no longer accessible. Output was very similar to your comment there. If this is a pattern it'll be a problem, please let us know if you see it again. Right now, there is no other log file that big on the server.

[2017-06-17 20:52] seishun commented on #762
@gibfahn I'm a complete noob here, would https://github.com/nodejs/build/blob/master/setup/TESTING_LOCALLY.md still work for testing new scripts?

[2017-06-17 21:21] refack commented on #762
@seishun I tried to follow the guides once but got distracted... You doing it for the first time is a good chance to document missing pieces and hidden assumption, so it would be great if you open a `doc` PR or pass the info to me and I'll PR it.

[2017-06-17 22:21] gibfahn commented on #762
@seishun in theory yes. Actually that document should really be ported over to `ansible/`.

[2017-06-19 14:19] jbergstroem commented on #761
@rvagg agere that we should move to block storage. It's just so incredibly annoying knowing that jenkins doesn't compress the build logs and these basically stand for the the majority of the space consumption. A gzip post job would do. Perhaps we even do it manually? There is a jenkins plugin that is supposed to to this for us but it obviously doesn't work.

[2017-06-19 20:30] mhdawson opened #765 "ARM 6 release backup hardware"
In recent discussions we talked about having build team members host raspberry PI B+s to act as secondary build machines in case the primary one is off line.

I have a PI B+ which is en route to me and I believe there are install instructions that I can follow.

The one issue was how to connect given that I don't have a dedicated ip (it would also likely need to use a different ssh port incoming a

[2017-06-19 20:59] mhdawson opened #766 "Build WG Meeting 20 June 2017"
Place holder as reminder for people that we have a meeting
tomorrow at 4PM EST as per the community calendar.  Will fill in rest of issue/minutes doc tomorrow unless somebody beats me to it.

### When

June 20, 2017 4 PM EST - [time in your timezone](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Build+WG+Meeting&iso=20170719T20&p1=1440&ah=1)

### Where
- [Hangouts on Air, for p

[2017-06-19 21:00] mhdawson commented on #766
@nodejs/build please indicate if you can make it by adding your thumbs up or down above.

[2017-06-19 21:18] gibfahn commented on #766
We currently have no open issues, if people have stuff that they want to discuss please mark/raise things appropriately.

[2017-06-20 00:01] rvagg commented on #766
I'll either be in transit or very jetlagged for this one, probably won't participate.

[2017-06-20 06:30] piccoloaiutante commented on #766
This is a little bit too late for me so I'll skip it. @mhdawson in section "When" there is still 4pm EST, you might want to change it to 6pm EST.

[2017-06-20 06:34] gibfahn commented on #766
That was my bad, fixed (in future feel free to change it yourself!)

If Rod can't make this meeting, is there a chance we could move this to the eariler slot so EU people can attend? Is there anyone who was relying on the later timezone?

[2017-06-20 12:51] mhdawson commented on #766
I'm ok with moving up. @jbergstroem does that work for you ?

[2017-06-20 13:03] jbergstroem commented on #766
I can make it but happy to move. I have some work I'd like to finish regarding mac setup so I don't have to drag my tail into the agenda.

[2017-06-20 13:36] jeevandongre commented on #729
Is this issue resolve? I am facing the same issue. @joaocgreis

[2017-06-20 13:46] mhdawson commented on #766
Ok lets move to 4 EST.  Even if we don't have agenda items I think going through the updates on what we are working on is good to give people outside the build WG insight into what we are actively working is good.  So it might be a short meeting but lets still have it.

[2017-06-20 13:47] mhdawson commented on #766
Updated foundation calendar and youtube event and this issue to show 4 EST.

[2017-06-20 14:07] gibfahn commented on #766
cc/ @piccoloaiutante @joaocgreis time might be more manageable for you guys now.

[2017-06-20 14:12] gibfahn commented on #729
You'd need to raise that with the Jenkins Git Plugin, in https://github.com/jenkinsci/git-plugin/.

[2017-06-20 14:25] piccoloaiutante commented on #766
Oh yes, for me it's better and i can join

[2017-06-20 17:37] joaocgreis commented on #729
@jeevandongre Not on our end, and not upstream as far as I know. If you experiment with it, it would be great if you could share what works and what doesn't, might help us move it forward here. Thanks!

[2017-06-20 18:32] jbergstroem commented on #766
Bad news -- sucked into a meeting. I will make a summary here.

[2017-06-20 20:00] mhdawson commented on #766
Link for participants - https://hangouts.google.com/hangouts/_/ytl/y4OQMSvMpVpL1xSac4fdeA7i_bTFUWvXpDeUUN9HKfA=?eid=100598160817214911030

[2017-06-20 20:36] gibfahn commented on #766
Minutes: https://github.com/nodejs/build/pull/767

[2017-06-20 23:23] Trott commented on #723
@gibfahn Did you mean to add the `wg-agenda` label or is `ctc-agenda` correct? If `ctc-agenda`, can you (or someone else) provide a short description of what you hope CTC will do? Thanks!

[2017-06-20 23:46] joaocgreis commented on #723
Was `wg-agenda` and was already discussed in https://github.com/nodejs/build/issues/766

[2017-06-21 06:07] rvagg commented on #718
Removed `ctc-review`, we've pretty much locked this in now. Node.js 4 & 6 LTS will continue to be compiled on CentOS 5 (somehow we'll have to make this work!), 8+ are on CentOS 6.

Since this is also reflected in Node's BUILDING.md I'm closing this. If anyone has further discussion points on this feel free to reopen.

[2017-06-21 06:07] #718 closed

[2017-06-21 14:10] #766 closed

[2017-06-21 21:53] mhdawson commented on #765
Received the hardware, followed instructions to install OS and currently running ansible

[2017-06-22 02:42] mhdawson commented on #765
Ansible config complete

A few notes:

* There may be an issue with ansible 2 and the existing ansible scripts to install packages.  I had to do to make the following change in `ansible-playbook.yaml` to get the script to run with ansible 2:
[code]
* there are a bunch of warnings like this:

[code]

* I updated the script to skip setting up an APT proxy, which is probably fine since I'll only have

[2017-06-22 14:12] refack opened #768 "node-test-commit-linuxone doesn't post status to PR when triggered directly"
https://ci.nodejs.org/job/node-test-commit-linuxone/build?delay=0sec
![image](https://user-images.githubusercontent.com/96947/27438337-e489c770-5732-11e7-8b23-07f3c415e5c5.png)
others (e.g. `node-test-linter`)
![image](https://user-images.githubusercontent.com/96947/27438358-f741534c-5732-11e7-8802-3a5bde7a0459.png)

Entering the ID doesn't work, but when triggered by `node-test-commit` it does po

[2017-06-22 14:40] chr0n1x commented on #173
*bump*

Did you guys ever figure out what was going on here? Any Jenkins JIRA tickets?

[2017-06-22 16:25] gibfahn commented on #173
@chr0n1x afraid not, there's also not much we can do about this, you'd need to raise (or find) an issue in Jenkins.

[2017-06-22 18:15] chr0n1x commented on #173
@gibfahn one thing that I tried was [this](http://www.linuxbrigade.com/reduce-time_wait-socket-connections/). I seems to have helped with what I was seeing on my instance. Full resource for `TIME_WAIT` [here](http://www.serverframework.com/asynchronousevents/2011/01/time-wait-and-its-design-implications-for-protocols-and-scalable-servers.html)

[2017-06-22 22:36] gibfahn commented on #768
Looks like the `linuxone` parameter was wrongly configured. `node-test-commit` passes down `$POST_STATUS_TO_PR` (and that's what the linuxone script checks), but `node-test-commit-linuxone` was setting `$POST_TO_PR_ID` instead.

Should be fixed now.

[2017-06-23 22:26] mhdawson commented on #765
Ok added an nfs server to the local setup and re-ran ansible to include mounting instead of skipping.

@jbergstroem I think next step is to figure out the ssh tunnel.

[2017-06-23 22:49] refack commented on #768
I see the name change, but type is still "text"
![image](https://user-images.githubusercontent.com/96947/27502792-b0dfcc68-5844-11e7-96e9-9f2d54e88448.png)

[2017-06-23 22:54] refack commented on #768
Just has an idea to pass `true` as a string and that works.
![image](https://user-images.githubusercontent.com/96947/27502879-5df48196-5845-11e7-98bd-d787c6e75658.png)

[2017-06-23 23:31] gibfahn commented on #768
Oh yeah, I didn't think about that. In Jenkins parameters are just environment variables, so boolean params are just the string `true` or `false`. I've fixed that now.

[2017-06-23 23:50] refack commented on #768
Wonderful

[2017-06-24 00:51] kunalspathak opened #769 "cctest failure in CI run"
I noticed that `cctest.exe` run failure doesn't show as test failure. For e.g. [here](https://ci.nodejs.org/job/node-test-binary-windows/RUN_SUBSET=0,VS_VERSION=vs2017,label=win2016/9404/console) is the CI run triggered for `node-chakracore` and it says test pass even if test case inside cctest hits an assert. Is there any reason of not having a post-build action step to parse `cctest.tap` output

[2017-06-26 00:10] joaocgreis commented on #769
Looks like `cctest.tap` was not added to the Windows job as it probably should have been when it was added to others. It can be easily added, but only when cctest passes on Windows, to avoid breaking all runs.

[2017-06-26 19:04] kfarnung commented on #723
I'm going to be taking a look at it this week.

[2017-06-26 19:24] refack commented on #724
Has anybody tried to contact Apple to see if they can help/allow us to run macOS as VM/Container? Since I have no corporate affiliation, I'll be happy to try.

[2017-06-26 19:59] mhdawson commented on #724
Sent a follow up to MacInCloud

@refack I believe that @rvagg and @jbergstroem had both tried with Apple on several occasions without success.

[2017-06-26 20:00] refack commented on #724
Good. Shame of Apple 😞

[2017-06-26 21:13] seishun opened #770 "GCC version on debian7-arm hosts"
I've been looking at Ansible scripts in this repo and I don't quite understand how debian7 boxes are configured.

[Here](https://github.com/nodejs/build/blob/master/ansible/roles/baselayout/tasks/partials/repo/debian7.yml) it adds wheezy-backports. [Here](https://github.com/nodejs/build/blob/master/ansible/roles/baselayout/vars/main.yml#L54) it installs gcc-4.8. However, [there is no](https://pack

[2017-06-26 23:10] mhdawson opened #771 "Proposed test for regular tweet thanking sponsors"
Note that we have limited characters so I this is what I could fit (7 characters remaining):

This would be sent out from the Node.js Foundation account, and then we can re-tweet.

[2017-06-26 23:11] mhdawson commented on #771
@nodejs/build please comment.  Would like to start having tweets go our monthly starting next week.

[2017-06-27 00:56] kfarnung commented on #723
@targos I've taken a look at this and it's not too straightforward.  I have opened #772 for the first step, installing the `clang34` package, but there's a bit more subtlety to the builds on FreeBSD.  I'll keep working on this throughout the week.

As a side note, are the builds still failing with 3.4.1?  I don't see any indication of the original build issue in the CI or in my local builds.

[2017-06-27 05:14] Trott opened #773 "OS X setup updates"
`setup/osx/README.md` has our hosts at voxer, where we don't have hosts anymore, I don't think.

Additionally, consider adding the following `launchctl` commands so as to resolve https://github.com/nodejs/node/issues/13527:

As user iojs:

[code]

(Or just run the second one as root, of course, rather than using sudo.)

This will disable the crash reporter. I doubt we ever look at the logs it crea

[2017-06-27 07:42] targos commented on #626
@gibfahn I have a problem with the `node-update-v8-canary` job on one of the fedora boxes. It fails consistently because "a cherry-pick or revert is already in progress": https://ci.nodejs.org/view/All/job/node-update-v8-canary/78/console
I cannot reproduce this locally and when the job runs on the other box, it works fine. I don't understand how this can happen because we do `git reset --hard ori

[2017-06-27 07:56] gibfahn commented on #626
@targos odd, it looks like something got messed up in the workspace. I cleaned it out and reran, and now I'm getting: https://ci.nodejs.org/view/All/job/node-update-v8-canary/80/console

[code]

Shouldn't it be looking for `canary-base` in nodejs/node?

[2017-06-27 08:01] targos commented on #626
Indeed. I changed the config. Trying a new run: https://ci.nodejs.org/view/All/job/node-update-v8-canary/82/console

[2017-06-27 08:06] gibfahn commented on #626
Looks like that went better.

LMK if it happens again, I had a look on the machine and none of the directories seemed to have a cherry-pick in progress.

If you have the ability to see the `Wipe Out Current Workspace` button in the [`Workspace` tab](https://ci.nodejs.org/view/All/job/node-update-v8-canary/ws/#) of the job, I recommend wiping and rerunning as a first resort if something starts goin

[2017-06-27 08:11] targos commented on #723
@kfarnung Thank you for looking into this.
The builds are failing with V8 6.0. You can try to reproduce with this branch: https://github.com/targos/node/tree/v8-6.0

The latest failure on CI is here: https://ci.nodejs.org/job/node-test-commit-freebsd/9863/nodes=freebsd10-64/console

[2017-06-27 09:20] gibfahn commented on #771
Wording LGTM

[2017-06-27 10:23] refack opened #774 "now: `node-test-binary-arm` doesn't finish"
Ref: https://github.com/nodejs/node/pull/13857#issuecomment-311260604
Ref: https://github.com/nodejs/node/pull/13940#issuecomment-311317497
Ref: https://ci.nodejs.org/job/node-test-binary-arm/8899/

[2017-06-27 11:20] rvagg commented on #774
Been discussing this in #node-build fwiw

I pulled out the SSD that the Pi's use via NFS and this seems to have had a big hit on their perf, way more than I expected. It's possible that it'll fix itself out if left to their own devices but probably not.

I've been rearranging the network over here, replacing some key components with some (exciting and fun) new networking gear (my own gear, not spe

[2017-06-27 13:41] rvagg commented on #774
External access to the ARM cluster is disabled for the moment, but the machines on that network are all back online, Pi's are not activated in test-commit though still. I have a new gateway and parent switch in place that's letting me do some fancier config, and it should mean faster throughput internally too.

[2017-06-27 13:42] refack commented on #774
I wanted to ask if it's worth taking `node-test-commit-arm-fanned` out of `nose-test-commit` but I see that's already been done 👍

jinx

[2017-06-27 20:21] kfarnung commented on #723
Thanks @targos, that was the key.  I'm now able to repro the crash.  Unfortunately I'm still seeing the crash on 3.4.2, see attached, so I'm going to try 3.5 and 3.8 as well, just to see if any of the newer versions resolve the issue.

[freebsd10-clang34-output.txt](https://github.com/nodejs/build/files/1106655/freebsd10-clang34-output.txt)

[2017-06-27 22:20] kfarnung commented on #723
@jbergstroem Is there any objection to upgrading clang to 3.8.1?  That's approximately the same version as FreeBSD 11 (which uses 3.8.0).

[2017-06-28 04:43] jbergstroem commented on #723
@kfarnung I will have a chat with package maintainers in FreeBSD seeing how they should/would run into this as well.

[2017-06-28 08:54] gibfahn opened #775 "WARNING: Jenkins update to 2.60.1 requires Java 8"
### Needs doing:

- [x] Create a job to run a `java -version` (and probably a `which java`/`where java`) on each machine, so we can see where we're going to have issues. If the job failed on Java <8 that would be ideal
- [ ] Upgrade ansible scripts for machines which need it.
- [ ] Apply scripts to machines and get us ready to upgrade
- [ ] Upgrade and make sure things still work (some machines ma

[2017-06-28 08:54] gibfahn commented on #775
I guess the plan would be to confirm that all our machines are running Java 8 and then update.

[2017-06-28 14:45] jbergstroem commented on #775
[code]

[2017-06-28 14:55] gibfahn commented on #775
@jbergstroem sure, but what about the individual hosts? For example I'm pretty sure AIX is using Java 7 (see [here](https://github.com/nodejs/build/blob/master/setup/aix61/manualBootstrap.md#gettext-java-make)).

[2017-06-28 16:15] jbergstroem commented on #775
@gibfahn I didn't get that even agents now require java 8. What kind of crazy is this :(

[2017-06-28 18:45] joaocgreis opened #776 "Moving DISTTYPEDIR to CI-Release script for Windows"
@gibfahn @jbergstroem @rvagg @mhdawson (or anyone else with access to ci-release): can you take a look at https://ci-release.nodejs.org/job/iojs+release/jobConfigHistory/showDiffFiles?timestamp1=2017-06-21_18-30-42&timestamp2=2017-06-28_13-11-55 ? I believe the change is right, but it's better to have a review.

It became necessary after https://github.com/nodejs/node/pull/13900 . I believe it is

[2017-06-28 18:48] refack commented on #776
Ref: https://github.com/nodejs/node/pull/13969
I originally removed it from `vcbuild.bat` because it was set in a redefined subroutine (which seemed strange), and I could find any referance to it in our code base.
But is there any chance any downstream consumer still uses it (i.e. NVIDIA, Microsoft, or anyone who builds their own `node.exe`)?

[2017-06-28 18:56] joaocgreis commented on #776
@refack that is possible, any staging server could be used in https://github.com/nodejs/node/blob/ef28d85611bcb1b0d91b6525b7c16517bf21020c/vcbuild.bat#L337-L346 . But I have no idea, never heard of a concrete case of anyone using our build scripts with their own infra.

[2017-06-28 18:58] refack commented on #776
http://blog.sec-consult.com/2017/04/application-whitelisting-application.html
NVIDIA build `node.exe` and sign it with their own certificate 🤦‍♂️

[2017-06-28 19:01] joaocgreis commented on #776
For that they only need to run `vcbuild sign` in a machine with the certificate installed. Uploading to a staging server goes a bit further :slightly_smiling_face:

[2017-06-28 20:21] refack commented on #776
AFAICT the nightlies have been built (I looked in the `.xz` and the new `vcbuild.bat` is there)

[2017-06-28 20:55] richardlau commented on #776
IBM does to produce https://developer.ibm.com/node/sdk/.

[2017-06-28 21:06] joaocgreis commented on #776
@richardlau in case you need to keep your infra in sync, my change above only adds `set DISTTYPEDIR=%DISTTYPE%` before calling `vcbuild.bat`.

[2017-06-28 22:44] joaocgreis commented on #770
@seishun I'm not very familiar with the Linux hosts on CI, but I can do some guesswork from what I see. Let's hope I can help more than harm.

From your description, I'd say that you're right and either the Ansible script is broken because it was never even run, or it worked some time in the past (does wheezy-backports remove packages?).

@jbergstroem made a big effort to refactor and move the scr

[2017-06-28 23:06] richardlau commented on #776
@joaocgreis I think `DISTTYPEDIR` is one of the things we don't use.

cc @gibfahn

[2017-06-29 04:29] rvagg commented on #774
Okie dokie! We have progress. I've moved to a new gateway/router and parent switch, along with a dedicated NAS that now holds the SSD that we were using for the Pi's. And, it's all much faster and more profesh all round. We're up to NFSv4, I don't know if that makes much difference but there is chatter that suggests that it _should_ be faster.

I've put node-test-commit-arm-fanned back in to node-

[2017-06-29 04:29] #774 closed

[2017-06-29 12:25] joaocgreis commented on #738
The `cores` directory is filling up the drives now. We have several smartos machines offline in CI because of this. I just cleaned up the `cores` directory in `test-joyent-smartos15-x64-1` to unblock CI, there was no worker for `smartos15`.

What about adding something like `find /home/iojs/cores/ -type f -mtime +3 -delete` to crontab to keep only 3 days of cores? (I don't know if this is an appro

[2017-06-29 14:08] jbergstroem commented on #738
I like this; perhaps up it to a week or so though.

[2017-06-29 14:47] misterdjules commented on #738
@joaocgreis

Can we bump that to 7 days? I'm thinking 3 days might be a bit short between the time a test failure happens and someone is able to get the corresponding core from one of the hosts.