[2016-08-21 03:25] not-an-aardvark commented on #467
Never mind, I hadn't realized some of the other tests turned yellow. I had thought the Raspberry Pi tests were the only ones that failed.

[2016-08-22 20:22] mhdawson opened #470 "Access to AIX machines to provide coverage"
# While I was away on vacation the firewall config for the AIX machines was dropped somehow and then AIX was removed from the CI runs.

We need more coverage to investigate issues on AIX.  In this case it only took a few minutes to investigate and then the fix to the firewall config to get things going again.

I'd like to get @gibm access limited to the AIX machines (or possibly AIX and PPC machin

[2016-08-22 20:30] mhdawson opened #471 "Ongoing access to Ben Noordhuis as libuv AIX maintainer."
With the departure of Imran Ben has offered to take over as the AIX libuv maintainer.  Access to the community CI machines would be much easier for him than using internal IBM systems.

As a long time collaborator/CTC member I think he qualifies for Ongoing access under:
https://github.com/nodejs/build/blob/master/doc/process/special_access_to_build_resources.md

Once we get the required additiona

[2016-08-22 20:32] jbergstroem commented on #471
Sounds good. I'd be honoured to have @bnoordhuis more active around here!

[2016-08-22 22:01] joaocgreis commented on #470
Not at all, @gibm has been helpful all around! Giving him access sounds good to me.

[2016-08-22 22:02] joaocgreis commented on #471
All OK for me as well!

[2016-08-22 22:19] mhdawson commented on #445
my bad I'd missed the step of adding the test key.  Should be ok now.

[2016-08-23 06:39] gibfahn commented on #470
@joaocgreis Thanks! Just FYI, I merged my work/other Github accounts under @gibfahn, so using that rather than @gibm.

[2016-08-23 14:22] jbergstroem commented on #470
Just a heads up: me/@joaocgreis figured out why machines sometimes 'fell out' of iptables. Fixed!

[2016-08-23 21:46] mhdawson opened #473 "new PPC machines"
We now have access to new production openstack system at osuosl.

Need to create new machines to replace the originals and the temporary ones.

This is is to track progress on that.

- [X] Add le test machines
- [x] Add be test machines
- [x] Add new le release machine
- [x] Add new be release machine
- [x] Remove old machines
- [x] Rename test machines
- [x] Rename release machines
- [x] free up

[2016-08-26 13:50] jbergstroem commented on #404
Removing wg-agenda.

[2016-08-26 13:54] jbergstroem opened #474 "Build WG meeting 2016-08-30"
**Meeting Time:** 8PM Tuesday August 30th UTC, or in your local timezone:
http://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Foundation+Build+WG+Meeting&iso=20160830T20&p1=%3A

### Where
* Hangouts on Air, for participants: https://hangouts.google.com/hangouts/_/hoaevent/AP36tYfOUN-VgervByMOkRj9SpukzKndyyCF3SJK1KHSnXFxbYinSw
* Youtube stream, for viewers: http://www.youtube.com/watch

[2016-08-26 13:58] Starefossen commented on #474
Should we put nodejs/github-bot#66 on the agenda for this meeting?

[2016-08-26 16:59] Trott commented on #474
Maybe this too? https://github.com/nodejs/node/issues/8265

[2016-08-27 12:25] rvagg commented on #355
OK, it's been a while but I've got 3 new Pi B+'s set up and running in the cluster:

* https://ci.nodejs.org/computer/test-nodesource_mhdawson-debian7-arm_pi1p-1/ thanks to @mhdawson!
* https://ci.nodejs.org/computer/test-nodesource_securogroup-debian7-arm_pi1p-1/ thanks to @chriswiggins / @securogroup
* https://ci.nodejs.org/computer/test-nodesource_securogroup-debian7-arm_pi1p-2/ thanks to @chri

[2016-08-29 13:32] jbergstroem commented on #474
Added both.

[2016-08-29 17:06] williamkapke opened #478 "Linux builds missing from nightly folders"
The past few nightly folders only have Windows builds in them. Any idea where they went?
Example: https://nodejs.org/download/nightly/v7.0.0-nightly20160827c8619ea3c3/

My poor bash skills didn't account for this happening so [node.green](http://node.green) wasn't getting updated :(

/ht @Fishrock123

[2016-08-29 20:51] jbergstroem commented on #478
See: https://github.com/nodejs/node/pull/8325

[2016-08-29 21:08] mhdawson opened #479 "Add linux ppc and linuxone to node-stress-single-test"
Recent discussion was around adding AIX to this job.  When I went to look it seemed like it had already been added.

But I did notice that linuxOne and PPC BE seemed to be missing.  Going to add those under this issue.

[2016-08-29 21:09] mhdawson commented on #479
Added linuxOne as rhel72-s390x, job ran ok here:

https://ci.nodejs.org/job/node-stress-single-test/876/

[2016-08-29 21:56] jbergstroem commented on #479
LGTM -- I guess we're waiting on the new osuosl setup to land so we can redeploy be/le stuff before adding it to stress?

[2016-08-29 22:13] mhdawson commented on #479
LE is already there, and BE I was just about to add, we should be able to get the new stuff going while making sure we always have a good set of machines.

[2016-08-29 22:22] mhdawson commented on #479
BE added, successful run: https://ci.nodejs.org/job/node-stress-single-test/877/nodes=ppcbe-ubuntu1404/

[2016-08-29 22:23] #479 closed

[2016-08-30 01:24] jbergstroem commented on #474
@TheAlphaNerd suggested we added #453, so I did.

[2016-08-30 13:09] gibfahn commented on #453
@jbergstroem So your suggested fix would be for the TAP plugin to still store the TAP results in the `build.xml` file, but to only store some of the info?

[2016-08-30 13:16] jbergstroem commented on #453
@gibfahn you tell jenkins to pick up the junit file(s), after which it stores it (more efficiently) in build.xml.

[2016-08-30 13:21] gibfahn commented on #453
@jbergstroem So the TAP plugin converts TAP -> junit and stores the junit in build.xml?

[2016-08-30 13:23] jbergstroem commented on #453
@gibfahn it provides primitives for parsing tap which seems to be done every time build.xml files are read (hint: a lot) instead of once. there's a few issues over at jenkins issue trackers about this.

[2016-08-30 13:26] addaleax opened #480 "GCC 6 coverage"
Hi everyone, it would be pretty cool if we could get CI coverage for running the Node.js tests, and ideally the `test-commit-v8-linux` job too, with binaries built by GCC 6. That would have very likely helped to catch issues like https://github.com/nodejs/node/issues/8310 or https://github.com/nodejs/node/issues/6272 a bit earlier.

Any chance that’s possible?

[2016-08-30 13:43] jbergstroem commented on #480
fedora24 runs gcc 6.1.1:
[code]

Do we need something newer? What suitable distribution?

[2016-08-30 13:43] targos commented on #480
There is already a machine with fedora 24 in `test-commit-linux`and this system has GCC 6 by default.

[2016-08-30 13:49] addaleax commented on #480
No, 6.1.1 is what I have, too. Could something like that be included in `test-commit-v8-linux` runs?

[2016-08-30 13:50] jbergstroem commented on #480
@addaleax done.

[2016-08-30 13:56] jbergstroem opened #481 "temporary access: @ofrobots"
@ofrobots needs to investigate v8 build issues on the musl toolchain (missing `execinfo` stuff). I will vouch for him. Can I has another LGTM?

[2016-08-30 14:03] TheAlphaNerd commented on #481
LGTM (not 100% I am able to, but 👍🏽 for @ofrobots from me)

[2016-08-30 14:03] mhdawson commented on #481
LGTM

[2016-08-30 14:10] jbergstroem commented on #480
I need to redeploy one of the fedora24 slaves seeing how we need a beefier vm to run tests on. I'll update this issue when done.

[2016-08-30 14:16] mhdawson commented on #473
Ok have added test le machines:

https://ci.nodejs.org/computer/test-osuosl-ubuntu14-ppc64_le-5/
https://ci.nodejs.org/computer/test-osuosl-ubuntu14-ppc64_le-6/

[2016-08-30 14:20] mhdawson commented on #451
Ok now starting to add the permanent machines so will disable the test ones to start.

Disabled

https://ci.nodejs.org/computer/test-osuosl-ubuntu14-ppc64_le-3/
https://ci.nodejs.org/computer/test-osuosl-ubuntu14-ppc64_le-4/

[2016-08-30 14:32] jbergstroem commented on #480
Done! Part of the suite as of now: https://ci.nodejs.org/job/node-test-commit-v8-linux/

[2016-08-30 14:32] #480 closed

[2016-08-30 15:41] addaleax opened #482 "Support for running node-test-commit-v8-linux with independent toolchain"
V8 loads its own version of clang when running its tests, and so does the `node-test-commit-v8-linux` job (but not a normal `make test-v8` in a node chechkout). It would be pretty cool if we could get support for running with the already-installed toolchain, although it might mean having to modify the compiler flags a bit (removing `-Werror` seems to do the trick when running gcc instead of clang)

[2016-08-30 15:42] addaleax commented on #482
/cc @mhdawson @jbergstroem

[2016-08-30 15:51] jbergstroem commented on #473
nitpick but perhaps we can rename them back to lowest unique id once done?

[2016-08-30 16:30] bnoordhuis commented on #482
I build V8 locally with gcc and it's a bit of a pain.  At times you have to build with `make GYPFLAGS="-Dclang=0"` which then becomes `make GYPFLAGS="-Dclang=0 -Dwerror='' -Dv8_enable_gdbjit=1 ..."` because `make werror=no gbdjit=on ...` doesn't work when you override GYPFLAGS.

[2016-08-30 17:01] mhdawson commented on #473
Sure once, we have the final set I can do the renames

[2016-08-30 17:55] jbergstroem commented on #398
Just an update here: We have a job that we will be integrating somehow shortly: https://ci.nodejs.org/job/node-test-commitmsg/

[2016-08-30 18:46] mhdawson commented on #473
new release machine created and configured through ansible:

https://ci-release.nodejs.org/computer/release-osuosl-ubuntu14-ppc64_le-2/

@jbergstroem can you:

- [ ] replace ssh test key with release key
- [ ] Add firewall entries
- [ ] add required keys etc needed for publishing releases.

Once you do that I'll temporarily disable the current machine and run a nightly type build to validate it wo

[2016-08-30 18:47] Starefossen commented on #471
Very good news 👏

[2016-08-30 18:49] jbergstroem commented on #471
So, four of us should be enough. I'll add him to secrets and pass him the details.

[2016-08-30 18:51] jbergstroem commented on #473
Ok, I'll do it after the meeting.

[2016-08-30 20:01] gibfahn commented on #474
@jbergstroem So is there a hangouts link?

[2016-08-30 20:01] jbergstroem commented on #474
Links to be published! Apologies for the slight delay

[2016-08-30 20:08] rvagg commented on #474
https://hangouts.google.com/hangouts/_/hoaevent/AP36tYfOUN-VgervByMOkRj9SpukzKndyyCF3SJK1KHSnXFxbYinSw for participation

http://www.youtube.com/watch?v=p6viQ2HyGqk for lurking

[2016-08-30 20:42] rvagg commented on #448
As per discussion just now in Build WG meeting, we need to add words _somewhere_ in a PR to outline a policy and get agreement from the TSC. Proposal that was just workshopped is:

Projects qualify for use of the build infrastructure if:
* They fall within the scope of responsibility under the TSC—which includes the CTC and all of the activity in the nodejs org and some related projects like libuv

[2016-08-30 21:51] mhdawson commented on #445
Ok Nightly built ok here:  https://nodejs.org/download/nightly/v6.4.1-nightly20160825723fa9637c/

[2016-08-31 06:53] phillipj commented on #404
Made a separate issue for auto deployment https://github.com/nodejs/github-bot/issues/69, closing this for now.

Feel free to open more focused issues here or in the github-bot repo if there's something in this issue which still needs to be addressed.

[2016-08-31 06:53] #404 closed

[2016-08-31 13:36] mhdawson commented on #473
Sorry IP for release-osuosl-ubuntu14-ppc64_le-2 is 140.211.168.66

[2016-08-31 13:58] jbergstroem commented on #473
`release-osuosl-ubuntu14-ppc64_le-2` is ready to go.

[2016-08-31 14:07] mhdawson commented on #473
Ok just added and ansible is running on them:

@jbergstroem can you add these to the firewall as well

TEST
	test-osuosl-ubuntu14-ppc64_be-3/140.211.168.74
        test-osuosl-ubuntu14-ppc64_be-4/140.211.168.75

RELEASE
         release-osuosl-ubuntu14-ppc64_be-2/140.211.168.76

[2016-08-31 21:02] mhdawson commented on #451
These machines have now been deleted. Closing

[2016-08-31 21:02] #451 closed

[2016-08-31 21:07] mhdawson commented on #470
@joaocgreis can I take your response as the second required approver ? If so my default path would be to add his key to the AIX/PPC machines as that limits access to just the required set.

@nodejs/build FYI, if @joaocgreis acts as the second app rover I'll go ahead in the next few days unless I hear objections before then.

[2016-08-31 21:33] mhdawson commented on #445
Ran CITGM on binary from nightly on one of our internal RHEL 7.1 linuxOne machines and things look ok.

[2016-08-31 22:51] mhdawson commented on #445
Ok need to guard so that only builds on 6.x and higher for linuxOne.

This seems to do the trick:

if [[ $ARCH =~ s390x && ${NODE_VERSION%%.*} -lt "6" ]]; then
  echo "Not building $disttype on linuxOne slave as only supported on v.6x and later"
  exit 0
fi

@jbergstroem that look ok with you ?  If so you ok with me adding that to the release build script and then adding linuxOne to the set of mac

[2016-09-01 08:25] joaocgreis commented on #470
@mhdawson sure, I approve. (Sorry if I was not clear before)

[2016-09-01 12:03] #478 closed

[2016-09-01 18:03] mhdawson commented on #346
I believe this is now documented in https://github.com/nodejs/build/blob/master/doc/process/special_access_to_build_resources.md

[2016-09-01 18:03] #346 closed

[2016-09-01 18:29] mhdawson opened #484 "Draft text for HSTS communication"
Proposed Text:

---

Heads Up !

The goal of the Node.js build team is to deliver services/resources through channels protected
by cryptography whenever possible. As part of this effort we are planning to enable HTTP Strict
Transport Security(HSTS) on nodejs.org, iojs.org and all subdomains.

With HSTS enabled, the web sites will inform browsers that the site should never be loaded using
HTTP and

[2016-09-01 19:03] mhdawson commented on #474
PR for minutes here: https://github.com/nodejs/build/pull/485

[2016-09-05 12:48] jbergstroem opened #486 "Softlayer: planned maintenance"
Our Systems Engineers have been notified of a potential vulnerability affecting your 32bit Virtual Server Instances (VSIs). We have been working nonstop with our technology partners and have determined the remediation will require a migration of the affected virtual server instances.

VSIs with San storage migrations will be completed within 30 mins of the scheduled migration time.  Starts at 03:0

[2016-09-06 12:21] jbergstroem commented on #445
@mhdawson LGTM; perhaps change message to (typo) `...as only supported on v6.x and later`

[2016-09-06 12:24] jbergstroem commented on #484
Typo: Novembeddr -> November

We should also mention that we will offer an alternative for clients that doesn't support this at `unencrypted.{nodejs,iojs}.org` that allows http and rsync protocols. These services have been given an EOL at 2022-01-01 but might be extended if no other viable alternative has been made available.

@rvagg lgty?

[2016-09-06 12:26] jbergstroem commented on #445
@mhdawson also, how about simplifying the expansion to `${NODE_VERSION:0:1}`?

[2016-09-06 15:01] mhdawson commented on #445
Ok incorporate comments and added to the regular release CI job.  Will check tomorrow to see how nightlies went.

[2016-09-06 18:59] mhdawson commented on #473
@jbergstroem  trying to check out 	release-osuosl-ubuntu14-ppc64_le-2/	release-osuosl-ubuntu14-ppc64_be-2
They don't seem to be connected and I can't log into them anymore
to see if the agent is up or if it would be a firewall issue

[2016-09-06 19:23] jbergstroem commented on #473
Fixed. They disconnected when I restarted `ci-release` earlier today and referenced `https://ci.nodejs.org` in the init scripts.

[2016-09-06 20:20] mhdawson commented on #467
@joaocgreis  In terms of the jobs being green instead of yellow, that is now fixed so this issue may be able to be closed.

[2016-09-06 20:25] joaocgreis commented on #467
This issue still exists for `osx` and `arm-fanned`. I suspect everything is OK on the Jenkins side and the failure is in `test.py`, but was not yet able to investigate further.

[2016-09-07 11:42] rvagg opened #488 "Create proposal for list of officially supported platforms"
This is an extension of https://github.com/nodejs/node/issues/8265 (making a new issue because we don't seem to have a `build-agenda` label we're using to make agenda items outside of our repo). We're being delegated the task of coming up with a proposal for an initial supported platforms / permutations list for the CTC to accept.

Would someone like to put up a hand to start such a list? We did h

[2016-09-07 11:43] rvagg commented on #488
Initial list might be worth taking from libuv: https://github.com/libuv/libuv/commit/be0e24c1e85ed27c03df4e500299ceedac57bab3 (/h1 @cjihrig).

Also note FTR that this needs to go back on `ctc-agenda` when we have something, the CTC is waiting on us here.

[2016-09-07 11:54] claudiorodriguez commented on #488
Not part of the workgroup but I thought it might be useful to share that Mozilla also similarly does Tier 1-3: https://developer.mozilla.org/en-US/docs/Supported_build_configurations and has some nice explanations to go with them.

[2016-09-07 12:01] rvagg commented on #488
Nice, I particularly like the way they assign individuals responsible for tier-3 platforms, we can be doing that with the IBM platforms for instance and if anyone shows up super keen to maintain something obscure then we can give them a :thumbsup: as long as their name gets to go next to it and they remain responsive enough to fix stuff.

[2016-09-07 16:20] mhdawson commented on #484
@jbergstroem @rvagg updated based on @jbergstroem comments.  Left out the part about an extension as 2022 is pretty far out anyway so I don't think softening by mentioning a possible extension helps.

[2016-09-07 16:44] geek commented on #488
@rvagg looks good.

The list should include SmartOS as an officially supported tier 1 platform with @misterdjules and myself supporting it.

[2016-09-07 16:52] misterdjules commented on #488
I'm not part of the working group, but I would like to add that the list of platforms supported by libuv is not necessarily a good starting point for the Node.js project with regards to the Solaris and SmartOS platforms.

The libuv project currently documents only Solaris (and not SmartOS) as a supported platform. The reason for not using the name SmartOS and for not making it a tier 1 platform, e

[2016-09-07 17:39] bnoordhuis commented on #488
I think that is stretching it a bit.  IBM has a magnitude more people working on node.js and I don't think we claim that AIX/zOS/PPC are tier 1.

And no offense to you personally but I don't see many code fixes or interaction on the bug tracker vis-a-vis smartos-related issues from you.  To claim tier 1 status for a platform, its supporters should be both active and proactive; I think it's fair to

[2016-09-07 18:05] mhdawson commented on #488
Just to through my 2 cents in, I like the Mozilla 1-3 but I would like to see the IBM platforms getting to Tier 2.

[2016-09-07 19:47] misterdjules commented on #488
I don't think comparing the number of people employed by some of the companies that drive the development of some platforms on which node runs is a good way to approach this problem.

It seems that the reason why some of the maintainers of the AIX/zOS/PPC platforms may not be considering these platforms as part of tier 1 _yet_ is that they've been added relatively recently to the CI platform compa

[2016-09-07 21:14] mhdawson commented on #488
I think that only AIX has more flaky tests (which we are working on). PPC and linuxOne run consistently clean.

[2016-09-07 21:43] jbergstroem opened #489 "build group membership reminder!"
Hi, build group. I thought it could be nice to revisit the membership list every now and then; especially seeing how we get "default" trust in the Node.js infrastructure as well as **access to stuff**. Take a moment and think about the last six months, what you've contributed or worked on; the meetings you've attended and then consider the coming six. If you're still keen and want to be an active

[2016-09-07 21:44] jbergstroem commented on #489
(I'm still super keen)

[2016-09-07 21:48] TheAlphaNerd commented on #489
o/

[2016-09-07 23:11] joaocgreis commented on #489
Count me in.

[2016-09-08 04:49] Starefossen commented on #489
Still keen 😅

[2016-09-08 05:55] phillipj commented on #489
I'm keen! 🤘

On Thursday, 8 September 2016, Hans Kristian Flaatten <
notifications@github.com> wrote:

[2016-09-08 10:23] orangemocha commented on #489
I probably won't be active. If that changes, hopefully I can reapply for membership :smile:

[2016-09-08 14:54] rmg commented on #489
I haven't been as active as I'd hoped, and I don't imagine that will be changing in the near future. Probably best to remove me as well. :-(

I'll still be "around" if anyone needs me, though :-)

[2016-09-08 14:57] ghostbar commented on #489
I haven't been active doing stuff here directly, but on alpine and keeping nodejs external apks for compatibility. If that's compatible in any way with what needs to be done here, let me know. Otherwise, I should be removed.

[2016-09-08 15:02] geek commented on #489
I am ready to be an active participant!

[2016-09-08 18:40] jpsim commented on #173
Sorry to bump into this thread, this is a last resort... was this ever resolved? If so how?

I'm seeing the same exception stack trace in my Jenkins jobs, though running in OS X, so not ARM:

[code]

[2016-09-08 18:43] jbergstroem commented on #173
Haven't seen these in a long while, but others; "remote host closed connection"

[2016-09-08 20:56] jbergstroem commented on #471
I've now added Ben to the security group and he's verified that he can access hosts.

[2016-09-08 20:56] #471 closed

[2016-09-08 23:06] mhdawson commented on #489
I'm still active

[2016-09-08 23:14] mhdawson commented on #445
Did a check on the nightlies  using CITGM on our local linuxOne RHEL71 boxes and I don't see anything unexpected that is not marked as flaky.

Once we have a stable that goes out, I'll sniff check that and then close this issue.

[2016-09-08 23:16] mhdawson opened #490 "Add AIX to nightly builds"
We have good AIX hardware now, which is being exercised in the regular regression runs.

This issue is to track adding the AIX release machine and adding AIX to the nightlies.

- [x] connect up release AIX machine to the release CI
- [x] separate release job with AIX as target (copy of standard job)
- [x] validate binary runs other machines
- [x] add to standard release job
- [x] validate AIX incl

[2016-09-08 23:23] mhdawson commented on #490
AIX release machine has base configuration and entry added here to the release ci:

https://ci-release.nodejs.org/computer/release-osuosl-aix61-ppc64_be-1/

and the slave shows as connected.

I believe the next step is to add the keys required to push to the download site and replace the test key with the release machine ssh key @jbergstroem.

[2016-09-09 15:10] mhdawson commented on #473
Thanks, ran a separate job to validate and seemed to generate/push ok so will move regular release job over to using the new machines

[2016-09-09 15:15] mhdawson commented on #470
Ok, @gibfahn keys are on the AIX machines and I'll look at adding him to the PPC ones.  Sounds like he is going to be onboarded as a collaborator.  At that point I'll probably ask that we just get him access in the manner that we would give ongoing access to a collaborator instead.

[2016-09-09 15:17] mhdawson commented on #459
Ok so they have been in the regressions runs for a while now.  Still some tests marked as flaky but I'm getting those prioritized so that people in IBM will work to burn down that list.  Going to close this issue for now and have opened a separate one for getting the release machine added.

[2016-09-09 15:17] #459 closed

[2016-09-12 13:18] jbergstroem commented on #486
Done & done.

[2016-09-12 13:18] #486 closed

[2016-09-12 13:20] jbergstroem commented on #481
I've expanded his access to:
 - test-joyent-alpine34-x64-1
 - test-osuosl-aix61-ppc64_be-1
 - test-joyent-smartos14-x64-2

[2016-09-12 18:11] bnoordhuis opened #491 "libuv: centos6-64: java.io.IOException: remote file operation failed"
Failing as of today (?).  Examples:

https://ci.nodejs.org/job/libuv-test-commit-linux/148/nodes=centos6-64/console
https://ci.nodejs.org/job/libuv-test-commit-linux/148/nodes=centos6-64-gcc44/console

[2016-09-12 23:13] jbergstroem commented on #491
Not sure what's going on here (tried building and got the same issues) -- restarting jenkins slaves and trying again seems to fix it. Great.. I'll close but please reopen if you see the same issue again.

[2016-09-12 23:13] #491 closed

[2016-09-12 23:35] jbergstroem commented on #490
What's the ip of `release-osuosl-aix61-ppc64_be-1`?

[2016-09-13 14:56] rvagg commented on #489
you have my sword

[2016-09-15 00:26] jbergstroem commented on #489
Lets keep this going another week to get travellers/busy people a chance to respond. I'll make an attempt to sum up and file a PR as a result. Note: this will also force us to redeploy keys and change passwords (which is a good thing!).

[2016-09-15 18:54] misterdjules commented on #196
I think that tests that are currently testing the `--abort-on-uncaught-exception` command line option don't use the core file that is produced as the result of the process aborting.  Thus, disabling core file generation on the system on which the tests run is enough to not fill up space.

This is already done in most tests of `--abort-on-uncaught-exception` by [using `ulimit -c 0` on anything exce

[2016-09-15 19:05] misterdjules opened #492 "changing the way core files are stored in SmartOS VMs so that we can actually use them"
This is related to https://github.com/nodejs/node/issues/7649, where a test running on SmartOS made a node process abort, and thus made the system generate a core file.

That core file could have helped us root-causing the problem, but unfortunately it wasn't available anymore because by default core files are stored in the global zone of the server on which the VM runs, and they're deleted after

[2016-09-15 19:09] jbergstroem commented on #492
How about configuring core dump directory to /home/iojs/dump or smth together with a cron job then? (find -mtime -delete)

[2016-09-15 19:20] gibfahn commented on #196
@misterdjules I think you are correct regarding windows not dumping with `--abort-on-uncaught-exception`, when I last checked it was impossible to enable coredumps without using an external tool (see https://github.com/nodejs/node/issues/7733).

[2016-09-15 19:21] jbergstroem commented on #492
I'm not very well versed on `coreadm`, but If you have a suggested route wrt dumping to another directory I can update playbooks.

[2016-09-15 20:46] misterdjules commented on #492
That's exactly what I'm suggesting, with the nit that I would choose a different name for this directory: `/home/iojs/cores` instead of `/home/iojs/dump`, but I don't have a strong opinion about it.

Running `coreadm -g /home/iojs/cores/core.%f.%p -e global` will enable global core files and will store them in `/home/iojs/cores`. It will also persist across reboots.

We should also make sure that

[2016-09-15 22:07] gibfahn commented on #489
Not a member of the build team, but I'm definitely planning to be active!

[2016-09-15 23:14] jbergstroem commented on #492
Cool. I'm actually in the process of setting up smartos15 and 16 hosts. I'll look at incorporating this in the playbook.

[2016-09-19 11:32] joaocgreis commented on #467
The `FLAKY_TESTS_MODE` variable was not passed on those two jobs. Fixed now. Credit to @rvagg , thanks!

[2016-09-19 11:32] #467 closed

[2016-09-19 17:13] ofrobots commented on #481
Thanks! I no longer need access to the machines.

[2016-09-19 17:41] jbergstroem commented on #481
Removed access. Closing.

[2016-09-19 17:41] #481 closed

[2016-09-19 23:50] Trott opened #494 "test-osuosl-aix61-ppc64_be build failures"
test-osuosl-aix61-ppc64_be-2 seems to be reliably failing to build for the last 24 hours or so.

Example failure: https://ci.nodejs.org/job/node-test-commit-aix/936/nodes=aix61-ppc64/console

@jbergstroem said in IRC:

this:  /home/iojs/build/workspace/node-test-commit-aix/nodes/aix61-ppc64/out/Release/node /home/iojs/build/workspace/node-test-commit-aix/nodes/aix61-ppc64/test/parallel/test-child-

[2016-09-20 07:15] piccoloaiutante opened #495 "Looking for issue good for first contribution"
Hi @mhdawson,

we met at NodeInteractive and as I told you I would like to start contributing to this working group. Is there any issue that is a good starting point for someone that is doing his first contribution?

Thanks

[2016-09-20 09:19] gibfahn commented on #494
I'll take a look, also cc/ @gireeshpunathil

[2016-09-20 10:12] jbergstroem commented on #494
Just a note: I killed all lingering processes on both machines since the test runner was stalling.

[2016-09-20 10:19] rvagg commented on #355
Phew, got @chrislea's B+ today along with another one I ordered on behalf of @davglass. https://ci.nodejs.org/computer/test-nodesource_chrislea-debian7-arm_pi1p-1/ & https://ci.nodejs.org/computer/test-nodesource_davglass-debian7-arm_pi1p-1/, bringing the total of B+s to 14! 2 of those are isolated from the rest for doing release builds (the armv6l binaries on nodejs.org) leaving 12 in the test cl

[2016-09-20 12:24] piccoloaiutante commented on #489
I have no contribution at the moment but i'm willing to contribute :-)

[2016-09-20 13:07] phillipj commented on #355
Very cool to see these how these boxes are organized, thanks for sharing!

[2016-09-20 15:34] jbergstroem commented on #489
So, summing up -- here's the replies from our current team:

Remaining:
 - @jbergstroem
 - @TheAlphaNerd
 - @joaocgreis
 - @Starefossen
 - @phillipj
 - @geek
 - @mhdawson
 - @rvagg

Leaving:
 - @orangemocha
 - @rmg
 - @ghostbar

No reply (implied leave):
 - @kenperkins
 - @othiym23

I'll keep this open for another few days giving people not having replied yet a chance to do so.

To those who are l

[2016-09-20 16:23] jbergstroem opened #497 "Invite @Trott to the build team"
Rich has been key in keeping a close track at our CI, making sure that machines works as intended. I reckon its time he joins us to fix the errors he finds as well!

[2016-09-20 17:28] TheAlphaNerd commented on #497
+1

[2016-09-20 18:20] jbergstroem commented on #367
Taking this off the wg-agenda for now. Not that it isn't important, but lets bring it back once we have updates

[2016-09-20 18:21] jbergstroem opened #498 "Build WG Meeting 2016-09-20"
(better late than never)

**Meeting Time:** 8PM Tuesday September 20st UTC, or in your local timezone:
http://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Foundation+Build+WG+Meeting&iso=20160920T20&p1=%3A

### Where
* Hangouts on Air, for participants: https://hangouts.google.com/call/hkmga2nqwbbllb72sgx4535fhye
* Youtube stream, for viewers:  https://www.youtube.com/watch?v=qFJh5Wag

[2016-09-20 18:22] Starefossen commented on #497
LGTM 👏

[2016-09-20 18:30] Trott commented on #497
Thanks. This would be great.

[2016-09-20 19:15] TheAlphaNerd commented on #498
I'm going to be a bit late to today's meeting, if I'm able to make it at all. Sorry for the last minute notice.

Re: tap plugin

TLDR; we need to update the node test runner to report tap using YAMLish for the stack traces. Once that is done the tap -> junit converter should work using an off the shelf module.

I'm also curious where we are on better OSX ci stuff. We've gotten burnt by quite a bit

[2016-09-20 19:26] mhdawson commented on #494
I don't see any failures today since @jbergstroem comment and I also had to restart the jenkins agent. Since then its seems to be be running ok.  We should probably check tomorrow to see if there are any jobs stacking up in the background.

[2016-09-20 19:36] mhdawson commented on #490
Ok created a separate release job, and validated binaries were built/published ok.

Now added to standard release job.  Will check tomorrow to make sure the nightlies are ok tonight and include AIX.

[2016-09-20 19:50] phillipj commented on #497
+1

[2016-09-20 20:28] mhdawson commented on #497
+1

[2016-09-20 20:30] rvagg commented on #498
live @ https://www.youtube.com/watch?v=qFJh5Wagdhs (link is wrong in OP)

[2016-09-20 20:48] jbergstroem commented on #488
Here's a initial stab at a "supported platform" document: https://gist.github.com/jbergstroem/8a4a5b6a602aacc96eb8a171698c324c

[2016-09-20 20:50] Trott commented on #488
* What's the justification for SmartOS being Experimental rather than Tier 2?

* Perhaps related: Does "There needs to be at least one individual..." refer to an individual in the project or an individual in the Build WG?

[2016-09-20 21:04] gibfahn commented on #484
ref: https://github.com/nodejs/build/issues/55

[2016-09-20 21:06] jbergstroem commented on #488
No one from the build group has compiled or tested Node.js on Smartos 15 and 16.

[2016-09-20 21:07] Trott commented on #488
Ah! I see. Never mind. Makes sense to me.

[2016-09-20 21:08] jbergstroem commented on #488
The idea is to have a document on the table for next weeks (Week of  September 26th) CTC meeting.

[2016-09-20 21:50] misterdjules commented on #488
@jbergstroem

Does that mean that node binaries built on SmartOS 14 (or any other platform version) would not be available from nodejs.org?

[2016-09-20 22:01] jbergstroem commented on #488
@misterdjules: I'll remove that line. Was there while drafting, doesn't belong.

[2016-09-20 22:12] bnoordhuis commented on #488
Isn't "macOS >= 10.7" a little white lie?  We only test 10.10, don't we?

[2016-09-20 22:14] bnoordhuis commented on #488
Also:

Since we regularly float patches, I don't think we can really make that claim.  I'd mellow it to 'best effort' status.

[2016-09-20 22:33] jbergstroem commented on #497
The build WG decided to vote @Trott into our (not so) secret society! Glad to have you onboard.

[2016-09-21 01:29] jbergstroem commented on #488
Yes, you're right. We're hopefully closing in on having this environment up and running -- I guess that won't make it in a week though. It would indeed be a shame to enforce 10.10 seeing how 10.7 is lowest req for v8 5.2 (right? -- recall chatting about that a few months back) and 10.8 for v8 5.4.

Would that imply that we just drop support for <10.10 or add >10.7 < 10.10 as a lower Tier?

The las

[2016-09-21 07:28] bnoordhuis commented on #488
If we can add 10.8 and 10.9 to the CI, I'd be okay with promoting it to tier 1.  I think IBM internally tests from 10.8 and up but I don't know the details.  No opinion on 10.7.

If that's not an option, we could demote <10.10 to experimental / best effort status.

[2016-09-21 11:52] rvagg commented on #488
This is what https://www.netmarketshare.com/ reckon the breakdown is for last month:

![screenshot 2016-09-21 21 45 44](https://cloud.githubusercontent.com/assets/495647/18709712/ca88f3f2-8044-11e6-87c4-38ea29584abb.png)

Nobody deploys server code to OSX, I suspect that the primary way that OSX is a distribution target for us is now via Electron, although I'm not sure how to factor that in to our

[2016-09-21 13:26] jbergstroem opened #500 "release builds: rename sunos to smartos"
[note: this post has been updated since its creation]

I would like to suggest that we from 7.0 and onwards rename our sunos builds to smartos. This means that the tarballs will change from `node-v7.0.0-sunos-x64.tar.xz` to `node-v7.0.0-smartos-x64.tar.xz`.
### Rationale

Naming our smartos builds for `sunos` is false advertising seeing how they are built on smartos and as a result doesn't work on

[2016-09-21 14:49] geek commented on #500
Thanks for raising this issue.

We absolutely should rename them. I am in favor of naming them SmartOS.

[2016-09-21 14:58] mhdawson commented on #494
Looked today.  There were a small number of processes hanging around:

[code]

[2016-09-21 15:22] gibfahn commented on #494
@mhdawson That's interesting, I hadn't realised that the child processes weren't being killed in that test failure. So if the test times out, I assume the test runner kills the parent but not any children?

[2016-09-21 16:33] rmg commented on #489
Reminder: when/before this gets closed, the actual @nodejs/build group members list should be updated to reflect the results :-)

[2016-09-21 17:15] jbergstroem commented on #489
@rmg yep, thought I'd follow up with a PR past! Thanks for reminding me.

[2016-09-21 17:16] jbergstroem commented on #494
@mhdawson if you check my above paste (well, Rich's) `test/sequential/test-child-process-pass-fd.js` seems affected too.

[2016-09-21 17:33] richardlau commented on #488
Correct. Minimum supported operating systems for IBM built binaries for v6 can be found on the table at the bottom of https://developer.ibm.com/node/sdk/#v6

[2016-09-21 18:04] misterdjules commented on #500
What impact would this have on `nvm` and other version managers? For instance, when`nvm` runs on SmartOS, it downloads binaries whose names match the pattern `*sunos*`. If binaries are renamed, some versions of `nvm` running on SmartOS won't be able to download binaries.

It would be interesting to get @ljharb opinion on this.

[2016-09-21 18:09] ljharb commented on #500
Renaming the existing ones would absolutely break many existing nvm users.

What would be ideal is *duplicating* them to be named "smartos" on all existing instances, and then only using "smartos" moving forward (after i've updated nvm and bumped it in travis-ci, ofc).

[2016-09-21 18:10] jbergstroem commented on #500
I'm just tired of our false advertising -- it's not like the binary will work on sunos anyway. Lets focus on the tooling that assumes it's called sunos on smartos and solve those scenarios. Which tools/repos/packagers do we need to talk to?

 - [x] nvm :)

[2016-09-21 18:13] sam-github commented on #488
@richardlau does that mean IBM only supports OS X 10.8? I don't see a "or later" footnote.

[2016-09-21 18:16] mhdawson commented on #494
I've been looking at the failure, will just about to test proposed fix no AIX now.

[2016-09-21 18:21] misterdjules commented on #500
@jbergstroem @ljharb One problematic use case I had in mind is a user who has already installed `nvm`, and who would want to install new SmartOS releases that would be available only under the `*smartos*` name.

What would the failure look like? Is there a way with the current and older versions of nvm to display a human readable error message that would suggest these users to upgrade to a newer v

[2016-09-21 18:22] sam-github commented on #488
@jbergstroem what are the X and Y in the GNU/Linux Tier 2/3 colums? WIP?

[2016-09-21 18:24] jbergstroem commented on #500
@misterdjules it sounds like an nvm problem though (which doesn't mean I don't care, just that its out of scope for this group). I think we should identify tools/repos/packagers and mention we're renaming; set up a timeframe when we can allow a "both will work" and then kill sunos.

[2016-09-21 18:29] ljharb commented on #500
@jbergstroem that's pretty harsh - it's a problem for anyone who has bookmarked that URL. Cool URLs don't change, and invalidating *any* URL on the internet is a breaking change for somebody. Please don't minimize the damage that this could do.

[2016-09-21 18:29] ljharb commented on #500
@misterdjules there is no way to alter what current nvm users see - only what new ones see.

[2016-09-21 18:29] jbergstroem commented on #500
@ljharb but this would only be for future releases, right?

[2016-09-21 18:30] jbergstroem commented on #500
`nodejs-v7.0.0-sunos.tar.xz` would in time become `nodejs-v7.0.0-smartos.tar.xz` throughout the ecosystem.

[2016-09-21 18:31] ljharb commented on #500
In time it would, and if v7 was the first one to not have `sunos`, such that some nvm users wouldn't be able to download it (but could continue to download all the same sunos versions they already were), such that they needed to upgrade `nvm` - then that'd be fine!

The only breakage I'm concerned about is that existing `sunos` files must remain working forever.

[2016-09-21 18:32] jbergstroem commented on #500
@ljharb: existing files will work forever, this is just about new releases.

[2016-09-21 18:33] ljharb commented on #500
In that case, just give me a week's notice and I'll update `nvm`, and bump it on travis-ci, and I'm fully in favor.

@jbergstroem it would simplify my code *a lot* if you backfilled all existing `sunos` files with `smartos` ones - is that a possibility?

[2016-09-21 18:34] jbergstroem commented on #500
@ljharb: I'll get back to you on that, but seeing how this affects a lot of legacy stuff I think no one is inclined on touching (0.x releases, iojs, etc) I wouldn't place my bets on it. This'll likely be one of those xz vs gz things.

[2016-09-21 19:04] mhdawson commented on #494
PR to address fork-dgram failures https://github.com/nodejs/node/pull/8697

[2016-09-21 19:41] richardlau commented on #488
@sam-github It means that's the version of OS X in our internal CI that ran tests on the binary.

[2016-09-21 21:20] jbergstroem commented on #488
@sam-github will be filled in by @mhdawson shortly.

[2016-09-21 22:26] mhdawson commented on #488
Yes as @jbergstroem says I was just not sure what the X and Y were off hand.  I just need to pull then from what ubuntu and RHEL 7.2 use.

[2016-09-22 00:53] jbergstroem commented on #488
I've updated the proposal to reflect the changes in macOS support as well as taking a step back from shared builds.

[2016-09-22 08:05] bnoordhuis commented on #488
Linked gist LGTM.

[2016-09-22 18:55] mhdawson commented on #473
Ok, have rename all of the test machines.  @jbergstroem since I don't have access can you rename the release ones ?

Once that's done I'll submit the ansiable config file changes to reflect the new ips.

[2016-09-22 21:00] #497 closed

[2016-09-23 00:59] jbergstroem commented on #494
@mhdawson, @gibfahn: log into -1 now and have a look. lots of stuff stalling. Here's a job that's been going for two hours as well (probably as a result of multiple test runners still being active): https://ci.nodejs.org/job/node-test-commit-aix/1040/nodes=aix61-ppc64/console

[2016-09-23 08:24] gibfahn commented on #494
@jbergstroem I'm not sure whether it's because someone's cleaned up the machine (or because `ps -ef` isn't the right command), but I'm only seeing one test runner on that machine.

![image](https://cloud.githubusercontent.com/assets/15943089/18779122/728456d4-816f-11e6-8b37-7cb17e8f2de9.png)

Also when I first clicked your link I saw the still-running job (and I still have it open in a tab):

![im

[2016-09-23 10:03] jbergstroem commented on #494
@gibfahn you also have a few python processes:
[code]
..and a few gmake processes:

[code]

This is probably not good seeing how each test.py makes the assumption that they will be run exclusively (tmpdir, whatnot).

[2016-09-23 10:04] jbergstroem commented on #494
You can also see the `wait` invoked as well as as few defunct processes.

[2016-09-23 10:12] gibfahn commented on #494
@jbergstroem I'm not seeing those on `test-osuosl-aix61-ppc64_be-1` (a.k.a. `power8-nodejs2.osuosl.org`). Are you looking at `-2`?

[2016-09-23 10:48] jbergstroem commented on #494
@gibfahn if I am then there's a naming thing. I'm talking about `140.211.9.101`.

[2016-09-23 11:30] jbergstroem commented on #473
ok, both release -2 machines have been renamed.

[2016-09-23 12:59] gibfahn commented on #494
I might have them the wrong way round in my `.ssh/config`, I have:

![image](https://cloud.githubusercontent.com/assets/15943089/18786446/d686e4c8-8195-11e6-95ff-2474d2cfac91.png)

Anyway, I'll take a look at why the processes are being left behind.

[2016-09-23 17:30] mhdawson commented on #498
https://github.com/nodejs/build/pull/502

[2016-09-23 17:30] #498 closed

[2016-09-23 18:45] mhdawson commented on #490
AIX is showing up in nightlies

[2016-09-23 20:39] mhdawson commented on #484
@jbergstroem  @rvagg any comments or should we plan to send this out ?

[2016-09-26 17:22] gibfahn commented on #453
@TheAlphaNerd How's the TAP -> Junit converter coming along? Is there something I could get my hands on to test?

I'd like to test this on https://github.com/nodejs/node/pull/7867 (test-npm), as the npm test output is quite complex already. It'd also be useful to compare the converter output to the output of `make test-npm` with the reporter set to xunit.

[2016-09-26 17:30] mhdawson commented on #495
Sorry been catching up after being away at Node Interactive.  Will try to come up with a good suggestion this week.

[2016-09-26 19:31] mhdawson commented on #488
We may need to break out the PPC/BE ones a bit as this is the info for the machines/OS levels we currently build/test on for s390 and PPC.

s390: kernel>=3.10, glibc 2.17
PPC LE: kernel>=3.13.0, glibc 2.19
PPC BE: kernel>=4.2.0, glibc 2.19

[2016-09-26 23:54] jbergstroem commented on #489
I've now updated all memberships and teams. Key updates in progress. To those taking a leave: thank you for all your work - wouldn't be here today without it.

[2016-09-26 23:54] #489 closed

[2016-09-27 10:58] jbergstroem commented on #488
@mhdawson: updated.

[2016-09-27 12:12] mhdawson opened #503 "Build failures on LinuxOne."
Checking this morning I see we have had a number of failures on linuxOne.  Looks like a problem checkout out the code.

[2016-09-27 12:12] mhdawson commented on #503
Seems only to be failing on  test-linuxonecc-rhel72-s390x-1 and passing on  test-linuxonecc-rhel72-s390x-2.

[2016-09-27 12:14] mhdawson commented on #503
Removed directory for project on test-linuxonecc-rhel72-s390x-1 and kicking off 2 builds to make sure we pass on both machines.

[2016-09-27 12:19] mhdawson commented on #503
https://ci.nodejs.org/job/node-test-commit-linuxone/nodes=rhel72-s390x/1442/  (test-linuxonecc-rhel72-s390x-2)
https://ci.nodejs.org/job/node-test-commit-linuxone/nodes=rhel72-s390x/1443/ (test-linuxonecc-rhel72-s390x-1)

Now recreating run for last PR to see if that passes ok as well.

[2016-09-27 12:20] mhdawson commented on #503
That passed as well: https://ci.nodejs.org/job/node-test-commit-linuxone/1444/ so looks like all should be good now.

[2016-09-27 12:20] #503 closed

[2016-09-27 12:34] mhdawson opened #504 "AIX build failures looks like machine config"
For some reason builds on AIX seem to be failing with:

/origin/* +refs/pull/31/head:refs/remotes/origin/_jenkins_local_branch # timeout=20
ERROR: Error fetching remote repo 'origin'
hudson.plugins.git.GitException: Failed to fetch from git@github.com:nodejs/node-private.git
	at hudson.plugins.git.GitSCM.fetchFrom(GitSCM.java:799)
	at hudson.plugins.git.GitSCM.retrieveChanges(GitSCM.java:1055)
	at

[2016-09-27 12:35] mhdawson commented on #504
Kicked off 2 runs to make sure it still recreates against head.

[2016-09-27 12:36] mhdawson commented on #504
Seems to have gotten further on test-osuosl-aix61-ppc64_be-1

[2016-09-27 12:38] mhdawson commented on #504
Got further on  test-osuosl-aix61-ppc64_be-2 as well.

[2016-09-27 12:58] mhdawson commented on #504
Runs on both machines seems to be ok

[2016-09-27 12:59] mhdawson commented on #504
Launched build to match the one that was failing.  It also failed.  They key difference seems to be that the GIT_ORIGIN_SCHEME as git versus https.  That does jive with the failure reported.

[2016-09-27 13:21] mhdawson commented on #504
Local checkout with git seemed out.  Looking at config for jenkins agent it looks like this:

export LIBPATH=/opt/freeware/lib:$LIBPATH;

is what causes the problem.

[2016-09-28 00:47] mhdawson commented on #504
Ok as a summary the issue was due to dependencies between openssl/openssh/git.

1) We had installed git from bull freeware and it required export LIBPATH=/opt/freeware/lib to find the version of the libcrypto.a library that it needed.

2) ssh which is only used when we build from the private repo, however, however, could not run with the version of libcrypto.a in /opt/freeware/lib.

Jenkins howeve

[2016-09-28 00:47] #504 closed

[2016-09-28 12:31] jbergstroem commented on #500
@geek, @misterdjules, @ljharb what are your thoughts on doing this for 7.x and forward?

[2016-09-28 12:43] jbergstroem commented on #488
Posting it here in its current form:

# Supported platforms

A list of platforms supported by Node.js. This list needs to be kept up to date and released with each version of Node.js. The current version (below) **is based on node 6.x** but it should suggestively be backported to 4.x as well.

### Input

We rely on a few dependencies that ‘makes us who we are’ -- most importantly v8 and libuv. We

[2016-09-28 15:28] ljharb commented on #500
I'm on board, but would like as much concrete notice as possible (and an example index.tab) to try to ship the change beforehand :-)

[2016-09-28 15:56] jbergstroem commented on #500
@ljharb cool. We just need to start somewhere and a major makes more sense.

[2016-09-28 16:22] misterdjules commented on #500
@jbergstroem Can we summarize what the current plan is in the original comment of this issue so that we can make sure we're on the same page?

Also, my apologies for not being responsive today, I'll be offline most of the time.

[2016-09-28 16:23] jbergstroem commented on #500
@misterdjules sure. Give me a few minutes.

[2016-09-28 17:16] ljharb commented on #500
👍 OP LGTM

[2016-09-28 17:29] jbergstroem commented on #500
/cc @nodejs/build @nodejs/release

[2016-09-28 20:53] Fishrock123 commented on #488
Is `Linux (musl)` Alpine Linux?

[2016-09-28 20:55] jbergstroem commented on #488
@Fishrock123 not necessarily but Alpine definitely the more important distribution representing musl.

[2016-09-28 20:59] Fishrock123 commented on #488
I will note that we may want to have "experimental" support for the `mips` architecture, issues pop up here and there and we usually try to fix them for it. I understand getting testing hardware could be difficult though. I was hoping we'd be able to solve that via Tessel 2... :/

[2016-09-28 21:12] jbergstroem commented on #488
@saghul: have you had a chance to test libuv on mips?

[2016-09-28 21:23] bnoordhuis commented on #488
Another option is cross-compiling and running in qemu-user-static or qemu proper.  It has support for quite a few flavors and models: mips, mipsel, mips64el, mipsn32, mipsn32el, mips32r5, etc.

A chroot or vm image will be necessary for things like the procfs to work.

@jbergstroem I test libuv on mips very infrequently.  The LKGR is at least over a year old. :-)

[2016-09-29 01:46] jbergstroem commented on #492
Sorry for the delay here -- i'm a bit swamped at the moment. If anyone wants to chip in with improving playbooks for smartos14..16  that would be appreciated. I can spin up test machines if required.

Also, protip from @chorrell -- we can disable the SmartLogin (solving shared key access boundaries) by doing something in style with:
- remove/comment `PubKeyPlugin libsmartsshd.so` in `/etc/sshd/ssd

[2016-09-29 07:15] saghul commented on #488
@jbergstroem Not personally, but we've fixed a bug or 2 on MIPS because Debian builds libuv packages and runs the test suite.  I did setup a qemu instance at some point to fix a bug, but it was painfully slow.

[2016-09-29 07:23] saghul commented on #488
Not that I have a horse in this race, but shouldn't that be >= Vista?  AFAIK there is nothing (in libuv at least) which is improved by dumping Vista.  FWIW for v2 we so far dumped XP / 2k3, so Vista will still be supported (for now).

[2016-09-29 07:26] saghul commented on #488
Maybe a note about other platforms not in the list woud be nice? OpenBSD comes to mind, for example. Something along the lines of "the fact that a platform is not in this list does not necessarily mean it doesn't work, merely that's not officially supported in any capacity, ...."

[2016-09-29 07:31] jbergstroem commented on #488
@saghul re OpenBSD/others: I'm open to that. Also, if others are reading this I'd love to add OpenBSD  to our experimental tier if we could get access to vm's running it (anyone at Vultr reading this? :)

[2016-09-29 17:05] mhdawson commented on #490
AIX was included in 6.7.0 and looks ok so closing.

[2016-09-29 17:05] #490 closed

[2016-09-29 17:05] mhdawson commented on #474
minutes landed, closing

[2016-09-29 17:05] #474 closed

[2016-09-29 17:54] mhdawson commented on #484
Added to WG agenda in case we don't close on it before then.

[2016-09-29 17:54] mhdawson commented on #473
As last step PR to update ips for PPC machines in ansible config: https://github.com/nodejs/build/pull/507

[2016-09-29 18:35] mhdawson commented on #445
Ok linuxOne was included in the 6.7.0 release and quick check that I could uncompress and get to prompt indicates its ok.

Closing.

[2016-09-29 18:35] #445 closed

[2016-09-29 18:39] mhdawson commented on #426
Just seeing if we can close this one out. @jbergstroem @joaocgreis do you still need the remaining ones with your names ?

[2016-09-29 19:19] jbergstroem commented on #426
@mhdawson yes i want mine

[2016-09-29 19:24] jbergstroem commented on #484
(i have no more comments)

[2016-09-29 19:30] misterdjules commented on #500
@jbergstroem Thank you for outlining the current plan in the original comment! The plan looks good to me.

[2016-09-29 19:36] jbergstroem commented on #500
aside:
1. we should rename @nodejs/platform-solaris and the documentation around the same time we do this
2. I've chosen to leave above team. Although I do a lot of tinkering/build on them, I just don't have the day-to-day experience to help out with any proper debugging. With @geek being more active (and @misterdjules great effort) my contribution is pretty irrelevant anyway :)

[2016-09-29 20:24] joaocgreis commented on #426
I still need the ones with my name as well. I'll go ahead and close, please reopen if I missed anything.

[2016-09-29 20:24] #426 closed

[2016-09-29 21:31] misterdjules commented on #500
@jbergstroem Where is the platform-solaris team mentioned in the documentation? I can't find any occurrence.

[2016-09-29 22:25] jbergstroem commented on #500
@misterdjules I'm probably hallucinating; had this faint recollection of a document that listed teams and when to cc them.

[2016-09-29 22:49] Trott commented on #500
You are probably recalling https://github.com/nodejs/node/blob/master/doc/onboarding-extras.md but that team is not listed there. (PR to add it if you want.)

[2016-09-30 00:36] jbergstroem commented on #500
@Trott on spot as always -- thanks. Since we don't mention other platforms I think we'll be fine for now.

[2016-09-30 17:51] mhdawson opened #508 "AIX Machines: access for David Edelsohn"
David Edelsohn is part of the AIX team within IBM and has agreed to help in maintaining the AIX machines as OSU.

To be able to do this effectively we'd like David to have ongoing access to the test and release machines.

For ongoing access based on our doc here:https://github.com/nodejs/build/blob/master/doc/process/special_access_to_build_resources.md
-  Does the scope and size of the need justi

[2016-09-30 21:04] Trott opened #509 "ubuntu1604-arm64 build failures..."
...and nothing but build failures.

@jbergstroem removed it from node-test-commit-arm and will rebuild tomorrow, if I'm understanding everything correctly.

Trying to clear the ccache resulted in:

[code]

Here's a sample failure: https://ci.nodejs.org/job/node-test-commit-arm/5310/nodes=ubuntu1604-arm64/

That was the 9th consecutive build failure over a six hour period of time.

[2016-10-03 13:12] jbergstroem commented on #508
I'm not sure if you're asking about giving him access to the `test-` key (ref: ongoing) or just adding his key to test-osuosl-aix*? I'm ok with the second option seeing how you vouch for him.

[2016-10-03 17:15] mhdawson commented on #508
It is the second - add his key to those machines.

His request was access to the release machine as well as we'll need his support there as well.  I guess the more consistent way would be to give him access when needed to that machine but we should at least agree here that it can happen when necessary.

[2016-10-03 20:21] jbergstroem commented on #492
So, I spent some time on smartos today. Looks like we're running into issues with your openjdk8:
[code]

I don't have more time to look into that, but an up to date playbook is available in my repo.

[2016-10-03 20:30] jbergstroem commented on #492
..same happens for smartos16.

[2016-10-03 20:40] chorrell commented on #492
That's odd. I used a base-64-lts 15.4.0 with jenkins for Joyent image builds and openjdk8 works fine on that node. Is there's more than one version of Java install, like a `sun-jre` package?

[2016-10-03 20:52] jbergstroem commented on #492
@chorrell no, [just openjdk8](https://github.com/jbergstroem/build/blob/feature/refactor-the-world/ansible/roles/java-base/vars/main.yml)

[2016-10-03 20:58] chorrell commented on #492
This might be relevant: https://www.illumos.org/issues/7227

[2016-10-03 21:01] chorrell commented on #492
So maybe:

[code]

[2016-10-03 21:30] #473 closed

[2016-10-03 21:57] jbergstroem commented on #492
@chorrell: `"-Dsun.security.pkcs11.enable-solaris=false" is not a valid option`

[2016-10-03 22:00] jbergstroem commented on #492
@chorrell sorry, it does work -- I just messed up ordering.

[2016-10-03 22:12] jbergstroem commented on #492
First run with 15,16 here: https://ci.nodejs.org/job/node-test-commit-smartos/4584/

[2016-10-03 22:14] Fishrock123 commented on #495
ping @mhdawson

[2016-10-04 09:57] rvagg commented on #488
Moving to https://github.com/nodejs/node/pull/8922

I'm -1 on putting MIPS on it at this stage simply because even as Experimental it needs to be "There needs to be at least one individual providing maintenace and should strive to broaden CI test coverage." and we don't have that, there's nobody in core afaik that does this. It'd be nice to work towards that and putting qemu host in CI somewhere b

[2016-10-06 21:03] jbergstroem commented on #509
I've rebuilt 1 and 3. Putting them back on. Re-open if they start failing.

[2016-10-07 00:01] jbergstroem commented on #500
So, I'd like to proceed with this but I haven't heard much from the build group and/or release group. The next step would be writing logic in the smartos section of the release job, get some tests out.

[2016-10-07 02:10] jbergstroem commented on #509
Looks like we're getting an incorrect cpu core value: https://ci.nodejs.org/job/node-test-commit-arm/5402/nodes=ubuntu1604-arm64/console

I don't have time to fix this now; will remove from arm job for now.

[2016-10-07 10:49] evanlucas commented on #500
Let's just not forget to update https://github.com/nodejs/build/blob/master/setup/www/tools/dist-indexer/transform-filename.js when this happens. +1 from me

[2016-10-07 13:03] jbergstroem commented on #500
@evanlucas just pushed in https://github.com/nodejs/nodejs-dist-indexer

(note: this doesn't mean it's decided, just that we're preparing for it)

[2016-10-09 02:23] jbergstroem opened #511 "temporary access to @brendanashworth"
Brendan wanted access to work with https://github.com/nodejs/node/pull/7946. The latest CI indicates that he needs access to (at least) a FreeBSD host. Can I get some more people approving him getting temporary access?

[2016-10-09 20:36] joaocgreis commented on #511
@jbergstroem that's good news, I approve.

[2016-10-11 00:19] jbergstroem commented on #488
Seeing how we've passed this back to the node org I'll close this. If we get more feedback/questions I guess we can facilitate the same issue.

[2016-10-11 00:19] #488 closed

[2016-10-11 00:20] jbergstroem commented on #448
We suggested removing this from the wg-agenda at last meeting; doing so.

[2016-10-11 00:21] jbergstroem opened #512 "Build WG Meeting 2016-10-11"
### When

October 11th 2016, 8pm UTC: http://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Foundation+Build+WG+Meeting&iso=20161011T20&p1=%3A

### Where

- Hangouts on Air, for participants: https://hangouts.google.com/call/7rw6x2cpobga5bfigxjbiubxcue
- Youtube stream, for viewers: https://www.youtube.com/watch?v=nbYrQ43cpf4
- Minutes document: https://docs.google.com/document/d/1l3mVB

[2016-10-11 17:36] mhdawson commented on #495
@Fishrock123 thanks for the reminder, will bring it up in WG meeting to day to see what kind of suggestions I can come up with.  @piccoloaiutante you may also want to join the meeting today to listen to get a feel with respect to the issues being discussed/worked.

[2016-10-11 17:38] mhdawson commented on #470
Since Gibson is now a collaborator I'd like to propose we just give him access to the test keys so that he has access to the PPC, AIX and 390 machines. Will discuss in WG meting today.

[2016-10-11 18:18] mhdawson opened #513 "Add download testing"
After a recent release and issue was opened identifying that the tar.gz was corrupted. There were suggestions in https://github.com/nodejs/node/issues/8814 that we could have an automated job/process that automatically checks the download binaries

[2016-10-11 18:19] mhdawson commented on #513
@gibfahn @richardlau FYI

[2016-10-11 18:59] jbergstroem commented on #495
I guess it depends on what the interest might be. I can see a few things between this and the github-bot group.

[2016-10-11 19:05] jbergstroem commented on #513
How about adding a step after creating it instead? something like:
[code]

[2016-10-11 19:24] piccoloaiutante commented on #495
@mhdawson @jbergstroem i could join you in WG meeting in half hour so we can discuss about it

[2016-10-11 19:32] jbergstroem commented on #495
@piccoloaiutante lets keep the discussion post the meeting. I can stick around a bit longer and I'm sure @mhdawson can too! You're still welcome to join in and listen to our meeting.

[2016-10-11 19:35] piccoloaiutante commented on #495
@jbergstroem no problem, i'll follow it. Then i'm not sure that i'll stick around  after it since i'm based in italy, but anyway we can go on with this issue.

[2016-10-11 20:05] rvagg commented on #512
Sorry for not dropping this earlier but I have a conflict today that's stopping me attending. Some updates from me tho:

* Still working on OSX resources, delays are from the company that is _nearly_ ready to commit, I also have a backup macmini nearly ready for my garage (just cause I have a spare one not in action atm!)
* New nodejs.org server nearly ready, really needs to be done this week but

[2016-10-11 20:19] TheAlphaNerd commented on #484
quick ping to @ljharb and @qw3rtman to confirm this would not negatively affect n or nvm

[2016-10-11 20:20] joaocgreis commented on #484
Text LGTM.

Perhaps when we enable this completely we can add a visible notice to the main page warning users about this (for one week perhaps?). Users that are not able to connect will probably try another computer/browser and if they can access there they will find an explanation.

[2016-10-11 20:20] Trott commented on #484
Text LGTM

[2016-10-11 20:21] Trott commented on #470
SGTM

[2016-10-11 20:32] gibfahn commented on #484
So presumably `unencrypted.nodejs.org` would be identical to the current `nodejs.org`?

[2016-10-11 20:58] jbergstroem commented on #484
@gibfahn: correct. it rsyncs every N minutes (I forget) and makes it available over rsync and http. We might look at adding ipfs at some point.

[2016-10-11 20:58] mhdawson opened #514 "Add Gibson to Build WG"
This issue is to discuss/vote on adding @gibfahn to the build WG.

Please either LGTM or discuss.  Final discussion/review is planned to take place in the next WG meeting.

[2016-10-11 20:58] mhdawson commented on #514
LGTM

[2016-10-11 21:02] TheAlphaNerd commented on #514
LGTM

[2016-10-11 21:51] joaocgreis commented on #495
Welcome @piccoloaiutante ! Here are some ideas:

- Adapt the [Windows Ansible scripts](https://github.com/nodejs/build/tree/master/setup/windows) to the [refactor by Johan](https://github.com/jbergstroem/build/tree/feature/refactor-the-world/ansible), integrating Windows as well as possible. Some things that would be nice to have:
  - Handling reboots, when updating Windows or installing Visual St

[2016-10-11 21:52] jbergstroem commented on #514
LGTM

[2016-10-11 21:52] jbergstroem commented on #470
Suggesting we close this in favour of #514 (once landed)

[2016-10-11 22:02] ljharb commented on #484
This will absolutely break anyone using an older version of nvm (luckily, a much much older version) that has the mirror pointed at the HTTP version - however, anyone who wants io.js support, or working node4+ support, has a version of nvm that points at the HTTPS URL, so I think this should be fine.

Note that https://github.com/nodejs/build/issues/233 is still open and prevents older clients fro

[2016-10-11 22:06] jbergstroem commented on #484
@ljharb seeing how not much has changed in #233 I don't think we should rely on it being supported in the near future. Is it possible for you to fallback to `unencrypted` or similar? Old clients is one of the reasons we offer this service in the first place.

[2016-10-11 22:18] ljharb commented on #484
Possibly - I don't really have any way of detecting that fallback reliably, so I'd have to code it to unconditionally retry the HTTP version, and I'm loath to do that.

[2016-10-11 23:14] Trott commented on #136
Closing in favor of #367. Feel free to re-open or comment if you think that's an error.

[2016-10-11 23:14] #136 closed

[2016-10-11 23:17] Trott commented on #119
This *seems* like it should be closed. Please re-open or comment if I'm mistaken.

[2016-10-11 23:17] #119 closed

[2016-10-11 23:28] Trott opened #515 "file and directory names for downloads"
Let's revisit the file naming and redirects for the downloads directory in an effort to hopefully set users up for maximum future success.

Some things to note:
- We used to call them RCs. They used to end up in a `rc` directory with a `-rc` suffix. The problem: They weren't RCs. So we renamed them `beta`. Hooray! But they ended up in a `test` directory. What? Boo!
- Aside from being semantically

[2016-10-11 23:30] Trott commented on #514
LGTM

[2016-10-11 23:31] jbergstroem commented on #515
Lets try and put forward something to discuss at that meeting; for instance a suggestion on how we want it to be? This needs to be streamlined with our jenkins config as well as `Makefile`. Likely also ported back to at least some branches.

[2016-10-11 23:36] TheAlphaNerd commented on #515
so I think we need

* `beta` (ongoing build with moving changes)
 - labelled `-beta.#`
* `rc` (pre releases that are not subject to changes except when neccessary)
 - labelled `-rc.#`
* `test` (test releases being build for a variety of reasons)
 - labelled `-test-$DATE`
* `nightly` (automated releases)
  -  - labelled `-nightly-$DATE`

and of course `release`

thoughts?

[2016-10-11 23:39] Trott commented on #515
@TheAlphaNerd Especially if `nvm` is cool with all that, we could just start using something like that now and accept the fact that there are mis-labeled binaries in the past. I personally imagine that is acceptable, as it is probably pretty unusual for someone to want an rc or a beta from a year ago. So as long as the current ones are labeled correctly, everything is great.

[2016-10-11 23:41] TheAlphaNerd commented on #515
I think it would be valuable to agree to the release process on this and document it... then stick to it

/cc @nodejs/release

[2016-10-11 23:42] jbergstroem commented on #515
From ci-release point of view we also have custom builds (which is sort of abused atm) to generate from other branches.

[2016-10-12 00:16] ljharb commented on #515
My ideal scenario, whatever terminology we decide, would be one where the directory name and filename suffix were in sync, and *were updated historically for all previous releases that had RCs* (using symlinks on the server for this is an implementation detail, and fine)

I'm also fine with "RC", "beta", "test", and "nightly" - four branches theoretically is no harder than two, especially if they'

[2016-10-12 00:19] Trott commented on #515
I guess the problem is what to do about (for example) old "RCs". OK, so we can symlink or whatever and have them called betas instead. But we can't break the existing URLs for the files that contain an "rc" directory and an "rc" suffix. So they will forever be non-RC RC releases that are available. Maybe I'm overthinking it and that's just not a problem. Like, hey, it's available as an RC *and* a

[2016-10-12 00:19] rvagg commented on #484
1. there's mention of rsync in here but we haven't announced it anywhere else yet, perhaps we should roll it up into a single post? @jbergstroem did we come up with initial text for that?
2. the plan with unencrypted.nodejs.org was to just support the downloads directory, we can extend that to do all of www content, what does @nodejs/build think of that? I think I'm in favour of keeping it simple

[2016-10-12 00:21] ljharb commented on #484
@rvagg the `dist` directory would be necessary to keep, since that's the only one `nvm` currently uses.

[2016-10-12 00:22] rvagg commented on #484
@ljharb on unencrypted.nodejs.org you mean? there's no plan to remove it from nodejs.org, we're stuck with it forever methinks

[2016-10-12 00:22] ljharb commented on #515
I don't think it will be a problem, especially if most people end up using `nvm` to install these things anyways.

You could always include a README in the old directories that explains the change, and that these are deprecated?

[2016-10-12 00:23] ljharb commented on #484
I suppose it doesn't matter on `unencrypted`, it just means my messaging to people that this change breaks would be slightly more complex (ie, rather than just "add the unencrypted cname", it'd be "use this URL")

[2016-10-12 00:24] rvagg commented on #484
@ljharb we can do /dist/ on unencrypted if it makes it easier for nvm, that's no problem, it's just an alias for /download/release/

[2016-10-12 08:45] bnoordhuis commented on #419
Another one: https://github.com/nodejs/node/pull/9041

[2016-10-12 08:50] bnoordhuis commented on #419
Would also be good for testing pull requests like https://github.com/nodejs/node/pull/9040.

[2016-10-12 14:57] jbergstroem commented on #509
Re-imaged them. Closing!

[2016-10-12 14:57] #509 closed

[2016-10-13 00:54] joaocgreis commented on #514
LGTM

[2016-10-13 13:31] mhdawson commented on #512
PR for minutes: https://github.com/nodejs/build/pull/517

[2016-10-13 16:10] Trott commented on #511
:+1:

[2016-10-13 16:58] TheAlphaNerd commented on #511
lgtm

[2016-10-13 17:23] jbergstroem opened #518 "Ubuntu 16.10?"
So,
ubuntu 16.10 was [just released](http://insights.ubuntu.com/2016/10/13/canonical-releases-ubuntu-16-10/).

Seeing how we already carry 16.04 LTS, is there need to cover 16.10 as well? I don't know enough about how ubuntu chooses to version -- toolchains, et al -- so feedback would be appreciated.

[2016-10-13 19:32] jbergstroem commented on #484
1. Initial rsync text: Can't find it. I'll throw something together.
2. I'm `-1` to expanding what will be available through `unencrypted.nodejs.org`. Downloads should have to do. It's 2016 for pete's sake.
3. Good idea. Perhaps merge suggested text into a bigger one that covers general direction.

[2016-10-13 19:36] ljharb commented on #484
You say "it's 2016"  as if this thread isn't the first moment I've (the largest consumer of it) ever heard about deprecating "dist"

[2016-10-13 20:24] mhdawson commented on #511
LGTM

[2016-10-13 20:34] jbergstroem commented on #484
@ljharb wasn't referring to dist, rather `www` stuff (website, api docs, et al). I don't we'll ever be able to move away from `dist`

[2016-10-13 20:57] mhdawson commented on #470
Agreed

[2016-10-14 15:24] jbergstroem commented on #511
I've now added his key to `test-joyent-freebsd10-x64-2`.

[2016-10-15 21:43] phillipj opened #519 "release/index.json for v6.8.1 has invalid modules value"
As reported in https://github.com/nodejs/nodejs.org/issues/969, the v6.8.1 release has `modules: null` in https://nodejs.org/download/release/index.json.

I assume the `modules` value originates from [fetchModVersion() in dist-indexer.js](https://github.com/nodejs/build/blob/master/setup/www/tools/dist-indexer/dist-indexer.js#L268). I've manually tested the regexes in that method against `node_ver

[2016-10-15 21:46] phillipj commented on #519
Just noticed v6.8.1 also has `zlib: null`

[2016-10-15 21:56] targos commented on #519
It's also missing the `npm` property

[2016-10-15 21:57] targos commented on #519
And `uv` is an empty string

[2016-10-16 07:22] phillipj commented on #519
/cc @nodejs/release

[2016-10-16 23:40] TheAlphaNerd commented on #519
/cc @nodejs/ctc

[2016-10-17 17:30] jbergstroem commented on #500
Ok, one week to go. I would suggest this change in the build job under OSTYPE=solaris  -- any objections? If not, I'll run a few test jobs
[code]

[2016-10-17 22:56] rvagg commented on #519
I've run it again and it's updated. This can happen if the tag is not pushed to the public repo before being promoted. @evanlucas I think you did 6.8.1, do you recall if this happened?

[2016-10-17 23:00] evanlucas commented on #519
Looking back, I may not have pushed the tag when I promoted

[2016-10-18 03:21] rvagg commented on #519
pretty sure https://github.com/nodejs/node/issues/9142 will solve this

[2016-10-18 03:21] #519 closed

[2016-10-19 01:08] jbergstroem commented on #500
I'm going to implement this for the upcoming 7.0.0rc1 unless anyone has any objections.

[2016-10-19 14:36] mhdawson commented on #512
Minutes landed closing

[2016-10-19 14:36] #512 closed

[2016-10-19 22:49] mhdawson opened #520 "Temporary access to AIX release machine for Michael Dawson"
Seems like the config of the AIX release machine left in one bit of configuration which means on reboot that console input is needed to get the machine going again.

We've validated that the issue does not exist on the machines in the test infra and we are pretty sure we know what the issue is.  We just need to comment out or remove this line:

[code]

from the /etc/inittab file.  Commenting out c

[2016-10-19 22:54] jbergstroem commented on #520
It looks like this on the aix release host: `install_assist:2:wait:/usr/sbin/install_assist </dev/console >/dev/console 2>&1`

[2016-10-20 12:25] mhdawson commented on #520
Ok, even though the line is slightly different I think we still need to comment it out or remove that line.

[2016-10-20 13:17] mhdawson commented on #508
@nodejs/build any objections ?  Otherwise I'll consider approved for access to the test machines by @jbergstroem's ok.

[2016-10-20 13:18] mhdawson commented on #494
Ok, the test that was causing processes to still be running after the test run was fixed so I think we can close this.  Please re-open if you feel differently.

[2016-10-20 13:18] #494 closed

[2016-10-20 13:22] mhdawson commented on #225
Coverage work progressed in an issue over in the testing WG:  https://github.com/nodejs/testing/issues/36.  Closing this issue.  Please re-open if you disagree.

[2016-10-20 13:22] #225 closed

[2016-10-20 20:37] jbergstroem commented on #500
Just did an attempt for rc1 which failed. I will have a look at this and hopefully make it for rc2.

[2016-10-24 19:31] Trott commented on #172
If I understand correctly, node-accept-pull-request and node-merge-commit aren't coming back any time soon (which makes me sad, but what can you do?) so I think this can probably be closed. Feel free to re-open or comment if I'm mistaken.

[2016-10-24 19:31] #172 closed

[2016-10-24 19:34] Trott commented on #168
This has been dormant for over a year. I'm going to close it. Feel absolutely free to re-open or comment if there is active work going on, or this is something that desperately needs to happen, or you otherwise feel it is a mistake to close this.

[2016-10-24 19:34] #168 closed

[2016-10-24 19:35] Trott commented on #165
Closing as this has been inactive for over a year and I believe we intend to move off the TAP plugin. Feel free to re-open or comment if I am mistaken to close this.

[2016-10-24 19:35] #165 closed

[2016-10-24 19:38] Trott commented on #132
Looking at https://ci.nodejs.org/view/libuv/, I *think* this can be closed as I see stuff for Windows, AIX, etc. I'm going to Be Bold and close this, but feel free to re-open or comment if I'm mistaken. This issue hasn't been updated in over a year, so I strongly suspect the situation has changed since it was last updated.

[2016-10-24 19:38] #132 closed

[2016-10-24 19:39] Trott commented on #105
This hasn't been updated in over a year, and I *think* these things are all in ansible now. Closing, but feel free to re-open of course if I'm mistaken.

[2016-10-24 19:39] #105 closed

[2016-10-24 19:40] Trott commented on #176
I'm pretty sure `node-accept-pull-request` is not coming back any time soon, so I'm going to close this. Feel free to re-open if you think it should be open.

[2016-10-24 19:40] #176 closed

[2016-10-25 16:35] jbergstroem opened #521 "Remove most environment variables from jenkins"
We should strive to remove as many environment variables from jenkins configuration as possible. This is because generalization of stuff like jobs or tmp dir might be different per worker. As part of this, lets verify that variables exists in each environment at every worker (part of the ansible refactor).

These include (add more as we find):
- node_tmp_dir
- node_common_port
- jobs/`-j`
- python

[2016-10-25 16:36] jbergstroem commented on #500
with 7.0 being out and all I will attempt to get this in for next 7.x release. Sorry for not making it in time; been pretty busy with Jenkins headaches. If anyone else wants to chip in, feel free.

[2016-10-26 15:50] LaurentGoderre commented on #75
Couldn't I make the case that docker and Alpine are a wildly adopted platform and having a binary targeting those is good for Node. Couldn't you justify this one in particular and avoid the scfope creep since Docker has a consistent architecture.

[2016-10-27 00:54] joaocgreis commented on #521
SGTM

[2016-10-27 14:01] Trott commented on #350
Ping! Is this still happening? If not, can we reconfigure the AIX hosts so that this doesn't happen on every test run?:

[code]

[2016-11-01 14:22] jbergstroem opened #522 "Build WG meeting 01-11-2016"
### When

November 1st 2016, 8pm UTC: http://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Foundation+Build+WG+Meeting&iso=20161101T20&p1=%3A

### Where
- Hangouts on Air, for participants: TBA
- Youtube stream, for viewers: TBA
- Minutes document: https://docs.google.com/document/d/1IdeSfCJOT_cwlt4prb_Qv42Yn96jzunBt22pJfankDg/edit?usp=sharing

### Agenda

Extracted from `wg-agenda` [i

[2016-11-01 14:23] jbergstroem commented on #522
Unfortunately, I will have to give a pardon for this one.

[2016-11-01 15:18] joaocgreis commented on #522
I won't be able to attend today, sorry.

[2016-11-01 18:18] Starefossen commented on #522
I haven't had much time for Build related stuff as of lately, sorry. But I can help facilitate the meeting if we decide not to cancel this one.

[2016-11-01 18:39] geek commented on #522
I am also unavailable today.

Thanks,
Wyatt

[2016-11-01 19:52] rvagg commented on #522
With so many bails I think we should punt on this meeting and I'll stay on bed. @mhdawson you ok with that?

[2016-11-01 20:01] rvagg commented on #522
Cancelling. Let's try and resolve some of these things async.

[2016-11-01 20:01] #522 closed

[2016-11-02 03:49] #260 closed

[2016-11-02 03:50] #324 closed

[2016-11-02 03:52] #327 closed

[2016-11-02 03:53] #337 closed

[2016-11-02 06:58] huzhijiang commented on #173
Again:

Wiping out workspace first.
java.io.IOException: remote file operation failed: /home/jenkins-ci/opnfv/slave_root/workspace/daisy4nfv-verify-build-master at hudson.remoting.Channel@61f2a4c1:lf-build1: java.nio.file.AccessDeniedException: /home/jenkins-ci/opnfv/slave_root/workspace/daisy4nfv-verify-build-master/daisycloud-core/.git/refs/heads/master
	at hudson.FilePath.act(FilePath.java:986)

[2016-11-03 02:58] rvagg opened #523 "Anything at Collaboration Summit?"
See https://github.com/nodejs/summit/issues/35, end of this month in Austin. I'll be there, who else from @nodejs/build will be there and does anyone have suggestions for what we might want to do in-person?

[2016-11-03 05:36] Trott commented on #523
o/

[2016-11-03 17:04] TheAlphaNerd commented on #514
@nodejs/build can we give @gibfan access to jenkins while we wait for this to be voted? There is some work I could use his help on

[2016-11-03 17:15] joaocgreis commented on #514
Do we have or inherit a process for adding WG members from somewhere? Do we need a formal vote? The meetings are great to move stalled issues and discuss stuff, but we should be able to make decisions on GH issues. This has been open for 23 days without any objection, I do not see a reason not to move forward.

[2016-11-03 17:21] gibfahn commented on #514
So it looks like the people who haven't voted are: @rvagg @geek @phillipj @Starefossen

[2016-11-03 17:34] Starefossen commented on #514
LGTM 🎉

[2016-11-03 18:32] phillipj commented on #514
LGTM

Completely agree!

[2016-11-03 18:40] jbergstroem commented on #514
@joaocgreis not really a formal process other than the tradition of attempting to vote on our meetings. I agree that this shouldn't hold up Getting Work Done and I believe we have consensus with the two last votes. Perhaps have all members add their vote post-addition as well.

@gibfahn can you ping me on irc?

[2016-11-03 21:15] jbergstroem commented on #520
Is there anything else actionable here? (me and Michael did some irc talk)

[2016-11-04 14:03] #470 closed

[2016-11-04 14:03] #514 closed

[2016-11-07 04:33] Trott opened #525 "FreeBSD (and maybe others) stalling on compilation on CI"
We have a frequently-recurring issue where a FreeBSD host (and I think some others too, but it's most frequent on FreeBSD) will appear to stall while compiling. At least that's what it looks like in the Jenkins interface. A recent example is https://ci.nodejs.org/job/node-test-commit-freebsd/5182/nodes=freebsd10-64/console which stopped cold after this:

[code]

At this point, it seems like nothin

[2016-11-07 04:36] Trott commented on #525
I killed the `gmake` processes and this immediately appeared in the Jenkins interface right under the line that it was stalled at for hours:

[code]

Looks like the problem is the `gmake` hanging (deadlocked, perhaps, somehow?) and not a problem with Jenkins communication?

If deadlocking is a reasonable possibility, maybe it makes sense to use `-j 1` for a while and see if that makes the problem

[2016-11-07 11:57] jbergstroem commented on #525
When you've looked; has it always been in openssl? `-j1` would confirm the theory that their makefile is racy.

[2016-11-07 12:34] bnoordhuis commented on #525
We don't use openssl's Makefile, we generate our own through gyp.

[2016-11-07 12:52] jbergstroem commented on #525
@bnoordhuis Ah, that's right. I've seen this for the last month or so; tried cleaning ccache to no avail. Looking at [recent commits to our openssl repo](https://github.com/nodejs/node/commits/master/deps/openssl) I don't see anything that would corroborate that timeline. Suggestions on how to capture more info?

[2016-11-07 13:13] bnoordhuis commented on #525
Is cc gcc or clang?  Are the gmake processes really blocked when you attach a debugger and if so where? Do `-j1` and `-j2` work?

[2016-11-07 13:18] jbergstroem commented on #525
It's clang. We already run `-j2` (`-j$num_cores`) -- idea is to try `-j1` next. I can try and attach next time as well.

[2016-11-07 17:26] jbergstroem commented on #525
So, I saw a freeze on one of the fbsd11 boxes:
[code]

bt is mostly optimized out:
[code]

..but forcing it to continue seems to point to job server management:
[code]

..after which the build kept going.

[2016-11-07 22:24] piccoloaiutante commented on #495
@joaocgreis I have a first draft of ansible script for supporting widows update and reboot. I tested it on windows 10 and windows server 2012. Can you have a quick look at it before I submit a PR for it just to see that i'm on track of what you're expecting?

https://gist.github.com/piccoloaiutante/d6f0766235b63d44defd3d35bc1887c7

[2016-11-07 22:45] mhdawson commented on #523
I'll be there.

[2016-11-08 10:53] jbergstroem commented on #520
Closing this; I believe the issues have been fixed.

[2016-11-08 10:53] #520 closed

[2016-11-08 11:25] jbergstroem commented on #492
This has been implemented on all hosts and are available in the [playbooks in my refactor](https://github.com/jbergstroem/build/blob/feature/refactor-the-world/ansible/roles/baselayout/tasks/main.yml#L23..L25).

[2016-11-08 11:26] jbergstroem commented on #366
We're now running jenkins 2.x at both ci and ci-release.

[2016-11-08 11:26] #366 closed

[2016-11-08 11:27] gibfahn opened #526 "Clarify how access is controlled (to CI, machines etc.)"
Having just joined the build team, I'm a little unclear on how accesses are managed.

It'd be good to clarify and set out how everything is managed. Obviously for things like CI access there will be overlap with other groups like CitGM and libuv.

Based on discussion with @jbergstroem in IRC, permissions are as follows:

 - [nodejs/build](https://github.com/orgs/nodejs/teams/build): allows you to

[2016-11-08 11:27] jbergstroem commented on #376
Closing. Reopen if this still is an issue.

[2016-11-08 11:27] #376 closed

[2016-11-08 12:29] bnoordhuis commented on #525
I suspect it's http://savannah.gnu.org/bugs/?49014.  Savannah lists comments in reverse order so start at the bottom if you want the discussion to make sense.

[2016-11-08 12:48] jbergstroem commented on #526
I think the "issue" with `jenkins-admins` is that the majority of that groups inherits ownership as part of other groups, such as the TSC. The idea was to have a small circle have "full" access to jenkins since having that gives you access to things like ci-release and similar.

I think one way forward would be elevating control for the build group so they can configure jobs in CI; we just need to

[2016-11-08 12:52] jbergstroem commented on #525
Ouch. Lets look at downgrading gmake to 4.1 for now then.

[2016-11-08 13:09] gibfahn commented on #526
@jbergstroem Does that mean that `jenkins-admins` should be a subset of [nodejs/release](https://github.com/orgs/nodejs/teams/release)?

I agree saying that `build` != `jenkins-admins` is a good idea, it means we can have more people in the build group!

[2016-11-08 13:12] jbergstroem commented on #525
I've updated all 10 hosts, will have to hunt for a 11 package (or install ports).

[2016-11-08 13:18] jbergstroem commented on #526
@gibfahn `nodejs/release` have access to ci-release but cannot modify the jobs. `jenkins-admins` are the highest level of access we have.

[2016-11-08 17:15] piccoloaiutante commented on #495
@joaocgreis i can get it Windows Server 2008R2 from msdn. Don't worry i'll be back with info about it. Thanks

[2016-11-08 17:17] mhdawson commented on #520
Agreed

[2016-11-09 04:01] isiahmeadows commented on #151
Will there be a way to optionally disable this (or use a pre-existing binary)? That would be very useful for Electron/NW.js users that also need native modules.

[2016-11-09 05:20] Mithgol commented on #151
@isiahmeadows …if the buld system's source code becomes open as originally planned, then Electron's / NW.js's teams might setup their own build farms and reuse the same npm features (however, npm features would have to be designed beforehand with that possibility in mind).

[2016-11-09 22:12] gibfahn commented on #526
@jbergstroem Is there anything I can do to help out with this? Maybe check which jobs are node-private?

[2016-11-10 11:45] jbergstroem commented on #526
@gibfahn I'd hate for this to sstall progress, so I'll just add you to all citgm jobs; but we should probably still figure out userlevels in jenkins. We also have finer grain control over things like libuv so their team can access it, so it would make sense.

[2016-11-10 12:27] joaocgreis opened #527 "Build nightlies of Node-ChakraCore"
Node.js on ChakraCore (https://github.com/nodejs/node-chakracore) is becoming increasingly stable. Hence, it is our intention to provide users with an easy way to start experimenting with the latest version, by providing experimental nightly builds. For now, this will include a Windows version and a Linux version build from the `xplat` branch.

If there are no objections, I will soon move forward

[2016-11-10 13:56] mhdawson opened #528 "Move node-test-commit-linux-coverage to Nodej.js tab in CI"
I'd like to move  node-test-commit-linux-coverage to Nodej.js tab in CI as it needs to run every night and should be consistently green.  Having it there should make it more obvious if there are issues with the job.  Any objections ?

[2016-11-10 13:57] jbergstroem commented on #528
Do it!

[2016-11-10 14:00] jbergstroem opened #529 "Do we want a logo?"
<p align="center">
<img width="400" alt="artboard 1 2x" src="https://cloud.githubusercontent.com/assets/176984/20235231/1f934034-a86b-11e6-9ed5-65d047864f80.png">

</p>

Just did this for reasons I'm still not sure about. Do we even want or need a logo? I imagine printing stickers and putting them on my toaster which hopefully will run jenkins in a near future.

Edit: database icon -> shovel (poor

[2016-11-10 14:45] mhdawson commented on #527
nightly builds seem reasonable to me.

[2016-11-10 14:47] mhdawson commented on #529
I think it would be cool to have some stickers :)  We'd probably have to get the ok from somebody in the foundation for the design.

[2016-11-10 14:54] jbergstroem commented on #527
I'd like to see this end up in the nightly job at some point, but having it separate to speed up development makes sense.

[2016-11-10 20:01] jbergstroem commented on #525
Haven't seen this occur since I downgraded gmake. Thanks for helping out, @bnoordhuis. I'll close this once I figure out how to pin packages in FreeBSD (or a newer version of gmake hits the shelves).

[2016-11-10 20:56] jbergstroem commented on #525
Fixed:
[code]

[2016-11-10 20:56] #525 closed

[2016-11-10 23:00] jbergstroem commented on #518
Ping :)

[2016-11-10 23:07] rvagg commented on #518
I'd like us to do LTS + latest, which means inserting 16.10, aside from the fact that many users will be on 16.10 already it also gives us a stepping stone toward 17.04 and a headsup on anything that might be a surprise.

[2016-11-11 12:02] jbergstroem commented on #518
Consider it done.

[2016-11-11 18:22] gibfahn commented on #529
I can't say we need this, but definitely want that sticker.

`<bikeshedAlert>`Maybe less text? Something like `Node.js Build WG`?`</bikeshedAlert>`

[2016-11-11 18:27] TheAlphaNerd commented on #529
I'd be into something super minimal... something we can put on a hex sticker. What about just the gears or the shovel?

[2016-11-11 18:28] jbergstroem commented on #529
@gibfahn we could always make the text optional if stickers would be a reality. I just saw the symbol/text as a way to consolidate a readme/etc.

[2016-11-11 20:51] jbergstroem commented on #529
I'll prepare a hex shovel, the symbol and the text for use if we end up doing it!

[2016-11-11 21:07] TheAlphaNerd opened #530 "Skip BSD 11 for v4.x"
BSD11 cannot compile v4.x. Can we get a no-op for that platform for CI?

[2016-11-11 21:31] jbergstroem commented on #530
I'd optimally like to get this fixed but I don't have time to look into it. Does this look ok?

<img width="998" alt="screen shot 2016-11-11 at 6 30 20 pm" src="https://cloud.githubusercontent.com/assets/176984/20230876/f004521e-a83c-11e6-8245-b667c79e76de.png">

[2016-11-11 21:31] TheAlphaNerd commented on #530
lgtm

On Fri, Nov 11, 2016, 4:31 PM Johan Bergström <notifications@github.com>
wrote:

[2016-11-14 15:02] mhdawson opened #532 "Resizing AIX machines - 10 AM Nov 14"
When the AIX machines were installed, they were not given the requested resources.  We need to take them down for a short period in order to be able to resize.

Planning to do the 2 test machines today at 10 AM.

[2016-11-14 15:04] jbergstroem commented on #532
Cool. Please update the readme for automating the install if need-be as well. Finally, if you could install the latest available python 2.7.xx that includes pip it would be awesome.

[2016-11-14 15:06] mhdawson commented on #532
OS updates we should handle through a different issue as I've had many dependency issues so installing the latest may not be as straight forward as would be nice.

We would need your help to do the resize on the release machine since I can't log in to take it of lf line.  You going to be around the next 30 mins ?

[2016-11-14 15:12] jbergstroem commented on #532
Since we will be requiring pip to install tap2junit at some stage (junit xml output from test runners) I hope the install won't have any issues. According to http://www.aixtools.net/index.php/python, recent releases should have `pip` installed?

[2016-11-14 15:12] jbergstroem commented on #532
I will be available on IRC in about 30 minutes from now.

[2016-11-14 15:12] mhdawson commented on #532
In terms of what we are doing now, it is resizing the physical resources assigned to the machine
so outside of the OS and does not affect the install instructions

[2016-11-14 15:13] jbergstroem commented on #532
Oh, gotcha.

[2016-11-14 15:20] mhdawson commented on #532
In terms of dependencies its more that if there are any shared dependencies it can have a ripple effect, last time I had a lot of work (many hours) to get to a state that worked with a new package.  Hopefully it will be smoother this time.

I'll open a new issue to install a python with pip.  I assume it should still be in the 2.7 line ?

[2016-11-14 15:54] mhdawson opened #533 "Install latest python 2.7 with pip on AIX"
From @jbergstroem

Since we will be requiring pip to install tap2junit at some stage (junit xml output from test runners) I hope the install won't have any issues. According to http://www.aixtools.net/index.php/python, recent releases should have pip installed?

[2016-11-14 16:32] mhdawson opened #534 "Jenkins agent Autostart on AIX"
Seems that what I put in place does not actually autostart the jenkins agent on AIX

Getting suggestions from our AIX expert (David Edelsohn) on what we should do instead.  In the mean time on reboot of an AIX machine you need to run

/etc/rc.d/rc2.d/S20jenkins start

Note they do not need to be/nor should be rebooted very often. I think they had been running for more than a few months when we too

[2016-11-14 16:56] MylesBorins opened #535 "Document policy for CITGM modules"
Currently we don't have a policy documented for the requirements of a module to be included in CITGM. To the best of my knowledge we have both **HARD** and _SOFT_ requirements

---
### Hard Requirements

* Module source code must be on github
* Published versions must include a tag on github
* The test process must be executable with only the commands `npm install && npm test` using the extracted

[2016-11-14 16:59] GeorgeAdams95 commented on #535
I would change to
"The test process must be executable with only the commands `git clone $url && npm install && npm test`" because as I understand it you are only planning to support github

[2016-11-14 17:01] mhdawson commented on #532
test machines resized, back on-online  and builds when through ok on test machines.
release machine resized, back on-line and custom test release built ok.

[2016-11-14 17:01] #532 closed

[2016-11-14 17:02] TheAlphaNerd commented on #535
@GeorgeAdams95 this is not the case as we get a tarball from github, we do not git clone.

[2016-11-14 17:07] GeorgeAdams95 commented on #535
okay then:
"The test process must be executable with only the commands `npm install https://github.com/x/y/release.tar.gz && npm test`"

[2016-11-14 17:09] TheAlphaNerd commented on #535
changed the copy to `The test process must be executable with only the commands npm install && npm test for the extracted tarball mentioned above`

[2016-11-14 19:14] mhdawson opened #536 "Add node-test-commit-linux-coverage to Node.js jenkins page"
I'd like to add https://ci.nodejs.org/view/All/job/node-test-commit-linux-coverage/ to the Node.js jenkins page (https://ci.nodejs.org/).  Its consistently green and needs to stay that way in order to support: https://coverage.nodejs.org/

Objections, agreement ?

[2016-11-14 19:41] jbergstroem commented on #536
no objections.

[2016-11-14 19:42] jbergstroem commented on #536
Perhaps its time to pull all the sub-jobs to test-commit/test-pr? Ideally, the front page should fit all relevant jobs without scrolling.

[2016-11-14 20:30] mhdawson commented on #536
Moving the sub-jobs makes sense to me provide that the main job mostly passes.   Another option might be to have one tab for regression and then one for "nightly" jobs that would include the benchmark and coverage ones.

My main desire is to be able to look at a page and know that if something's not green it should be and needs to be investigated.

If there was a way that could rollup the other pa

[2016-11-14 20:31] mhdawson commented on #535
@TheAlphaNerd and I discussed and the current version has a +1 from me.

[2016-11-14 20:38] mhdawson opened #537 "Update AIX ansible install instructions"
There was a tweak on the test machines.  This issue is to make sure we:
- [ ] update the AIX install instructions to cover this step
- [ ] apply to release machine.

From David

I updated one of the AIX disk I/O performance parameters on nodejs2 and nodejs3.  The parameter instructs AIX to start writing dirty pages earlier and not wait for the sync daemon.  Someone can apply the optimization to no

[2016-11-14 20:44] jbergstroem commented on #537
Is `nodejs1 ===release-osuosl-aix61-ppc64_be-1`?

[2016-11-14 22:10] mhdawson commented on #537
@jbergstroem yes, David updated the test machines.

[2016-11-14 22:42] bnb commented on #529
Love this idea! Would be super fun to start getting NodeSchool-esque logos for each WG. They have a [HexDex](https://nodeschool.io/hexdex.html) with all the logos - maybe the Org could do something similar, starting with the Build WG?

[2016-11-14 22:51] jbergstroem commented on #529
Well, our shovel aint got shit on those hexdex:es -- I'll see what I can do :)

[2016-11-14 23:57] jbergstroem commented on #537
Ok, done. Updated.

[2016-11-15 10:56] rvagg opened #539 "Improve value proposition for infrastructure donors"
We're still struggling with the "what do I get in return?" question from potential infrastructure providers who don't have an existing stake in Node.js (like IBM, Microsoft, etc.). What we really need is a prospectus that outlines what we can offer, and perhaps what we can't offer. It's important that we retain our independence from donor companies and figure out what the reasonable boundaries are

[2016-11-15 12:55] piccoloaiutante commented on #539
On 3rd point how about public tweet from foundation thanking for donors support every X amount of time? Is it something feasible or meaningful?

Overall the rest of you proposition make sense to me.

[2016-11-15 13:00] jbergstroem commented on #539
- Create three tiers: Lets. I agree with your assessment on group criteria as well as picks.

- New page: Should it live under the foundation though? Being a build group provider doesn't necessarily mean being part of the Node.js foundation.

- Guest blogging/content: I'd be happy to write some stuff as well, we have a wide range of topics to cover, from infra to ci to deploy and orchestration. No

[2016-11-15 16:22] Fishrock123 opened #540 "nodejs.org/metrics not plotting v7 downloads"
Download numbers for v7 do not appear to be showing up in the per-version graph.

[2016-11-15 18:47] mhdawson commented on #539
Internally it would be nice to understand the tiers, even if we don't publish them.  I would like to be in the position to be able to explain why we fall into one tier versus another.

[2016-11-15 20:20] mhdawson commented on #528
Done

[2016-11-15 20:20] #528 closed

[2016-11-16 14:48] mhdawson commented on #350
As an FYI, finally going to try this out today.

[2016-11-16 15:43] mhdawson commented on #350
Ok, configured with server/userid/password provided by Rod, use SSL is enabled, otherwise left as default.

Done through Jenkins->configuration, E-mail Notificaiton section.

I validated by adding a job that just fails and adding a

I'm getting emails on failure when I add a post-build action to a job:

![email-post-build](https://cloud.githubusercontent.com/assets/9373002/20353630/7dd5f12e-abe9-1

[2016-11-16 15:44] mhdawson commented on #350
I'll open a separate issue to gather input on who would like to be added to email notifications

[2016-11-16 15:44] #350 closed

[2016-11-16 15:50] mhdawson opened #541 "Notifications of build failures"
Now that we can get email notifications on build failures we should discuss how to reach out to people who want to be notified on failure.

I had some people express interest in being notified when the v8 jobs fails.

On the other hand I don't think we want to be having to configure/manage notifications on a per job basis for a large number of people. I can see doing it in specific cases like Micr

[2016-11-16 17:01] mhdawson opened #542 "FYI - Adding post build step to release job for email notications"
Wanted to make sure its visible that I'm adding a post build step to email on failure for the release job. Will close tomorrow once I validate that jobs still ran as expected.

[2016-11-16 19:37] Trott commented on #541
Hopefully there can be a general Build (and maybe some Test) WG folks who get notified whenever node-daily-master fails.

[2016-11-16 22:39] mhdawson commented on #526
I'm thinking we could do something along the following lines:

1) when necessary for a particular WG, set so that they can control who can run/configure etc along the lines of what we did for libuv
2) Ask that the follow something along the lines of: https://github.com/nodejs/build/blob/master/doc/process/special_access_to_build_resources.md in terms of ensuring a level of trust in those that are

[2016-11-16 22:40] mhdawson commented on #526
I'll add I can see this being useful for the benchmarking WG as well.

[2016-11-16 23:49] TheAlphaNerd opened #543 "Travel funding for Collaborators to attend Summit in December"
Hey All,

I wanted to make sure you were all aware of this thread from the TSC repo

https://github.com/nodejs/TSC/issues/166

TLDR active collaborators in this working group who want to participate in the summit, but cannot get funding from their employers, should feel free to apply

[2016-11-17 00:28] Fishrock123 opened #544 "github bot failed to redeploy"
After I pushed https://github.com/nodejs/github-bot/commit/015096fa2813e4b23fb9b02866c6ab5d9c53a00f looking at the logs it never redeployed. It had previously redeployed for the older commits though...

cc @nodejs/build, @phillipj

[2016-11-17 00:29] jbergstroem commented on #544
@Fishrock123 i'm not sure if it autodeploys. lets see what the norwegian says.

[2016-11-17 00:33] rvagg commented on #544
![screen shot 2016-11-17 at 11 32 18 am](https://cloud.githubusercontent.com/assets/495647/20371531/98f57aee-acb9-11e6-9ff0-8227e2946e1b.png)

The webhook service on the machine is running and I've asked GitHub to redeliver it and it's worked and the logs on that server says it's updated now.

A blip with that machine I guess .. `*shrug*`

[2016-11-17 00:33] #544 closed

[2016-11-17 07:15] phillipj commented on #544
Have you experienced things like this before? Can't remember noticing similar blips with nodejs.org which more or less has the exact same webhook setup...

One thought for later might be to expose the webhook logs for easier debugging for github-bot team members who doesn't have access to the bot server.

[2016-11-17 10:41] gibfahn commented on #526
I know that @nodejs/citgm were interested in this as well (for giving non-build members access to the citgm jobs).

[2016-11-17 14:44] mhdawson commented on #542
All looks ok, closing.

[2016-11-17 14:44] #542 closed

[2016-11-17 18:15] gibfahn opened #545 "Testing other projects in CI"
There seem to be lots of new projects coming into [the nodejs org](https://github.com/nodejs/), CitGM is an established one, but we also have nodereport and llnode (and maybe nvm at some point).

There are two distinct use-cases.
 - Does a Node version (or PR) break module tests for existing modules?
 - Does a new module version (or PR) break module tests on existing Node versions?

The first use

[2016-11-17 18:44] jbergstroem commented on #545
There's a similar discussion in #448.

[2016-11-17 20:06] gibfahn commented on #545
@jbergstroem True, although I was thinking more about the details of Jenkins job configurations than the higher-level access stuff.

[2016-11-17 20:28] mhdawson opened #546 "CITGM runs taking too long on AIX"
@georgeadams95 is reporting that CITGM runs on AIX are taking multiple hours were as other platforms only take 30-50m.

The regular regression runs on AIX are in the 20m range which is more than linux but in line with windows/arm.  So we might expect it to take a bit longer but not as longer as we are seeing.

This issue is to track our progress of narrowing down what the bottleneck might be,.

[2016-11-17 20:41] mhdawson commented on #546
Snapshot of perf data while CITGM was running:

[code]

[2016-11-17 20:42] mhdawson commented on #546
Does not look to be CPU constrained at least in the snapshot I grabbed and from having watched the output for a few minutes.

[2016-11-17 20:44] mhdawson commented on #546
Nothing looks constrained, in that the disk busy%, network number etc don't seem excessive.

@georgeadams95  I think next step is to figure out if we believe its slow consistently across the test or just while testing specific modules.

Once we know that we can shorten up what we use as a recreate to help with investigation.

[2016-11-17 20:45] GeorgeAdams95 commented on #546
@mhdawson i'll take a look tomorrow and see if I can see anything obvious

[2016-11-17 22:11] mhdawson commented on #545
I'd agree with @gibfahn .  I think #448 would be fore projects not under github/nodejs while this issue to is to address those that are.

I agree not having to build node would be nice.  The nightlies and latest supported versions sound like the right answer to me.

I don't think omitting coverage across platforms is a good idea, at least for all cases.  In cases like nodereport and llnode there a

[2016-11-17 22:13] mhdawson commented on #545
One other consideration is whether we'd want to run these tests as part of the release validation process.  In that case the nightly and last supported release might not be what we want.  In that case the option to build node would be useful.  Having said that it might be that we normally want to use the nightly/latest but make the job flexible enough so we can build a specific version of node whe

[2016-11-17 22:27] mhdawson commented on #526
@jbergstroem if you think what I've suggested could make sense, I'd volunteer to write up a first cut at what we might document as the policy/requirements for granting people access to be able to
* run a specific job
* be able to configure jobs in a particular category.

[2016-11-17 22:31] jbergstroem commented on #526
I think we can be more generous with providing access to specific groups for certain jobs. It will probably even make more sense if they are named consistently (citgm, libuv, etc).

When it comes to specific people to for instance test-commit or test-pr, that would probably benefit to similar documentation as what we have for temporary ssh access.

[2016-11-18 05:17] joaocgreis commented on #527
Windows nightly releases are already in place. However, Linux releases cannot be built out of our current release servers, because the `xplat` branch [requires a more recent OS and some dependencies](https://github.com/nodejs/node-chakracore/tree/dd5a011356bac0b0ceb67fbdda32af5f8958c2db#linux).

In order to disturb or current infra as little as possible, I plan to create a new release server with

[2016-11-18 08:34] gibfahn commented on #545
@mhdawson Sorry, when I said we wouldn't need 1 job per Arch, I meant you could put all the Archs into 1 multi-config job. Not that we wouldn't test all Archs.

[2016-11-18 09:25] rvagg commented on #544
Nope, can't say I have! Perhaps it's due to this particular machine, it's size, resource constraints, network, something like that. Pretty odd but looking in the webhook record on GitHub it's certainly a one-off.

[2016-11-18 09:31] rvagg commented on #541
Set up aliases in https://github.com/nodejs/email/tree/master/iojs.org for each job or type of job and get people to PR themselves into that if they want to be included.

[2016-11-18 11:39] gibfahn commented on #546
### vmstat output:
[code]

### df output (in MB)
[code]

[2016-11-18 11:48] gibfahn commented on #546
`/tmp` on both machines is 128MB, which seems very small.

ccache is definitely installed and in the path, in [this build](https://ci.nodejs.org/job/gibfahn-citgm-smoker-more-platforms/node=aix61-ppc64/lastBuild/consoleFull) I'm using `export CC=$(which gcc)` and `export CXX=$(which g++)`, which means builds look like:

[code]

On [the main CI build](https://ci.nodejs.org/job/node-test-commit-aix/

[2016-11-18 11:53] gibfahn commented on #546
Running ccache manually on the machine the cache directory looks odd:
[code]

[2016-11-18 14:20] jbergstroem commented on #546
Can confirm that ccache works as intended. Is `/tmp/` used for something? If disks are slow, one way to solve it would be using a `tmpfs` for the npm stuff.

[2016-11-18 14:48] jbergstroem commented on #546
Thinking this output is related 😄

[code]

[2016-11-18 14:53] GeorgeAdams95 commented on #546
@jbergstroem that is just because the /tmp drive is running low. Shouldn't be affecting the job speed should it?

[2016-11-18 14:56] jbergstroem commented on #546
@GeorgeAdams95 I just noticed that the test was stalling and that was the last error. Perhaps unrelated.

Anyway, npm tempdir is usually `$HOME/tmp`. Can we perhaps make sure we use that instead? That way we'll avoid the disk fulls.

[2016-11-18 15:24] gibfahn commented on #546
@jbergstroem Would you want to use `$HOME/tmp` or something in the workspace? I normally just use `$WORKSPACE/npm-tmp` and `$WORKSPACE/npm-cache`.

[2016-11-18 15:35] jbergstroem commented on #546
@gibfahn both sounds good; was just thinking we should make sure it doesn't use `/tmp` (or any other disk thats small)

[2016-11-18 18:28] gibfahn opened #548 "Jenkins connection issue on test-osuosl-ubuntu14-ppc64_be-2"
Fixed by restarting the Jenkins service

https://ci.nodejs.org/job/node-test-commit-plinux/5208/nodes=ppcbe-ubuntu1404/console

[code]

[2016-11-18 18:28] #548 closed

[2016-11-18 18:39] jbergstroem commented on #548
Suggesting you bump the ram from 128m to 192m and see if it changes anything.

[2016-11-19 00:23] rvagg commented on #540
This one? https://nodejs.org/metrics/summaries/version.png

![screenshot from 2016-11-19 11-14-20](https://cloud.githubusercontent.com/assets/495647/20451035/5627f502-ae49-11e6-829f-8c0cbe12c7f3.png)

Just need to zoom in I guess. Unfortunately the green is the same as 0.12!

If someone wants to optimise the list of colours then head over to https://github.com/nodejs/build/blob/master/setup/www/to

[2016-11-19 00:27] mweagle commented on #540
Handy tool for color selection: https://color.adobe.com/

[2016-11-19 00:28] rvagg commented on #529
@jbergstroem get us a hex ASAP and I'll get some printed before Node Interactive, I have some other hexes to print as well so may as well do it at the same time. Vector would be nice of course.

[2016-11-19 00:29] TheAlphaNerd commented on #529
@jbergstroem I've made some hexes before so let me know if you want some support

[2016-11-19 00:47] mhdawson commented on #548
I did not look at the reason, as its already 8PM my time but I had to restart the service on test-osuosl-ubuntu14-ppc64_be-1, test-osuosl-ubuntu14-ppc64_le-1 and   test-osuosl-ubuntu14-ppc64_be-2

We'll have to dig deeper if this is required again as we've not had any issues like this for a long time.

[2016-11-19 00:51] jbergstroem commented on #530
Ok, in place now. Please ping me when it messes up (it will).

[2016-11-19 00:51] #530 closed

[2016-11-19 01:39] jbergstroem commented on #529
@TheAlphaNerd no issues with dimensions; bigger issues with skill.

[2016-11-21 08:39] piccoloaiutante commented on #495
@joaocgreis i spent a lot of time trying to install power shell 3.0 on windows 2008 R2 so i could run the setup [script](https://raw.githubusercontent.com/ansible/ansible/devel/examples/scripts/ConfigureRemotingForAnsible.ps1) but i didn't succeed. Is there anything particular that i should do for provisioning this OS?

[2016-11-21 14:39] mhdawson opened #549 "osx1010-release-pkg failing"
Has failed in last 3 builds (since nightly on Nov 18):

 Example on :  release-voxer-osx1010-x64-1

https://ci-release.nodejs.org/job/iojs+release/nodes=osx1010-release-pkg/1352
[code]

[2016-11-21 14:42] joaocgreis commented on #495
@piccoloaiutante I've used the script at http://docs.ansible.com/ansible/intro_windows.html#getting-to-powershell-3-0-or-higher before, it worked for me.

[2016-11-21 17:10] Fishrock123 commented on #545
I think additional projects probably need to not be running jobs very frequently or else we'll end up needing a bunch more hardware? If getting hardware is a problem (seems to be for e.g. OS X)...

[2016-11-21 18:02] Fishrock123 commented on #543
@nodejs/build if you really want to come we can probably still squeeze you in but time is running low.

[2016-11-21 18:03] Fishrock123 opened #550 "https://nodejs.org/metrics/ is/was borken"
https://nodejs.org/metrics/

cc @nodejs/build, @rvagg

If it no longer is it would good to know what happened. :D

[2016-11-21 18:33] mhdawson commented on #549
Just ran ok on release-voxer-osx1010-x64-2.  The 3 failures were on release-voxer-osx1010-x64-1 so good chance its related to the machine.

[2016-11-21 19:45] jbergstroem commented on #550
what does "broken" mean? 404?

[2016-11-21 19:46] jbergstroem commented on #543
I had high hopes for being able to squeeze in two days but it looks like I won't be able to make it :(

[2016-11-21 19:54] targos commented on #550
Looking at https://nodejs.org/metrics/summaries/total.csv
It seems that there is an issue collecting the metrics. There is no data between 2016-10-13 and today apart from one point on 2016-11-01.

[2016-11-21 23:24] mhdawson commented on #508
David's key are installed on test madchines so closing.

[2016-11-21 23:24] #508 closed

[2016-11-21 23:25] mhdawson opened #551 "AIX: Backlog"
We have a few tasks outstanding in respect to the AIX configuration. @gibfahn was asking if we had a list somewhere so this issue will act as that list:

- [x] install version of python 2.x that supports PIP - https://github.com/nodejs/build/issues/533
- [x] enable jenkins agent auto start - https://github.com/nodejs/build/issues/534
- [x] submit PR to install instructions to cover disk io optimiz

[2016-11-21 23:28] mhdawson commented on #551
@gibfahn as requested.  If there are others I'll add to this list.  The installation of the python version that supports PIP is the most urgent.  Is that something you can look at this week ?   We'll want to look at the dependencies carefully as I ran into problems in previous updates and stage to one machine at a time.

[2016-11-22 13:52] rvagg commented on #550
logrotate wasn't working, fixed in https://github.com/nodejs/build/pull/552, the effect of this is that the unrotated access.log file was getting too big to process effectively—there were a few processes running on the server trying to complete it to no avail.

I've fixed it all up now and split up the big file manually into one per day and it's now processing and should look kind of normal again

[2016-11-22 13:56] mhdawson commented on #549
Ran again on release-voxer-osx1010-x64-1 and failed so almost certainly something on that machine. @jbergstreom,  @rvagg

[2016-11-22 13:57] rvagg commented on #549
OK, I'll take it out of the pool until I can figure out what the deal is

[2016-11-22 15:09] jbergstroem commented on #529
[wip.pdf](https://github.com/nodejs/build/files/606720/wip.pdf)

Here's the PDF is someone wants to chip in.

[2016-11-22 21:58] mhdawson commented on #546
Agreed its best if we can make sure not to use /tmp and instead use one of the other larger disks.  We can, however, if necessary increase the size of /tmp if there is no other option.

[2016-11-22 23:39] rvagg commented on #549
two of the machines failing .. different reasons but both for signing, have taken them offline for now until I figure it all out and test that they work, we still have a third that seems to work but needs to do a double shift to get the osx assets built.

[2016-11-23 10:57] #550 closed

[2016-11-28 16:34] mhdawson opened #556 "Benchmarking www mirror not working ?"
We updated https://github.com/nodejs/benchmarking/blob/master/www/index.html 3 days ago but it does not seem to have been mirrored to the [https://benchmarking.nodejs.org/](https://benchmarking.nodejs.org/) as expected.

[2016-11-28 16:34] mhdawson commented on #556
@rvagg

[2016-11-28 21:17] rvagg commented on #556
Our rsync is: `rsync -aqz --delete benchmark:charts/ /home/www/benchmarking/charts/`

Is `index.html` in the root of /home/benchmark/? if we change it to `rsync -aqz --delete benchmark: /home/www/benchmarking/` aren't we going to pick up a lot of guff in /home/benchmark? Perhaps we should shift this all to a subdirectory so we can do a full rsync?

[2016-11-29 01:01] joaocgreis commented on #527
Ubuntu release server done, deployed using https://github.com/janeasystems/build/commit/8c8d28c1d9a1c7caecf50c70b558b052a5c27dad . Will follow with a OS X server if there are no objections.

[2016-11-29 15:32] joaocgreis commented on #527
OS X server deployed using https://github.com/nodejs/build/tree/master/setup/osx and `brew install cmake icu4c`. Nightlies available for Windows, Linux and OS X: https://nodejs.org/download/chakracore-nightly/v7.0.0-nightly20161129efeaf88f0c/

[2016-11-29 15:32] #527 closed

[2016-12-05 16:36] mikeal commented on #529
Can someone send an email to the trademark alias to get this approved as derivative :)

[2016-12-05 20:36] mhdawson commented on #556
index.html is in https://github.com/nodejs/benchmarking/tree/master/www.

What I though was set up was that there were 2 transfers:

1) The first from https://github.com/nodejs/benchmarking/tree/master/www
2) The mirror from the benchmarking machine to get the latest charts which I think is the one you show above.

I thought 1) was possibley setup as a trigger that would push changes when they wer

[2016-12-05 20:41] mhdawson opened #558 "LinuxOne Outage - planned maintenance"
I just received this:

You are receiving this email because our record indicates that you are current users of the LinuxOne ISV Cloud.

We will be performing scheduled maintenance on this cloud on Friday, December 9.  All systems and servers  will be shut down and the cloud will not be available.   The start time for the outage is Thursday, 12/08 at 22:00 PM EDT.  Estimated time for the cloud to b

[2016-12-05 20:51] mhdawson commented on #558
I've set myself a calendar entry to remove LinuxOne from the main regression runs for the period of the outage.

Also asking if there  any more details to understand they will really all be out for the full period.

[2016-12-06 19:46] mhdawson commented on #556
@rvagg, would it make sense to manually transfer over the updated index.html while we figure out whats up ?

[2016-12-06 20:46] jbergstroem commented on #556
Not sure if it helps but it looks like images are updated (last update: dec 6) while index.html still remains unchanged as of oct 12.

[2016-12-08 17:18] mhdawson opened #560 "AIX; ran out of space on /tmp"
A job failed today because we ran out of /tmp space on test-osuosl-aix61-ppc64_be-2

https://ci.nodejs.org/job/node-test-commit-aix/nodes=aix61-ppc64/2438/

Cleaned it up.

Creating this issue to document and as a place we can capture if it repeats.  And if so figure out how to avoid going forward.

[2016-12-08 19:44] Fishrock123 opened #561 "set git author for the github-bot"
See https://github.com/nodejs/github-bot/issues/100

I wasn't able to get it to work by setting it globally, but setting it in the cloned node repo worked.

[code]

[2016-12-08 20:07] phillipj commented on #561
I'll take a look asap. Any idea why author needs be set when the bot
doesn't try to commit anything?

On Thu, 8 Dec 2016 at 20:44, Jeremiah Senkpiel <notifications@github.com>
wrote:

[2016-12-08 22:03] mhdawson commented on #560
Seems to have run out again. Not sure why we are having problems today.  The only thing I can think of is maybe the CITGM runs mean we need more /tmp space

https://ci.nodejs.org/job/node-test-commit-aix/2445/nodes=aix61-ppc64/console

[2016-12-08 22:04] mhdawson commented on #560
Bumped both aix machines /tmp size with

 chfs -a size=+300000 /tmp

it were ok after that we'll have to add to the Ansible jobs

[2016-12-09 04:37] mhdawson commented on #558
Disabled the linuxOne job in node-test-commit.

The rest of the jobs I'll just cancel as they don't run that frequently.

[2016-12-09 13:04] SimenB opened #562 "Downloading node is super slow"
X-post: nodejs/nodejs.org#1061

Our builds are currently failing because of this. Sorry if it's the wrong repo

[2016-12-09 13:10] EloB commented on #562
I've tried to reinstall node and now I can't work because if this :(

[2016-12-09 13:11] SimenB commented on #562
It usually completes in the end

[2016-12-09 13:36] jbergstroem commented on #562
I'll have a look and see if something is up with cloudflare/digitalocean.

[2016-12-09 13:43] EloB commented on #562
@jbergstroem https://www.cloudflarestatus.com/ they have problem.

[2016-12-09 13:45] SimenB commented on #562
Either this or nodejs/nodejs.org#1061 should probably be closed, to keep it in one place 😄

[2016-12-09 13:46] jbergstroem commented on #543
Summit over, closing.

[2016-12-09 13:46] #543 closed

[2016-12-09 13:47] targos commented on #562
Not sure it's a cloudflare issue. This is the error I get:

![screenshot from 2016-12-09 14-44-53](https://cloud.githubusercontent.com/assets/2352663/21050965/2a1fdc92-be1e-11e6-8355-98caa7a3af73.png)

[2016-12-09 13:48] SimenB commented on #562
I did get some TLS errors initially, before it just plain timed out

[2016-12-09 13:52] PeterDaveHello commented on #562
I wonder if there is any chance that we can build/provide mirror service in case we have some familiar problem again?

[2016-12-09 13:54] jbergstroem commented on #562
Traffic is within 5% of what we can expect around this time of day. I didn't see any out of the ordinary errors in our nginx error log and our ssl certs are valid.

[2016-12-09 13:54] agsmorodin commented on #562
Issue still exists.
Here is my speed now, Amsterdam location:
[code]

[2016-12-09 13:55] jbergstroem commented on #562
(I'm not saying we're not experiencing issues, just taking notes from what I can measure)

[2016-12-09 13:57] malaire commented on #562
Same problem when downloading from Finland -- all larger (few MB or more) downloads fail with Partial Content.

[2016-12-09 14:04] jbergstroem commented on #562
I'm getting pretty awful packet loss to the origin host; investigating.

[2016-12-09 14:09] mhdawson commented on #562
I can confirm that even just trying to load benchmarking.nodejs.org is taking a really long time from Ottawa/Canada

[2016-12-09 14:19] jbergstroem commented on #562
Definitely something going on at our host. I've gotten in touch with support but will try to debug as much as possible (which as you know is a great experience over ssh with packet loss).

[2016-12-09 14:38] jbergstroem opened #563 "backup host is running out of space"
Logged in the other day and saw that we passed 90% disk space (currently sitting at 1.4T). I've redeployed a new host with ~3T storage and are making it ready for replacing. Will update progress here.

[2016-12-09 14:52] Fishrock123 commented on #561
@phillipj Technically it does "commit" stuff -- using `git am` applies with the user as the commiter.

[2016-12-09 15:17] bennyn commented on #562
I saw that Travis is downloading Node.js versions via `nvm`. Even if they are pre-installed on the VM.

Here is what is preinstalled (Build system information):

![preinstalled](https://cloud.githubusercontent.com/assets/469989/21053587/57173702-be2a-11e6-9b42-412a1eeff739.PNG)

Here is the log entry from `nvm`:

![image](https://cloud.githubusercontent.com/assets/469989/21053664/c2bfb5ec-be2a-11e

[2016-12-09 15:19] PeterDaveHello commented on #562
@bennyn I think `nvm` shows the reason as the checksum not matched.

[2016-12-09 15:20] PeterDaveHello commented on #562
@jbergstroem is there any chance to provide an alternative or mirror site so that we can tolerance the problem until it's fixed? Thanks.

[2016-12-09 15:26] jbergstroem commented on #562
@PeterDaveHello you can try using http://unencrypted.nodejs.org. It is a mirror but shouldn't be treated as such when nodejs.org is unavailable (read: this is not the official mirror, just an unencrypted version for old http clients)

[2016-12-09 15:27] jbergstroem commented on #562
Update: The issue is identified, I'm working with DO support to resolve it.

[2016-12-09 15:30] matthewp commented on #562
There's a second issue I think should be addressed. If a `.travis.yml` has a Node version set as `4` or `7` or whatever else and the download fails, Travis shouldn't continue on defaulting to 0.10 as it currently is doing. It should fail immediately, as it can't build what the user intended.

[2016-12-09 15:33] SimenB commented on #562
@matthewp that's an issue with travis, or maybe nvm. Not nodejs.org

[2016-12-09 15:33] matthewp commented on #562
Correct! Sorry for the noise.

[2016-12-09 15:39] phillipj commented on #561
Ah right! I'll try to get it done tonight. Setting that config locally to
that repo rather than global seems fine to you @Fishrock123?

On Fri, 9 Dec 2016 at 15:52, Jeremiah Senkpiel <notifications@github.com>
wrote:

[2016-12-09 15:41] Fishrock123 commented on #561
@phillipj Either or should be fine. On-repo might be simpler since I could not get globally to work on that machine.

[2016-12-09 15:53] PeterDaveHello commented on #562
@jbergstroem thanks for helping.

I thought http://unencrypted.nodejs.org/ really looks like an official mirror since it's under nodejs.org, it'll be great if we could have rsync protocol so that people can easily create mirrors, especially inside enterprise or the area with limited network access.

[2016-12-09 15:54] glasser commented on #562
unencrypted.nodejs.org doesn't appear to have 4.6.1 or 4.6.2.

Are there any mirrors?

[2016-12-09 15:54] PeterDaveHello commented on #562
@jbergstroem btw, http://unencrypted.nodejs.org/ looks out-dated?

[2016-12-09 15:55] PeterDaveHello commented on #562
@glasser if you need nodejs v4.6.2 linux binary build, I can help.

[2016-12-09 16:01] jbergstroem commented on #562
@PeterDaveHello ouch. I'm updating it now -- give it a few minutes.

[2016-12-09 16:02] PeterDaveHello commented on #562
@jbergstroem is it possible to provide an official method to mirror it?

[2016-12-09 16:02] jbergstroem commented on #562
@PeterDaveHello unencrypted.nodejs.org is in preparations of being both a http and rsync mirror. We will officially announce it when done.

[2016-12-09 16:03] PeterDaveHello commented on #562
@jbergstroem that's awesome, thanks for the info!

[2016-12-09 16:03] bear commented on #562
@jbergstroem CircleCI SRE/Ops person here ... after you have recovered from the event please do reach out to me (us) if we can be of any assistance with mirrors

[2016-12-09 16:04] jbergstroem commented on #562
Progress update: we will have to move the origin host to finally resolve the network issues. Should not take more than 20 minutes.

[2016-12-09 16:07] PeterDaveHello commented on #562
@bear it'll be good to have a local mirror inside Circle CI 👍

[2016-12-09 16:12] jbergstroem commented on #562
@bear: thanks for reaching out.

For those of you that are interested in mirroring; `unencrypted.nodejs.org` will provide both rsync and http endpoints in a not-too-far future. We will announce this as part of migratating nodejs.org to enforce HSTS (and ssl only).

[2016-12-09 16:29] jbergstroem commented on #562
20 minutes has passed, so another update: Host is back up; we're still working with support to resolve networking issues - but hopefully this'll come to an end very shortly.

[2016-12-09 16:53] jbergstroem commented on #562
Update: we're back and catching up. I will keep a close look at performance and will finally close issues once everything is back. Expect a followup blog post / issue once we've collected all information.

[2016-12-09 18:25] mikeal commented on #562
I wonder if there are some Cloudflare settings we can use to make the caching more aggressive and not run into this in the future.

For our downloads, all of the content is "append only" right? We never replace resources that we put up there so we could make the caching super aggressive.

/cc @terinjokes

[2016-12-09 18:35] dragon788 commented on #562
@jbergstroem You should check out Mosh, https://mosh.org/. At least that way your ssh session will feel responsive instead of utter tripe when on an unreliable connection.

[2016-12-09 18:40] jbergstroem commented on #562
@mikeal: there's a few things we can do to improve a situation where our origin runs into availability issues:
1. change the way we generate http logs so we can have cloudflare face all downloads. this requires a few things, most importantly changing our account type at cf
2. set up a different ruleset for all downloads throuh cloudflare and add redundancy, for instance from `unencrypted.nodejs.or

[2016-12-09 18:42] phillipj commented on #561
Opened a PR fixing this permanently. It seems to have been set correctly on the server tho, I assume someone has logged in and fixed it by hand.

[2016-12-09 18:43] jbergstroem commented on #562
Going to close this issue now, since we've resolved all outstanding issues. Please let us know if you find anything not working. Thanks for having patience with us!

[2016-12-09 18:43] #562 closed

[2016-12-09 18:55] mikeal commented on #562
Which account type would we need? I thought we had a comp'd enterprise account?

[2016-12-09 18:57] jbergstroem commented on #562
@mikeal: it used to be enterprise, now is business.

[2016-12-09 20:07] jbergstroem commented on #563
Rsync complete (yes, I forgot to pass `-H` the first run) . Doing another manual rotation to verify that everything works, but it looks good so far.

[2016-12-09 20:53] terinjokes commented on #562
@mikeal I'm happy to chat with you offline and see what we can do.

On Dec 9, 2016 10:57 AM, "Johan Bergström" <notifications@github.com> wrote:

[2016-12-09 23:18] mhdawson commented on #558
Machines seem to be back online so optimistically adding them back into the jobs even though the maintenance window is not over until tomorrow.

[2016-12-12 02:21] Fishrock123 commented on #561
@phillipj (That was me)

[2016-12-12 14:16] soberstadt commented on #562
Thank you for your hard work! It was a pretty minor inconvenience for me, my Travis builds were not working during the downtime. I assuming that most others were experiencing simular pain. Moving forward, I added this to my .travis.yml file to cache my node version to avoid the build dependency:
[code]

[2016-12-12 16:05] Fishrock123 commented on #563
@jbergstroem Is this complete now?

[2016-12-12 17:12] jbergstroem commented on #563
Yes; transfer and first periodic finished on new host. Just want to verify manually before retiring.

[2016-12-12 18:08] mhdawson commented on #558
Ok outage time has passed, machines up and running, and all recent jobs have been ok. Closing.

[2016-12-12 18:08] #558 closed

[2016-12-12 21:43] mikeal commented on #562
I spoke with Terin about this. With our current account there are more aggressive caching rules we can set. @terinjokes can give use the exact syntax.

[2016-12-12 22:23] mhdawson commented on #556
@jbergstroem correct.  The graphs are regularly updated. index.html comes from a different place (the benchmarking repo) and it should be updated when the version in the repo changes.

Is that something you can help with or something I can help with (I'm thinking I don't have enough access)

[2016-12-13 01:02] jbergstroem commented on #562
@terinjokes perhaps drop by our irc channel and have a chat? I'm jbergstroem@freenode, channel is #node-build.

[2016-12-13 01:53] jbergstroem commented on #562
@mikeal see my comment above as why we don't cache "everything".

[2016-12-13 18:15] gibfahn commented on #535
This LGTM. I'd have thought it should live in the CitGM repo, but no strong opinions.

[2016-12-13 19:37] mhdawson commented on #560
Has been ok for the last 5 days and free space on /tmp still looks good on both machines.  Closing.

[2016-12-13 21:33] TheAlphaNerd commented on #535
@gibfahn the policy could live there. I think we just need to document it

[2016-12-13 21:37] mhdawson commented on #535
I guess the question is what more do we need to close on this ?

[2016-12-13 21:45] jbergstroem opened #568 "temporary access for @matthewloring to smartos"
@matthewloring needs access to smartos to debug related to [this issue](https://github.com/nodejs/node/pull/9304#issuecomment-266869568). can we get some hands up from the build group?

[2016-12-13 21:48] jbergstroem commented on #511
@brendanashworth: still need access?

[2016-12-13 21:50] mhdawson commented on #568
+1 from me.

[2016-12-13 21:57] jbergstroem commented on #568
I've provided him access to `test-joyent-smartos16-x64-2` as well as basic instructions.

[2016-12-13 22:09] gibfahn commented on #568
+1

[2016-12-13 22:33] gibfahn commented on #535
Maybe a couple more reviews? @nodejs/citgm

[2016-12-13 23:24] matthewloring commented on #568
I've finished diagnosing the issue and posted an update here: https://github.com/nodejs/node/pull/9304. You're welcome to revoke access now. Thanks!

[2016-12-14 00:04] jbergstroem commented on #568
@matthewloring how about we keep the access until the pr is merged? If upstream files a patch I reckon you'd want to test anyway?

[2016-12-14 00:26] matthewloring commented on #568
As long as that's ok on your end it would definitely be more convenient for me. I was going to re-request once there was a patch to try.

[2016-12-14 00:28] jbergstroem commented on #568
Lets keep it open then.

[2016-12-14 08:45] phillipj commented on #561
Fixed in https://github.com/nodejs/build/commit/857f5900f3cde69080f4f64b2c725bca2d24728f

[2016-12-14 08:45] #561 closed

[2016-12-16 19:08] jbergstroem opened #570 "skip building node v7.x (v8 55) on smartos14"
Refs: https://github.com/nodejs/node/pull/9618

Also, there doesn't seem to be a great way of doing this in jenkins since a "return 0" would later fail on tests not being run, followed by conditionals assuming tap files exist.

[2016-12-16 19:22] TheAlphaNerd commented on #570
could we make a generic skip script that writes a tap file and exit 0?

On Fri, Dec 16, 2016, 2:08 PM Johan Bergström <notifications@github.com>
wrote:

[2016-12-16 19:25] jbergstroem commented on #570
It'd be nice if we could skip out of the build entirely, not just the step. If we were using pipelines (hi there, @rvagg) we could probably just bail out since each step in a pipeline usually triggers next.

[2016-12-19 07:11] targos opened #572 "test/arm reported as failure when it passed for a PR"
Examples:
- https://github.com/nodejs/node/pull/10301
- https://github.com/nodejs/node/pull/10317

[2016-12-19 12:06] ArivRedgrape opened #573 "Show 'Change' Log of a Project more than the Limit"
Hi,

We have a jenkins build job 'xxxxx' which limits the No. of builds to keep as 5.

However whenever I check the change log (ie. list of checkins for a particular build#) it is showing only for the last 5 build.

Could anyone help to get the last 30 days Change log ONLY - I don't want the builds to be occupying the space.? or is increasing the "Max # of build to keep" is the only option to reta

[2016-12-19 12:20] gibfahn commented on #573
This seems like a general Jenkins question. Is this related to the Node.js Jenkins build farm (https://ci.nodejs.org/)? Assuming it's not, I'll close this. Let me know if I'm mistaken.

For general Jenkins questions, you should probably try [stackoverflow](http://stackoverflow.com/questions/tagged/jenkins), which has a lot of Jenkins questions already.

[2016-12-19 12:20] #573 closed

[2016-12-19 13:02] gibfahn opened #574 "Build WG meeting 20-12-2016"
### When

December 20th 2016, 8pm UTC: http://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Foundation+Build+WG+Meeting&iso=20161220T20&p1=%3A

### Where
- Hangouts on Air, for participants: https://hangouts.google.com/call/t4tq4yjfhvhwdmndreid5gv6yme
- Youtube stream, for viewers: https://www.youtube.com/watch?v=-93fTN8M2BE
- Minutes document: https://docs.google.com/document/d/1-joUl

[2016-12-19 17:57] gibfahn opened #575 "Correctly identify pLinux LE and BE in the Github CI plugin"
Sometimes the Github plugin for CI runs shows a `linux-ppc` and a `ppc-linux`. `linux-ppc` seems to cover pLinux-BE and pLinux-LE, and `ppc-linux` seems to only cover pLinux-LE. If both pass, only the `ppc-linux` tag is shown.

I assume this is something that is configured in the jobs, but as I can't see the configuration I can't confirm.

![image](https://cloud.githubusercontent.com/assets/159430

[2016-12-19 18:02] jbergstroem commented on #575
They were indeed not consistent. I've fixed it in the jenkins job. Closing; reopen if you still see it!

[2016-12-19 18:02] #575 closed

[2016-12-20 05:25] Trott commented on #574
I'll likely be missing this one, I'm afraid.

[2016-12-20 07:36] piccoloaiutante commented on #574
I'll be missing it but I just wanted to say that the PR for optimising windows provisioning in Ansible is almost ready. I didn't open it yet because I'm still missing a full testing on Windows 2008 server R2. I tried many times but I wasn't able to run Ansible script over it. @joaocgreis are you able to make a test over this platform? Should I open the PR?  I already tested it on windows server 20

[2016-12-20 13:12] joaocgreis commented on #574
@piccoloaiutante please open the PR, I can test it on 2008R2. Thanks!

[2016-12-20 13:32] piccoloaiutante commented on #574
@joaocgreis done https://github.com/nodejs/build/pull/576 . Let me know if you need anything else. Thanks!

[2016-12-21 09:18] gibfahn commented on #574
PR for minutes: #577

[2016-12-21 12:16] jbergstroem opened #578 "ci host is running out of space"
Every worker generates about 3-4mb of logs for a PR. Since we're averaging 15-20 jobs a day these tend to stack up. Two actionables:

1. Expand disk space on ci host (currently 300G)
2. Revisit the 'compress logs after completion' plugin which doesn't seem to work

[2016-12-21 14:39] jbergstroem opened #579 "fedora 25!"
Almost a month old. Kid grew up quick!

Seeing how fedora22 eol'ed in july, how about we retire it while introducing 25?

[2016-12-22 14:20] gibfahn commented on #579
+1 to retiring fedora 22 if it's been EOL for 6 months. Does that mean it won't be supported in 8 (so it will be supported until v6 EOL)?

[2016-12-22 15:16] jbergstroem commented on #579
Since this is still floating I'm not sure how we'll handle 'official' support: https://github.com/nodejs/node/pull/8922

[2016-12-22 15:17] jbergstroem commented on #579
Also, I don't think we are specific in terms of os'es we support or don't other than what we build against.

[2016-12-23 16:19] joaocgreis commented on #495
I also had issues updating PowerShell in my local VM, the script didn't work. But the instructions at https://msdn.microsoft.com/en-us/powershell/scripting/setup/installing-windows-powershell#a-namebkmkinstallingonwindows7andwindowsserver2008r2ainstalling-windows-powershell-on-windows-7-and-windows-server-2008-r2 did it.

[2016-12-25 23:43] jbergstroem commented on #563
Just did one more semi-random check that backups works (untar, check contents) and hardlinks usage works as previously. Below output is from a small script that finds duplicates for inodes:

[code]

Next step is shutting down the old machine and updating the inventory, but since that's not related to daily backups running (and verified restorable), I'll close this.

[2016-12-25 23:43] #563 closed

[2016-12-25 23:43] jbergstroem commented on #579
I have two vm's on rackspace running; worked fine with the current refactor. Attaching them to jenkins tomorrow!

[2016-12-26 00:21] ChALkeR opened #580 "Official flatpak (aka xdg-app) runtime?"
_Note: everything written below is speculation, I might be terribly mistaken here, so this needs re-checking._

[Flatpak](http://flatpak.org/) 0.8 stable [is out](https://github.com/flatpak/flatpak/releases/tag/0.8.0), and it looks like flatpak is gaining adoption.

In short: Flatpak (aka xdg-app) aims to bring sandboxed bundled apps to Linux desktop ecosystem. Those bundles are created by the app

[2016-12-26 19:55] ChALkeR commented on #580
Note: I opened this issue primarily for the very top-level preliminary discussion now, to decide what to do with it (and whether we should do anything).

If this will seem interesting, I could look up what exact steps would we need to take to setup a repo. I don't expect that to be hard, though, as I suppose that we could use existing binaries for that, just with additional metadata and repackaged

[2016-12-26 19:56] ChALkeR commented on #580
/cc @nodejs/ctc

[2016-12-26 20:08] mscdex commented on #580
This is the first time I've ever heard of 'flatpak'.

[2016-12-26 20:11] ChALkeR commented on #580
@mscdex I might indeed be overreacting, in this case we should just freeze this (aka do nothing) until some point in the future and see what comes out of it.

[2016-12-26 20:18] ChALkeR commented on #580
@mscdex I added some refs.

[2016-12-27 04:07] brendanashworth commented on #511
@jbergstroem sorry! I do not. Thanks!

[2016-12-27 11:42] jbergstroem commented on #511
Removed. Closing.

[2016-12-27 11:42] #511 closed

[2016-12-27 23:14] jbergstroem commented on #579
build just passed: https://ci.nodejs.org/job/node-test-commit-linux/nodes=fedora25-x64/6938/

Does anyone object against retiring 22? No document to update in main repo, so to speak..

[2016-12-27 23:16] jbergstroem commented on #579
Actually, let me check with libuv first..

[2016-12-27 23:18] jbergstroem commented on #579
ping @saghul, @bnoordhuis, ?

[2016-12-28 10:03] gibfahn commented on #580
I remember a big buzz about FlatPak (Redhat/Fedora backed) and [Snappy](http://snapcraft.io/) (Ubuntu backed) about six months ago, but I haven't heard much since.

If we're going to look at supporting one of these is there a reason to choose FlatPak over Snaps (or an existing package format like AppImage)? I have no strong opinion about which is better, but I don't think we want to be doing all o

[2016-12-28 12:42] gibfahn commented on #574
Minutes merged, closing this...

[2016-12-28 12:42] #574 closed

[2016-12-28 14:23] probonopd commented on #580
[AppImage](http://appimage.org) has the advantage that if you put together its ingredients carefully (e.g., compile on a reasonably old build system), then the resulting AppImage will run on most desktop distributions out-of-the box, without the need for runtimes or anything else apart from what comes with the distributions by default. There is a [growing number](https://github.com/probonopd/AppIm

[2016-12-28 14:33] ChALkeR commented on #580
@gibfahn @probonopd This issue is not about packaging Node.js as an Flatpak/Snappy/AppImage/whatever application — that is not very important imo.

This is about providing Node.js as a flatpak _runtime_, so that other flatpak packages might depend on Node.js without bundling it — so security updates will reach users faster, the archives would be smaller, etc.

Afaik, Snappy doesn't have the concep

[2016-12-29 15:39] gibfahn commented on #580
Oh I see, my bad for misreading the issue. So this is something more along the lines of a shared library (I guess technically it's probably a package of shared libraries and binaries) that multiple applications can require?

Looking at the other options, it sounds like Snappy is going for file level deduplication rather than having a "runtime" equivalent so we wouldn't have to support multiple com

[2016-12-29 15:57] gibfahn commented on #572
Hmm, this is still happening, https://github.com/nodejs/node/pull/10517 (https://ci.nodejs.org/job/node-test-commit/6915/) for a CI run that's still in Jenkins.

[2016-12-29 17:51] jbergstroem commented on #572
Can confirm. The jenkins script for notifying is likely to blame and I've looked at it a few times; can't quite figure it out. Still on it.

[2017-01-02 07:36] saghul commented on #579
No objections from me!

[2017-01-02 12:28] phillipj commented on #548
Seeing this again today on test-osuosl-ubuntu14-ppc64_be-1.

Refs https://ci.nodejs.org/job/node-test-commit-plinux/6073/nodes=ppcbe-ubuntu1404/console

[2017-01-02 13:43] phillipj commented on #548
FYI just bumped test-osuosl-ubuntu14-ppc64_be-1 to 256mb and restarted Jenkins service.

[2017-01-03 14:05] mhdawson opened #581 "releases - blocked on release-digitalocean-cento5-x64"
release-digitalocean-cento5-x64 seems to have been offline since jan 1

Nightly builds from Jan 1 and Jan 2 are still running waiting on that machine.

[2017-01-03 14:07] mhdawson commented on #581
@rvagg @jbergstroem can one of you take a look as I don't have access to the release machines.

[2017-01-03 14:21] jbergstroem commented on #581
It's back online. Must've rebooted and jenkins never came back online.

[2017-01-03 14:34] mhdawson commented on #581
Thanks ! nightly jobs complete closing.

[2017-01-03 14:34] #581 closed

[2017-01-03 20:08] jsumners commented on #55
I've been noticing an issue where the release files will sometimes not be available. For example, `rsync://unencrypted.nodejs.org/nodejs/release/v6.9.2/` may have the `docs` directory but nothing else. This definitely causes a problem when the `--delete` option is passed to rsync.

[2017-01-03 20:38] jbergstroem commented on #55
@jsumners the rsync routine isn't fully up to par. Apologies about that. When we moved web servers a few things changed which made it break. It will obviously work pristine once deemed 'production' worthy, but that doesn't mean we shouldn't fit it as soon as possible. I'll have a look in within a day or so; just got mixed up amongst my other todo's.

[2017-01-03 21:01] jbergstroem commented on #55
@jsumners hey; I've redeployed it now. It should be populating and be up to speed pretty soon; updating dns as we speak. If you could verify that things look better in the hour or so, that'd be cool!

[2017-01-03 21:35] mhdawson commented on #548
Thanks for the heads, up, lets watch for a few days.  If this seems to have resolved it I'll go ahead an d update the ansible configs.

[2017-01-03 21:45] jsumners commented on #55
@jbergstroem permissions are broken:

[code]

[2017-01-03 21:54] jbergstroem commented on #55
@jsumners that's because rsync hasn't finished processing those folders just yet. Thanks for checking!

[2017-01-03 22:34] jbergstroem commented on #55
Looks like it's done:
[code]

[2017-01-03 22:48] jsumners commented on #55
@jbergstroem looking good over here. I'll keep an eye on it.

[2017-01-04 09:44] jbergstroem opened #583 "temporary test server access for @thefourtheye"
In order to resolve issues for a set of hosts with stalling tests related to https://github.com/nodejs/node/pull/10456, @thefourtheye is requesting access to a few machines.

@thefourtheye could you perhaps list the one's you want to do further investigation with so we can approve and arrange it?

[2017-01-04 11:43] thefourtheye commented on #583
Whenever I run CI on that PR, the leftover processes will be there in almost all the machines. So I'll have to clean them in all of them. I am fixing them case by case basis, e.g https://github.com/nodejs/node/pull/10597 fixes SmartOS failures (hopefully).

Is it possible to get permissions for all of them?

[2017-01-04 12:59] jbergstroem commented on #583
Since Linux looks mostly ok, how about we for instance start with smartos, plinux and windows? I can facilitate the former; not sure how we create temporary accounts for windows. @joaocgreis?

[2017-01-04 17:15] gibfahn opened #584 "Jenkins access for CitGM team"
Now that #554 has landed we can start giving teams access to their Jenkins jobs. For the CitGM team the jobs beginning with `citgm-` are the ones that the CitGM team should have permissions for. If no-one objects we should set the run/modify permissions for these jobs to the @nodejs/citgm team.

#### Jobs:
 - https://ci.nodejs.org/view/All/job/citgm-smoker-yarn/
 - https://ci.nodejs.org/view/All/j

[2017-01-04 17:19] gibfahn commented on #526
Fixed by https://github.com/nodejs/build/commit/1fcbba2ae6242588a1f7cb779a859d8734213097

[2017-01-04 17:19] #526 closed

[2017-01-04 17:20] Trott commented on #583
The only ones that I noticed stalled jobs on were SmartOS and FreeBSD, so I'd be sure to include access to those two at a minimum.

[2017-01-04 18:02] jbergstroem commented on #583
@Trott: @thefourtheye mentioned he was running FreeBSD locally and that the failures/stalls was similar across os'es. I think he's doing local testing at the moment.

[2017-01-04 18:03] geek opened #585 "4.7.1 release missing x64 sunos packages"
https://nodejs.org/dist/v4.7.1/ is missing the following packages

- node-v4.7.1-sunos-x64.tar.xz
- node-v4.7.1-sunos-x64.tar.gz

[2017-01-04 18:12] MylesBorins commented on #585
I don't even see sunos as a machine in the ci-release infra

/cc @jbergstroem

[2017-01-04 18:19] thefourtheye commented on #583
Setting up the FreeBSD vm in a slow internet connection. I'll update the status about that tomorrow.

[2017-01-04 18:35] mhdawson commented on #583
Let me or @gibfahn know when you need access to plinux/aix

[2017-01-04 20:57] jbergstroem commented on #583
I can arrange it as well; seems like we have me and @mhdawson (so far?) approving your access.

[2017-01-04 20:59] gibfahn commented on #583
+1 to giving @thefourtheye access

[2017-01-04 21:02] gibfahn commented on #585
Looks like https://nodejs.org/dist/v4.7.0/ is the same (and probably previous ones as well)

[2017-01-04 21:07] jbergstroem commented on #585
smartos machine are added with respective smartos-XX tags. 13 is used for 0.x (pre-1.x tag) and 14 for 1.x and forward (post-1.x tag; subject to change as of v8 55 -- using smartos15 jenkins tag for unknown reasons). They are later matched with [OSTYPE=solaris](https://github.com/nodejs/build/blob/master/setup/smartos/resources/jenkins_manifest.xml.j2#L21). So, I'm not sure why that conditional is

[2017-01-04 22:09] mhdawson commented on #556
@jbergstroem still does not not seem to be showing up.  I'm wondering if it might make sense to expand the set of people who can chase down these kinds of issues.

[2017-01-04 22:24] jbergstroem commented on #556
@mhdawson you're absolutely right. I still haven't looked at it, and to be frank haven't really prior  this either. What @rvagg seems to mention above is relevant though; index.html is from the parent directory and isn't being picked up in the rsync. Perhaps it can be moved into the "charts" directory and link to images in the same folder? that way it would be easier to rsync?

[2017-01-04 22:28] mhdawson commented on #513
This looks like a similar issue that we did not notice for smartos as well https://github.com/nodejs/build/issues/585.

Having a regular job that validates we can download/unzip all of the current releases might help.

[2017-01-04 22:32] mhdawson commented on #536
Since there are no objections this was added to the page a while back.  Closing this and we can discuss a larger refactor when needed.

[2017-01-04 22:32] #536 closed

[2017-01-04 22:33] mhdawson commented on #523
Collaboration summit came and went so closing this.

[2017-01-04 22:33] #523 closed

[2017-01-04 22:35] mhdawson commented on #535
@nodejs/citgm @nodejs/build please comment.  Myles do you want to put together a PR for this ?  I'm also happy to do it.  I figure it should go into the CITGM readme.

[2017-01-04 22:55] gibfahn commented on #513
Do we generate md5 checksums for the builds? Seems like something that might be worth doing if we don't.

[2017-01-05 01:52] joaocgreis commented on #583
I also approve giving @thefourtheye access. According to our docs, giving temporary access to a collaborator can be done immediately, so I went ahead and created a temporary account on a Windows machine (emailed credentials). Given that stalling tests can interfere with normal CI runs, I disconnected the machine from CI.

[2017-01-05 03:55] joaocgreis commented on #585
The conditional was triggering fine, but there was a subtle error in the x64 portion of the script (line brake "`\`" with a space after it). Should be fixed now: https://nodejs.org/download/test/v4.7.1-test201701051035318070/ . Please reopen if not.

[2017-01-05 03:55] #585 closed

[2017-01-05 04:01] MylesBorins opened #586 "Build missing sunos packages / The case of the wrong sha's"
These need to be built and promoted

- [x] v4.6.2 @MylesBorins
- [x] v4.7.0 @MylesBorins
- [ ] v4.7.1 @MylesBorins
- [x] v6.9.2 @MylesBorins
- [ ] v6.9.3 @MylesBorins
- [ ] v7.0.0 @jasnell
- [ ] v7.1.0 @evanlucas
- [ ] v7.2.0 @fishrock123
- [ ] v7.2.1 @fishrock123
- [ ] v7.3.0 @cjihrig
- [ ] v7.4.0 @evanlucas

[2017-01-05 04:15] joaocgreis opened #587 "Ongoing access to Kunal Pathak to Jenkins jobs and new Windows Server 2016 test slaves"
@kunalspathak would like to set up a few Windows Server 2016 instances for testing and add them to the Windows job in CI. He will help us with maintaining those machines afterwards.

Hence, I'd like him to be added to the @nodejs/jenkins-admins team, and let him keep access to the new slaves he creates.

Kunal is not a core collaborator, but has been maintaining and very active in https://github.c

[2017-01-05 07:57] MylesBorins commented on #586
discussed with @rvagg, he is going to attempt to recover the promoted releases from backup.

[2017-01-05 11:23] jbergstroem commented on #583
@joaocgreis true. I will help facilitate the rest on demand, as well as making a note here on when access is granted and finally revoked.

[2017-01-05 11:40] rvagg commented on #586
OK, I could only find valid backups for v4.6.2 v4.7.0 and v6.9.2 in /backup/static/dist/nodejs/release on the backup server. @jbergstroem is this because the backup script hasn't run since the newest two were out, today/yesterday? Is there an incremental for dist or only this? Is it just because I caught it before the backup ran again that I happened to catch the old versions of these files (mtime

[2017-01-05 11:41] damongant opened #588 "Detach-sign all release files"
Related: #586

It'd be incredibly helpful for automated builds and distros that don't have their own packages with files attached (Gentoo/Arch's AUR/NixOS) if all files in a release could be detach-signed with GPG by a key with a common trustee.

Could also make the packaging flow much nicer/less prone to not checking signatures and hashes for other distros and users in general.

[2017-01-05 11:45] rvagg commented on #586
If we can't recover the original v4.7.1 and v6.9.3 then my vote would be to simply update the blog posts with the new SHASUMS rather than mess around with pulling them out individually from Jenkins. The problem's we're having are simply about discrepancies which we can fix with brute force on the blog rather than attempting to roll back.

[2017-01-05 11:47] rvagg commented on #588
... catching up on IRC ... are you perhaps talking about detached signatures for _each_ file in the releases? So ~ double the number of files in the release directories than we have now, an .asc for each one?

[2017-01-05 11:51] schittler commented on #588
It's somehow both I guess. I just noticed that the releases are done by different people and signed with the personal keys - if there's a release signing key that trusts those personal keys, that's great.

it's mostly that it can be a little hard to automate the checks if files are not signed individually. If I had a `node-v.tar.xz.sig` I could automate the packaging entirely.

So yes, double the

[2017-01-05 13:48] jbergstroem commented on #586
Unfortunately (in this case), we don't increment these: https://github.com/nodejs/build/blob/master/backup/backup_scripts/dist.sh

This is a big no-no for me. The blog posts are not the only place where these checksums are stored. Every package manager that's been updated have probably stored their own sum. The only way forward are version bumps. Each artifact at release needs to be considered pri

[2017-01-05 14:00] jbergstroem commented on #586
Case in point:
[code]

Doing another minor is probably the simplest way for most parties?

[2017-01-05 14:35] gibfahn commented on #586
@jbergstroem do you mean a  `v4.7.2` and `v6.9.4` (patch)?

[2017-01-05 14:47] jbergstroem commented on #586
@gibfahn yeah.

[2017-01-05 15:20] gibfahn commented on #586
Makes sense to me (but I don't have to do the release 😉 ). If we're going to do it the sooner the better though right?

[2017-01-05 17:30] MylesBorins commented on #586
So I just attempted to promote the release and found that the permissions are set incorrectly and I cannot promote the builds. They are currently set to 755 rather than 775, and as such the build cannot be promoted

[2017-01-05 18:07] MylesBorins commented on #586
Fixed the ones we had backups of. v4.7.1 and v6.9.3 still have the wrong shas

[2017-01-05 18:31] MylesBorins commented on #586
I've proposed new releases v4.7.2 and v6.9.4 that are simply semver patch bumps to remove ambiguits with the release

https://github.com/nodejs/node/pull/10639
https://github.com/nodejs/node/pull/10640

Please chime in those issues on thoughts about the special releases

[2017-01-05 19:33] mhdawson commented on #587
+1 from me.

[2017-01-05 19:33] mhdawson commented on #583
To confirm +1 from me.

[2017-01-05 20:47] gibfahn commented on #587
+1

[2017-01-05 22:21] jbergstroem commented on #587
Me too; +1

[2017-01-05 22:32] rvagg commented on #586
point taken, good call on doing brand new releases to clear things up @MylesBorins

[2017-01-06 01:04] rvagg opened #589 "Reproducable builds"
This is a task for someone to pick up who has the time and interest in this area. It's likely not going to be a small job even to get to a proposal of what we need to do.

1. Research what is possible and required for us to produce reproducable builds
2. Draft a proposal for how we need to change our build architecture and published artifacts to share reproducible build data with the public so any

[2017-01-06 09:21] gibfahn commented on #586
+1 to updating the v4.7.1 and v6.9.3 blog posts to point people to the later version

[2017-01-06 10:29] bnoordhuis commented on #579
Likewise.

[2017-01-06 11:57] jbergstroem commented on #579
Cool. I'll go ahead and retire fedora 22 shortly then.

[2017-01-06 18:46] tieguy commented on #580
It is an [officially disfavored analogy](http://flatpak.org/faq.html#Is_Flatpak_a_container_technology_), but it might be helpful to think of providing a flatpak runtime as similar to providing a Docker/OCI image - a layer that app developers can build on. (I don't know if you can stack layers like you can with Docker, though.)

(I stumbled across this issue because I was poking around at what it

[2017-01-08 18:43] jbergstroem opened #590 "replace cron jobs with systemd timers on infra systems"
Systems running systemd can use the built in timers functionality which is intended to replace cron. The benefits (for us) using these are:

- scripts are likely more reproducible over multiple machines (read: git check in)
- easier to track:
[code]

I'd like to move things we do in cron today, such as rsync:ing backups, benchmark and so on to this. Thoughts?

[2017-01-08 18:45] jbergstroem commented on #590
Syntax btw (for above rsync script):
[code]

[2017-01-09 08:14] annaZeesat commented on #350
i want to enable notifications in jenkins but got error message again and again

[2017-01-09 08:59] gdams commented on #535
LGTM, and yeah +1 for this living in the citgm repo

[2017-01-09 10:22] gibfahn commented on #590
Makes sense to me if it means we can reuse scripts.

[2017-01-09 12:32] jbergstroem commented on #590
I guess the same applies for a checked in cron job (but os-specific things could be different).

I just really liked the tools to control timed scripts; getting full log history and confirmation that it ran successfully. It takes a bit more polish to get cron jobs to that shape.

[2017-01-09 13:16] gibfahn commented on #535
CITGM PR: https://github.com/nodejs/citgm/pull/310

[2017-01-09 16:14] gibfahn commented on #584
@nodejs/build any objections/thoughts? It'd be really useful to get this approved/done so that @gdams and @bzoz can run citgm jobs.

[2017-01-09 16:27] gdams commented on #584
This would be really useful

[2017-01-09 18:13] gibfahn opened #591 "Job to clean up old processes"
We seem to quite frequently have an issue where node/python processes are left behind after a test run, usually due to a failing test. In our (IBM) CI, we just have a job we run before each flow that cleans up any node processes that might be lying around (there's a Unix version and a Windows version).

I feel like this is something that would be useful in CI, if we ran it as a job then it shouldn

[2017-01-09 18:13] gibfahn commented on #591
@mhdawson

[2017-01-09 18:15] jbergstroem commented on #591
SGTM as long as we don't forget about identifying the cause as well.

[2017-01-09 19:07] jbergstroem commented on #584
sounds good to me.

[2017-01-09 19:24] gibfahn commented on #533
@gdams has used pip on AIX before, he's going to try getting it working on a temporary machine so we can work out the process.

[2017-01-09 22:08] mhdawson commented on #584
+1 from me

[2017-01-09 22:10] gdams commented on #584
@mhdawson do you have the permissions to give us access to the CI or do we need to CC someone else?

[2017-01-09 22:14] mhdawson commented on #584
I'm looking at it right now :). If you are around I'll ping you in a few minutes to see if you can try it out for me.

[2017-01-09 22:14] gdams commented on #584
@mhdawson I'm on slack for the next hour or so :)

[2017-01-09 22:27] mhdawson commented on #584
Ok as per doc, access to start jobs has been grated to all members of the citgm team.  Will now setup citgm-admin team, add Myles as initial member and let citgm team use process to nominate others that will be able to create/modify jobs.

[2017-01-09 22:39] mhdawson commented on #584
Ok, create citgm-admins and the 4 CITGM jobs are now configured so that they can be created/modified by the members of that group.  Initially I've made Myles the only member of the group.

[2017-01-09 23:07] mhdawson commented on #584
Ok, CITGM team went through process and George is now in the citgm-admins group and seems to be able to edit jobs.  Going to close this and we can reopen if something more is required.

[2017-01-09 23:08] #584 closed

[2017-01-09 23:16] mhdawson commented on #591
This sounds good to me as well.  We have seen a number of cases were somebody runs the job on a PR, it exposes problems with the test which are later fixed, but in the mean time we have processes hanging around.

When you say it would be run as a job, is the idea that it would run at a particular interval (ex hourly) or do you know of some way we can tie it to the execution of other jobs ?

The ot

[2017-01-10 14:18] mpstein opened #592 "Incorrect SHASUM method listed for 4.4.7"
* **Version**: 4.4.7
* **Link**: https://nodejs.org/dist/v4.4.7/SHASUMS256.txt.asc

The CRCs for the NodeJS version 4.4.7 downloads are listed as being hashed via SHA1 when they are hashed using SHA256. Please see the header on [NodeJS 4.4.7 SHA verification](https://nodejs.org/dist/v4.4.7/SHASUMS256.txt.asc).

[2017-01-10 16:41] MylesBorins commented on #592
Fixed

[2017-01-10 16:41] #592 closed

[2017-01-10 21:38] mhdawson opened #593 "Document nightlies"
There was a recent question about what nightly builds we generate.

The node core readme says:

Nightly: Versions of code in this repository on the current Current branch, automatically built every 24-hours where changes exist. Use with caution.

In the past I think I've seen us generate ones for both master and current.  Looking in https://nodejs.org/download/nightly/ there also seem to be recent

[2017-01-11 18:53] kunalspathak commented on #587
It seems people are in favor of giving me Jenkins access :)
@mhdawson , can you please give me access?

[2017-01-11 22:45] mhdawson opened #594 "Add CI to run nodereport tests"
We need nodereport CI runs to validate changes going into:  https://github.com/nodejs/nodereport

This issue is to track progress of adding the job.

[2017-01-12 05:23] vielmetti commented on #439
@rvagg - is this still an issue, getting build machines for ARMv8 builds? If so I have some ideas. Let me know the current state of affairs and how things have changed in the past 6 mo.

[2017-01-13 19:42] edelsohn commented on #533
I have Python pip installed on my AIX systems. I was able to bootstrap with get-pip.py.  There is a typo / bug in the sysconfigdata built on AIX for some Python releases.

[2017-01-15 19:29] thefourtheye commented on #583
Thanks people :-) I finally managed to setup a FreeBSD instance locally and test this. https://github.com/nodejs/node/pull/10822 looks like fixes it. PTAL.

[2017-01-16 13:56] gibfahn commented on #560
be-1 has run out of space again, there was quite a lot of `npm-` and `watchify` directories in there, but most of the space was from these:

[code]

[2017-01-16 14:21] gibfahn commented on #560
I've removed the citgm stuff, so as long as we fix the `/tmp` issues before we add AIX to the citgm runs we should be okay.

[code]

[2017-01-16 14:21] #560 closed

[2017-01-17 11:49] gdams commented on #546
this has now been rectified by skipping the time module which was taking nearly 45 minutes to run on AIX

[2017-01-17 12:21] gdams commented on #533
okay so I got pip working on aix. Firstly download `https://bootstrap.pypa.io/get-pip.py` and then just run `python get-pip.py` and then just ensure that `/opt/freeware/bin` is in the path

[2017-01-17 13:16] jbergstroem opened #595 "skip v8 on smartos14"
As part of landing https://github.com/nodejs/node/pull/9618 we need to skip running it on smartos14 since support is dropped. I don't know a convenient way of dropping out of a build early without running into fails based on subsequent tasks (collecting tap, etc). If anyone have suggestions on how to bail early that'd be helpful. The other option is to make all subsequent tasks not fail on previou

[2017-01-17 13:18] jbergstroem commented on #533
great news! can we get this in as part of the ansible task

[2017-01-17 13:25] targos commented on #595
There is also ubuntu1204-clang341-64 to skip

[2017-01-18 11:35] gibfahn commented on #535
CitGM PR has landed

[2017-01-18 11:35] #535 closed

[2017-01-18 12:19] shigeki opened #596 "Include shared library file in `binary/binary.tar.[xz,gz] in Win and arm tests"
https://github.com/nodejs/node/pull/10865 has a test to use shared library files of `node_test_engine` built with gyp.

Currently the tests on Windows and arm were failed because the shared library files were lost in CI environment.
They can be solved by including `Release\node_test_engine.dll` in Windows tests and `out/Release/libnode_test_engine.so` in arm tests in `binary/binary.tar.gz` and `bi

[2017-01-19 12:42] LaurentGoderre commented on #75
I would like to bump this. Since we included an alpine variant to the docker project, we received a lot of questions about the alpine variant specifically. It's unfortunate that we don't have stats about specific docker tag downloads but it's possible that alpine will become on of the most used platforms for Node, if it isn't already.

[2017-01-19 17:23] jbergstroem opened #597 "temporary access to joyent-alpine34 for @santigimeno"
There's currently a few failed tests on alpine34 in libuv-land: https://ci.nodejs.org/view/libuv/job/libuv-test-commit-linux/nodes=alpine34-x64/228/console

I would like to provide @santigimeno temporary access to a host to debug these.

edit: wrong github username, lazy copy&paste from irc.

[2017-01-19 17:25] bnoordhuis commented on #597
Good idea, +1, but I think you mean @santigimeno?

[2017-01-19 17:42] Trott commented on #597
+1 💯 👍

[2017-01-19 17:45] jbergstroem commented on #597
Sweet. I'll set it up.

[2017-01-21 16:53] targos commented on #595
I am willing to help here. Is there anything I can do?

[2017-01-21 16:54] targos commented on #595
Perhaps we can use https://wiki.jenkins-ci.org/display/JENKINS/Conditional+BuildStep+Plugin and read https://github.com/nodejs/node/blob/master/src/node_version.h#L4 ?

[2017-01-21 18:02] jbergstroem commented on #595
In release builds to distinguish workers based on node version we currently do something like:
[code]

The tricky part is exiting a job early. Perhaps its not tricky at all -- I just don't know how to do it without failing the job.

[2017-01-21 18:41] gibfahn commented on #595
It's a bit of a hack, but if the problem with exiting early is that the TAP plugin won't find a tap file, you could always generate a file with a single skipped test, something like:

[code]

That way it'd show up yellow (if you wanted it green you could just not use the skip). Not sure if that'd be enough to work.

[2017-01-24 20:13] ofrobots commented on #595
Is there anything that can be done to move this forward? V8 5.5 was released more than a month ago but we haven't been able to land it in master because of this issue. Being able to release Node.js nightly builds with the latest stable V8 helps find bugs early.

[2017-01-24 20:22] mhdawson commented on #595
I have this in the v8 nightly test jobs:
[code]

if [ "$RUN_TESTS" = "RUN" ]; then
  #make -j $(getconf _NPROCESSORS_ONLN) v8 $DISABLE_V8_I18N_OPTION DESTCPU=$DESTCPU ARCH=$DESTCPU.release $ADDITIONAL_CLANG_OPTIONS

  # when run under jenkins the d8-os.js test hangs because signals don't set to the process when a os.process times out
  # it works just fine when run from the command line so its not

[2017-01-24 20:23] mhdawson commented on #595
Which fakes out the tap file as @gibfahn suggested

[2017-01-24 20:26] jbergstroem commented on #595
@mhdawson perhaps you can edit the node-test-smartos job and add it?

[2017-01-25 01:25] jbergstroem commented on #595
Unless anyone else from the build group steps up I'll do my best to get this accomplished in the coming day.

[2017-01-25 09:58] santigimeno commented on #597
I'm done for the moment. Thanks!

[2017-01-25 10:00] jbergstroem commented on #597
Revoked access.

The issue here is that the LX layer provided by joyent is behaving differently from other linux kernels. See https://github.com/libuv/libuv/issues/1206 for more info.

[2017-01-25 10:00] #597 closed

[2017-01-25 14:21] mhdawson commented on #556
Looks like @jbergstroem resolved yesterday and updated occurred last night. Closing.

[2017-01-25 14:21] #556 closed

[2017-01-25 14:23] mhdawson commented on #595
Starting up update now.

First step is cloned job I can test it out on.

[2017-01-25 15:09] gibfahn commented on #533
@jbergstroem So, my plan is:

 1. Install pip manually on one of the test machines and document in [setup/aix61/manualBootstrap.txt](https://github.com/nodejs/build/blob/master/setup/aix61/manualBootstrap.txt).
 2. If nothing is broken after a week, install on the other test machine and ask you to install on the release machine.
 3. Once Ansible is setup on AIX (see https://github.com/nodejs/build

[2017-01-25 15:22] gibfahn commented on #551
I'm pretty sure that there's an issue with curl on the AIX boxes, not sure if it's a LIBPATH issue or if something's wrong with the install. We don't have it on IBM machines, so it's definitely fixable, just annoying (it means things have to be scp'd rather than just curl'd.

[code]

cc/ @sxa555 who is looking at the AIX Ansible stuff.

[2017-01-25 15:44] sxa555 commented on #551
It should work if LIBPATH is pointing at /usr/lib (although that could well cause other issues of course!) - the libcrypto.a in /opt/freeware/lib doesn't have a non-version-suffixed version of libcrypto.so in it but the one in /usr/lib does. I'm not sure why the one in /opt/freeware/lib doesn't ... You'd expect it to work with the version of curl in there. You could just override it for the execut

[2017-01-25 15:47] gibfahn commented on #533
I've installed pip on `power8-nodejs3.osuosl.org` (which I'm pretty sure is `test-osuosl-aix61-ppc64_be-1`). Pip itself seems to be working fine, my issue with curl is documented in #551.

What I did:

[code]

[2017-01-25 16:24] sxa555 commented on #533
I thought I'd added this comment yesterday but apparently not - might be better to symlink /opt/freeware/bin/pip to /usr/bin/pip to avoid having to tweak the path - that would make it consistent with how a lot of the other freeware tools get installed.

[2017-01-25 17:04] gibfahn commented on #533
Makes sense, I'll update the script (and the docs)

[2017-01-25 17:56] gibfahn commented on #551
@sxa555 Yep, that works. I'll add the LIBPATH setting to the manual install instructions for now (it's not a problem in CI AFAIK).

[2017-01-25 18:41] gibfahn opened #599 "Cache CI downloads"
There has been some discussion of setting up a cache on one of the CI machines to store things we download all the time, I couldn't find an existing issue covering it.

There are a couple of things that I know about:

 1. We need a place to put packages so we don't have to manually download them every time we setup a machine (definitely useful for AIX, not sure about other platforms).

 2. https:/

[2017-01-25 18:56] jbergstroem commented on #599
@gibfahn you mean like setting up a squid/proxy/similar? In order for it to be effective I'm thinking we would want to do that per-continent. The arm setup at @rvagg's seems like a good first setup; second could be at DO us east?

[2017-01-25 19:00] mhdawson commented on #595
Just running some tests now, should be ready soon.

[2017-01-25 19:12] mhdawson opened #600 "test-osuosl-aix61-ppc64_be-2 out of /tmp space"
Jobs failing when run on test-osuosl-aix61-ppc64_be-2

[2017-01-25 19:13] mhdawson commented on #600
Cleaned up /tmp so should be ok now.

I know that we had prior issues with citgm filling up tmp will talk to @gibfahn to see if we think this was a left over of that or something else.

[2017-01-25 19:48] mhdawson commented on #595
Main job updated, running CI on original PR that was blocked: https://ci.nodejs.org/job/node-test-pull-request/6052/

[2017-01-25 19:50] mhdawson commented on #595
the 2 smartos platforms ran/green reporting that tests were skipped as not supported, other platforms running so this should be done closing and we can reopen if there is some later problem.

[2017-01-25 19:53] jbergstroem commented on #595
@mhdawson great work; thanks for helping out.

[2017-01-25 21:32] gibfahn commented on #599
cc/ @mhdawson

[2017-01-25 22:16] #600 closed

[2017-01-25 22:19] mhdawson commented on #595
ok I see there is still work for ubuntu1204-clang341-64, I only did the smartos part

[2017-01-25 22:26] mhdawson commented on #595
for ubuntu1204-clang341-64 is it that we don't support this for Node vergions > 8

[2017-01-25 23:02] gibfahn commented on #600
If it's the same problem we had last time (#560) then the problem is caused by citgm. I thought that'd been fixed, but perhaps it hasn't yet. The way to tell is that most of the space is used by the folders listed in https://github.com/nodejs/build/issues/560#issuecomment-272867766.

We'll try to fix it in citgm anyway, because it's a good idea to have the temp directory in the workspace, but it m

[2017-01-25 23:27] mhdawson commented on #595
Testing skip of build/test for linux flavors with clang in the name for Node version >8.  Once I get confirmation that is what we need I'll swap into the regular job.

[2017-01-25 23:52] bnoordhuis commented on #599
@jbergstroem In the case of openssl-fips-2.0.9.tar.gz, it could be hosted on local disk or on the local network.  That tarball was released 2 years ago and hasn't been the current one for 1.5 years.

[2017-01-26 03:19] mhdawson commented on #595
Ok, tests look good, ready to swap into regular job, just want to confirm with @jbergstroem that simply skipping ubuntu1204-clang341-64 for Node version >8 is the right thing to do.

[2017-01-26 12:56] jbergstroem commented on #599
@bnoordhuis ok; similar to how we treat ICU I guess.

[2017-01-26 13:21] jbergstroem commented on #595
@mhdawson yeah, that's what I read out of it as well.

[2017-01-26 13:22] targos commented on #595
Thanks for doing this @mhdawson !
I think skipping is the correct thing to do. There is no good reason to keep supporting this clang version.

[2017-01-26 17:22] mhdawson commented on #599
The prior discusion/agreement was that we could host them on the main ci machine, we just never made progress on doing that.

[2017-01-26 17:48] mhdawson commented on #595
Ok CI run on PR where issue was raised was all green, closing.

[2017-01-26 17:48] #595 closed

[2017-01-27 18:46] mhdawson commented on #587
Ok added.

[2017-01-27 22:00] jbergstroem opened #601 "release nightlies are broken for smartos/master"
since we use smartos14 to build nightlies, we have to add 15 builders as well. So;
- smartos13 used for 0.x builds
- smartos14 for 4.x and 6.x
- smartos15 forward

correct, @misterdjules ?

/cc @mhdawson

[2017-01-27 22:17] misterdjules commented on #601
That sounds good to me.

[2017-01-30 19:00] mhdawson commented on #537
Covered by https://github.com/gibfahn/build/commit/f196e433eec7a2408ac08c750d60f15d1f39cbb3 closing

[2017-01-30 19:00] #537 closed

[2017-01-30 20:04] mhdawson opened #604 "Build jobs for ABI stable module API work"
Its now the time that we should be setting up ci jobs to test the ABI stable module API.  The current plan is to merge (under build flag) in time for version 8 and if we use the standard infrastructure we will then be able to easily merge testing into the regression process.

Unless there are objects this would be the plan:

1) create a new team called abi-stable-node-admins who will be able to mo

[2017-01-30 22:26] mhdawson commented on #548
Ok have not seen issues since change, created https://github.com/nodejs/build/pull/605 to modify ansible configs.

[2017-01-31 13:31] jbergstroem commented on #601
I've added a new worker but we still need the logic to branch based on version. If someone from the jenkins-admins team could help out that'd be great; otherwise I will attempt it later this week.

Note: I've also corrected the labels -- the smartos14 worker is removed from the smartos15 label, meaning we can now (correctly) rely on them.

[2017-01-31 18:16] mhdawson opened #607 "Build WG meeting Feb 7 2017"
### When

Feb 7, 2017 3 PM EST

### Where
- Hangouts on Air, for participants:  https://hangouts.google.com/hangouts/_/ytl/oefFhZpJxiAGtWAMfxo8i_v2SgNTVM7T6cwLkWeAX1M=?eid=100598160817214911030&hl=en_US&authuser=0
- Youtube stream, for viewers:  http://youtu.be/iQzSe3aaL0U
- Minutes document: https://docs.google.com/document/d/1A4Uv3gYoNxZONbRe6P_h36tphQotkObq8neHIXxJhrg/edit?usp=sharing

### Agen

[2017-01-31 18:18] mhdawson commented on #601
I'll try to take a look at adding the logic probably tomorrow.

[2017-01-31 18:20] mhdawson commented on #607
@nodejs/build please chime in if you can make it.

[2017-01-31 19:17] Trott commented on #607
I'll be missing this one.

[2017-01-31 19:23] jbergstroem commented on #607
It'll be clutch for me -- if it's on I will be a few mins late.

[2017-01-31 19:54] MylesBorins opened #608 "Release Feed"
Would it be possible to create a feed that we could ping whenever we promote a build?

Things that could be included

* Links to releases
* SHA's of releases
* Version of release

[2017-01-31 20:03] mhdawson commented on #607
Give the response lets make it next week instead.
 @nodejs/build please chime in if you can make Feb 7 at 3 EST.

[2017-01-31 20:03] feriancek commented on #608
RSS ftw

[2017-01-31 20:08] mhart commented on #608
I use this atm: https://nodejs.org/en/feed/blog.xml

[2017-01-31 20:10] mhart commented on #608
(would love emails though tbh)

[2017-01-31 20:25] rrijnberk commented on #608
I think it would be nice to have an update channel with issue numbers and tags so it would be possible to create hooks for updates that are personally relevant

[2017-01-31 20:38] Trott commented on #607
The Feb 7 time is also bad for me (at least as of now) but hopefully it works for others....

[2017-01-31 22:17] mhdawson opened #609 "AIX cluster tests failures"
There were some failures today of the cluster tests.

Suspect there may have been stray processes remaining on test-osuosl-aix61-ppc64_be-1

Check and saw these:
[code]

Killed and we'll see if the failures recreate. Accidentally killed the jenkins agent as well and then restarted.

[2017-02-01 00:54] jasnell commented on #608
There's always this: https://github.com/nodejs/node/releases.atom

[2017-02-01 11:23] gibfahn commented on #589
This node-gyp issue seems related: https://github.com/nodejs/node-gyp/issues/1100

[2017-02-01 14:53] joaocgreis commented on #583
@thefourtheye Still using the machine? If you are, no rush, just let me know when you're done!

[2017-02-01 18:48] mhdawson commented on #604
Assume not comments is no objection since this is in line with the agreed policy, will start to setup today.

[2017-02-01 18:51] mhdawson opened #610 "CI jobs for postmortem group"
Setting up initial jobs for post-mortem WG in https://github.com/nodejs/build/issues/594

To allow members of the postmortem WG to be able to run/configure these jobs plan to set up as per https://github.com/nodejs/build/blob/master/doc/process/jenkins_job_configuation_access.md

Unless there are objects this would be the plan:

* create a new team called post-mortem-admins who will be able to mod

[2017-02-01 18:53] mhdawson commented on #594
Ok initial job in place, passed on platforms configured in the job that I cloned from citgm

Next step is to add additional platforms not in the citgm job including smartos and windows.

Not sure about arm.  @rvagg @jbergstroem do you see any issues with this running regularly on the arm machines ? I know they are more resource contained.

[2017-02-01 20:12] gibfahn commented on #610
SGTM, but we should make sure this is documented (probably in the post-mortem repo README).

[2017-02-01 20:12] gibfahn commented on #604
SGTM as long as it's documented

[2017-02-01 21:05] mhdawson commented on #594
Ok finally got windows working with a small tweak.

Smartos is broken but its because the nightlies are not currently building.

[2017-02-01 21:32] rvagg commented on #608
@MylesBorins given that we have the RSS for the releases on the blog, can you be more specific on what you'd like to see that isn't available there? Perhaps a more specific format containing the items in parsable form? Also the use-case would be helpful here too.

Email is an interesting one, we could trigger that from the server whenever a new blog post goes live, pull out the data from the post

[2017-02-01 21:41] rvagg opened #611 "ARM cluster move"
Sad news folks, I have to physically move the ARM cluster today and the internet connection where it's moving to isn't properly installed yet! I have a temporary connection ready but I'm paying by the GB for it so I can't hook up normal test runs.

There are some ARMv7 and ARMv8 machines in Jenkins (and ARMv7 in release) that aren't physically in the same place (i.e. they are hosted at Scaleway an

[2017-02-01 21:54] MylesBorins commented on #608
I was unaware of the RSS for the Blog... my thought was a feed directly tied to the release promotion that included the meta data I mentioned above. The use case would be to enable others to automate their build infra that does stuff when we release e.g. docker-node, IBM sdk, google sdk

[2017-02-01 21:58] chorrell commented on #608
Being able to automate the docker-node updates would be great!

[2017-02-01 23:00] mikeal commented on #611
Will we get a new picture of the cluster once it is in its new home?

[2017-02-01 23:32] mhdawson commented on #601
Testing out first cut in this job https://ci-release.nodejs.org/job/iojs+release-mdawson/nodes=smartos15-release/.

Still some tweaking/testing needed but first run for nightly master is building only on smartos15

[2017-02-02 00:06] jbergstroem commented on #601
@mhdawson while refactoring; if you could remove relying on `post-1` and `pre-1` that'd be awesome. They are/were used for the 0.10, 0.12 -> smartos13 branching logic.

Also, instead of `cat ./foo | grep bar` you can just use `grep bar ./foo`.

[2017-02-02 13:18] rvagg commented on #611
release machines are back online for now, armv6 and armv8, others are off, no ETA on proper connection yet

[2017-02-02 15:03] mhdawson commented on #601
@jbergstroem ok have tested it out and seems like it is doing the right thing across the different versions. Also fixed up the comments you made.

Can you take a final look and then I'll move over to the release job

[2017-02-02 15:08] jbergstroem commented on #601
[code]

I don't think iojs 1-3 builds on smartos13. I would stick with MAJOR being 0 for smartos13 and use smartos14 for >=1 >> 4.

[2017-02-02 15:10] jbergstroem commented on #601
Also – slightly nitpick – but seeing how we call `getnodeversion.py` just below this, we could perhaps just invoke it prior and avoid grepping for MAJOR_VERSION. The checks would use something similar to `$NODE_VERSION =~ ^[0]` instead.

[2017-02-02 17:24] joaocgreis commented on #594
I saw the failure on `win2012r2`, looks like npm is not properly sandboxed. A good way is to set the variable `NPM_CONFIG_USERCONFIG` before calling any npm commands, as the citgm-smoker job does (for Windows, there was no trouble on Unix yet but probably only because of luck). `NPM_CONFIG_CACHE` should also point to a clean or stable location. Furthermore, the `win2012r2` label has machines with

[2017-02-02 17:29] joaocgreis commented on #604
SGTM. You'll have to know what type of job to create (Freestyle, Multiconfig, Multijob) when creating them because that can't be changed later without deleting and re-creating.

[2017-02-02 17:48] Trott commented on #611
So with no ETA for the return of the Raspberry Pi cluster:

For the jobs that are stalled waiting for the Raspberry Pi farm, will they kick off tomorrow or whenever the farm comes back online? Or probably not and the jobs should just be canceled now?

Land stuff without Raspberry Pi test results in CI? Or wait for the Raspberry Pi cluster to come back?

/cc @nodejs/ctc

[2017-02-02 17:55] joaocgreis commented on #611
`armv7-ubuntu1404` and `armv8-ubuntu1404` were removed by @rvagg from the `node-test-commit-arm` job but `node-test-commit-arm-fanned` was left in place, possibly forgotten. I think it's better to cancel. I'll look for a way to remove the whole job.

[2017-02-02 18:55] mhdawson commented on #601
Ok, used

[code]
to re-use output from getnodeversion.py

Adjustted ranges to that io.js 1-3 would use smartos14

Updated main release job with result so we should be good, now will validate that the next nightly runs ok.

@misterdjules  there were no changes to the build part but you might want to validate the binaries just in case.

[2017-02-02 18:55] #601 closed

[2017-02-02 19:52] misterdjules commented on #492
@jbergstroem Thank you very much for your work! Should this issue be closed?

[2017-02-02 20:01] jbergstroem commented on #492
I guess we could, but seeing how we still need to land my PR it would be slightly misleading?

[2017-02-02 20:03] jbergstroem commented on #601
@misterdjules: possibly stupid question but is there a way of getting smartos major version from the host os? I see it as part of `/etc/motd` but can't see how to regenerate it. Version seems to be consistent with pkg info, but yeah..

[2017-02-02 20:18] misterdjules commented on #492
What PR are you referring to?

[2017-02-02 20:20] gibfahn commented on #604
Presumably for CI the jobs will probably all be multiconfig jobs

[2017-02-02 20:21] gibfahn commented on #492
I assume this one: https://github.com/nodejs/build/pull/606

[2017-02-02 20:30] misterdjules commented on #601
It's a great question, and the answer is unfortunately not obvious.

By "from the host os", do you mean from the virtual machine/zone? That's what I'll assume in my answer.

You can get access to the information about the image that was used to provision a given VM/zone by running the following from within that VM:

[code]

Then, you can query JPC's CloudAPI (e.g by installing [the triton CLI](htt

[2017-02-02 20:34] misterdjules commented on #492
@gibfahn Thanks for the context!

Let's not close this issue until that PR is merged then.

[2017-02-02 21:03] jbergstroem commented on #601
@misterdjules yes and yes. Thanks for writing that up; exactly what I was looking for.

[2017-02-02 21:52] rvagg commented on #611
Sorry, I thought I removed node-test-commit-arm-fanned. There shouldn't be any queued jobs, if there are then I've messed up!

[2017-02-03 10:53] shigeki commented on #596
Does anyone take care of this?  It's no problem to move all files in `out/Release`.

[2017-02-03 15:21] gibfahn opened #612 "Do we have any IPv4 only hosts?"
We've been seeing a number of failures in CI due to machines without IPv6 failing to run tests that had passed CI runs before landing (e.g. https://github.com/nodejs/node/pull/10854).

I *think* that this means that we don't have any machines that don't have IPv6 capability. If this is the case I think it would be useful to add at least one for CI runs.

cc/ @mhdawson

[2017-02-03 17:09] misterdjules opened #613 "Enable --abort-on-timeout for node-test-commit-smartos Jenkins job"
https://github.com/nodejs/node/pull/11086 introduced a new `--abort-on-timeout` command line option for `tools/test.py` that makes tests that timeout abort instead of being terminated.

I'd like to use this flag for test jobs running on SmartOS so that we can get a core file when a test times out and investigate the cause for the test timing out.

When testing the PR mentioned above, I had already

[2017-02-03 18:13] mhdawson commented on #601
Ok so job ran ok today, but I missed adding smartos15-release to the list of platforms we should be build on so although smartos was green we did not get a nightly.  Have added so next nightly should include.

[2017-02-03 19:00] joaocgreis commented on #596
Sorry @shigeki , I set up those jobs but was away for some weeks so I only noticed this now. I included those files in the binary package. Here is a test run: https://ci.nodejs.org/view/All/job/node-test-commit-windows-fanned/6870/ . For the `arm-fanned` job I added the code but did not test because the job is disabled (https://github.com/nodejs/build/issues/611). Please reopen if there's any prob

[2017-02-03 19:00] #596 closed

[2017-02-03 19:21] shigeki commented on #596
@joaocgreis No, problems. Many thanks for doing it. I'm going to submit a new ci job from now.  I appreciate your work.

[2017-02-03 22:05] gibfahn commented on #613
Sounds good to me

[2017-02-03 23:41] rvagg commented on #611
Thursday the 9th is the date I've been given for finalising this internet connection. Apparently there are some technical challenges (also I think some administrative incompetence but that's to be expected when dealing with large telcos!).

[2017-02-06 13:43] bnoordhuis opened #615 "[ci/osx] xcode-select: error: tool 'xcodebuild' requires Xcode"
See e.g. https://ci.nodejs.org/job/node-test-commit-osx/nodes=osx1010/7664/console:
[code]

[2017-02-06 15:21] mhdawson commented on #609
Seems like we have failures again.  From history looks like maybe attempts are made to fix tests, which cause failures and then processes hang around causing more failures.

[2017-02-06 15:23] mhdawson commented on #609
Latest hanging processes cleaned up.

[2017-02-06 15:24] gibfahn commented on #615
I think this is a duplicate of https://github.com/nodejs/node-gyp/issues/569#issuecomment-259421050 (also see https://github.com/nodejs/node-gyp/pull/1057). Basically the xcodebuild tool is only available in the full Xcode version, but it doesn't actually seem to be doing anything in node=gyp.

So the proper fix would be to submit a version of https://github.com/nodejs/node-gyp/pull/1057 to gyp, b

[2017-02-06 15:28] mhdawson opened #616 "Temporary access AIX machines for @gdams"
@gdams (George Adams) works at IBM with me and need access to the new AIX machines in order to investigate why CITGM runs seems run more slowly on the community AIX machines versus the ones we have internal to IBM,

He meets the requirements for temporary access in: https://github.com/nodejs/build/blob/master/doc/process/special_access_to_build_resources.md based on this subset of the criteria:

*

[2017-02-06 16:44] bnoordhuis commented on #615
I don't remember seeing them before though.  Did something change on the OS X buildbot?

[2017-02-06 17:21] mhdawson opened #617 "OSX reporting as failed even though sub job ran/was ok"
Noticed this when looking through results for recent run:

https://ci.nodejs.org/job/node-test-commit-osx/7668/console

[code]

[2017-02-06 17:22] mhdawson commented on #617
Its been that way as far back as history goes, Feb 4

[2017-02-06 18:01] misterdjules commented on #613
Modified the `node-test-commit-smartos` job to add a `TEST_CI_ARGS` parameter with a default value of `--abort-on-timeout`, and deleted the test job `node-test-commit-smartos-abort-on-timeout` that had been used to test this change.

[2017-02-06 18:33] joaocgreis commented on #616
I approve, thanks for helping @gdams !

[2017-02-06 18:34] jbergstroem commented on #616
+1, I approve.

[2017-02-06 19:19] joaocgreis commented on #591
Windows jobs already kill processes as part of the script, before and after running, including `run-tests.exe` of libuv, that shares the same machines.

I would also like to put more emphasis on finding out why and fixing this. Perhaps find a way to mark the build as unstable (yellow) when processes are left behind?

[2017-02-06 19:33] Trott commented on #616
I believe there's already enough approvals for this to move forward per our policy, but just in case I'm mistaken: +1 from me too.

[2017-02-06 20:45] mhdawson commented on #610
@gibfahn is there the plan to do the equivalent for citgm.  If so I'd like to just copy the text to do what we need for the post-mortem README.

[2017-02-06 20:48] mhdawson commented on #610
teams created, added Richard C to admin team initially as I think he'll be the first person from the post-mortem team that may need to modify the post-mortem jobs. The post-mortem WG can add additional people as needed.

[2017-02-06 21:54] gdams opened #618 "Add Build Status Plugin to ci.nodejs.org"
We should add the build status plugin to ci.nodejs.org so that modules can include their ci badges in the readme file. https://wiki.jenkins-ci.org/display/JENKINS/Embeddable+Build+Status+Plugin

[2017-02-06 23:33] mhdawson commented on #616
K thanks, will talk to George and get his keys onto one of the machines tomorrow.

[2017-02-07 06:30] gibfahn commented on #616
+1

[2017-02-07 08:54] gibfahn commented on #591
I've been thinking about this some more (not least because we've seen quite a few problems due to this).

I agree with @joaocgreis that we should consider processes left behind as a separate test-case (unless we can work out which processes came from which tests). Processes left behind should be considered a test-case failure.

I think the best place to do it would be in `tools/test.py` rather tha

[2017-02-07 15:01] mhdawson commented on #591
@gibfahn sounds good, we should make sure the info about processes being killed is output to the job and the idea of it reporting as at least yellow would make sense to me so that we can identify tests that are leaving jobs behind and fix them.

[2017-02-07 15:30] mhdawson commented on #616
I've added his key to test-osuosl-aix61-ppc64_be-2

[2017-02-07 15:47] mhdawson commented on #607
Ok so lets do it today, I'll set up the hangout

[2017-02-07 15:59] mhdawson commented on #607
@nodejs/build updated with hangouts info for meeting today.

[2017-02-07 19:53] piccoloaiutante commented on #607
@mhdawson can you add me to the hangout?

[2017-02-07 20:11] mhdawson commented on #607
Link to new hangout https://hangouts.google.com/hangouts/_/ytl/oefFhZpJxiAGtWAMfxo8i_v2SgNTVM7T6cwLkWeAX1M=?eid=100598160817214911030&hl=en_US&authuser=0

@piccoloaiutante you should be able to join the meeting is open

[2017-02-07 20:11] mhdawson commented on #607
Link for those that just want to watch http://youtu.be/iQzSe3aaL0U

[2017-02-07 20:35] jbergstroem commented on #453
Script that we should be running on all workers: https://github.com/jbergstroem/tap2junit

[2017-02-07 20:43] mhdawson commented on #593
We generate nightlies when there is a code change

For 4 and 6 the nightlies make sense if they come off the staging branches

4,6,7 and master

João will point me at the scripts and I'll put together a PR to doc

[2017-02-07 21:35] joaocgreis commented on #593
Nightlies are started by the www server, as configured here: https://github.com/nodejs/build/blob/2ac05fe/setup/www/tasks/tools.yaml#L9-L30 .

This uses `nodejs-nightly-builder` from https://github.com/nodejs/nodejs-nightly-builder .

The `crontab` in the server matches the Ansible script, so we are releasing nightlies from the `v6.x`, `v7.x` and `master` branches. This was introduced by @rvagg in

[2017-02-08 01:56] thefourtheye commented on #615
Actually `xcodebuild` expects XCode to be available, but it found just Command line tools. I recently uninstalled XCode while helping someone (https://twitter.com/dFourthi/status/828154632077668352), and I started getting this message after that. It doesn't affect the build though.

[2017-02-08 14:27] bnoordhuis commented on #613
This is breaking the CI for non-master branches, see e.g. https://ci.nodejs.org/job/node-test-commit-smartos/6865/nodes=smartos14-32/console which is a run of v6.x-staging.  If this can't be fixed easily and speedily, it should be rolled back for now.