[2018-04-12 21:42] mhdawson commented on #1233
+1 from me. Once we have agreement I'll add to the standard regression runs

@rvagg a few questions.

*Right now I added some simple logic to only run on 9 and above (which an option to change the default to @yhwang can continue to test with the job) as some fixes to the tests still need to be backported to 8.X and 6.X.  We'll probably still want it to not run for 4.x.  I think using the plugin wo

[2018-04-12 21:47] bnoordhuis commented on #1229
Orders of magnitude for things like AES on architectures with hardware support.

[2018-04-12 22:14] rvagg commented on #885
Stats separating out major versions for x86 downloads would be interesting. If 8.x x86 downloads are downward in comparison to prior versions then that'd make it an easier call. Perhaps all these x86 downloads are for ancient versions of Node? I have a bit too much on my plate with this minimum compiler stuff right now but if I have time I'll see if I can pull that out.

[2018-04-12 23:30] gibfahn commented on #925
I have now managed to get this working, but there was one pain point.

On one machine I tested on I got this error persistently, implying that the `LIBPATH` wasn't being passed down to the `g++` call.

[code]

With @refack's help I eventually tracked this down to this mailing list discussion:
https://lists.gnu.org/archive/html/bug-make/2001-03/msg00067.html

[code]

Running `sudo chmod 755 /opt/fr

[2018-04-13 00:05] gibfahn commented on #925
@seawatcher2011 your mileage may vary, but what worked for me is to extract the contents of the libstdc++ rpm into a directory, then set the LIBPATH to point to that directory.

I used rpm2cpio to extract the rpm, which isn't available on AIX (I got it from a RHEL box, but I think it's available on Ubuntu).

So first you need to download the rpm from wherever you got gcc from, either [AIX Toolbox]

[2018-04-13 00:15] gibfahn commented on #925
I have generated a zip file containing gcc and dependencies, by downloading the zip from Bull Freeware. For some reason the dependency resolver on Bull Freeware downloaded the wrong version of libstdc++ (7.1 instead of 6.1) so I had to manually fix up the with-deps zip.

[code]

Once you have the zip on the system, it's just a matter of unzipping it somewhere, and then setting up the paths correct

[2018-04-13 00:36] gibfahn commented on #925
I also ran with C++ 14 enabled to make sure that worked, by applying this diff:

[code]

[2018-04-13 00:38] rvagg commented on #885
FYI latest nightly is the first to drop linux & smartos x86 https://nodejs.org/download/nightly/v10.0.0-nightly201804120aab8ff602/

[2018-04-13 03:13] shigeki commented on #1229
IIRC, AES-NI is supported aarch64.

But actually GNU as version requirements mainly need for x86-64 not for ARMv6/v7 but it gets too complex to have both architecture and assembler version dependencies.

Another remedy is to have asm_obsolete as we did in openssl-1.0.2 of https://github.com/nodejs/node/tree/v8.x-staging/deps/openssl/asm_obsolete for older assembler.
I'm going to work on it.

[2018-04-13 08:29] seishun commented on #925
`'-std=gnu++1y'` and `'-std=gnu++14'` are synonyms.

[2018-04-13 10:25] gibfahn commented on #925
Ahh, so how would I enable gcc 14 features (to check that it works)? I want to get something that fails on 4.8.4 and passes on 6.3.0.

[2018-04-13 10:26] seishun commented on #925
You could try to build this PR: https://github.com/nodejs/node/pull/13676

[2018-04-13 11:28] rvagg commented on #1232
Yeah, the problem with anything like this is scope, so if you start with something _really_ simple then we can complicate it as we want extra info. So a single metric like last 100 % would be a good start.

Beyond that, I really want to see patterns of failures across jobs, builder labels and individual nodes, but that can come later once we have a basic framework in place.

[2018-04-13 12:26] mcollina commented on #885
We should ask ourselves the question: do we want to support 32-bit for one more year on top of the next two?

SGTM, I think it's time.

Another option is to keep support for Node 10, but drop it for Node 11+. This would still mean one more year of support... but we could use this to give our users a bit more notice than 2 weeks.

[2018-04-13 13:29] mhdawson commented on #925
Other platforms seem to need to export LDFLAGS, sounds like that is not required on AIX for your testing?

[2018-04-13 13:37] refack commented on #1230
So I'll be closing this for now...

[2018-04-13 13:37] #1230 closed

[2018-04-13 15:06] mhdawson commented on #925
Seems to fail on community machine with:
[code]

Will try to set LIBPATH

[2018-04-13 15:36] mhdawson commented on #925
LIBPATH does not seem to help and just causes other problems.

[2018-04-13 15:46] mhdawson commented on #925
Despite it not looking like the bit was set on the test machine, this was still required:

`sudo chmod 755 /opt/freeware/bin/make`

[2018-04-13 15:59] mhdawson commented on #925
That seems to start building when run locally through the console,but still fails when run through the CI with:
[code]

[2018-04-13 16:19] refack commented on #925
@mhdawson watch out for the following in the Jenkins config...
![image](https://user-images.githubusercontent.com/96947/38746217-de017bd0-3f14-11e8-9424-6c078efc877c.png)

BTW: I've found that the following enables building (and apparently the order in important):
[code]

[2018-04-13 17:14] mhdawson commented on #925
@refack Thanks ! trying that now.

[2018-04-13 17:25] refack commented on #925
So it's more delicate:
GCC need LIBPATH to be `export LIBPATH=/home/iojs/gcc-6.3.0-1/opt/freeware/lib:/opt/freeware/lib`
[code]

gmake need it the other way:
[code]

[2018-04-13 17:32] mhdawson commented on #925
Looks to me that there is a circular issue, gmake requires LIBPATH in particular order and CC in a different order:
[code]

[2018-04-13 17:36] mhdawson commented on #925
Ok, ignore the previous I see that I have at least one of the paths wrong
trying again.

[2018-04-13 17:37] mhdawson commented on #925
Or maybe I had things right after all as @refack just said the same thing.

[2018-04-13 19:46] mhdawson commented on #925
Tried taking the gmake from one of our internal machines that might have worked with @gibfahn tests.  And tried it on the CI machine, still fails with the same problem :(

The message was only slightly different:

[code]

[2018-04-14 12:44] gibfahn commented on #925
Assuming you're talking about `dal-pax`, then it worked fine (feel free to test on that machine). Given that they're both AIX 6 boxes with Bull Freeware rpms and gcc 4.8 (I didn't update any of the packages on that machine) it should be pretty simple to work out what the difference between them is.

[2018-04-16 02:31] BridgeAR opened #1236 "Debian 9 failing very often"
Almost every second CI that I look at has some infrastructure problems with debian 9.

Here is one: https://ci.nodejs.org/job/node-test-commit-linux/18001/

[2018-04-16 05:37] rvagg commented on #1233
Cool, here's what needs to be done for this:

1. Make a new label for this, "ubuntu1604_sharedlibs_shared_x64" would match what we're using for other builds with alternative `./configure` options. Unfortunately you'll have to manually go through all of the containers that run in these configs and add the new label to all of them, see https://ci.nodejs.org/label/ubuntu1604_sharedlibs_debug_x64/ for

[2018-04-16 05:49] rvagg commented on #1236
I've taken that one offline, one of the two debian9 machines fails every time, the other one is green, someone .. I guess me .. will fix it later when the more important work is out of the way

[2018-04-16 13:24] rvagg opened #1238 "Cross-compile ARMv6 & ARMv7 release binaries (?)"
Sadly, I think it might be time to shift to cross-compiling ARMv6 & ARMv7 release binaries. We currently build ARMv6 on Raspberry Pi 1 B+'s and ARMv7 builds on the Marvell Armada 370/XP devices that we get from Scaleway.

The ARMv7 builds haven't been speedy but are usually there on time and with little trouble. The ARMv6 builds on the other hand are a totally different matter. Depending on freshn

[2018-04-16 18:56] Trott opened #1239 "test-joyent-alpine36_container-x64-1 seems in perma-fail mode"
<img width="832" alt="screen shot 2018-04-16 at 11 55 48 am" src="https://user-images.githubusercontent.com/718899/38829180-2a3353f2-416d-11e8-9e70-e9a7754064e0.png">

https://ci.nodejs.org/job/node-test-commit-linux/nodes=alpine-last-latest-x64/18061/console:

[code]

[2018-04-16 18:57] Trott commented on #1239
I marked it temporarily offline.

[2018-04-16 22:02] mhdawson commented on #925
I finally found something that works.  Still want to get some feedback from the internal AIX team to see if it makes sense.

The environment is set as follows:
[code]

with the difference from before being the addition of `/home/iojs/gmake/opt/freeware/lib` where I've copied the libiconv.a from the local system.  The net is that we use the libiconv.a that gmake needs as opposed to the one that com

[2018-04-16 22:36] mhdawson commented on #925
Running here: https://ci.nodejs.org/job/node-test-commit-aix-mdawson/nodes=aix61-ppc64-x/10/

[2018-04-17 05:09] rvagg commented on #1238
so I've tested the binaries on some different ARM devices and they work as expected:

* The ARMv6 binaries work on ARMv6 & ARMv7 machines for Jessie+
* The ARMv7 binaries work on ARMv7 machines for Jessie+

Will test more when the next v10 test build comes out. I'll also confirm that they work on ARM64 and might fish around for more ARM devices to try on. I don't see any reason they'd be too diffe

[2018-04-17 06:12] rvagg commented on #885
<img width="854" alt="screenshot 2018-04-17 15 57 21" src="https://user-images.githubusercontent.com/495647/38851210-2020845c-4258-11e8-9259-89e7c8a67972.png">

This clears things up a little, not quite as much as I hoped however. It's only 2017 & 2018, maybe it would be more interesting if I went back further but I got impatient enough waiting for these to generate.

The Node 8 bumps are interest

[2018-04-17 07:10] ChALkeR commented on #885
@rvagg Which does that come from?

_Crazy idea: add a delay for downloading 9.x x86._

[2018-04-17 10:13] rvagg commented on #885
WHOOPS! Thanks for catching that @ChALkeR, this is _all_ 32-bit, I intended to only look at Linux. So here's the numbers when I restrict it to just that:

<img width="819" alt="screenshot 2018-04-17 20 10 11" src="https://user-images.githubusercontent.com/495647/38863593-7d02c784-427b-11e8-998b-7b55b14b2939.png">

Much easier case for dropping 32-bit there. 0.075% of downloaders are grabbing Node

[2018-04-17 10:17] ChALkeR commented on #885
@rvagg Is the intent here to drop 32-bit **Linux** builds in 10.x (and keep 32-bit Windows builds)?

[2018-04-17 10:34] mcollina commented on #885
Definitely 👍  to drop Linux 32-bit.

I'm -1 to drop Windows 32-bit fo Node 10.
Consider that everybody builds on both 32-bit and 64-bit on AppVeyor because of binary addons prebuilts.

[2018-04-17 12:29] gibfahn commented on #925
Do you know why the gmake on the test machines is different to the one on `dal-pax`?

[2018-04-17 13:30] gibfahn commented on #1238
Cross-compiling sounds good to me, especially if that's how we build in CI.

[2018-04-17 13:31] mhdawson commented on #925
No idea and in fact even copying over the gmake to the community machine did not help as I tried that first.  It is different though based on the output from dump -H

[2018-04-17 13:46] refack commented on #1238
+1
P.S. didn't someone mention merging ARM efforts with @chrislea?

[2018-04-17 13:57] refack commented on #1238
P.P.S. regarding `xz` is it possible to just `tar` "natively" then `xz` on a stronger machine?
P.P.P.S. there's buzz about [Jenkins X](http://jenkins-x.io/) and containerized CI<sup>[1],</sup><sup>[2]</sup>  (plus Rodd's latest venture). Is it worth considering running the release process in sanitized containers, and eliminating the release cluster?

[1]: https://dzone.com/articles/jenkins-x-the-g

[2018-04-18 05:29] rvagg opened #1241 "AIX down"
I've removed node-test-commit-aix from node-test-commit for now. I restarted Jenkins today and there were updated plugins and I _think_ the JNLP version restrictions got turned on, either with an update or perhaps someone flipped that switch in there. I've had to upgrade a bunch of slave.jar files across our infra (a good chance to discover ancient ones tbh!) but I can't do anything about AIX. I c

[2018-04-18 17:09] Trott opened #1243 "test-rackspace-freebsd10-x64-1 build stall/hang/timeout, marked offline"
I've marked test-rackspace-freebsd10-x64-1 because three lint jobs in a row on it got caught in an infinite loop.

@nodejs/build

[2018-04-18 17:48] gibfahn commented on #1238
For the machines we can containerize that sounds great, but I'd assume that some of them would be harder to get set up (I think Jenkins X requires Kubernetes). Also Jenkins X sounds cool, but it seems entirely focused on building docker apps that get deployed onto a Kubernetes cluster, which doesn't really help us.

[2018-04-18 20:23] bnoordhuis opened #1244 "alpine-latest missing autotools, libtoolize"
Can whoever added them to the libuv CI add automake+autoconf and libtool/libtoolize?

https://ci.nodejs.org/job/libuv-test-commit-linux/833/nodes=alpine-last-latest-x64/console
https://ci.nodejs.org/job/libuv-test-commit-linux/833/nodes=alpine-latest-x64/console

Also, what's the difference between the two?  last-latest is `latest^`?

[2018-04-18 21:00] santigimeno commented on #1244
Already reported in https://github.com/nodejs/build/issues/1186

[2018-04-19 09:17] BethGriggs commented on #925
@gibfahn, `dal-pax` is OS 6100-07, IIRC the community CI AIX machines (https://ci.nodejs.org/label/aix61-ppc64/) are both  6100-09. Maybe that is why we're seeing differences?

[2018-04-19 10:09] bnoordhuis commented on #1244
GitHub search... didn't turn up any issues.  I'll close this but cc @rvagg as it's still an issue.

[2018-04-19 10:09] #1244 closed

[2018-04-19 14:33] AxelTerizaki commented on #885
Many times, people use 32 bit because they don't have a choice in the matter and would rather use 64 bit.

Like, in some big companies, 32 bit windows are still installed due to legacy software they can't move away from just yet.

Another question to consider is, what is the price today of maintaining 32 bit binaries? Is there something slowing node development down because of those? Just a genuin

[2018-04-19 14:50] mhdawson commented on #925
The upgrade has now been rolled out to test and release machines.  Things seem to be building ok.
Have a suggestion from AIX team on how to improve the config, will do that but likely after 10.x goes out.

[2018-04-19 18:10] gibfahn commented on #885
AIUI that's why we're not dropping 32-bit Windows builds

One of the things we'd really like is to hear from people who are forced to use 32-bit Linux, and who can't just use 8.x for its lifetime.

I think I'd phrase it the other way around. Node is an open-source project, largely maintained by people in their free time. The Build working group has limited resources, and people ask us to support n

[2018-04-19 20:56] richardlau opened #1245 "libuv CI should build 64-bit binaries on AIX"
Refs: https://github.com/nodejs/node/pull/20129#issuecomment-382858256

Node.js only supports 64-bit AIX but it looks like libuv is compiling 32-bit binaries on AIX and thus didn't detect the compilation failure that https://github.com/libuv/libuv/pull/1795 introduced.

Needs https://github.com/libuv/libuv/pull/1807 to land first so that libuv can actually build 64-bit AIX binaries.

cc @nodejs/li

[2018-04-20 16:57] mhdawson opened #1246 "Give @shigeki access to linuxOne machine for openSSL work"
See: https://github.com/nodejs/node/issues/19944#issuecomment-382943583

@shigeki is a long standing Node.js collaborator and past TSC member

[2018-04-20 16:58] mhdawson commented on #1246
+1
@nodejs/build

[2018-04-20 17:36] Trott commented on #1246
+1

[2018-04-20 18:46] joaocgreis commented on #762
@rvagg did it: https://github.com/nodejs/build/pull/1237

[2018-04-20 19:02] joaocgreis commented on #1238
I'm +1, I though about cross compiling releases a number of times but was never able to move forward. This should take care of the issues we have with the Pi 1s on the release Jenkins, and actually release a binary that is more like the one we test in CI.

On the down side, we lose the last barrier we have ensuring that node can be compiled natively in a Raspberry Pi. I don't think this is a big i

[2018-04-22 17:34] gibfahn commented on #1246
+1

[2018-04-23 13:44] rvagg commented on #643
This came up the other day but I don't recall where. @mhdawson & @danbev, where was that, IRC?

Anyway, I tried one out, the config is all done and waiting to be enabled (by ticking the label "" to the list of node labels in the job) but it has a snag, perhaps the first of many? https://ci.nodejs.org/job/node-test-commit-linux-containered/3916/nodes=ubuntu1604_sharedlibs_withoutssl_x64/console (yo

[2018-04-23 15:46] bnb opened #1247 "Bots + Apps in the Org"
The CommComm has had an [open discussion](https://github.com/nodejs/community-committee/issues/22) for quite a while around a bot to manage the members of the organization. In addition to @williamkapke's work on that, we've got a few other things in flight that are semi-reliant on the same discussion and decision (I believe a few of these bits have been raised to the Build WG already).

I was wond

[2018-04-23 19:31] shigeki commented on #1246
If it allowed, I'd like to have an access it in order to check if OpenSSL-1.1.0 built with Node is properly by comparing those built from the OpenSSL sources.  I also need to submit a patch for S390 of https://github.com/nodejs/node/commit/1bcb6c0d26de749a806523de97b9309da839514d to the upstream but I never checked it on that machine except CI jobs of Node.
https://github.com/shigeki.keys are my p

[2018-04-23 21:14] mhdawson commented on #1245
@richardlau so do you mean add -Dtarget_arch=ppc64 to the CI job ?

I'd lean to just building for 64 bit, although the libuv jobs are quite quick.

[2018-04-23 22:02] richardlau commented on #1245
I did, but I was assuming the CI job was using gyp, but looking at https://ci.nodejs.org/job/libuv-test-commit-aix/803/nodes=aix61-ppc64/console it looks like it might be using autotools which [I am not familiar with](https://github.com/libuv/libuv/pull/1807#issuecomment-382879720).

[2018-04-23 22:27] Trott commented on #1246
Aside: Looks like we may need to update the ansible stuff so that the ssh config writing playbook writes info for `test-linuxonecc-rhel72-s390x-3`? I'm only getting `-1` and `-2`.

[2018-04-23 22:30] Trott commented on #1246
@shigeki I've added your public keys to test-linuxonecc-rhel72-s390x-2. Let me know if the work you're doing requires us to take it out of the CI rotation. When you're done, leave a comment here and I'll remove your keys (or remove them yourself) and close this issue.

[2018-04-24 05:43] shigeki commented on #1246
@Trott Thanks. I can login the machine and make test builds of openssl and node in `/data/shigeki`. Build binaries were already transferred to my local machine but they are not yet checked. And checking my openssl PR is not yet done, too. Please keep my access for a while. I will ask you to remove my access after my all tasks finished. Thanks, again.

[2018-04-24 08:22] BridgeAR opened #1249 "CI reports misleading"
Yesterday I merged a [PR](https://github.com/nodejs/node/pull/20026) that had a failing CI because of a wrong report in the PR.

The report was green for `node-test-commit-linux` because it only visualized `centos7` and not all linux runs together. There was also no race condition about reporting the wrong CI back (it was the only one running and it is the [correct](https://ci.nodejs.org/job/node-

[2018-04-24 15:01] mhdawson commented on #1246
@Trott good point on -3, I added those as one to test the new compiler changes, I'll figure out if I'm going to remove from the CI or add to ansible.

[2018-04-24 22:46] mhdawson commented on #1245
@richardlau if you can't figure it out can you see if you can get help from @gireeshpunathil

[2018-04-25 12:05] mhdawson opened #1250 "Node.js Foundation Build WorkGroup Meeting 2018-05-01"
## Time

**UTC Tue 01-May-2018 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 01-May-2018 13:00 (01:00 PM) |
| US / Mountain | Tue 01-May-2018 14:00 (02:00 PM) |
| US / Central  | Tue 01-May-2018 15:00 (03:00 PM) |
| US / Eastern  | Tue 01-May-2018 16:00 (04:00 PM) |
| London        | Tue 01-May-2018 21:00 (09:00 PM) |

[2018-04-25 13:33] richardlau commented on #1245
@gireeshpunathil Unfortunately I cannot because the AIX machines I have access to do not have autotools installed.

[2018-04-25 18:35] richardlau commented on #1245
Thanks to @gireeshpunathil I've found an AIX machine with autotools. It's not enough to pass `-maix64` as `CFLAGS` and `LDFLAGS` -- you also need to make sure [`nm`](https://www.ibm.com/support/knowledgecenter/ssw_aix_71/com.ibm.aix.cmds4/nm.htm) and [`ar`](https://www.ibm.com/support/knowledgecenter/ssw_aix_71/com.ibm.aix.cmds1/ar.htm) run in the correct object mode.

The [libuv build instruction

[2018-04-25 18:39] richardlau commented on #1245
Alternatively we could switch the AIX build to use gyp, but we should clear that with the libuv maintainers first.

[2018-04-25 19:58] mhdawson commented on #1245
Ok so current job has

[code]

@richardlau I tried to update to:

`sh autogen.sh && ./configure CFLAGS=-maix64 LDFLAGS=-maix64`

We got an error:
[code]

which is strange since we compile libuv fine in the Node.js builds

[2018-04-25 20:08] mhdawson commented on #1245
Actually, that same error occurs previously but does not seem to block the process is unrealated.

The real problem seems to be:

[code]

[2018-04-25 20:10] mhdawson commented on #1245
@richardlau ar shows as
[code]

and figure out what might be going wrong.

[2018-04-25 21:35] richardlau commented on #1245
@mhdawson was `export OBJECT_MODE=64` set? If it was try not setting it until after `configure` is run?

[2018-04-25 21:37] richardlau commented on #1245
@bnoordhuis AFAIK the libuv CI configuration isn't stored in a GitHub repo? Happy to raise a PR otherwise.

[2018-04-25 22:12] bnoordhuis commented on #1245
It's not.  It's done through Jenkins config, I think.

[2018-04-26 09:24] neroux commented on #885
This caught me now a bit unprepared to be honest.
Was this decision made because it is actually unsustainable to still provide x86 builds or rather because of fashion? What would the technical difficulties be tol continue providing x86 binaries?

The comments here which seem to be in favour of stopping x86 seem to be in regard to desktop environments (where I'd agree that x86 is somewhat on the wa

[2018-04-26 13:05] gdams opened #1252 "Setup KeyBox server"
Demo'd in https://github.com/nodejs/build/issues/806

I believe that we generally all agreed that KeyBox would be a good solution for managing SSH keys on the build farm servers.

If this is the case then I would like to request a machine that I could set this up on and perhaps provide a further demo with a small pool for test machines

[2018-04-26 13:47] refack commented on #885
Hello @neroux and thank you for the feedback. The tl;dr is that it is progressively becoming harder to rent and maintain x86 hardware for testing and building node, so we can't commit to supporting it for the next 3 years (till 10.x goes EOL).
We have thought of several recommended workarounds.
1. __Build your own Binary__ - we work hard to make sure building node from source is [as easy as possib

[2018-04-26 16:13] lucasbuchala commented on #885
Hello. Sorry if this is not the right place to ask. I didn't read the full thread. I'm on a x86 machine, and definitely missed the binary for the 10.0 release. I saw that issue nodejs/node#20327 was closed saying that those binaries are no longer provided, but the release blog post in the website still says "Linux 32-bit Binary: Coming soon" and the front page, with JavaScript enabled, detects my

[2018-04-26 16:31] mhdawson commented on #1245
Sorry missed the OBJECT_MODE bit

[2018-04-26 17:01] mhdawson commented on #1245
Ok now building ok, thanks for all the help.

[2018-04-26 17:01] #1245 closed

[2018-04-27 16:15] gdams commented on #1252
CC @nodejs/build

[2018-04-27 16:41] joaocgreis opened #1253 "Remove prebuilt node executables from test machines"
@nodejs/build

For all the machines that are used to run the sub-jobs of `node-test-commit`, we should not have any node executable in the path. If we do, we open up the possibility of testing the wrong executable. While this looks rather unlikely, the consequences can be severe and we would probably only catch this too late, after releasing.

The machines used for linting have node in the path, b

[2018-04-27 21:28] richardlau opened #1254 "citgm/stress jobs do not select compiler for AIX on v10.x/master"
Refs: https://github.com/nodejs/node/pull/20137#issuecomment-385095229

The stress job appears not to be using the compiler selector script added by nodejs/build#1240 so it's using the wrong level of gcc on AIX for master/v10.x.

e.g., https://ci.nodejs.org/job/node-stress-single-test/1825/nodes=aix61-ppc64/consoleFull
[code]

[2018-04-28 00:36] juggernaut451 commented on #1194
@gibfahn would like to contribute to this. Could you please mentor me on this

[2018-04-28 18:17] addaleax commented on #1254
This apparently goes for CITGM as well: https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/1390/nodes=rhel72-s390x/console

[2018-04-28 23:06] refack opened #1255 "Both FreeBSD 11 worker are offline"
https://ci.nodejs.org/label/freebsd11-x64/
[code]
I disabled the freebsd phase in the node-test-commit multijob for now.

/CC infra-peeps @gibfahn @jbergstroem @joaocgreis @mhdawson @rvagg
/CC2 @nodejs/platform-freebsd

[2018-04-28 23:12] refack commented on #1255
Better yet, re-enabled the bsdjob, and just excluded the `freebsd11-x64` label
![image](https://user-images.githubusercontent.com/96947/39401641-00c98414-4b18-11e8-86ca-9f3828aef137.png)

[2018-04-29 00:28] BridgeAR commented on #1249
Ping

[2018-04-29 14:41] BridgeAR opened #1256 "Please remove the `certificate safe` check"
Every collaborator is regularly on-boarded and they should know to only start the CI in case it is safe to do so.

So it seems like this check should be removed. We actually also have the possibility to start all kinds of CI runs where we do not have this check at all.

[2018-04-29 14:48] BridgeAR commented on #1249
I like the idea of only reporting failures. The `node-test-commit` should always be reported though.

[2018-04-29 15:45] juggernaut451 commented on #959
would love to contribute on this. @gibfahn @maclover7 @rvagg  can someone mentor me on this

[2018-04-29 18:33] ChALkeR commented on #1256
IMO it has value as an active reminder to take a look at the code before running it through the CI.

[2018-04-29 19:40] mcollina commented on #1256
I think it’s needed. I would not enforce it on my own PRs (it seems silly), and on other collaborators PRs.

[2018-04-29 21:11] benjamingr commented on #1256
I think just having to tick a box where you indicate you understand there might be implications of running bad code has value. I like the reminder.

[2018-04-29 22:43] BridgeAR commented on #1256
Seems like it is a clear thing that others like the check. Closing.

[2018-04-29 22:43] #1256 closed

[2018-04-30 02:58] LaurentGoderre opened #1257 "Download ccache"
Is it possible to download the ccache file that are generated by the build?

[2018-04-30 08:46] bnoordhuis commented on #1257
It's not a file but a tree of directories with fragments in them.  If you have ccache installed locally, go to `~/.ccache` to get an idea of what it looks like.

What do you want to do with it?

[2018-04-30 14:37] mhdawson commented on #1026
Done

[2018-04-30 14:37] #1026 closed

[2018-04-30 14:47] LaurentGoderre commented on #1257
Sory, I meant files, I was wondering if I could get an archive with those ccache file so that I can reuse it for docker alpine build. It might help address https://github.com/nodejs/security-wg/issues/168

[2018-04-30 15:44] mhdawson commented on #1254
Fixing the stress job.

@gdams can you update the CITGM jobs, they need to use

[code]

For all platforms (selection is currently done on PPC, s390 and AIX, but will be on others in the future).  In addition for AIX if there is a CC= definition it should be removed as that is now set by the selection script.

[2018-04-30 16:02] bnoordhuis commented on #1257
I doubt it'd be usable since the official builds compile against glibc; details from glibc's headers end up in the cache files.  `no_system_headers` disables that but it's wildly unsafe.

Is there anything stopping you from keeping your own ccache in docker-node?

[2018-04-30 17:14] LaurentGoderre commented on #1257
I am already doing this on Travis but the official image repo don't have access to them for the official build so right now it would only benefit test builds.

[2018-04-30 17:15] LaurentGoderre commented on #1257
But anyways, I wasn't sure if the ccache worked cross libc implementation thanks for the help!

[2018-04-30 17:15] #1257 closed

[2018-04-30 23:53] #1209 closed

[2018-05-01 00:01] mhdawson opened #1259 "Add selection of binutils for unbuntu14 to select-compiler"
Adding this issue so that we don't forget as it was discussed in a PR that was landed without doing this.

@rvagg, I've still not gotten to this so may be able to later in the week.

[2018-05-01 08:08] neroux commented on #885
I'd really appreciate some feedback on my previous comment :)

Thanks in advance!

[2018-05-01 08:10] neroux commented on #885
I'd really appreciate some feedback on my previous comment :)

Thanks in advance!

@gibfahn @chrislea @seishun @joaocgreis @bnoordhuis @jasnell @mscdex @rvagg @srl295 @ljharb @mcollina @ChALkeR @AxelTerizaki @maclover7

[2018-05-01 10:44] bnoordhuis commented on #885
@neroux See https://github.com/nodejs/build/issues/885#issuecomment-381934673, the reason for dropping 32 bits Linux is that it's an insignificant fraction of all downloads.

Maintaining release binaries isn't free.  We decided our efforts are better spent on where our users are.  Note that you can still build from source.

[2018-05-01 18:30] kfarnung opened #1260 "node-test-binary-windows CI jobs are failing with Git errors"
e.g. https://ci.nodejs.org/job/node-test-binary-windows/16980/

[code]

[2018-05-01 18:30] kfarnung commented on #1260
@joaocgreis Any ideas?

[2018-05-01 18:50] MSLaguana commented on #1260
Looks like the complaint is that there is a pre-existing .git/index.lock file, possibly from a previous run which was interrupted. I suspect that wiping out the folder / that file might cause things to work again.

[2018-05-01 19:05] joaocgreis commented on #1260
This happens when a job is aborted while git is running. In this case it was caused by https://ci.nodejs.org/job/node-test-binary-windows/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=2/16962/console .

I started `git-clean-windows`, the next runs should be ok.

Thanks @kfarnung !

[2018-05-01 19:05] #1260 closed

[2018-05-01 20:00] mhdawson commented on #1250
Meeting link: https://zoom.us/j/715960833

[2018-05-01 20:02] mhdawson commented on #1250
@nodejs/build zoom is up, anybody going to make it today?

[2018-05-01 20:09] mhdawson commented on #1250
Kyle and João joined in but the agenda only a single item which required Rod. We decided to skip until next time and cancelled the meeting.

[2018-05-01 20:13] Trott commented on #1250
I was just about to join late now, but I guess it's not happening.  I'll close this issue....

[2018-05-01 20:13] #1250 closed

[2018-05-02 08:12] BridgeAR commented on #1260
@joaocgreis I personally only see this as a intermediate step. We are likely running into this issue over and over again and I wonder if there is no possibility to automate a fix for this.

I think it would be great to do the following:

1. Run the build. If it works -> perfect. If it does not, go to 2.
2. Check the error if there was a former `.git/index.lock` file.
3. Run `git-clean-windows` in

[2018-05-02 09:59] bnoordhuis commented on #885
It's possible, but there's no way for us to know.  But if the bug tracker is a reasonable proxy for usage, then that <1% is probably accurate because bug reports for x86 Linux are very rare.

[2018-05-02 10:51] neroux commented on #885
You mean the tracker on Github? I randomly opened issues from the last weeks and found it a bit difficult to tell from that alone how strong x86 still is going. Most of the time people refer to desktop platforms (which naturally will be x64).

I am not trying to argue that x86 will be still in the high double digits, I do wonder though if it wasnt maybe a bit too quick to dimiss it as being around

[2018-05-02 11:43] bnoordhuis commented on #885
Yes.  By my reckoning we get more bug reports for Android - which isn't even a supported platform - than x86 Linux.

[2018-05-02 22:00] refack commented on #885
@neroux our entire build infrastructure (testing & release) runs on VMs that we get from our sponsors (see main readme). In "x86 hardware" I was referring to the shrinking availability of VM images running 32bit linux, specifically centOS which our release infra runs on, and also the lack of official 32bit support for the build toolset.

P.S. the org in general is run by volunteers (and specialty

[2018-05-03 16:53] joaocgreis commented on #1260
@BridgeAR this is only one of the issues we have with the Git plugin in Jenkins (ref https://github.com/nodejs/build/issues/1122). In this case, the job was aborted while the plugin was running, and from then on only the Git plugin runs and throws an exception, giving us no chance of running anything before or after.

We could run something as a post-job of `node-test-commit` (I actually started `

[2018-05-03 18:54] mhdawson opened #1261 "Ongoing access to AIX, PPC and z/OS machines for @jbarz"
John has been helping me with issues across the IBM platforms.  There have been a number of times that he's needed access to the community machines to help recreate problems (which we don't see on IBM internal machines).

I'd like to request ongoing access across the IBM platforms for @jBarz. He has already been approved for ongoing access for z/OS here: https://github.com/nodejs/build/issues/1081

[2018-05-03 19:37] mhdawson commented on #1261
@nodejs/build

[2018-05-04 10:14] joaocgreis commented on #1209
For future reference, meeting video: https://youtu.be/mlnbOhGZlRU . This was the meeting where the "New OSX infra walkthrough" (https://github.com/nodejs/build/issues/1026) happened.

[2018-05-04 10:14] joaocgreis commented on #1026
Happened in https://github.com/nodejs/build/issues/1209 . Meeting video: https://youtu.be/mlnbOhGZlRU .

[2018-05-04 11:05] joaocgreis commented on #1222
+1, this has been [part of the Windows script](https://github.com/nodejs/build/blob/eb68f591fdd5e07fdd705d1e9fa5316f85d87335/setup/windows/resources/jenkins.bat#L4) for a few years now and works great. The only drawback is that this is not straightforward for ci-release because it is locked, but this shouldn't stop us for test ci.

[2018-05-04 13:34] mhdawson commented on #1261
@joaocgreis does this sound ok to you?

[2018-05-04 13:42] joaocgreis commented on #1261
SGTM, let's keep this open so we don't forget access has been granted.

[2018-05-04 16:31] #1255 closed

[2018-05-04 19:14] refack commented on #1255
Resorted label to `libuv-test-commit-freebsd`, as well.
https://ci.nodejs.org/job/libuv-test-commit-freebsd/800/

[2018-05-05 00:27] rvagg commented on #885
I have some raw(ish) data for you all to play with. Please grab this and make graphs or give us stats if you think there's a case to make for a change in current policy (nothing is truly set in stone, you just have to be able to convince enough people!). I presented numbers above that I thought were meaningful but I see that there's disagreement with my choices. My methodology was to look at _curr

[2018-05-05 01:52] xzyfer commented on #885
An additional data set that may be of interest is downloads 32bit pre-built binaries for native addons. There are probably downloaded more frequently that Node itself.

You can get raw using [GitHub's GraphQL API explorer](https://developer.github.com/v4/explorer/) using the following query. This only works for projects that use GitHub releases for assets (rather than s3).

[code]

An example of o

[2018-05-05 17:25] neroux commented on #885
Thanks a lot for the numbers Rod!

I'd say these provide a pretty accurate overview of what architecture is primarily downloaded. I'd particularly like to thank you for your comment and your availability regarding tweaking the layout.

I took the liberty to grandtotal them by architecture and judging from that, x64 is - as expected - the winner with about 52 million downloads in 2018 so far. By co

[2018-05-05 17:55] chrislea commented on #885
I feel like I should point out a few bits since I was (and still am) strongly in favor of dropping 32bit Intel builds. Disclosure for those who don't know: I work with @rvagg .

There is broadly a move in the industry for Linux distros dropping 32bit support, and not just for Desktops. They are doing it in different ways, and in varying degrees, but it's happening all over. Some points to note:

-

[2018-05-05 19:05] neroux commented on #885
That may be true, but so far the line of argument focused on the number of downloads, and going by that particular argument the popularity is similar.

Fair enough, if there are serious technical reasons for that decision I guess it eventually will be reasonable. Hence my question.

Agreed, and while I still think the focus should really shift away from desktops to servers, there is certainly a 64

[2018-05-07 05:05] rvagg commented on #885
Interesting data @reconbot, thanks for providing. One critical piece I'd like to see is how many of those users are on a recent version of Node. Do those versions of serialport only support modern Node? The section of the userbase I care most for this question are those that are actually missing out on Node 10 32-bit, not just general 32-bit users. If you're happy using 0.10 still then this decisi

[2018-05-07 05:53] gibfahn commented on #1194
@juggernaut451 I'm afraid there's not much you could do here without the right accesses.

[2018-05-07 11:05] gdams commented on #1222
@joaocgreis I would reccomend using https://adoptopenjdk.net/ java binaries if we plan to upgrade all of our machines. There is a nice API (https://api.adoptopenjdk.net/README) detailing how it can be used. I'd be happy to work through the playbooks and switch out the java sections to use this if everyone is happy with that?

[2018-05-07 16:36] rvagg commented on #885
I don't want to derail the conversation too much but this is really fascinating data that tells us a lot about Node's IoT usage, something that I've struggled to find good sources for before. serialport binary downloads is a pretty great proxy for this information.

Here's the download breakdown by Node version of downloads:

![screenshot 2018-05-07 09 32 46](https://user-images.githubusercontent.

[2018-05-07 17:49] mhdawson commented on #1247
@joyeecheung I you may have some insight on this base on your work on the automation side ?

[2018-05-08 12:13] mmarchini opened #1262 "Jenkins/GitHub Bot integration with GitHub Checks API"
Yesterday GitHub released the Checks API: a new status API with a lot of cool things. It would be helpful to use this new API to provide richer CI status on PRs, like showing which tests have failed, how many times the failing tests have failed in the last X runs (to help identify flaky tests easier), etc. We might even be able to re-run CIs from the GitHub interface!

More information about the A

[2018-05-08 21:47] maclover7 commented on #1262
Thank you for opening this issue! Started looking into this yesterday, and seems like it would require a bunch of different changes in the infrastructure that reports CI statuses to GitHub, like creating a GitHub "app" for the CI, and reworking large parts of the github-bot integration

[2018-05-09 13:15] mmarchini opened #1264 "Discuss: upgrade required clang to 3.9"
(not sure if this issue should go here or in nodejs/node. I can move it there if needed)

One of the blocking issues to update V8 to 6.7 is related to a behavior change on clang after 3.9. There's an upstream CL (https://chromium-review.googlesource.com/c/v8/v8/+/1050666) to fix the issue for now, but I'm sure it will happen again. Upstream patches are fine as a short-term solution, but it won't t

[2018-05-10 11:50] BridgeAR commented on #1260
This is just happening really often on the Windows machines. E.g. https://ci.nodejs.org/job/node-test-binary-windows/17150/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=2/console
https://ci.nodejs.org/job/node-test-binary-windows/17150/COMPILED_BY=vs2017,RUNNER=win2016,RUN_SUBSET=3/console

[2018-05-10 20:27] mhdawson commented on #925
We ran into one more problem.  Turns out there were a few non-relative symbolic links and the process documented above resulted in those being missing in the deployed compilers.

We've talked to the AIX teams about fixing them so they are relative and have fixed up the links with:

The updated fixed binary is in the downloads directory on the ci machine as: `V2-gcc-6.3.0-1.tar.gz`

The next step i

[2018-05-11 02:36] Trott opened #1267 "Marking some Linux hosts offline temporarily"
Consistent failures in node-test-commit-linux on some hosts. I'm marking the following offline and supplying a few example failures.

* test-digitalocean-debian9-x64-1
  * https://ci.nodejs.org/job/node-test-commit-linux/18652/nodes=debian9-64/
  * https://ci.nodejs.org/job/node-test-commit-linux/18649/nodes=debian9-64/
  * https://ci.nodejs.org/job/node-test-commit-linux/18647/nodes=debian9-64/

[2018-05-11 03:06] Trott commented on #1267
See https://github.com/nodejs/node/issues/20652 for more info, especially about the 20 minute timeout seen on these hosts.

[2018-05-11 08:39] juggernaut451 commented on #1194
@gibfahn could you please give me a minimal access so that I can contribute to it. If not then can you tell me how can I get the right access?

[2018-05-11 15:36] mhdawson commented on #1020
This is complete, closing.

[2018-05-11 15:36] #1020 closed

[2018-05-13 20:41] SimenB commented on #1140
The build time of the alpine images has been mentioned as what takes the most time when getting security updates out for the docker images (beyond getting humans to merge PRs), see https://github.com/nodejs/security-wg/issues/168#issuecomment-385080200.

The list of arches for docker images and alpine is somewhat extensive (https://github.com/nodejs/docker-node/blob/master/architectures), but ever

[2018-05-14 15:54] juggernaut451 opened #1268 "Setting up ansible script on local VM"
Setting up local VM and was trying to run ansible script on it.
I am following these [instruction](https://github.com/nodejs/build/tree/master/ansible).

When running
`ansible-playbook playbooks/jenkins/worker/create.yml \
    --limit "test-digitalocean-ubuntu1204-x64-12"`

It is giving the following error
`{"msg": "The conditional check 'not secret' failed. The error was: error while evaluating c

[2018-05-14 23:38] JasonEtco commented on #1262
Thanks for the ping @bnb - I don't yet have an example repo to point you to (@swinton :wave: were you working on a Probot app using the Checks API?) but yeah, its totally doable. @gr2m correct me if I'm wrong but `@octokit/rest` is updated with the new Checks endpoints right?

[2018-05-14 23:40] gr2m commented on #1262
Yes, there are some remaining issues with it but they should get resolved tomorrow:
- https://github.com/octokit/rest.js/issues/869
- https://github.com/octokit/rest.js/issues/862

[2018-05-14 23:45] JasonEtco commented on #1262
Yep this is correct; the Checks API is only enabled for GitHub Apps, not OAuth integrations. I'm not sure what the current GitHub bot is but it sounds like its the latter. This would indeed make for some significant changes

[2018-05-15 00:56] swinton commented on #1262
Yeah - https://github.com/swinton/linter-alex

[2018-05-15 02:32] maclover7 commented on #1262
Thank you for the helpful links! I've got a kinda-sorta MVP up and running [here](https://github.com/maclover7/github-bot/tree/jm-checks), still using a lot of hardcoded PR numbers/data. Feel free to submit PRs against the branch! The GitHub app situation (likely needs tsc involvement) still needs to be resolved, but can probably wait a little bit.

[2018-05-15 09:48] gdams opened #1269 "test-osuosl-aix61-ppc64_be-1 is offline"
The JNLP command doesn't appear to be running on the machine so I will restart it.

[2018-05-15 09:53] gdams commented on #1269
machine is back online. we should make the aix boxes auto reconnect if they go down

[2018-05-15 15:33] mhdawson commented on #1268
@gdams maybe you can help @juggernaut451 with that.

[2018-05-15 16:55] Bala1989 opened #1270 "Jelly Script does not print console output when build.result=='SUCCESS'?"
Hi Guys,

I am using following Code Snippet of Jelly Script to Print console output.

<TABLE>
  <TR><TD align="right">
    <j:choose>
      <j:when test="${build.result=='SUCCESS'}">
        <IMG SRC="${rooturl}static/e59dfe28/images/32x32/blue.gif" />
      </j:when>
      <j:when test="${build.result=='FAILURE'}">
        <IMG SRC="${rooturl}static/e59dfe28/images/32x32/red.gif" />
      </j:whe

[2018-05-15 18:02] mhdawson commented on #1269
The machine seems to have been failing to build since around the time JNLP was restarted

[2018-05-15 18:03] mhdawson commented on #1269
@gdams Did you start with /etc/rc.d/rc2.d/S20jenkins start?

[2018-05-15 18:05] mhdawson commented on #1269
That did not help :(

[2018-05-15 18:08] mhdawson commented on #1269
Running configure on the machine locally seems ok so still thinking it has something to do with the JLNP config

[2018-05-15 18:13] mhdawson commented on #1269
May not have properly restarted the agent, trying again.

[2018-05-15 18:27] mhdawson commented on #1269
Ok proper restart of JLNP agent with /etc/rc.d/rc2.d/S20jenkins start seems to have resolved.

[2018-05-15 19:39] mhdawson commented on #1233
@yhwang do the does it still fail if version is <9 ?

[2018-05-15 20:10] mhdawson commented on #1269
May still be a problem.  Seems that build still fails on that machine.

Running a master build on the other machine to make sure it is just the one machine.

It is failing differently now.  Seems like the addons are not building correctly

[2018-05-15 20:14] mhdawson commented on #1269
This looks like the problem:

[code]
likely because agent ran as incorrect user.

[2018-05-15 21:14] yhwang commented on #1233
@mhdawson yes, still fails on v8.x-staging and v6.x-staging

[2018-05-15 21:33] mhdawson commented on #1233
k thanks

[2018-05-15 22:10] mhdawson commented on #1269
I think moving the nodes directory for the citgm job has resolved the problem

[2018-05-15 22:10] #1269 closed

[2018-05-15 23:31] mhdawson commented on #1233
Added to the regular regression run in the dockerized job.  Also added jobs to run nightly for linux and AIX.  @yhwang if it also works for windows I should probably add a nightly job to test windows as well.  It is ready for us to do that?

[2018-05-15 23:32] mhdawson commented on #1233
This is an example of the job having run in the containerized job: https://ci.nodejs.org/job/node-test-commit-linux-containered/nodes=ubuntu1604_sharedlibs_shared_x64/4458/

[2018-05-16 05:50] yhwang commented on #1233
@mhdawson I will try to run it in my windows first and get back to you.
One question about the v6.x-staging, should we still back port changes to v6.x-staging?
For v8.x-staging, I think we still need to back port changes which fix test cases failures for shared lib case. Let me work on it. Then, at least, we can enable the build in v8.x-staging.

[2018-05-16 09:46] gdams commented on #1268
hmm so the `secret` var is something that we pull in to configure the JNLP connection to `ci.nodejs.org`. Try commenting out https://github.com/nodejs/build/blob/master/ansible/playbooks/jenkins/worker/create.yml#L20-L22 and see if the playbook runs any further?

[2018-05-16 10:42] bnoordhuis commented on #1186
It's mid May and I regret to say it's still an issue.

[2018-05-16 12:05] mhdawson opened #1272 "Node.js Foundation Build WorkGroup Meeting 2018-05-22"
## Time

**UTC Tue 22-May-2018 22:00 (10:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 22-May-2018 15:00 (03:00 PM) |
| US / Mountain | Tue 22-May-2018 16:00 (04:00 PM) |
| US / Central  | Tue 22-May-2018 17:00 (05:00 PM) |
| US / Eastern  | Tue 22-May-2018 18:00 (06:00 PM) |
| London        | Tue 22-May-2018 23:00 (11:00 PM) |

[2018-05-16 14:36] feross commented on #678
@wmhilton The proposed config looks good to me.

Just wondering – why is it necessary to allow the `Content-Type` header with `Access-Control-Allow-Headers`? It seems that since only GET, HEAD, and OPTIONS methods are allowed, the client will never need to set `Content-Type`, unless I'm missing something.

[2018-05-16 14:55] wmhilton commented on #678
IIRC what happens is that some libraries automatically insert a `Content-Type` if you specify a particular body-parsing method (like `application/json` if you request JSON or `application/octet-stream` if you request binary) and that causes CORS errors. Because quote "The only allowed values for the Content-Type header are: application/x-www-form-urlencoded, multipart/form-data, and text/plain" ([

[2018-05-16 14:57] wmhilton commented on #678
So its inclusion is to avoid getting "I use [insert name of AJAX library here] and it didn't work" issues.

[2018-05-16 14:59] joaocgreis commented on #1222
@gdams we started using Oracle Java at some point because it seemed to have better performance than the Open JDK that was installed in the machines. This was noticeable in the Jenkins server that is frequently under heavy load, and in the Raspberry Pis. However, this was only one of the things we did at the time and I'm not completely sure it was the cause of the improvement. If you feel sure abou

[2018-05-16 14:59] feross commented on #678
Yep, you're correct. In fact, this is what `simple-get` (used by WebTorrent) actually does.

So, this LGTM! Want to send the PR?

[2018-05-16 15:15] sxa555 commented on #1222
I wouldn't expect it to have different performance characteristics since it's fundamentally the same code. If there are scenarios in which the performance isn't the same, that would be useful for adoptopenjdk to be aware of, so I would be in favour of giving it another shot.

[2018-05-16 15:27] keithc-ca commented on #1222
The java code is mostly the same, but there are differences in the VM performance. Check out [1] for some more information about OpenJDK with OpenJ9, including some performance advantages that come with the OpenJ9 VM.

[1] https://www.eclipse.org/openj9/oj9_resources.html

[2018-05-16 15:31] jasnell opened #1273 "CITGM ubuntu1204-64 build bot issue"
See: https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/1413/nodes=ubuntu1204-64/console (while it lasts)

Specifically this part:

[code]

<details>

[code]

</details>

[2018-05-16 15:32] gdams commented on #1222
Yes thanks @keithc-ca! It's worth pointing out that you can also fetch OpenJ9 binaries from AdoptOpenJDK!

[2018-05-16 17:20] mmarchini opened #1274 "Install Linux perf on some Linux machines"
Linux perf has been broken on V8 since the Turbofan/Ignition pipeline became the default compiler. Recently on V8 6.7, we got it back to work (through a flag). Since there are some Node.js tools and some huge Node.js deployments relying on Linux perf (and other external profilers), having tests will help to keep these tools more stable.

For those tests to work, we need Linux perf available on at

[2018-05-16 22:27] mmarchini commented on #1274
The first one (if the PR lands)

[2018-05-17 01:52] rvagg commented on #1274
Are we talking about the broken `--perf-basic-prof` stuff here? What would tests look like for this? Is it a simple matter of passing the output through perf and asserting on the results?

I don't _think_ we're going to be able to jam this into the containers unfortunately, even though that's a great place for these kinds of tests. `perf` is tied to the kernel version and that's detached from the

[2018-05-17 03:40] rvagg commented on #1222
I have no objections to switching to openjdk, I don't know if it buys us anything here but being able to get on to Java 9 _might_ be helpful I suppose?

[2018-05-17 05:13] bnoordhuis commented on #1274
That's the theory but in practice you can just mix them.  For example: I ran stock perf 3.13 on Ubuntu 14.04 for a while against the latest, continually upgraded mainline kernel and it worked just fine.

(Yes, I run mainline kernels.  I even test -rc's.)

[2018-05-17 05:53] joyeecheung commented on #1274
I usually just clone the Linux master and cd into the perf source to compile it when I need perf on my servers. Does not seem to cause problems when I upgrade kernels from time to time.

[2018-05-17 06:12] joyeecheung commented on #1274
Can we use the benchmark CI machine for this? It would be nice to have perf there, I am thinking about using `perf stat` in a core benchmark to measure the start up time for our lazy-loading effort.

[2018-05-17 14:25] mmarchini commented on #1274
Yes. It will be unbroken once V8 6.7 lands and the tests would help us to know in advance if changes on V8 break it again.

Yes. The proposed test can be seen here: https://github.com/nodejs/node/pull/20783

The proposed test already does that.

+1 for that, I don't think we need to run this test on containers (at least not for now)

Looks like a good idea, as long as we have `perf` on at least on

[2018-05-17 21:14] mhdawson commented on #1274
Installing on the benchmarking machine sounds good to me (although I think it would be the 2 additional benchmark machines as opposed to the ones used for the nightly runs).  The only challenge is that if we only have it installed on a single machine then we'd want to run the test nightly as opposed to being part of every regression test (we not want, but probably only be able to).  If nightly is

[2018-05-17 21:43] wmhilton commented on #678
I guess I should!

[2018-05-17 22:38] rvagg commented on #1274
let me get linux-tools-generic on some ubuntu machines we already have in CI, the test that's in the WIP should pick it up and skip otherwise so I think that'll solve this

perf on the benchmarking machines would be a good idea regardless, I'll look at that at the same time, the intel/nearform ones mostly go through ansible so I think we can just put the changes in there.

[2018-05-17 22:42] mhdawson commented on #1274
@rvagg getting it on some of the ubuntu machines is good, but I think we want to be sure the tests runs regularly and I don't think we can be confident we'll get that regularly through chance.

[2018-05-18 14:08] mmarchini commented on #1274
I still think it's more important to run on every test run at [nodejs/node-v8](https://github.com/nodejs/node-v8). Usually we open the PR to update V8 after the version branch-cut, so if the update breaks perf it might be already too late to fix it (remember: perf is not officially supported by the V8 team). Ideally the test should also run on the PR, but the priority should be to make sure it run

[2018-05-18 16:44] mmarchini commented on #1264
Another one: https://github.com/nodejs/node-v8/issues/63

Seems like `thread_local` is only available on Xcode 8 and above.

[2018-05-20 18:40] maclover7 commented on #1272
Unable to make it to this one, but at some point in the future can we add a "state of ansible" item? I've been doing a bunch of `setup`/`ansible` porting PRs, but there's still a bunch more architectures that need to be moved over

[2018-05-21 14:14] mhdawson commented on #1272
I'm at a conference so I'm not sure if I'll make it or not.  Do we have a volunteer to chair the meeting?

[2018-05-21 14:15] mhdawson commented on #1272
@maclover7  best way to get it on the agenda would be to create a tracking issue for "state of ansible" and the tag with build-agenda.  That way it will automatically be added to the agenda.

[2018-05-21 18:45] joyeecheung commented on #1274
Looking at https://github.com/nodejs/node/pull/20783 I think it is also possible to write the test as a benchmark similar to how the http/http2 benchmarks are structured, and write a test for the benchmarks.

[2018-05-21 19:05] maclover7 opened #1277 "State of Ansible"
As noted in https://github.com/nodejs/build/issues/1272#issuecomment-390502218, would be ideal to get a current sense of a) the transition from `setup` to `ansible`, b) usability of the new scripts and how people feel about running them as well as making changes

[2018-05-21 20:09] maclover7 commented on #1277
Here's what I've been able to gather and summarize from current/past happenings:

**No work:**
`aix61`
`armv7-wheezy`
`centos5`
`centos6`
`debian-wheezy-gcc`
`osx`
`raspberry-pi`
`windows`
`www`

**PR Open:**
`github-bot`
`ubuntu14.04`

**Completed:**
`centos7`
`containers`
`cross-compiler`
`debian8`
`fedora20`
`fedora21`
`fedora22`
`freebsd`
`linter`
`rhel72-linuxonecc`
`smartos`
`ubuntu12.04`
`u

[2018-05-21 21:08] gdams commented on #1277
@maclover7 macOS playbooks were created in https://github.com/nodejs/build/pull/971

[2018-05-21 23:46] maclover7 commented on #1277
@gdams Yep, but looks like `setup/osx` wasn't removed -- is that safe to do now?

[2018-05-22 12:07] rvagg commented on #1272
I wouldn't mind skipping this one if others are unable to make it. I'm juggling a bunch of responsibilities at the moment (hence my partial absence from around here in the last couple of weeks). I also have a couple of other meetings inserted into this timeslot that I don't really want to cancel!
I'll try and drop some notes into #1277, things are more mature than they look and I think we can make

[2018-05-22 13:32] juggernaut451 commented on #1272
Is the call happening? As i am looking forward to join it

[2018-05-22 15:49] gdams commented on #1277
I think so, I've pulled all of the useful stuff out of that playbook already

[2018-05-22 15:58] joyeecheung commented on #1274
@mmarchini Mostly because it depends on external tools for stats, similar to how the HTTP/HTTP2 benchmarks work. Also the benchmark machines are supposed to only run one job at a time for the stability of the results, so no benchmarks should be run when running tests on them.

Although come to think of it, maybe we could put the post-mortem and perf tests in a new directory under `test` that don't

[2018-05-22 16:06] mmarchini commented on #1274
I like this idea. I'll add a commit to nodejs/node#20783 moving those tests to a new directory.

[2018-05-22 17:10] MylesBorins opened #1278 "A bunch of machines appear out of memory or disk space"
windows vs 2015: https://ci.nodejs.org/job/node-test-binary-windows/17489/COMPILED_BY=vs2015,RUNNER=win2008r2-vs2013,RUN_SUBSET=0/console
ubuntu 1404: https://ci.nodejs.org/job/node-test-commit-linux/18954/nodes=ubuntu1404-32/console
arm debian 7: https://ci.nodejs.org/job/node-test-commit-arm/16308/nodes=debian7-docker-armv7/console
arm debian 8: https://ci.nodejs.org/job/node-test-commit-arm/163

[2018-05-22 17:28] maclover7 commented on #1277
@gdams Ok -- can you run the new playbook on all OSX machines, confirm everything looks okay, and then remove `setup/osx` if everything works good?

[2018-05-22 18:12] Trott commented on #1272
@nodejs/build Can everyone please apply the customary (for Build WG) :+1: to the initial post in this issue if you will attend at this time and :-1: if you need to miss this one?

Also we could probably stand to make some current Build WG members emeriti. I don't think it's a great idea to have inactive folks with elevated privileges. We can always move people back to active status if they become

[2018-05-22 19:30] detrohutt commented on #1272
@trott I am interested in joining the meeting to discuss specific items that need additional help, but if you're the only one attending I understand if you want to use that time for something else.

[2018-05-22 20:46] detrohutt commented on #1272
Actually, I guess there's no reason to take up meeting time for my goal. I'll open an issue on this repo where items can be added as you think of them and I'll coordinate with the Mentorship team to try to get more help on those tasks.

[2018-05-22 21:04] richardlau commented on #1254
Ping @gdams re. the CitGM jobs ^

Note that this is affecting the v10.2.0 PR: https://github.com/nodejs/node/pull/20724#issuecomment-391137474

[2018-05-22 21:35] maclover7 commented on #401
Seems like this is something that would require working around how the system is currently setup, going to close for now -- please feel free to reopen if this is something we still want to do.

[2018-05-22 21:35] #401 closed

[2018-05-22 21:36] maclover7 commented on #612
ping @gibfahn, is still an issue

[2018-05-22 21:41] maclover7 commented on #792
Going to close this for now, since there doesn't seem to be anything immediately actionable -- please reopen if I'm wrong

[2018-05-22 21:41] #792 closed

[2018-05-22 21:43] maclover7 commented on #1243
Looks like machine has been marked online again, going to close this issue for now. Please reopen if this requires further action

[2018-05-22 21:43] #1243 closed

[2018-05-22 21:43] maclover7 commented on #678
Closing in favor of the pull request, #1275

[2018-05-22 21:43] #678 closed

[2018-05-22 21:44] maclover7 commented on #722
ping, does this need to stay open?

[2018-05-22 21:46] maclover7 commented on #773
cc @gdams, should this be issue be closed as part of the new OSX playbook?

[2018-05-22 21:51] maclover7 commented on #842
These machines look to be doing better these days -- going to close out this issue. Please reopen if this requires further action

[2018-05-22 21:51] #842 closed

[2018-05-22 21:55] maclover7 commented on #962
These machines have all been removed from the CI cluster

[2018-05-22 21:55] #962 closed

[2018-05-22 21:58] maclover7 commented on #1027
Closing due to lack of activity, please reopen if this requires further action

[2018-05-22 21:58] #1027 closed

[2018-05-22 22:00] maclover7 commented on #1068
@gibfahn @mhdawson Has node-test-commit been updated with these changes?

[2018-05-22 22:01] maclover7 commented on #1074
All Softlayer machines are back, closing this issue

[2018-05-22 22:01] #1074 closed

[2018-05-22 22:04] #1096 closed

[2018-05-22 22:04] maclover7 commented on #1099
ping -- is this still an issue?

[2018-05-22 22:09] maclover7 commented on #1177
ping @gibfahn

[2018-05-22 22:10] maclover7 commented on #1206
@BridgeAR Has this happened recently? If not, then probably safe to close for now

[2018-05-22 22:12] maclover7 commented on #1232
I've already got http://node-build-monitor.herokuapp.com/ (source [here](https://github.com/maclover7/build-monitor)), but that's for machine health, not job health

[2018-05-22 22:14] maclover7 commented on #1239
@Trott Has this happened recently? If not, then probably safe to close for now

[2018-05-22 22:15] maclover7 commented on #1236
@BridgeAR Has this happened recently? If not, then probably safe to close for now

[2018-05-22 22:17] #1270 closed

[2018-05-22 22:35] #1239 closed

[2018-05-22 22:36] #1267 closed

[2018-05-22 22:57] mmarchini commented on #1232
I can work on that. Should this be a page inside Jenkins or it can be an external page?

[2018-05-22 23:10] juggernaut451 commented on #1272
I was looking for Q/A session. As I am looking forward to joining build WG and really need help here. :(

[2018-05-23 00:19] maclover7 commented on #1232
@mmarchini Outside of Jenkins would probably be easier -- a small Express app making requests to the Jenkins JSON API probably makes sense

[2018-05-23 02:11] Trott commented on #1272
@juggernaut451 My opinion only, but since many of the things that need doing require elevated privileges, the first step is to gain the trust of the Build WG. AFAIK, there's no documented procedure for that but these are the types of things that help:

* Contribute meaningfully to Node.js core.

* Participate in productive and valuable ways in the Build repo and in #node-build IRC channel.

* Demo

[2018-05-23 04:47] mhdawson commented on #1068
Yes this is done closing.

[2018-05-23 04:47] #1068 closed

[2018-05-23 04:49] mhdawson commented on #1254
@gdams can you prioritize updating the Citgm jobs?

[2018-05-23 04:53] mhdawson commented on #1233
@yhwang thanks for the update.  Let me know when you figure it out.

[2018-05-23 05:28] detrohutt opened #1280 "Build WG Wishlist"
I'm working on a "Wishlist" initiative to help direct volunteers to tasks around the ecosystem where help is the most needed. I'm also working on the Mentorship team as a logical extension to that, so that I'll have a constant stream of new volunteers to direct to tasks that interest them.

In the near future I plan to have a separate nodejs/wishlist (or whatever) repo where issues can be raised b

[2018-05-23 10:13] gdams commented on #1254
I have added this script to the citgm-smoker job

[2018-05-23 11:19] Bala1989 commented on #1270
@maclover7 why this was closed?

[2018-05-23 14:50] maclover7 commented on #1270
The build WG is not responsible for Jelly script, we only maintain the Jenkins infrastructure and website.

[2018-05-23 15:32] Trott opened #1281 "Can't use node-stress-single-test with Windows due to three minute timeout"
I tried to run Windows stress tests for https://github.com/nodejs/node/issues/20836#issuecomment-391390203 to see how often it fails but after compiling for a long time, the builds hit a three-minute timeout  and don't run the tests. See https://ci.nodejs.org/job/node-stress-single-test/1858/nodes=win2016-1p-vs2017/console and https://ci.nodejs.org/job/node-stress-single-test/1857/nodes=win2016-1p

[2018-05-23 15:33] Trott commented on #347
Is this still an issue? Should it remain open?

[2018-05-23 15:33] Trott commented on #268
Is this still an issue? Should it remain open?

[2018-05-23 15:34] Trott commented on #415
I believe this can be closed. If I'm wrong, by all means, re-open.

[2018-05-23 15:34] #415 closed

[2018-05-23 15:34] Trott commented on #482
@addaleax Is this still an issue? Should it remain open?

[2018-05-23 15:35] Trott commented on #196
Is this still an issue? Or can it be closed?

[2018-05-23 15:36] Trott commented on #539
@rvagg Is this something that should still happen? Or should this be closed (because we've chosen a different path or whatever)?

[2018-05-23 15:37] Trott commented on #541
Should we close this and address it if/when someone asks for a specific email notification?

[2018-05-23 15:38] Trott commented on #75
Is this resolved? I haven't read all the details, but I know that we have docker and alpine in CI now and I see that this issue has not received much in the way of comments lately.

[2018-05-23 15:39] Trott commented on #589
Still something we'd like to do, I imagine? Should we put this on the agenda for a meeting or something to try to get some traction? Maybe this is an opportunity for someone to be a mentor to an eager individual via the mentorship program that's just getting started?

[2018-05-23 15:40] Trott commented on #635
Ping @nodejs/build: This seems like something someone with the right awareness of where all the pieces are can check on and probably address relatively quickly? Or maybe I'm missing a subtlety here?

[2018-05-23 15:44] #482 closed

[2018-05-23 15:57] MylesBorins commented on #1254
thanks all! Can this be considered fixed now?

[2018-05-23 16:16] joaocgreis commented on #1281
This was added by @refack in https://ci.nodejs.org/job/node-stress-single-test/jobConfigHistory/showDiffFiles?timestamp1=2018-03-27_05-14-08&timestamp2=2018-04-07_18-17-38 (but might have been unintentional? Jenkins sometimes changes the jobs on the first save after plugins are updated).

Linking can take a very long time without output in our single processor machines. I've changed the time out f

[2018-05-23 16:18] refack commented on #1281
+1 to one hour (WRT to linking taking a looooooong time)

[2018-05-23 17:38] richardlau commented on #268
I don't believe this is an issue ever since Node.js started bundling and compiling against a stripped down ICU (icu-small, https://github.com/nodejs/node/pull/6088). Now that Node.js v4.x is EOL I believe all LTS and current releases build this way and do not require an external ICU.

[2018-05-23 17:52] Trott commented on #1281
That fixed it. Thanks!

[2018-05-23 17:52] #1281 closed

[2018-05-23 18:04] #268 closed

[2018-05-23 18:21] mmarchini commented on #1232
Proof-of-Concept (for `node-test-pull-request` jobs): https://nodejs-ci-health.mmarchini.me/

Still need a lot of refinement and refactor though. PTAL and give some feedbacks!

Code is available here: https://github.com/mmarchini/nodejs-ci-health-dashboard

[2018-05-23 19:04] mhdawson commented on #1254
@gdams did you test with a citgm run? I think we want to do that and then we can close.

The key thing is to make sure that the job selects the right compiler based on the Node.js version.  If the job builds node.js from source then it should do the right thing.  For jobs that use existing binaries it needs an extra step that I added to the job for the tests for the node-addon-api.

[2018-05-23 19:06] mhdawson commented on #539
@Trott we have some of the pieces in place (regular tweets - one should be coming out this week), but we still have work to do on many of the others.

[2018-05-23 19:15] richardlau commented on #1254
I think the CitGM jobs may need more work. From the latest v10.2.0 CitGM runs:

<details>
<summary>rhel72-s390x</summary>

[code]
</details>

https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/1435/nodes=rhel72-s390x/consoleFull

<details>
<summary>aix61-ppc64</summary>

[code]
</details>

https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/1435/nodes=aix61-ppc64/console

We shouldn't

[2018-05-23 19:19] mhdawson commented on #1254
@richardlau, while in the perfect world you are correct at Node 10.x the reality is that we don't have the hw at this point and building on 6.1 is what we need to do.  We made the minimum level 7.1 to that we'd have the flexibility of moving up to that but we are not planning to build the infrastructure in the near future so we SHOULD continue to build 10.x on AIX 6.1 for now.

[2018-05-23 19:23] richardlau commented on #1254
@mhdawson ack. The CitGM job is failing on AIX with the compiler script though.

[2018-05-23 19:26] mhdawson commented on #1254
@gdams the problem with the runs shown for 9.x and 10.x above is that previously CC was set in the configure step.  When I updated the other jobs I had to remove that as CC is now set in the compiler selection script.  I'm guessing that if the original set of CC is still there it is overwriting what the script had put in place.

[2018-05-23 21:55] Trott commented on #1253
[code]

According to @maclover7, that one might be a side effect of node-inspect CI runs.

[2018-05-24 14:49] jasnell opened #1282 "CI job for native addon verification"
The current native addon coverage within the regular Node.js CI run is currently not adequate to cover the typical native addon cycle. This is painfully illustrated by the issue leading up to this fix: https://github.com/nodejs/node/pull/20939.

There have been discussions in the past about improving the addons support in the regular CI, but until that happens, have a CI job that specifically cove

[2018-05-24 15:43] BridgeAR opened #1283 "Add new benchmark categories."
Right now it is not possible to run the categories `async_hooks` and `errors` even though we have benchmarks for those.

Would it actually be possible to just get all dirs in the benchmark folders on master and use the result for the categories? That way the list would be dynamic and would automatically get updated.

[2018-05-24 16:42] MylesBorins opened #1284 "Extensive failures in CI due to docker daemon on arm"
https://ci.nodejs.org/job/node-test-binary-arm/1409/

[2018-05-24 17:05] MylesBorins commented on #802
Do we have any insight into improving this? I noticed it was randomly working on a machine today

[2018-05-24 17:05] #1040 closed

[2018-05-24 17:05] #1093 closed

[2018-05-24 17:06] #1120 closed

[2018-05-24 17:06] #1182 closed

[2018-05-24 17:06] MylesBorins commented on #1205
AFAICT this is still broken, any eta @mhdawson ?

[2018-05-24 17:44] maclover7 commented on #1282
@jasnell What would the CI job run? If it's a bash script, shouldn't be too hard to setup

[2018-05-24 17:50] maclover7 commented on #1284
These failures are probably coming from the Pi machines restarted by @rvagg a little while ago -- it will take a little while to run `playbooks/jenkins/worker/create.yml` on these machines, so errors may persist for a while longer

[2018-05-24 18:25] MylesBorins opened #1285 "Extensive infra failures for citgm with v10.x"
Take a look at https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/1437/

Failures to look at include
ubuntu1204
rhel72
ppcle
debian9
aix61

[2018-05-24 19:04] VikramTiwari opened #1286 "Process to join WG"
Seems like current approach is to start listening in and contributing and eventually you can request access to be part of the WG. Is there a more formal process? Anything I might be missing?

[2018-05-24 19:06] M3kH commented on #1285
In debian the first `error:` in logs where:
[code]
If does help :-)

Not sure the two errors are related. But seems that parallel building might be running in the same machine.

[2018-05-24 19:07] VikramTiwari commented on #1286
Found it. https://github.com/nodejs/build/blob/master/doc/process/joining_the_build_wg.md

I would like to request to be part of the working group. Thanks :)

[2018-05-24 20:17] gooodmorningopenstack commented on #1286
Hi there :handshake:

I jump in the bandwagon but I would be very keen to also join the build WG and help the NodeJS project a bit. I'll join IRC ASAP.

@VikramTiwari we can team up for Ansible refactoring and improvements if you will.

Thanks :)

[2018-05-24 20:41] maclover7 commented on #1284
[code]

Looks like root password is needed

[2018-05-24 20:46] maclover7 commented on #191
Closing for now as something that would be nice to have, but not currently within our means. If someone wants to tackle this, please feel free to reopen.

[2018-05-24 20:46] #191 closed

[2018-05-24 20:47] maclover7 commented on #196
Seems to be a stale issue, closing for now. Please reopen if this is still needed.

[2018-05-24 20:47] #196 closed

[2018-05-24 20:50] maclover7 commented on #1064
Moving this to #243

[2018-05-24 20:50] #1064 closed

[2018-05-24 20:58] maclover7 commented on #500
Closing for now as something that would be nice to have, but seems to not currently be within our means. If someone wants to tackle this, please feel free to reopen.

[2018-05-24 20:58] #500 closed

[2018-05-24 21:03] maclover7 commented on #546
Seems to be largely fixed in latest CITGM builds, closing for now. Please reopen if still needed.

[2018-05-24 21:03] #546 closed

[2018-05-24 21:05] maclover7 commented on #643
This is a thing now: https://ci.nodejs.org/job/node-test-commit-linux-containered/nodes=ubuntu1604_sharedlibs_withoutintl_x64/

[2018-05-24 21:05] #643 closed

[2018-05-24 21:06] maclover7 commented on #701
Closing for now as something that would be nice to have, but seems to not currently be within our means. If someone wants to tackle this, please feel free to reopen.

[2018-05-24 21:06] #701 closed

[2018-05-24 21:07] maclover7 commented on #724
ping @mhdawson -- is still needed?

[2018-05-24 21:08] maclover7 commented on #733
ping @refack -- is still needed?

[2018-05-24 21:19] maclover7 commented on #900
These jobs are able to finish now

[2018-05-24 21:19] #900 closed

[2018-05-24 21:34] maclover7 commented on #885
Adding to build-agenda to discuss plan going forward and when/if machines will be removed from public CI

[2018-05-24 21:36] maclover7 commented on #903
Closing for now as something that would be nice to have, but seems to not currently be within our means. If someone wants to tackle this, please feel free to reopen.

[2018-05-24 21:36] #903 closed

[2018-05-24 21:37] maclover7 commented on #909
ping @mhdawson is still needed?

[2018-05-24 21:41] maclover7 commented on #1003
ping @bnoordhuis @gibfahn -- is this still needed?

[2018-05-24 21:43] maclover7 commented on #1022
I believe that the https://ci.nodejs.org/view/All/job/libuv-in-node/ job solves this -- @cjihrig @bnoordhuis?

[2018-05-24 21:46] cjihrig commented on #1022
I think this can be closed, but, PLEASE take a look at https://github.com/nodejs/build/issues/1186

[2018-05-24 21:48] maclover7 commented on #1018
Seems like there's nothing really actionable here? Please reopen if I'm mistaken

[2018-05-24 21:48] #1018 closed

[2018-05-24 21:50] maclover7 commented on #1086
Would hopefully be fixed by #591, moving discussion to there

[2018-05-24 21:50] #1086 closed

[2018-05-24 21:53] maclover7 commented on #1099
Closing due to these errors largely not appearing anymore, and Pi builds are more stable

[2018-05-24 21:53] #1099 closed

[2018-05-24 22:04] maclover7 commented on #1022
Will do. Closing this and taking a look at the other issue.

[2018-05-24 22:04] #1022 closed

[2018-05-24 22:06] maclover7 commented on #1114
I forget what issue/PR, but I believe this is resolved now. Please reopen if I'm mistaken.

[2018-05-24 22:06] #1114 closed

[2018-05-24 22:56] maclover7 commented on #1186
Taking a look -- looks like the ARM v7 problem has been fixed, looking at getting Alpine squared away

[2018-05-24 23:05] maclover7 commented on #1097
@richardlau Are you able to confirm if this has been solved?

[2018-05-24 23:33] maclover7 commented on #1185
Looks like this has been solved -- please reopen if I'm wrong

[2018-05-24 23:33] #1185 closed

[2018-05-25 00:33] #857 closed

[2018-05-25 01:33] rvagg commented on #1284
`sudo systemctl start docker` will do what you want, but there's something else going on

`journalctl -u docker -n 100` reveals:

[code]

so there's some weird compatibility thing going on.

I'll get this all sorted out today, there's a bunch of related infra rot that I've neglected for a couple of weeks while busy so I think today will be a cleanup day.

[2018-05-25 01:46] krytarowski commented on #903
So, what's the option to make libuv a supported tier platform? @cjihrig

[2018-05-25 01:54] rvagg commented on #903
1. people to maintain the code
2. infrastructure to integrate it into our CI
3. TSC agreement that we can bump it up into the supported list (likely contingent on 1 & 2)

Re infrastructure, we have some limitations:
 * Trusted: so we try to run as much as possible in IaaS providers or in locations that we have some kind of direct connection with where we can establish trust
 * Stable: because any

[2018-05-25 01:58] rvagg commented on #1284
OK, so I think what might be going on here is a kernel mismatch, which is one of the most awkward parts of this NFS-boot infra setup we have.

When there's a kernel update in the OS, it gets put into /boot/ along with the other kernel/boot cruft. But the real /boot/ resources that are used are loaded via tftp off a remote server. So we can get out of sync. This can be a problem when the modules in

[2018-05-25 02:04] krytarowski commented on #903
I cannot help with devops-like tasks myself, for this we need another volunteer - my role is restricted to keeping the code functional and tests passing.

[2018-05-25 02:17] richardlau commented on #1097
I don't think any changes were made, but let's find out: https://ci.nodejs.org/job/node-stress-single-test/1869/ 😄

[2018-05-25 03:44] danbev commented on #643
@maclover7 Awesome, thanks for that!

[2018-05-25 04:10] richardlau commented on #1097
@maclover7
Still failing due to addons not being compiled:
https://ci.nodejs.org/job/node-stress-single-test/1869/nodes=win2016-1p-vs2017/console

[code]

https://github.com/nodejs/node/pull/19637 introduced new targets for `vcbuild.bat` to build addons (although looking again they may not build the gc addons) but as far as I can see they are not being used in the job:
[code]

As @gibfahn pointed

[2018-05-25 06:40] bnoordhuis commented on #1003
Yes.

[2018-05-25 14:45] maclover7 commented on #1186
Fix is in #1287

[2018-05-25 14:48] maclover7 commented on #1097
@richardlau Would you be able to handle the backport, and then once backported, we can edit the CI job configuration?

[2018-05-25 14:59] maclover7 commented on #185
@skomski If you are able to provide the `CONFIG_FLAGS` necessary to pass to `make run-ci` to make this work, then we can move forward with this. The Build WG does not have many resources available right now

[2018-05-25 15:57] mmallick-ca commented on #1205
We have built a set of gn/ninja binaries and used gn's command line options to generate the ninja files to build v8 on our test machines. Just need to try it out on the community machines and submit a pull-request for the changes that will be required in make-v8.sh. @mhdawson and I will be getting together upcoming Monday to try out the binaries and install some of the dependencies.

[2018-05-25 17:05] richardlau commented on #1097
Yes, but not until next week at the earliest.

[2018-05-25 17:26] refack opened #1288 "need to cover ninja build on windows"
We don't cover building with `ninja` on Windows in CI. And so it broke with https://github.com/nodejs/node/pull/17604.
Besides all the usual advantages of ninja, V8 is shifting towards ninja only build system, and in IMHO having a full node build based on ninja can reduce "impedance mismatch".

[2018-05-25 18:56] bnoordhuis commented on #1288
I don't like the idea of widening the matrix for an obscure build option.  The CI is already slow and flaky enough, it doesn't need more friction.

[2018-05-25 19:02] refack commented on #1288
How about a dedicated matrix just for the build related tools and options. We have several `configure` switches and Makefile targets that are not covered as well. I agree that they unnecessary friction WRT to actual code changes, hence to the regular `node-test-commit` matrix.

[2018-05-25 19:21] bnoordhuis commented on #1288
I'd be okay with that.

[2018-05-25 21:45] bnb opened #1289 "Including Node.js Docker Image Builds in the Node.js Metrics Microsite"
I was just looking at the [Metrics site](https://nodejs.org/metrics/) and I see it exclusively has the metrics for the downloads from the Node.js site itself.

I was _hoping_ y'all would be open to also including the metrics from the Docker WG, which currently boasts an incredible `277,697,169` image pulls. I'm not sure what it'd be like to interface with the Docker metrics, but it would be a very

[2018-05-25 22:29] mhdawson commented on #724
MacCloud was open to donating but we've not gotten through setting up the other OSX donations we received. I'd still like multiple providers though so probably makes sense to keep open],

[2018-05-26 08:53] bnoordhuis commented on #1180
nodejs/github-bot#146 was closed.  Does that mean this is good to go now?  I'd be a-okay with enabling it for libuv and node-gyp as well.

[2018-05-26 13:33] mmarchini commented on #1232
Dashboard updated to show information from children jobs as well:

![image](https://user-images.githubusercontent.com/4048656/40576608-cda07b74-60cf-11e8-9024-7876e2f61156.png)

![image](https://user-images.githubusercontent.com/4048656/40576609-d833f8ae-60cf-11e8-9147-15230c47fcac.png)

[2018-05-26 16:07] mmarchini commented on #1273
Ubuntu 12.04 is EOL for over a year now, shouldn't we drop it? At least that's my understanding from https://github.com/nodejs/node/blob/master/BUILDING.md#supported-platforms-1:

[2018-05-27 15:38] addaleax commented on #1147
Hm … gentle ping @nodejs/build again :)

[2018-05-28 16:48] mhdawson commented on #1147
@addaleax have you installed this before.  I was looking to see if it as simple as installing with apt-get but all of the instructions I can find require building along with http2 and doing a full install of http2.

[2018-05-28 16:49] addaleax commented on #1147
@mhdawson What I did locally was building directly from a https://github.com/nghttp2/nghttp2 checkout and installing it (maybe even manually `cp`’ed the `h2load` binary, not sure), that worked well enough for me

[2018-05-28 16:55] mhdawson commented on #1283
Can you add links to the jobs (I'm assuming its not running the benchmarks locally).  Its probably easy to add the categories to the job, but might take longer to make it dynamically generated (if possible since this is in jenkins config).

[2018-05-28 17:14] BridgeAR commented on #1283
https://ci.nodejs.org/view/Node.js benchmark/job/benchmark-node-micro-benchmarks/

[2018-05-28 21:36] #1186 closed

[2018-05-28 21:45] maclover7 commented on #1273
@mmarchini Technically, yes. Historically, platforms that have not had a high degree of failure (like Ubuntu 12.04 has been so far) have been kept in the matrix. There's are separate tickets at https://github.com/nodejs/build/issues/961 and https://github.com/nodejs/build/issues/967 debating this strategy

@richardlau Yeah, that citgm build should not be running any Node version greater than 10 on

[2018-05-28 22:01] maclover7 commented on #1147
Sorry for not getting back to this. This is already in progress via #1171, just haven't had time to get back to it. Will take a look now

[2018-05-28 22:11] maclover7 commented on #1289
cc @rvagg

[2018-05-28 22:14] maclover7 commented on #1284
Machines are largely back up, closing for now

[2018-05-28 22:14] #1284 closed

[2018-05-28 22:17] maclover7 commented on #1272
Meeting skipped, closing this out

[2018-05-28 22:17] #1272 closed

[2018-05-28 22:19] maclover7 commented on #239
Closing for now as something that would be nice to have, but seems to not currently be within our means. If someone wants to tackle this, please feel free to reopen.

[2018-05-28 22:19] #239 closed

[2018-05-29 00:11] mhdawson commented on #1283
Manually added async_hooks and errors.  I don't know jenkins/jenkins scripting well enough to know what it would take to dynamically populate the Choice parameter. We can leave this open in case somebody wants to volunteer to figure that out but we have a pretty good backlog for build already so I'd suggest we close unless we have a volunteer in the next month.

[2018-05-29 00:12] mhdawson commented on #1254
@gdams do you have a timeline for when you might be able to look at this?

[2018-05-29 00:16] mhdawson commented on #1254
One problem was that the LIBPATH was being unset after the selection, moved it to be after and we'll see if that helps. @gdams I only changed this job   https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/ so others probably need the same change.

[2018-05-29 00:38] mhdawson commented on #1205
The s390x is now passing with medium term fix (adding pieces needed on build machine) until we get changes upstreamed.  The same formula should would for PPC but we need to get some files and due to internal infra issue that may take a few days.

[2018-05-29 00:44] mhdawson commented on #1254
Looks to have run much further, but still compiling.

[2018-05-29 07:03] hashseed commented on #1205
Is the goal to build node for s390/ppc with ninja, or also v8 with gn via `--build-v8-with-gn`?

For the latter we have a minor issue where ICU is built twice, once with the v8-monolith target, and once as part of node. If the ICU versions mismatch there are some funny crashes.

[2018-05-29 10:09] gdams commented on #1254
so I can see the following failure on the aix jobs:

[code]
I'll take a look at what's going wrong

[2018-05-29 12:05] maclover7 commented on #108
This is largely solved via https://ci.nodejs.org/job/node-test-commit-linux-containered, closing for now

[2018-05-29 12:05] #108 closed

[2018-05-29 12:10] maclover7 commented on #347
Closing for now as something that would be nice to have, but seems to not currently be within our means. If someone wants to tackle this, please feel free to reopen.

[2018-05-29 12:10] #347 closed

[2018-05-29 13:33] maclover7 commented on #1236
Issue seems to have largely subsided, closing for now. Please reopen if it appears again.

[2018-05-29 13:33] #1236 closed

[2018-05-29 13:34] maclover7 commented on #1206
Issue seems to have largely subsided, closing for now. Please reopen if it appears again.

[2018-05-29 13:34] #1206 closed

[2018-05-29 13:34] maclover7 commented on #1131
Issue seems to have largely subsided, closing for now. Please reopen if it appears again.

[2018-05-29 13:34] #1131 closed

[2018-05-29 13:39] maclover7 commented on #1179
Hi @bastup -- unfortunately we have no MIPS machines in our build matrix. There are issues like nodejs/node#13488 that deal with MIPS compilation, but it is not directly supported by our build infrastructure. My suggestion would be to try StackOVerflow and see if you can get any help there.

[2018-05-29 13:39] #1179 closed

[2018-05-29 13:45] maclover7 commented on #1070
Many of the EOL machines have been removed from the cluster, closing this for now. CentOS5 is still needed for older Node version releases.

[2018-05-29 13:45] #1070 closed

[2018-05-29 13:56] maclover7 commented on #944
Unfortunately this is not something that is immediately actionable, and is related to our handling of third party apps in the nodejs GitHub org.

It looks like the org management policy has been updated to allow apps under certain circumstances -- the details are available at https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANGEMENT_POLICY.md#use-of-bots-and-services.

Closing for now, sinc

[2018-05-29 13:56] #944 closed

[2018-05-29 13:59] maclover7 commented on #748
Closing for now as something that would probably be nice to have, but seems to not currently be within our means. If someone wants to tackle this, please feel free to reopen.

[2018-05-29 13:59] #748 closed

[2018-05-29 15:58] mhdawson commented on #1254
I fixed it up and seems to be ok now, had to do with the current directory when the selection was being done.

[2018-05-29 16:00] mhdawson commented on #1254
It now ran ok I believe but like other platforms there are failures.  https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/1445/nodes=aix61-ppc64/console

@gdams can you see if these match the other platforms.  If so I think we can close this issue.

[2018-05-29 19:06] refack opened #1290 "platforms: stop testing on debian8-x86"
RE: https://github.com/nodejs/build/issues/885

Although a usual `node-test-commit` run take less than 15 minutes, we only have 1 worker in this label https://ci.nodejs.org/label/debian8-x86/ so CITGM runs cause a bottleneck.

[2018-05-29 20:34] mhdawson commented on #1205
@hashseed, we are not doing any work on building node differently from the rest of the project.

All we want to get working here is that `make test-v8` in the community CI passes again.  This does build v8 with ninja from the v8 source in the node tree, but not node itself.

[2018-05-30 06:33] apapirovski opened #1291 "Requesting access to test-linuxonecc-rhel72-s390x-1"
Hi there,

I would like to request access to one of the LinuxONE machines (`test-packetnet-ubuntu1604-x64-1` or similar), so that I can debug https://github.com/nodejs/node/issues/20907

Thanks and let me know what would be needed on my end. Also, my email is in the profile.

[2018-05-30 12:06] refack commented on #1291
You probably meen one of https://ci.nodejs.org/label/rhel72-s390x/ (test-packetnet-ubuntu1604-x64-1 is just a jenkins workspace that triggers the actual work)

Anyway +1 from me

[2018-05-30 12:16] refack commented on #1291
FYI you can spin your own up, for free during a trial period - https://developer.ibm.com/linuxone/

[2018-05-30 12:55] bnoordhuis opened #1292 "libuv: test cmake build"
From https://github.com/libuv/libuv/pull/1850:
[code]
It would be great if this could be tested on the CI matrix.

[2018-05-30 13:28] maclover7 commented on #1291
LGTM

Would take care of this myself, but don't know how to... would be interested in learning how to do this from one of the infra admins

[2018-05-30 13:47] refack commented on #1292
Yak still has stubble, but: https://ci.nodejs.org/job/libuv-test-commit-linux-cmake/9/nodes=ubuntu1604-intel-64/console

[2018-05-30 13:48] apapirovski commented on #1291
@refack thanks for the correction!

[2018-05-30 14:36] bnoordhuis commented on #1292
Nice, thanks.  Looks like cmake doesn't auto-build but in that case `make -j8 && make test` should do the trick (and I should update libuv's README.)

[2018-05-30 15:23] refack commented on #1292
Green: https://ci.nodejs.org/job/libuv-test-commit-linux-cmake/10/

I'll add to the libuv matrix when libuv/libuv#1850 lands.

[2018-05-30 15:27] refack opened #1293 "add cmake linux binary to /downloads"
There's a new libuv job that needs `cmake`
could someone add https://cmake.org/files/v3.11/cmake-3.11.2-Linux-x86_64.tar.gz to /home/downloads/www/

/CC @mhdawson @rvagg @gibfahn

[2018-05-30 17:04] rvagg commented on #1194
OK, so I've done this:
* rename `jenkins-admins` to `jenkins-release-admins`
* made a new `jenkins-admins` with `jenkins-release-admins` as a "Parent"
* changed ci-release to use `jenkins-release-admins`
* added @maclover7 to `jenkins-admins`

I _think_ this gives us what we want. From what I understand, everyone in `jenkins-release-admins` gets `jenkins-admins` permissions. It works for me but I'

[2018-05-30 17:06] bnoordhuis opened #1294 "node-gyp: CI job broken?"
Not sure what's going on but https://ci.nodejs.org/job/nodegyp-test-pull-request/46/ (first job in quite some time) shows nothing, just that it failed.

[2018-05-30 17:13] mhdawson commented on #1194
looks like I can still at least select configure for jobs so thinking that means it is ok.

[2018-05-30 17:42] maclover7 commented on #1194
@rvagg Thank you! I can file a PR updating access.md in the next few days

[2018-05-30 17:47] richardlau commented on #1294
And the job only tests on Ubuntu and Windows, which is probably good enough for the common use cases, but https://github.com/nodejs/node-gyp/pull/1451 touches code that was only previously exercised on AIX.

[2018-05-30 17:57] refack commented on #1294
I'll give it a scrub-down.

[2018-05-30 18:03] refack commented on #1194
I lost admin access to the public Jenkins. prbly need to rename group in the main roles matrix.

[2018-05-30 18:07] refack commented on #1194
Also I think the teams should be flipped since membership is transitive, i.e:
jenkins-admins = (rvagg + @maclover7)
jenkins-admins-release = (everyone else + (rvagg + @maclover7))

[2018-05-30 18:10] gdams commented on #1291
@apapirovski I would agree with @refack! Try and spin up a machine on https://developer.ibm.com/linuxone/ first and if you still need access to one of the CI machines then let us know

[2018-05-30 18:10] richardlau commented on #1194
@refack I think jenkins-admins-release (admins for the release CI) is supposed to be a smaller subset of jenkins-admins (admins for the regular CI).

[2018-05-30 18:12] gdams commented on #1246
@shigeki is your access still required here?

[2018-05-30 18:13] refack commented on #1194
@richardlau I agree, so the current status is flipped.

[2018-05-30 18:29] rvagg commented on #1194
I must be daft or something because this inheritance makes no sense to me if it's not working. I made `jenkins-admins` have a "Parent" of `jenkins-release-admins`, assuming that it would inherit everyone in `jenkins-release-admins` and add anyone extra, but apparently that's not how this works?
I've ditched the inheritance and just duplicated members. If someone (with access) groks this and wants

[2018-05-30 18:30] refack commented on #1194
Well it works for me now 🤷‍♂️

[2018-05-30 19:18] maclover7 commented on #1165
Jobs to be removed have had that done, relevant archives taken care of via 96fd5e43f1cb614c1a197aa1c8240c9ae4f81a1f

[2018-05-30 19:18] #1165 closed

[2018-05-30 19:39] mmarchini commented on #1262
@maclover7 I'll be traveling this weekend, but I'll try to contribute to your branch next week! 😄

[2018-05-30 20:50] refack commented on #1294
Switched platforms to: `ubuntu1604-64` & `win2016-vs2017`
and added node 10 to matrix

![image](https://user-images.githubusercontent.com/96947/40746706-20f4e09c-6429-11e8-8243-84dd3cfb2c95.png)

<sub>also added a test that PR_ID is numeric, and unified the build script to use bash on both platforms</sub>

---

As for AIX, I'd say it could stay out of the CI, and the devs involved in patches will

[2018-05-30 20:51] #1294 closed

[2018-05-30 21:40] gibfahn commented on #1194
I think `jenkins-admins` should be the parent, and `jenkins-release-admins` should be the child. I'd assume parent teams would contain the sum of their child team's users.

[2018-05-30 22:55] rvagg commented on #1284
should be better now that we have /boot/ being synced #1295 so updates should be consistent

[2018-05-30 23:07] gdams commented on #1254
I'm still seeing this failure on s390x:

[code]

https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/nodes=rhel72-s390x/1446/console

[2018-05-30 23:27] rvagg commented on #1274
I'm weary about this one. I've done some experimenting and debian is a bit of a mess but ubuntu maintains linux-tools-generic pretty nicely. _However_, it's strict about matching kernel version to perf version, they have to be exactly the same down to tags:

[code]

^ in this case it's because the server is running 4.4.0-119 but it's had one or two kernel updates without reboot since that point an

[2018-05-31 02:21] Trott commented on #1291
+1

@maclover7 I pretty sure I know how to grant access (grab the user's public keys, in this case from https://github.com/apapirovski.keys, and put them in the `.ssh/authorized_keys` file for the user that we log in as via SSH on the machine), but the part I don't know is where to document that change so that we remember to undo it. Maybe we just leave this issue open and remove the keys when the

[2018-05-31 03:47] rvagg commented on #1277
* centos5: I think we can retire it all, Node 4's demise takes out our remaining need for it and it was getting crazy complicated keeping it alive (see non-ansible-configuration-notes.md details on git in centos5 for example)
* debian-wheezy-gcc: can disappear, not used and not useful anymore
* www: too big a job to migrate and I'm not convinced there's utility in migrating it since it's really ju

[2018-05-31 06:37] joyeecheung commented on #1274
i think that is the case. From my server

[code]

The `perf` there was built from source

[2018-05-31 11:37] refack commented on #1291
Yep. Also move the ticket along in https://github.com/nodejs/build/projects/2#card-10173847

@apapirovski can you send me your public ssh key?

[2018-05-31 11:40] apapirovski commented on #1291
@Trott, @addaleax and I are handling this at the summit. Thanks for the help!

[2018-05-31 11:59] #868 closed

[2018-05-31 11:59] #1147 closed

[2018-05-31 13:07] #1291 closed

[2018-05-31 20:12] LucaLanziani opened #1299 "Request to join the team"
Hello there,

following this post https://dev.to/bnb/comment/3h78 I thought that I might be able to help a bit here.

# Me

I'm a software developer based near Rome (Italy) working with nearForm.
After many years between coding and infra management, I spent the last two years full time on managing and growing an infrastructure on aws becoming even more confident with ansible/terraform/ci/cd etc et

[2018-05-31 20:15] maclover7 commented on #1129
Seems like these have largely stopped? Going to close for now, but please reopen if happens again

[2018-05-31 20:15] #1129 closed

[2018-05-31 21:10] maclover7 commented on #206
Looks like the job has been created, and is working well so far. Please open up a new issue if additional work is needed (more platforms, etc.)

[2018-05-31 21:10] #206 closed

[2018-05-31 21:12] refack commented on #206
Ref: https://github.com/nodejs/build/issues/1294

[2018-05-31 21:15] maclover7 commented on #959
Moving this to #1277

[2018-05-31 21:15] #959 closed

[2018-06-01 11:43] danbev opened #1303 "request to join the build group"
I'd like to join the build working group so that I can troubleshoot failure on CI servers.

Thanks

/Dan

[2018-06-01 12:06] bnoordhuis opened #1304 "Update stress-test RUN_LABEL pulldown menu"
https://ci.nodejs.org/job/node-stress-single-test/build?delay=0sec

The pulldown doesn't list all buildbots.  I wanted to stress-test on ubuntu1604_sharedlibs_debug_x64.

[2018-06-01 13:01] maclover7 commented on #1299
Excellent -- welcome @LucaLanziani! First question is what tools you have experience with. We use Ansible to manage our test and release CI clusters (the main playbook lives [here](https://github.com/nodejs/build/blob/master/ansible/playbooks/jenkins/worker/create.yml)). Next, are there any platforms that you are very familiar with? We run most common OSes as part of the clusters (Fedora, Ubuntu,

[2018-06-01 13:02] Trott commented on #1303
+1!

[2018-06-01 13:03] maclover7 commented on #1303
Excellent -- welcome @danbev! Are there any platforms that you are very familiar with? (At some point we want to make a list of who knows which platforms very well)

Also, just so we know, are you looking to help out with the Ansible/automation side at all, or just helping with different flaky tests/failures? Both are very very useful

[2018-06-01 13:04] Trott commented on #1303
@danbev I forget, do you work on/with OpenShift?

[2018-06-01 13:04] Trott commented on #1303
There is a Build WG onboarding proess. I think @rvagg or @mhdawson might be the right person to do it? Maybe? Either of you want to volunteer?

[2018-06-01 13:07] danbev commented on #1303
I mostly interested in being able to attempt to fix CI failures when for my pull requests instead of just reporting them as not related and moving on.

[2018-06-01 13:13] maclover7 commented on #1304
@bnoordhuis Updated the job configuration, can you verify works for you now

[2018-06-01 13:17] danbev commented on #1303
Yep, our main deployment environment is OpenShift.

[2018-06-01 13:27] mcollina commented on #1299
Luca works for nearForm and we trust him leading the DevOp team of our largest deployment. I highly recommend him.

[2018-06-01 14:18] saraahmad1114 commented on #615
I have Xcode installed and that was one of the very first things I installed but I am still getting this error, I have a whole project running on xcode, so I don't know what else to do

[2018-06-01 15:15] Trott opened #1305 "Build WG self-nomination: amiller-gh"
@amiller-gh approached me about Build WG membership so they could help out with CI stuff. I'm making a note here so that there's a logical place for them to ping if I forget to continue the conversation later.

[2018-06-01 15:35] maclover7 commented on #1184
@joyeecheung @BridgeAR is this still needed?

[2018-06-01 15:35] maclover7 commented on #1122
It _seems_ like the Git errors have largely stopped? Going to close for now, but please reopen if the errors appear again

[2018-06-01 15:35] #1122 closed

[2018-06-01 15:44] maclover7 commented on #657
@mcollina @gibfahn Just did a run of https://ci.nodejs.org/view/All/job/readable-stream-pipeline/ and it passed -- can this issue be closed?

[2018-06-01 16:13] bnoordhuis commented on #1304
It's there, thanks, but it's still missing the other sharedlibs builds, possibly others too.  Ideally, all individual buildbots from node-test-commit are selectable.

[2018-06-01 18:30] maclover7 commented on #1304
@bnoordhuis Unfortunately that list is compiled manually, so all labels are not automatically included. If there are other labels you'd like there, just comment them here and I can add them

[2018-06-01 19:15] mcollina commented on #657
Yes we can!

[2018-06-01 19:15] #657 closed

[2018-06-01 19:28] refack commented on #1299
Hello @LucaLanziani and welcome.

[2018-06-01 21:04] Trott opened #1308 "Build WG self-nomination: mmarchini"
From https://github.com/nodejs/summit/issues/64#issuecomment-393877576:

[2018-06-02 01:39] joyeecheung commented on #1184
@maclover7 The particular issue should be fixed by https://github.com/nodejs/node/pull/20754 I think it's fine to keep `core.autocrlf=true` if we want to test the default git config on Windows as @joaocgreis suggested.

[2018-06-02 01:39] #1184 closed

[2018-06-02 03:32] maclover7 commented on #1299
@LucaLanziani Our next build WG meeting is scheduled for 4pm EST / 8pm UTC on June 12 -- if you're not fully onboarded by then, please feel free to join anyways. Once this gets a few more +1s, then we can begin that process!

[2018-06-02 03:33] maclover7 commented on #1303
@danbev Our next build WG meeting is scheduled for 4pm EST / 8pm UTC on June 12 -- if you're not fully onboarded by then, please feel free to join anyways. Once this gets a few more +1s, then we can begin that process!

[2018-06-02 03:33] maclover7 commented on #1305
@amiller-gh Our next build WG meeting is scheduled for 4pm EST / 8pm UTC on June 12 -- if you're not fully onboarded by then, please feel free to join anyways. Once this gets a few more +1s, then we can begin that process!

[2018-06-02 03:34] maclover7 commented on #1308
@mmarchini Our next build WG meeting is scheduled for 4pm EST / 8pm UTC on June 12 -- if you're not fully onboarded by then, please feel free to join anyways. Once this gets a few more +1s, then we can begin that process!

[2018-06-02 08:12] LucaLanziani commented on #1299
Thanks everyone ;)

Hello @maclover7, I would say I have some fairly good experience with Ansible, I'm a long time Linux users (mostly deb based distros but I've also used rpm based ones).

I've some experience with Docker/Terraform/Jenkins and various programming languages (Python/JavaScript/some Ruby/etc).

I'll happily start going through the issues and the ansible playbook(s).

What's your pre

[2018-06-02 14:20] maclover7 commented on #1299
@LucaLanziani Probably IRC, but whatever's easiest. Most build team members are in the `#node-build` channel

[2018-06-02 14:43] maclover7 commented on #1082
@mhdawson Has this happened recently? If not, I think we can close this out

[2018-06-02 14:44] maclover7 commented on #1015
@phillipj Has this come up recently?

[2018-06-02 16:36] phillipj commented on #1015
I'll have to check on Monday, don't have a computer nearby this weekend.

On Sat, 2 Jun 2018 at 16:44, Jon Moss <notifications@github.com> wrote:

[2018-06-02 16:46] BridgeAR opened #1309 "Add new build jobs"
Talking to @hashseed it came up that there are multiple interesting V8 flags that could help us finding bugs early by stressing the specific issues.

Some of these are:

* `--gc-interval=value`. If we set that to e.g. 500 it will trigger a gc each 500 allocations.
* `--stress-compaction` which forces more compactions than it would do normally (it will move objects around all the time).
* `--verify

[2018-06-02 17:21] maclover7 commented on #1309
Seems reasonable to me. If we want to only run this once a day, should this be triggered as part of `node-daily-master`?

[2018-06-03 09:46] amiller-gh commented on #1305
Happily! Its on my calendar 👍

[2018-06-03 09:50] amiller-gh commented on #1305
Is that a recurring meeting time that I should block off?

[2018-06-03 13:13] maclover7 commented on #1305
@amiller-gh The time rotates every few weeks (I forget what the different variations are off the top of my head), but all meetings for the build WG (and all other Node.js Foundation stuff) are listed in the foundation calendar https://calendar.google.com/calendar/embed?src=nodejs.org_nr77ama8p7d7f9ajrpnu506c98%40group.calendar.google.com

[2018-06-03 14:00] MylesBorins commented on #1177
I've updated all the IAM roles on github and updated the permissions in both ci && ci-release

[2018-06-03 14:00] #1177 closed

[2018-06-03 14:36] maclover7 commented on #1268
Closing due to inactivity

[2018-06-03 14:36] #1268 closed

[2018-06-03 14:43] maclover7 commented on #1246
Removed access from `test-linuxonecc-rhel72-s390x-2`, easy enough to add back later if still needed

[2018-06-03 14:43] #1246 closed

[2018-06-03 14:51] shigeki commented on #1246
Thanks. I've confirmed that it's no problem.

[2018-06-03 16:38] mmarchini commented on #1308
Looking forward to help the WG wherever I can!

[2018-06-04 18:07] phillipj commented on #1015
Still getting an error with the code as is in master, though different than what I reported back in November:

[code]

I'm currently running ansible v2.4.2.0.

<details>
<summary>Full bash output for reference</summary>

[code]
</details>

[2018-06-05 11:10] bnoordhuis opened #1313 "Grant jBarz access to aix61-ppc64 to investigate failures"
See https://github.com/libuv/libuv/pull/1787#issuecomment-394437377.  I vouch for @jBarz.

[2018-06-05 11:27] bnoordhuis commented on #1304
@maclover7 Can you add the other buildbots from https://ci.nodejs.org/job/node-test-commit-linux-containered/?  Cheers.

[2018-06-05 11:36] maclover7 commented on #1313
I believe @jBarz already does have access to AIX via https://github.com/nodejs/build/issues/1261? Also, is there a specific hostname that is needed?

[2018-06-05 11:38] maclover7 commented on #1304
@bnoordhuis updated, PTAL

[2018-06-05 11:50] bnoordhuis commented on #1304
Thanks, look good.  I'll close this out.

[2018-06-05 11:50] #1304 closed

[2018-06-05 13:12] jBarz commented on #1313
@maclover7
The issue in libuv is happening on ` test-osuosl-aix61-ppc64_be-2`
The issue https://github.com/nodejs/build/issues/1261 gives me access to only ` test-osuosl-aix61-ppc64_be-1`

[2018-06-05 13:34] mhdawson commented on #1313
https://github.com/nodejs/build/issues/1261 is a blanket ok for access, we just need to give him access.

[2018-06-05 13:34] refack commented on #1313
Granted

[2018-06-05 13:56] mhdawson opened #1314 "Headers not available since May 31 -"
Attempts to build/test n-api are failing with the following since June 1

https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api/MACHINE=fedora-last-latest-x64/340/console
[code]

Looks like the osx failed on the 31st and there have been no builds since then.

[2018-06-05 13:56] mhdawson commented on #1314
@rvagg is there any reason that the scheduled builds would not be kicking off?

[2018-06-05 14:23] refack commented on #1314
For example, coverage has been running:
![image](https://user-images.githubusercontent.com/96947/40981978-3b7bb1fe-68aa-11e8-8fe5-f60d39fe7ac9.png)
https://ci.nodejs.org/job/node-test-commit-linux-coverage/

But has not been promoted:
![image](https://user-images.githubusercontent.com/96947/40982063-622c709a-68aa-11e8-93e5-cf91d583ec65.png)
https://coverage.nodejs.org/

[2018-06-05 15:10] mhdawson commented on #1314
@refack it is a different CI than coverage.

[2018-06-05 15:16] refack commented on #1314
Ok. I see the nightly job stopped running at all:
![image](https://user-images.githubusercontent.com/96947/40985278-c86108ec-68b1-11e8-8b28-7fbec36fe716.png)
https://ci-release.nodejs.org/job/iojs+release/

But it seems too much alike to be a coincidence.

[2018-06-05 17:29] jBarz commented on #1313
Issue resolved, We can close this now.

[2018-06-05 17:50] #1313 closed

[2018-06-05 21:14] mhdawson commented on #1314
Looks like build kicked off by @refack was ok but headers are still not found by re-running node-addon-api test job: https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api/MACHINE=fedora-last-latest-x64/346/console, so don't think we got the headers.

[2018-06-05 21:17] mhdawson commented on #1314
Looking at the download site I don't see an updated nightly so it may be that whatever kicks off the regular nightly job also does something more to promote it.

[2018-06-05 21:32] mhdawson commented on #1314
Looks like the build was not on the www machine despite seeing what looks like successful commands in the build to push it over to the machine.  Not sure what is going on?

.

[2018-06-05 21:33] refack commented on #1314
It's most probably a crobtab doing "promotion" of the artifacts from the staging directory
https://github.com/nodejs/build/blob/839fc90b2929a2fc9e4222ec693c535c500c3ef3/setup/www/tasks/site-setup.yaml#L108-L119

https://github.com/nodejs/build/blob/master/setup/www/tools/promote/README.md

[2018-06-05 21:36] mhdawson commented on #1314
It may be a co-indidence but seems to have stopped working right after https://github.com/nodejs/nodejs.org/issues/1673

[2018-06-05 21:39] mhdawson commented on #1314
Looks like the coverage charts have not been updated as well since the 31st https://coverage.nodejs.org/

[2018-06-05 21:48] mhdawson commented on #1314
From the syslog it does not look like cron has been running since the 31st.

[2018-06-05 21:50] mhdawson commented on #1314
I see this with `systemctl status cron`

[code]

[2018-06-05 21:51] mhdawson commented on #1314
Ok restarted with `systemctl start cron`

[2018-06-05 21:59] mhdawson commented on #1314
I think that has gotten things running again, download for build @refack kicked off is now visible and node-addon-api tests seem to be progressing.

Going to leave this open until tomorrow so we can validate that the regular nightly builds are also being kicked off.

[2018-06-05 22:05] refack commented on #1314
Thanks @mhdawson.
Seems like I started the nightly build wrong (with the full hash)... Let's see how robust the tooling around parsing those are...
![image](https://user-images.githubusercontent.com/96947/41005344-0b6ffa24-68eb-11e8-9817-e9d001d7053a.png)

[2018-06-05 22:17] mhdawson commented on #1082
I'll close for now.

[2018-06-05 22:17] #1082 closed

[2018-06-05 22:36] refack commented on #1293
Sorry I forgot to reference https://github.com/nodejs/build/issues/1292
The job builds `libuv` with cmake.
For isolation & encapsulation the job simply downloads and untars the `cmake` binary package.
It's a 33MB file and I assume downloading it from ci.nodejs.org/downloads should be faster
[code]
https://ci.nodejs.org/job/libuv-test-commit-linux-cmake/configure

[2018-06-05 22:38] refack commented on #1303
Hello @danbev and welcome.

[2018-06-06 00:29] maclover7 commented on #1261
Update re machines (as previously tracked in 1032, 1081, 1313):

- test-osuosl-aix61-ppc64_be-1
- test-marist-zos13-s390x-1
- test-marist-zos13-s390x-2
- test-osuosl-ubuntu14-ppc64_le-3

[2018-06-06 00:30] maclover7 commented on #1032
Moving this to #1261 where other accesses are tracked

[2018-06-06 00:30] #1032 closed

[2018-06-06 00:30] maclover7 commented on #1081
Moving this to #1261 where other accesses are tracked

[2018-06-06 00:30] #1081 closed

[2018-06-06 00:31] maclover7 commented on #277
Closing for now as something that would be nice to have, but seems to not currently be within our means. If someone wants to tackle this, please feel free to reopen.

[2018-06-06 00:31] #277 closed

[2018-06-06 00:31] maclover7 commented on #185
Closing due to inactivity, please reopen if you would still like to work on this

[2018-06-06 00:31] #185 closed

[2018-06-06 00:34] maclover7 commented on #610
Job was created: https://ci.nodejs.org/view/post-mortem/job/nodereport-continuous-integration/

[2018-06-06 00:34] #610 closed

[2018-06-06 00:35] maclover7 commented on #655
@mcollina Is this still needed?

[2018-06-06 00:36] maclover7 commented on #712
Moving this to #1277

[2018-06-06 00:36] #712 closed

[2018-06-06 06:43] danbev commented on #1303
@refack Thanks! 😄

[2018-06-06 12:05] mhdawson opened #1317 "Node.js Foundation Build WorkGroup Meeting 2018-06-12"
## Time

**UTC Tue 12-Jun-2018 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 12-Jun-2018 13:00 (01:00 PM) |
| US / Mountain | Tue 12-Jun-2018 14:00 (02:00 PM) |
| US / Central  | Tue 12-Jun-2018 15:00 (03:00 PM) |
| US / Eastern  | Tue 12-Jun-2018 16:00 (04:00 PM) |
| London        | Tue 12-Jun-2018 21:00 (09:00 PM) |

[2018-06-06 17:55] addaleax opened #1318 "Add a job that runs master + v10.x with `python tools/test.py --worker`"
Now that nodejs/node#20876 has landed, it would be great to have something in CI that runs the test suite under workers. It’s probably not feasible to make it part of a regular `make test` run, or add it to all CI nodes because the test suite is going to run twice as long that way.

Instead, I’d imagine we want a CI job for this. What do we need? Something in the Makefile + a job that runs that pa

[2018-06-06 19:00] maclover7 commented on #1318
@addaleax In theory we should be able to get this working with https://ci.nodejs.org/job/node-test-commit-custom-suites, using `--worker` as the input for `TEST_ARGS`, taking a look now

[2018-06-06 19:03] addaleax commented on #1318
@maclover7 Does that mean it would run only if requested? Because you’re right, that sounds doable, but I’d love to have it be part of `node-test-commit`

[2018-06-06 19:18] maclover7 opened #1319 "Create GOVERNANCE.md"
As noted by @richardlau, the Build WG is not in compliance with the TSC's policy, as mentioned at https://github.com/nodejs/TSC/blob/master/WORKING_GROUPS.md#joining-a-wg

[2018-06-06 19:42] maclover7 commented on #1180
@LucaLanziani The reason to do this via `nodejs/github-bot` is because we already have many GitHub automation tasks that live in that Node app. Also, the Build WG lately has been moving toward keeping as much configuration in-repo as possible

[2018-06-06 20:20] LucaLanziani commented on #1180
@maclover7 yeah I supposed one reason was the access. My idea was to use something similar to https://jenkins.io/doc/book/pipeline/jenkinsfile/
The jenkinsfile will live in the repo you want to test and jenkins will scan the repos and load the jobs/set the hooks ect ect.

[2018-06-06 22:08] maclover7 commented on #1317
@MylesBorins Are you available to attend the meeting next week, bunch of issues with release stuff are on the agenda, and also use of Docker/containers in CI

[2018-06-07 01:02] refack commented on #1317
/CC @danbev @LucaLanziani @amiller-gh @mmarchini (and @juggernaut451) y'all are invited to observe and/or introduce yourselves.

[2018-06-07 03:13] davidwkaiser opened #1322 "Link in README returns a 404"
The link in the README that promises information on how to join returns a 404 page.

Also, I'm interested in joining.

[2018-06-07 03:22] richardlau commented on #1322
Looks like this was missed in https://github.com/nodejs/build/pull/1315 which moved the information into https://github.com/nodejs/build/blob/master/doc/access.md#joining-the-build-working-group.

[2018-06-07 03:54] davidwkaiser commented on #1322
Submitted.

[2018-06-07 11:40] #1322 closed

[2018-06-07 14:03] maclover7 commented on #1318
@addaleax Yep, it technically runs on an "as requested" basis. But we can add a run of this job to `node-test-commit` like all of the other subjobs (`node-test-commit-plinux`, `node-test-commit-arm`, etc), or just `node-daily-master` if that's what's wanted

Giving this another run: https://ci.nodejs.org/job/node-test-commit-custom-suites/10/

[2018-06-07 14:12] addaleax commented on #1318
@maclover7 https://ci.nodejs.org/job/node-test-commit-custom-suites/10/nodes=rhel72-s390x/console looks like there’s some kind of encoding trouble?

[2018-06-07 18:50] mmallick-ca commented on #1205
We have a medium term fix where @mhdawson has installed the appropriate gn/ninja binaries and other dependencies on the community machine. We are using a patch to make-v8.sh to invoke them appropriately. In the long term we have to teach v8-gen.py to generate the appropriate gn command. But for now this should enable v8 tests to run.

[2018-06-07 20:36] mhdawson commented on #1205
Latest CI runs are green :) https://ci.nodejs.org/job/node-test-commit-v8-linux/

[2018-06-07 20:38] mhdawson commented on #1205
Last thing I should cover before closing this out is adding to the doc how to restore the files if necessary.  We could add to ansible but not 100% sure its worth doing that since it is temporary.  @gdams can you add considering that to your todo list?

[2018-06-07 20:42] mhdawson commented on #1317
In respect to @refack's comment, I'd suggest joining the zoom meeting so you can talk/discuss.  I think we'll want to spend some part of the meeting talking about how to get you started.

[2018-06-07 20:43] seishun commented on #1205
If gn now works on all supported platforms, is there a reason to continue building V8 with Gyp?

[2018-06-07 21:05] mhdawson commented on #1205
@seishun, we still have a long way to go before gn is supported on our platforms.  As @mmallick-ca I've manually copied files/tools onto the our ci machines and we dynamically patch make-v8 to make it run.  We will work to contribute changes back to the google infra but that's likely to take quite a while.

[2018-06-07 23:20] Trott commented on #1317
And for the new-ish folks: The Build WG has a practice of using :+1: and :-1: reactions on the initial post in a meeting issue like this one to indicate likely-to-attend-this-one and not-likely-to-be-able-to-attend respectively. (So, my :-1: above is "I probably can't make it this time", not a thumbs-down on having a meeting or anything like that.)

[2018-06-07 23:27] Trott opened #1326 "SSH access to Pi 1 device for eugeneo"
To troubleshoot https://github.com/nodejs/reliability/issues/5, @eugeneo asked for SSH access to one of the Raspberry Pi 1 devices where we are seeing the failures. This seems like a low-risk no-brainer to me. If a couple other Build WG folks give this a :+1:, I'll make it happen.

[2018-06-07 23:47] Trott commented on #1326
I think this might not be necessary now, as we've figured out a few things (although not everything).

@eugeneo If I'm wrong and you still want/need access, leave a comment or re-open. Thanks!

[2018-06-07 23:47] #1326 closed

[2018-06-08 04:12] rvagg commented on #1326
ping me on irc if this is needed, it's not too difficult

[2018-06-08 09:38] targos opened #1327 "Assembler missing on smartos 16 machines?"
[`node-test-commit-smartos`](https://ci.nodejs.org/job/node-test-commit-smartos/) is consistently failing on `smartos16-64` with this message:

[code]

[2018-06-08 09:59] mcollina commented on #655
This might not be needed anymore, but I'll confirm this asap.

[2018-06-08 11:33] maclover7 commented on #1327
Re-running playbook on machines, hopefully may fix

[2018-06-08 11:42] maclover7 commented on #1327
SmartOS rebuild: https://ci.nodejs.org/job/node-test-commit-smartos/18225/

[2018-06-08 11:44] targos commented on #1327
Looking good so far. Thanks!

[2018-06-08 17:42] Trott commented on #1327
It's back....

[2018-06-08 17:42] Trott commented on #1327
https://ci.nodejs.org/job/node-test-commit-smartos/18227/nodes=smartos16-64/console

[code]

[2018-06-08 17:49] Trott commented on #1327
Is the right thing to do this?

[code]

Or something else? I'm not sure if that's the playbook to rebuild in this case. (Doesn't work for me in any event, but I'll try to figure out why that playbook doesn't work when run from my machine if it's the right one to run.)

[2018-06-08 18:46] Trott commented on #1327
Seems like `pkgin in llvm-3.8.0nb2` would be likely to fix the issue. Going to try that on test-joyent-smartos16-x64-1 and see what happens.

[2018-06-08 18:48] Trott commented on #1327
Nope, didn't fix it.

[2018-06-08 18:54] Trott commented on #1327
I did `pkgin rm llvm-3.8.0nb2` to remove the package I installed.

The problem appears to be that `configure` is not detecting that `gas` is installed. `/opt/local/bin/gas --version` reports the version as 2.26. The script wants 2.23 or later, but it appears that `get_gas_version` is returning `0`, so something is up in that function I guess?

[2018-06-08 19:03] Trott commented on #1327
I was stepping through the Python code and this started working. I hope someone fixed it... because otherwise... this is mysterious, in a bad way. :-D

[2018-06-08 19:04] Trott commented on #1327
Only login besides me is from Cambridge, Massachussetts. Sounds like @refack fixed it?

[2018-06-08 19:06] refack commented on #1327
Sorry I'm trying to fix it, but getting weird stuff

[2018-06-08 19:08] refack commented on #1327
As in I have no idea why it sometimes work, and sometimes not.

[2018-06-08 19:21] refack commented on #1327
Well it is https://github.com/nodejs/node/pull/20394.
In some situations on smartos you cannot change the locale.

[2018-06-08 20:02] Trott commented on #1327
Interesting. Any idea what those conditions are?

[2018-06-08 20:05] Trott commented on #1327
Looks like it works with setting `LC_ALL` to `en_US.UTF-8` instead of just `en_US`.

[2018-06-08 23:35] #1327 closed

[2018-06-09 20:28] maclover7 commented on #1274
Fixed by #1321

[2018-06-09 20:28] #1274 closed

[2018-06-10 12:55] LucaLanziani commented on #1317
@mhdawson would it make sense for me/us to join the mentoring program that is starting here https://github.com/nodejs/mentorship ?

[2018-06-10 13:40] refack commented on #1317
As as mentor or mentee?
AFAIK the mentorship program is still in it's very early stages and there is still noone from this WG available as mentor. We do customarily onboard new members with the specifics on this WG. There are sporadic docs around the repo such as [this one](https://github.com/nodejs/build/blob/master/doc/access.md#joining-the-build-working-group).

[2018-06-10 14:27] maclover7 commented on #1180
Largely solved by https://github.com/nodejs/github-bot/pull/178, https://github.com/nodejs/github-bot/pull/180

[2018-06-10 14:34] maclover7 commented on #950
Largely solved by https://github.com/nodejs/build/blob/master/doc/services.md, closing for now

[2018-06-10 14:36] maclover7 commented on #844
https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api/ has been created per above, going to close for now since this seems largely solved (and the job is green!)

[2018-06-10 14:36] #844 closed

[2018-06-10 14:39] maclover7 commented on #705
Moving this to nodejs/commit-queue#1, since there is a whole separate team for this now

[2018-06-10 14:39] refack commented on #950
I'd rather we keep this open. Seems to me that `services.md` is only part of the information that needs to be documented.

[2018-06-10 14:41] maclover7 commented on #950
@refack what else needs to be included?

[2018-06-10 14:56] refack commented on #950
From the OP
* ~permission groups~
* job scripts stuck in Jenkins (refack: improve visibility of job logic)
* /ansible/ is future -> /setup/ is past
* ~bot / email /~ website ~/ CI~
* ~CI test vs release~

Maybe some stuff should be added to the onboarding doc, but IMO this task is not completed, and closing the issue will "sweep that under the rug"

[2018-06-10 15:00] refack commented on #1180
So still not completely solved, please keep WIPs open, otherwise we lose track.

[2018-06-10 16:30] LucaLanziani commented on #1317
I was thinking as mentee, but you already answered me with "there is still noone from this WG available as mentor".

[2018-06-10 16:32] gdams commented on #1317
@LucaLanziani I have just become a mentor for the build WG! :D

[2018-06-10 18:44] maclover7 opened #1330 "Build WG: Discuss new projects"
This meeting will be to discuss the current state of the Build working group, as well as new projects and ideas moving forward. Everyone has a stake in the Build WG's continued success, given the critical infrastructure that the group provides.

Agenda items (please edit this liberally!):

|Name|Champion(s)|
|---|---|
|New members|@maclover7|
|Ansible upgrades|@maclover7, @rvagg|
Commit queue|@joy

[2018-06-10 18:48] maclover7 commented on #1330
Please RSVP via this doodle: https://doodle.com/poll/8hgewz9nem63arb7

[2018-06-10 19:48] joyeecheung opened #1331 "Sub teams for build?"
Moving the discussion in https://github.com/orgs/nodejs/teams/collaborators/discussions/30 to public.

I have talked with @maclover7 and @refack and we think a `build-infra` team for the infra admins probably does not make sense either.

So is there a better idea about how to restructure the sub teams to make the pings more effective? I think the `build-files` team still make sense since pinging `

[2018-06-10 19:50] joyeecheung commented on #1317
I added https://github.com/nodejs/build/issues/1331 for more insights into how to structure the build team. The agenda is pretty packed but this probably should not take too much time to discuss.

[2018-06-10 19:53] joyeecheung commented on #1331
For reference, in the README we have

- Build WG Members (sync'ed with `nodejs/build`)
- Infra Admins (supposed to be `build-infra`, but probably does not make too much sense now?)
- Release Admins (no corresponding teams)
- GitHub Bot Admins (not part of the `nodejs/build`, sync'ed with `nodejs/github-bot`)

We also have

- test
- infra
- release
- github-bot

For access secrets, but the public k

[2018-06-10 20:35] richardlau commented on #1331
Perhaps release admins was intended to be those that have admin access to the release CI (as opposed to the regular CI) (unless that group in practice is the same as nodejs/jenkins-admins)?

[2018-06-10 20:39] richardlau commented on #1331
To repeat my opinion from https://github.com/nodejs/reliability/issues/2#issuecomment-395135848 I don't think the `build-files` team belongs as a subteam of the build WG (but is still worth having under core). The only time we should ping a build WG (sub) team on a build file related PR is if the change also requires changes to a Jenkins job or changes to a machine configuration.

[2018-06-10 21:29] refack commented on #1331
I agree there is a difference, but there is still some overlap between knowledge of the build-files and the CI cluster.
For example the test cluster uses some `make` targets (`run-ci`, `test-ci-js`, `build-ci`...) and `vcbuild.bat`
While breaking these will fail a test CI job, it might break a release build at a later time. (Ref: https://github.com/nodejs/node/pull/13900#pullrequestreview-46906389

[2018-06-10 21:32] joyeecheung commented on #1331
@refack I think for those targets we just need to ping the build as well? Pinging two teams at a time is easy anyway ;)

[2018-06-10 21:39] refack commented on #1331
AFAIK @rvagg and @joaocgreis audit these lists on occasion, and prune inactive members.

Theoretically the WG has a [process for tracking this](https://github.com/nodejs/build/projects/2), so IMHO these lists should be synched (or at least actual `gpg` access should be a subset of teams)

👍
I believe this is a "deprecated" feature. For as long as I have been a member I don't know of a difference.

[2018-06-10 21:41] refack commented on #1331
Probably, I just think it's good for build WG members to join `nodejs/build-files`... Also as much as we can document this knowledge, and make the job configs transparent, it should help.

[2018-06-11 08:38] ryzokuken commented on #1330
I hope it's okay if outsiders join in as observers? I had stuff to talk about regarding `ncu-ci` and the bots.

[2018-06-11 11:39] maclover7 commented on #1330
@ryzokuken No problem, but we will be sticking with whatever the final agenda is, given the number of topics we have to go over

[2018-06-11 13:52] maclover7 commented on #1331
Action item for meeting: to approve/not approve the following changes to GitHub team layout. Will not result in any changes to permissions, just uses new GitHub feature to make org structure easier to understand.

Current:
[code]

Proposed (using Github's "child" team UI):
[code]

[2018-06-11 13:58] joyeecheung commented on #1331
Another item: merge "Release Admins" into "Infra Admins" (they are basically the same group of people at the moment) as well as merging the `release` into `infra` secrets folder.

There are currently no teams for the release admins. There is `nodejs/build-infra` which is in sync with the Infra Admins. We could keep the team in sync in the README using ncu-team as well.

[2018-06-11 15:40] mhdawson commented on #1331
I think Release Admins may have only recently been created so that we could add people to Infra Admins without adding them to Release Admins.  We may just not have done that yet.  @rvagg is that correct?

[2018-06-11 21:19] maclover7 opened #1332 "CI Lockdown: June 11/12"
Locked down the public CI per request from @evanlucas, posted in the `nodejs/collaborators` group. Going to document what I did to lock it down when I've got a minute, so we've got it written down

[2018-06-11 23:35] #949 closed

[2018-06-12 10:58] rvagg commented on #1317
I'll try and make it, 6am for me so it'll depend on how well I sleep

[2018-06-12 16:59] jbergstroem commented on #1317
I was in contact with @maclover7 over email about my participation and will join this build meeting.

[2018-06-12 17:00] jbergstroem commented on #1277
Regarding the `www` transfer: I have a 1 year old local branch that started addressing it. I ran into something and will have to revisit what that was.

[2018-06-12 22:18] rvagg commented on #1317
doh! sorry, I set my alarm for 6.45 .. a bit late obviously.

[2018-06-12 22:20] maclover7 opened #1337 "Request for elevated permissions"
(opening this now, so I don't forget, to continue discussion with @jbergstroem and @mhdawson from the last wg meeting)

Lately I have been one of the more active participants in the WG, and one of the only people keeping an eye on the `node-build` IRC channel. As a result of this, I am doing more and more of the WG's core tasks, however I often do not have sufficient permissions to actually perfor

[2018-06-12 22:58] mmarchini commented on #1180
Can we have a list of tasks we need to accomplish before closing this?

[2018-06-13 01:27] maclover7 commented on #1332
Security release out, Public CI access has been re-enabled, closing.

[2018-06-13 01:27] #1332 closed

[2018-06-13 13:42] refack commented on #1337
I would like to join this request.

As I see it there are several access points that _could_ be considered independently:
1. access to `www` infra
2. access to `github-bot` infra
3. access to `ci.nodejs.org` infra
4. access to `ci-release.nodejs.org` infra
5. access to `release` machines
6. admin access to `nodejs/node` and `nodejs/nodejs.org` GitHub Repos

Also /CC @nodejs/security

[2018-06-13 13:48] refack commented on #756
@gdams can you report the status of this?
@maclover7 you had a bug to report RE the playbook?

[2018-06-13 13:54] refack commented on #771
@mhdawson has this been going on? Can I help? Can @zibbykeaton help?

[2018-06-13 14:01] ZibbyKeaton commented on #771
I post a tweet about it once a month - it will be coming out later this June, but here is May's tweet: https://twitter.com/nodejs/status/999772162335657984. If you want to retweet that would be great! I can also create a special hashtag for this effort, so it's easy to find on social when you want to give a retweet to it. Just let me know if that would be helpful to this group. We could even do #n

[2018-06-13 14:33] joyeecheung commented on #1337
If I understand correctly, the requests translate to:

1. Adding your public keys to `github-bot`, `release` and `infra` secrets folder
2. Giving you to admin access to `nodejs/node` and `nodejs/nodejs.org`

For 1 I think we'll need consensus from @nodejs/build and for 2 we will need consensus from @nodejs/tsc

I am +1 to the requests FWIW, but it would good if the procedures can be documented as

[2018-06-13 14:40] #1194 closed

[2018-06-13 14:42] joyeecheung commented on #1331
Heads up: I am going to put the jenkins-admins under build and jenkins-release-admins under jenkins-admins since there were no objections in the last build meeting.

[2018-06-13 14:48] refack commented on #771
+1 on hashtag (just what I was thinking while I was trying to find the history)

[2018-06-13 15:13] mhdawson commented on #1331
@rvagg if you can please comment on the refactoring of the admins.

[2018-06-13 15:58] phillipj commented on #1337
+1 FWIW

More people knowing the github-bot with access to its server would be valuable. It usually means being an infra member, I'm just an exception that has been provided access to that server explicitly.

[2018-06-13 17:11] maclover7 commented on #1337
@joyeecheung

For release, it would be running `dotgpg add` in the `build/release` directory of `nodejs-private/secrets` and adding me to the `nodejs/jenkins-release-admins team`

For infra, it would be again running `dotgpg add` in the `build/` and `build/infra` directories of `nodejs-private/secrets`, and then creating individual accounts (I'd have to be added to the Node.js "group") for each of

[2018-06-13 18:58] mcollina commented on #1337
+1

[2018-06-13 19:32] ZibbyKeaton commented on #771
Upcoming social posts have been updated with above hashtag for easier tracking :)

[2018-06-13 20:45] mhdawson commented on #1337
Thanks for opening and starting the discussion with examples.  I like @refack's list of what could be considered independently.  @refack @maclover7 do you believe you need access to all of those or a subset?

[2018-06-13 20:47] mhdawson commented on #771
@ZibbyKeaton thanks :)

[2018-06-13 20:51] refack commented on #1337
I believe that we need more active collaborators with access to all these point for the benefit the org. All of those points needed attention in the last couple of months.

If any item is considered "too risky" then the decision on that item can be deferred, this way we don't have an all or nothing situation.

[2018-06-13 20:55] mhdawson commented on #1337
+1 to greater coverage across the board.

[2018-06-13 21:37] maclover7 commented on #1337
@mhdawson

Part of the issue is that all of the machines within the various access groups (ex: test, release, infra) all use the same SSH key within that group. Without reconfiguring a lot of our existing stuff, this would make it hard to give out access in small bits, and also make it hard to keep track of who has access to what services.

The issues I have encountered seem to point to being adde

[2018-06-13 21:44] refack commented on #1264
I wanted to suggest to cump the OS version to 10.12 but it seems like 10.10 and 10.11 still have a significant market share 🤦‍♂️
![image](https://user-images.githubusercontent.com/96947/41379897-4516eeb2-6f31-11e8-844a-2ab12d684fe5.png)

[2018-06-14 02:47] rvagg commented on #1331
Yes, sorry, I'm currently quite preoccupied with work, sorry I haven't been keeping on top of this stuff!

Yes, secrets/release and secrets/infra are owned by the same core group, they're just critical bits that we need to keep tighter controls of like signing certs. I don't mind the folders being merged if that's required to make things more obvious.

Jenkins admins is only new and I have no obje

[2018-06-14 04:53] Trott commented on #1337
I don't know exactly what's involved, but I am +100 to upgrading @maclover7 and @refack to more trusted levels of access in Build WG if it helps them be more effective. Both of them have been more active than anyone as far as I know in Build WG lately. No disrespect to awesome folks like @joaocgreis, @jbergstroem, @rvagg, and @mhdawson (and others--not a comprehensive list) but @maclover7 especial

[2018-06-14 13:07] joaocgreis commented on #1277
`setup/windows` should work, provided https://github.com/nodejs/build/blob/master/doc/non-ansible-configuration-notes.md is followed first. However, it has proven to be brittle in the past (https://github.com/nodejs/build/pull/907), so I wouldn't be surprised if some small updates are needed because of changes in Ansible.

One notable thing missing is a script for Visual Studio 2017, I have a draf

[2018-06-14 13:15] joaocgreis commented on #1317
Meeting recording: https://www.youtube.com/watch?v=juQ53qvh1l8

Sorry I wasn't able to attend, the time slot is difficult for me, but I still think it's the best given the overall group availability. I'm still committed to maintaining our Windows machines (don't hesitate to mention me) and also generally helping around when I can.

I've commented on https://github.com/nodejs/build/issues/1277 rega

[2018-06-14 14:38] mhdawson commented on #1337
Adding @rvagg @joaocgreis and @gibfahn as well.

[2018-06-14 14:46] mhdawson commented on #1317
PR for minutes: https://github.com/nodejs/build/pull/1339

[2018-06-14 14:47] jbergstroem commented on #1337
I agree to adding more people to infra (and release; they were designed to be different for similar reasons, being able to help with releases versus core infra. Perhaps a side track could be to revisit what architecture/software should live where?) and after going through the commit, issue and pr logs I can only chime in with what others seem to agree on here.

While doing so it would also be grea

[2018-06-14 15:02] gdams opened #1340 "Demo AWX (Ansible Tower) installation"
Has discussed in the last Build WG meeting, I would like to demo [AWX](https://github.com/ansible/awx) (the open source version of Ansible Tower) in the hope of setting an instance up for the Build WG.

Doodle is here: https://doodle.com/poll/7qua4rekvhbauy3p

[2018-06-14 15:12] LaurentGoderre opened #1341 "Approve invitation to a repo"
Can someone approve this invitation for the NodeJS bot? We are trying to reduce the Docker build times for Alpine to speed up the time to deploy docker images for release by using ccache and we need to push the cache back.

https://github.com/LaurentGoderre/nodejs-alpine-ccache/invitations

[2018-06-14 15:37] gdams commented on #1340
thanks @refack I have added a doodle!

[2018-06-14 16:08] refack commented on #1341
Hello @LaurentGoderre can you provide more context?
What's in that cache? Where do you use it? What will the bot do?

[2018-06-14 16:13] gdams commented on #756
@refack the only issue right now is that ccache is not on the path for the builds. It looks like I need to add it to the java start command

[2018-06-14 17:21] LaurentGoderre commented on #1341
This is to store the ccache for the alpine build for the Docker node image

[2018-06-14 19:15] mmarchini opened #1342 "run `make test-v8-updates` as a sub-job of `node-test-commit-v8-linux`"
As discussed in https://github.com/nodejs/build/issues/1274 and https://github.com/nodejs/node/pull/20783, we should add a sub-job to `node-test-commit-v8-linux` which runs `make test-v8-updates` on a Ubuntu 16.04 machine, otherwise tests for missing postmortem metadata and for Linux perf won't run during V8 updates.

[2018-06-14 20:01] maclover7 commented on #1342
@mmarchini Can you please prepare the full bash script for the job, and then I can drop that into a new job and setup the configuration for you

[2018-06-14 21:06] mmarchini commented on #1342
Sure. The script should look like https://github.com/nodejs/build/pull/1329/files, right?

[2018-06-14 21:25] bnoordhuis opened #1343 "libuv: persistent osx1010 'could not init' GitException"
https://ci.nodejs.org/job/libuv-test-commit-osx/926/nodes=osx1010/consoleText -
has been happening all day.
<details>

[code]

</details>

[2018-06-14 21:30] maclover7 commented on #1343
Hmm, maybe some kind of permissions error? Tried refreshing the machine's workspace, now rebuilding the job: https://ci.nodejs.org/job/libuv-test-commit-osx/931/

[2018-06-14 22:11] tniessen commented on #1330
Something came up, I won't be able to attend that day, sorry.

[2018-06-14 22:15] bnoordhuis commented on #1343
Yep, it's working again.  Thanks, Jon!

[2018-06-14 22:15] #1343 closed

[2018-06-14 23:42] jasnell opened #1345 "Missing compiler on macos ??"
See: https://ci.nodejs.org/job/node-test-commit-osx/19308/nodes=osx1010/console

[code]

[2018-06-14 23:46] maclover7 commented on #1345
Hmm haven't seen this one before, taking a look

[2018-06-14 23:46] maclover7 commented on #1345
Looks like the errors are only appearing on test-macstadium-macos10.10-x64-1

[2018-06-14 23:49] rvagg commented on #1337
I want to make sure that while we're discussing this that we're clear on some of the challenges we have in opening up this stuff to a broader group and why there's friction in doing so.

We're talking about critical infrastructure that impacts on all aspects of security of our build pipeline and impacts on the relationships that we have carefully managed with infrastructure donors. We've always fo

[2018-06-14 23:55] maclover7 commented on #1345
Am able to get compiler running locally, going to try and restart the Jenkins agent

[2018-06-14 23:56] jasnell commented on #1345
Thank you @maclover7 ... definitely appreciate it. I hadn't seen it before either. Happened on two different CI runs.

[2018-06-15 00:01] refack commented on #1337
I think that is clear, and I tried to reiterate that during the last WG meeting.
An added point is that access to the release machines will add new members' identities to the audit trail of the node binaries.

IMHO that's a great idea 👍

[2018-06-15 00:04] maclover7 commented on #1345
Hmm ran `playbooks/jenkins/worker/create.yml` and still getting errors (https://ci.nodejs.org/job/node-test-commit-osx/19311/nodes=osx1010/console)

cc @gdams @nodejs/platform-macos

[2018-06-15 00:07] bnb commented on #1337
cc @MylesBorins - I think you'd be interested in the last bit of @rvagg's comment above, RE: Foundation work.

[2018-06-15 00:11] refack commented on #1345
`test-macstadium-macos10.10-x64-1` has been really weird today up until [job 19303](https://ci.nodejs.org/job/node-test-commit-osx/nodes=osx1010/19303/) it refused to even run `git`

[2018-06-15 00:17] maclover7 commented on #1345
@jasnell I updated `node-test-commit-osx` to only build on the other 10.10 machine for now (trying a test job against master at https://ci.nodejs.org/job/node-test-commit-osx/19313/nodes=test-macstadium-macos10.10-x64-2/console). I'm rebooting and taking a closer look at the problem machine

[2018-06-15 00:58] maclover7 commented on #1345
Yep, I just wanted to see if there was a quick fix before I marked the machine offline

Fix should be in d63e66f, turns out zos scripts were being used on Mac, which didn't end well... Restarted those two OSX builds @jasnell, hopefully should be green now

[2018-06-15 01:00] jasnell commented on #1345
Thank you very much!

[2018-06-15 01:09] maclover7 commented on #1337
I agree. As you mentioned with Foundation legal resources, I am happy to assist and try to setup mechanisms that create more accountability that helps to protect Node as a project. The ultimate issue we're dealing with is how to expand access to the essential assets of the project -- nodejs.org, release servers -- in a responsible way that properly safeguards them.

[2018-06-15 09:19] gdams commented on #1345
thanks for picking this up @maclover7. are the builds now passing on `test-macstadium-macos10.10-x64-1`?

[2018-06-15 09:34] bnoordhuis opened #1346 "RFE: GPG key for security@nodejs.org"
Continuing from https://github.com/nodejs-private/security/issues/79:

Set up a GPG key and publish the public key on the website so that people reporting vulnerabilities to security@nodejs.org can encrypt their email before sending.

To be resolved:

1. How to store the private key
2. How to give triagers access (subkeys?)

[2018-06-15 13:09] maclover7 commented on #1345
@gdams Builds are now passing, going to close this for now

[2018-06-15 13:09] #1345 closed

[2018-06-15 13:16] maclover7 commented on #1346
My recommendation would be in `nodejs-private/secrets`, likely in the "infra" access group, given how important it is

The email configuration currently has `security@nodejs.org` being forwarded to a HackerOne email -- is it worth an email over to their support line and see whether they have any support for GPG emails?

[2018-06-15 13:19] mklebrasseur opened #1348 "Request to join build team"
Hello,

I am requesting to join the nodejs build WG as per request from twitter .

I am currently proficient in the following technologies

- Kubernetes / Nomad
- Ansible / Terraform
- Docker
- Jenkins

[2018-06-15 13:29] maclover7 commented on #1346
(Also, just a note, I can't see that issue)

[2018-06-15 16:55] bnoordhuis commented on #1346
You didn't miss anything, it's mostly just what I wrote. :-)  `nodejs-private/secrets` sounds like a good place.

@MylesBorins You've been in contact with the H1 people before, haven't you?

[2018-06-15 18:31] refack commented on #1346
If H1 don't have that built in then members of security@nodejs.org will need access, so maybe add and independant `/security` subdir to `secrets`

[2018-06-15 18:54] LaurentGoderre commented on #1341
Here is the PR in question https://github.com/nodejs/docker-node/pull/786

[2018-06-15 18:54] LaurentGoderre commented on #1341
The intent would be to transfer the ccache repo to this organization

[2018-06-15 20:51] joaocgreis commented on #1331
I'm not sure merging `secrets/release` and `secrets/infra` would be good. Even if the people who currently have access are the same, I believe the `secrets/release` folder can be used to give access to the people building releases, if anyone becomes active at that level.

`build-files` sounds good to have. For changes in `vcbuild`, please mention `platform-windows` because that file is Windows spe

[2018-06-15 20:54] refack commented on #1341
Gotcha

/CC @Trott @nodejs/github-bot

[2018-06-15 20:59] Trott commented on #1341
This would be accepting an invitation on behalf of @nodejs-github-bot? I don't have access to that user, but I sure hope someone in @nodejs/build or @nodejs/github-bot does!

[2018-06-16 02:14] mklebrasseur commented on #838
Hey everyone, I'd love to assist here if at all possible.

We recently converted all legacy builds and DSL scripts to pipelines using shared libraries (also using blueocean). We use source control and branching to control our releases from shared libraries. We ran these in parallel with (no downtime, no risk config).

We used this model to control granular access to certain modules to where access

[2018-06-16 07:43] gibfahn commented on #615
Unless your build fails, I wouldn't worry about it.

[2018-06-16 16:50] refack commented on #972
I found two plugins that fit this:
1. [Extended Read Permission](https://wiki.jenkins.io/display/JENKINS/Extended+Read+Permission+Plugin), allows us to enable read only view to job configs
2. [SCM Sync configuration](https://wiki.jenkins.io/display/JENKINS/SCM+Sync+configuration+plugin) - automagicly synchs the config directory with an SCM repo of our choosing

For (1) we just need to flip the swi

[2018-06-16 17:36] refack commented on #1292
added to matrix - https://ci.nodejs.org/job/libuv-test-commit/934/

[2018-06-16 17:36] #1292 closed

[2018-06-16 22:03] maclover7 commented on #1337
This is squeezing us currently, there's an issue with the github-bot (in the "infra" machine group) that requires SSH access

[2018-06-16 22:11] joyeecheung commented on #1337
I am tagging the issue tsc-agenda to discuss at the next TSC meeting.

[2018-06-16 22:23] joyeecheung opened #1353 "Granting access to github-bot server to github bot admins"
Today the github bot stopped working possibly because the access token of the bot got revoked. It is not able to access the GitHub v3 API right now. To fix that we'll need to generate a new token and configure it on the server, but the server is in the infra group so we'll need someone from infra to do that, but no one from infra is around.

I propose we add a new SSH key to the github-bot server

[2018-06-16 23:11] Trott commented on #1353
@rvagg

[2018-06-16 23:13] richardlau commented on #1353
@nodejs/collaborators AIUI until this is fixed the status of CI runs is not being reported to the PR's so you will need to manually check the status of the runs instead of relying on the PR's check status.

[2018-06-16 23:29] refack commented on #1353
Two security related questions that came to mind.
1. Who revoked the token (you could check in https://github.com/settings/security)
2. Is the bot's account behind 2FA?

[2018-06-16 23:46] joyeecheung commented on #1353
@refack The token was destroyed at 2018-06-16 05:42:15 +0800 by someone from Asker, Akershus, Norway (Safari on OS X 10.13.5). The bot account is behind 2FA.

[2018-06-16 23:50] joyeecheung commented on #1353
Hmm, wait, looks like it's not deleted, but leaked? I matched the action with the login to identify https://github.com/nodejs/build/issues/1353#issuecomment-397845004, but I noticed the action is named:

[code]

[2018-06-17 00:27] phillipj commented on #1353
That's my location.

I logged into the bot account yesterday to accept https://github.com/nodejs/build/issues/1341. I've recently got a new phone, so I had to setup Authy to be able to log in to the bot's account, I used the 2FA credentials found in the secrets repo. I didn't change the 2FA settings GitHub's side.

Could that be related? 🤷‍♀️

[2018-06-17 00:29] ryzokuken commented on #1353
I hope it was somehow triggered by @phillipj trying to log in from a new device and revoked the token as a security measure and the credentials of the bot weren't somehow leaked into the open...

[2018-06-17 00:40] refack commented on #1353
That's what's nice about tokens, they can be revoked, then they are useless.

[2018-06-17 00:47] joyeecheung commented on #1353
@ryzokuken I don't think that's related, otherwise the other token for docker-node should be revoked as well. The action `oauth_authorization.destroy` has `token_scan` as `explanation` and explicitly says `found in a public repository`.

[2018-06-17 00:51] ryzokuken commented on #1353
@refack we can all sleep a bit better now that it's revoked, true, but still the reason how it was leaked in the first place remains.

[2018-06-17 00:52] joyeecheung commented on #1353
@phillipj Can you check the email inbox of the bot and see if there are any notifications from github about the token scan?

[2018-06-17 00:54] phillipj commented on #1353
@joyeecheung great suggestion, I didn't think of that.

I found a recent email to that points to this specific commit: https://github.com/maclover7/github-bot/blob/6a1f749e78fbf182d4a764e54758b5c4cbdad339/testteam.js

[2018-06-17 00:57] phillipj commented on #1353
Gotta say all creds to GitHub for this one! 👍

[2018-06-17 11:45] rvagg commented on #1353
Sorry for being responsive enough to be the one to help get this fixed, was weekending and all that. I'm pretty sure this is resolved and can be closed now right?

[2018-06-17 11:51] rvagg commented on #972
How about we try the read-only permissions for logged in users (maybe not anonymous?) and add that extended read permissions to expose more. Do you want to experiment with that @refack? I'm +1 on trying it out at least.

I guess the SCM sync thing would be helpful too, it'd certainly help us by providing us with a backup in case of catastrophic failure! I'm just not sure what the potential for sec

[2018-06-17 11:56] joyeecheung commented on #1353
@rvagg The action item proposed in the OP was

The revocation of the token is just the cause of the proposal.

[2018-06-17 12:01] rvagg commented on #1353
Oh, ok then, missed that and I was unaware that it was tightly restricted. Or perhaps I knew and didn't think about it! I'll sort it out now and get something into secrets.

[2018-06-17 12:04] rvagg commented on #1353
Well, thinking on it more, there probably was a reason it was restricted. The original intent of the bot, from what I recall, was to offload privileged org admin type functions to it. So the bot GitHub account, webhook secret and SSH key should therefore probably have an appropriate level of security, similar to an org-owner. Can you confirm that this isn't the case and giving access to these thin

[2018-06-17 12:41] refack commented on #1353
I actually think it does, the bot token should have org admin powers. We actually need to make sure it's harder for it to leak.
But AFAICT that is similar to TSC members' level (accept for the anonymity) so it still gives us some room for expanding access to the machine.

[2018-06-17 13:14] joyeecheung commented on #1353
@rvagg The bot admins already have access to the bot account, the bot is only a member of the org with write access to a bunch of repos (among them the most sensitive one is the core repo, others can be revoked once we merge https://github.com/nodejs/github-bot/pull/183). Among the admins only @Starefossen and @williamkapke are not core collaborators but write access to the core repo should probab

[2018-06-17 13:46] maclover7 commented on #1353
Oh dear, sorry for accidentally pushing the key... and thank you GitHub for automatically revoking!!

[2018-06-17 20:16] joaocgreis commented on #722
Yes, to be able to use the stress-tests job with recent node versions (that compile only with vs2017) and any windows version, we'd need cross compiling on that job. Unfortunately this was not as straightforward as I initially hoped. Actually, this job is a good candidate for pipeline conversion.

[2018-06-17 20:20] joaocgreis commented on #1293
The node-chakracore jobs also need to download files. They use a function to cache the file locally. It would be good to provide this globally for the machines, but for now feel free to include this and use it in your script:

[code]

[2018-06-18 03:47] rvagg commented on #1353
OK, I've added a new key for that server and put it, along with instructions in the github_bot_server.md file, into secrets/build/github-bot/ directory.

Let's just keep track of the access level this thing has. If we go back to the original intent of raising privileges to org-admin (or similar) then we should scale this back. I guess we need to just generally keep track of any elevated privileges

[2018-06-18 06:04] phillipj commented on #1353
Thanks @rvagg!

FYI here's the actual the email sent to the github-bot account:

[code]

[2018-06-18 06:13] phillipj opened #1354 "Email for the github-bot"
Currently the @nodejs-github-bot account is setup with an alias to my @gmail.com email. That's far from ideal as no one else than me can get a hold of emails sent to that account. Recently we had a couple of important emails from GitHub (https://github.com/nodejs/build/issues/1341, https://github.com/nodejs/build/issues/1353#issuecomment-397847319) where it would have been beneficial if more peopl

[2018-06-18 06:32] richardlau commented on #1354
The existing organization email addresses are mapped in https://github.com/nodejs/email

[2018-06-18 06:34] rvagg commented on #1354
yeah, just make a new alias in a PR to nodejs/email, put yourself and anyone else in the github-bot team onto it and we'll get it merged and deployed, then you can transfer it

[2018-06-18 13:42] maclover7 commented on #1354
+1 to an alias, members should probably be `nodejs/github-bot`?

[2018-06-18 15:11] maclover7 opened #1355 "Update docs for new Pi Ansible setup"
Per https://github.com/nodejs/build/pull/1352#issuecomment-397873843

[2018-06-18 15:38] gdams opened #1358 "ansible: install multiple versions of xcode on build machines"
we should install multiple versions of xcode on our build machines and implement `xcode-select` to allow us to switch between versions easily for builds. CC @mhdawson

[2018-06-18 16:30] mhdawson opened #1359 "Code - coverage, new automatic cleanup"
I had to cleanup the code-coverage data.  Once it gets too big the rsyncs start timing out.

This issue is a reminder that we should automate the cleanup.

[2018-06-18 17:17] mhdawson commented on #1337
Based on the discussion I'll post the list from above:

[2018-06-18 18:48] mmarchini commented on #1342
`v8-updates` are running for `node-test-commit-v8-linux`, so this can be closed.

Ref: https://github.com/nodejs/build/pull/1344 and https://github.com/nodejs/build/pull/1344#issuecomment-398144436

[2018-06-18 18:48] #1342 closed

[2018-06-18 19:14] mhdawson commented on #1358
This may be a blocker for updating the v8 level @targos can you post the related issue here?

[2018-06-18 19:15] targos commented on #1358
https://github.com/nodejs/node-v8/issues/63
https://github.com/nodejs/node/pull/21079#issuecomment-393854498

[2018-06-18 19:19] mhdawson commented on #1293
I added it to www/x86/cmake-3.11.2-Linux-x86_64.tar.gz

[2018-06-18 19:20] maclover7 commented on #1337
The two main things holding me back right now are access to the www server when website pushes aren't working and being a Jenkins admin on `ci-release.nodejs.org`

[2018-06-18 19:23] mhdawson opened #1361 "Outgoing email address for 3rd party vulnerability notification"
We'd like to be able to send out emails from a node.js email account when we notify maintainers of 3rd party module maintainers.

I know how to setup aliases which are incoming (ie when they hit a particular address a list of people get notified). But I've not setup an outgoing one.

@rvagg @jbergstroem @joaocgreis if either of you three can point me to any existing doc (or know how to do it if th

[2018-06-18 19:51] maclover7 commented on #1361
@mhdawson Mailgun's got an API for sending emails: https://documentation.mailgun.com/en/latest/quickstart-sending.html#send-via-api

[2018-06-18 21:08] phillipj commented on #1354
Liked @maclover7 suggestion about the initial team members, opened https://github.com/nodejs/email/pull/102.

[2018-06-18 22:51] refack commented on #1205
Found this on `test-osuosl-ubuntu1404-ppc64--le-1`
is it tracked anywhere?

[code]

Also seems to fails the linux s390x - https://ci.nodejs.org/job/node-test-commit-v8-linux/nodes=rhel72-s390x,v8test=v8test/1442/console
[code]

[2018-06-19 04:13] rvagg commented on #1361
@mhdawson what sort of tooling will be sending these emails? is there an existing application that we're just plugging an email address in to?

If we want it to come from a @nodejs.org email address then we're probably going to be best off making an email address for it in the G Suite for nodejs.org which the Foundation manages and then send email via SMTP through Google using the credentials for

[2018-06-19 07:08] targos opened #1366 "Add my SSH keys for releases"
Now that I am in the Release team, can someone please add my SSH keys to the dist user on the www machine? I'm going to prepare the next v10.x release.

Ref: https://github.com/nodejs/Release/blob/master/GOVERNANCE.md#adding-new-releasers

@nodejs/build-infra

[2018-06-19 09:11] gibfahn commented on #972
QoL improvement for everyone who uses ci.nodejs.org, 💯 on that.

[2018-06-19 09:12] gibfahn commented on #1366
Where are your ssh keys?

[2018-06-19 09:28] targos commented on #1366
Perfect, thank you! Is there a more memorable host name?

[2018-06-19 09:29] gibfahn commented on #1366
I always find it by looking for `www` in [inventory.yml](https://github.com/nodejs/build/blob/master/ansible/inventory.yml), I'm not aware of a better hostname.

Of course it shouldn't be too difficult to add the aliases in that file to the [ssh config playbook](https://github.com/nodejs/build/blob/master/ansible/playbooks/write-ssh-config.yml).

[2018-06-19 09:39] #1366 closed

[2018-06-19 13:53] refack commented on #1337
IMHO this could be pushed to a week when @rvagg is available to present the reasoning behind the status quo.

[2018-06-19 14:47] refack commented on #1366
The really interesting part is https://github.com/nodejs/build/blob/master/ansible/plugins/inventory/nodejs_yaml.py

[2018-06-19 15:16] refack commented on #1366
even better, it seems to already be there:
https://github.com/nodejs/build/blob/4f7937e0937dc65ddacfca5c50677b642f582a16/ansible/inventory.yml#L15

Should give you
[code]

[2018-06-19 15:41] ryzokuken commented on #1330
I'd love to come on as an observer today and talk about one of the things I have been talking about to @refack and @joyeecheung.

An automation for not only reporting test failures straight to the GH PRs, but more broadly to differentiate code failures from infra one, and then how to ping responsible people for infra fails (the GH path works well for code fails), and also discussion how and who to

[2018-06-19 15:57] mhdawson commented on #1337
@maclover7 are there issues for the work related to ci-release.nodejs.org?  I think I understand the www side just want to better understand where you've been pulled in on the ci-release.nodejs.org side.

[2018-06-19 16:04] maclover7 commented on #1337
@mhdawson During the security release issues, Refael was the only one around on IRC that is part of nodejs/jenkins-release-admins, so would be good to have more coverage there. Also, I'd like to work on a new job in the release CI that can let people retrigger deploys to nodejs.org, so doesn't have to escalate to pinging build folks.

[2018-06-19 16:51] mmarchini commented on #1330
I probably won't be able to attend as well

[2018-06-19 18:14] refack commented on #1330
@mhdawson / @Trott Will you be there to broadcast?

[2018-06-19 18:17] Trott commented on #1330
This is today at 4PM Eastern/1PM Pacific, right? I probably can't make it as I have a conflicting meeting.

[2018-06-19 18:35] mhdawson opened #1369 "OSU - AIX Service window June 21 9-12 Pacific."
The Power hardware supporting the AIX machines for our CI (and others) needs to be patched and rebooted.  They planned window is [9-12](http://www.wolframalpha.com/input/?i=9AM+21st+June+pacific+in+local+time), but will hopefully come back earlier.

[2018-06-19 18:59] mhdawson commented on #1358
@gdams can you comment with how long you think this might take.  From https://github.com/nodejs/node/pull/21079#issuecomment-393854498 sounds like 6.8 becomes stable on the Google side on the 24th.

[2018-06-19 19:13] mhdawson commented on #1358
This is also related https://github.com/nodejs/build/issues/1264

[2018-06-19 20:03] refack commented on #1330
https://zoom.us/j/808619262

[2018-06-19 20:07] joyeecheung commented on #1330
Minutes: https://docs.google.com/document/d/12ZyOGLl0xmqRBin71SVGJHAohgOMKMFHyxyISFKFshE/edit?usp=sharing

[2018-06-19 20:40] mhdawson opened #1370 "node-test-commit-v8-linux"
Looks like node-test-commit-v8-linux is failing on 10.x for x86.

https://ci.nodejs.org/job/node-test-commit-v8-linux/1452/

I think it may be related to recent updates to tweak what tests run.  @refack can you take a look as I think you made those updates.  The job failing is: node-test-commit-custom-suites

[2018-06-19 20:43] refack commented on #1330
Meeting part 2
https://zoom.us/j/785639351

[2018-06-19 20:56] mmarchini commented on #1370
`test/v8-updates` is not on v10.x yet and the job is trying to run them anyway. We might want to limit this job to run only on `master` for now.

[2018-06-19 21:45] mhdawson commented on #1361
@vdeturckheim does doing "and then send email via SMTP through Google using the credentials for that account."  as suggested by @rvagg above work for the bot you have setup?

[2018-06-19 21:55] mhdawson commented on #1205
If fixed the job to avoid trying to apply the patch on versions earlier that 10. Its required to build with gn.

It is in the package -> build-tools-ppc.tar.gz in www/ppc in the downloads served by the ci server.  Same for s390. As metioned in https://github.com/nodejs/build/issues/1205#issuecomment-395556863 we still have to doc that or add to ansible before closing this issue.   I've asked @gdam

[2018-06-19 22:56] gibfahn commented on #1366
Good point, it totally works. Not sure how I missed that previously.

[2018-06-19 23:45] maclover7 commented on #75
Alpine (both 36 and 37) is being used in CI, which I believe closes this issue? Please reopen if I'm mistaken.

[2018-06-19 23:45] #75 closed

[2018-06-19 23:46] maclover7 commented on #240
Would be a nice to have, but it doesn't seem like we have time to work on this right now, and isn't super pressing. Closing, but please reopen if someone would like to work on this.

[2018-06-19 23:46] #240 closed

[2018-06-19 23:47] maclover7 commented on #655
Closing due to inactivity, please reopen if still needed

[2018-06-19 23:51] maclover7 commented on #773
Since we've moved to the new OSX Ansible playbooks, going on the hunch this has been solved. Please reopen if this appears again.

[2018-06-19 23:51] #773 closed

[2018-06-19 23:55] maclover7 commented on #1015
Closing due to #1067 landing, please reopen if appears again!

[2018-06-19 23:55] #1015 closed

[2018-06-19 23:59] maclover7 commented on #1353
This is done via https://github.com/nodejs-private/secrets/commit/c8aea72cb54013c95c967d8e9578d9abb158876a, https://github.com/nodejs-private/secrets/commit/ef31bac6a74e00d5ab9d34e5125a8d4071b3b878

[2018-06-19 23:59] #1353 closed

[2018-06-20 05:13] targos commented on #1366
I don't have ansible (and never used it)so I'll stick with the long name for now but it's good to know!

[2018-06-20 07:48] vdeturckheim commented on #1361
@rvagg @mhdawson at this tim I use mailjet API for sending emails but nodemailer should work with a G Suite email address. That's not really big changes on my side.

[2018-06-20 09:32] mcollina commented on #655
can you please keep this open? thanks.
I have very limited connectivity at the moment and GitHub does not load.

Il giorno mar 19 giu 2018 alle 23:47 Jon Moss <notifications@github.com> ha
scritto:

[2018-06-20 09:54] gibfahn commented on #1366
How did you get the long name in your `~/.ssh/config` if not by running the ansible script?

If you're sshing into node machines at all, it's really useful to do:

[code]

It just writes a block of code into `~/.ssh/config`.

[2018-06-20 11:04] targos commented on #1366
I just did `ssh dist@infra-digitalocean-ubuntu1604-x64-1.nodejs.org`

Will try with ansible next time. Thank you!

[2018-06-20 11:52] joyeecheung commented on #1366
@targos In case you want to know more, there is a new guide on SSH access now: https://github.com/nodejs/build/blob/master/doc/ssh.md

In terms of https://github.com/nodejs/Release/blob/master/GOVERNANCE.md#adding-new-releasers is there a reason not to add a new access group for releasers in the secrets repo and use a shared key?

[2018-06-20 12:03] refack commented on #1366
😸
In that case dist@x.nodejs.org should work just as well (nodejs.org and www.nodejs.org are CloudFlare proxies, but every other *.nodejs.org is aliased to 138.197.224.240)

[2018-06-20 12:07] refack commented on #1366
AFAIK the use of a shared key (e.g. for `test` and `release`) was started when it was needed to allow access to many computers at the same time. If it's just the one account on the one computer IMHO `authorized_keys` is easier to manage & audit.

[2018-06-20 13:11] gibfahn commented on #1366
Agreed that it's probably easier to manage, but from an auditing and keeping history point of view, it's probably better to do it in secrets.

[2018-06-20 15:42] joyeecheung opened #1373 "Build meeting on elevated permissions"
I set up a doodle using data from the TSC time sheet and the last doodle about build projects: <del>https://doodle.com/poll/ixwgyxa68igzrz8i</del>
New Doodle: https://doodle.com/poll/tecqbir56397b9wh

Refs: https://github.com/nodejs/build/issues/1337

Agenda:

- Reasoning and alternatives for direct access to the machines
- Reasoning and alternatives for direct access to repos
- Better organizatio

[2018-06-20 15:43] joyeecheung commented on #1373
Also cc in person @Trott @mhdawson @gibfahn @rvagg @maclover7 @refack in case notifications get lost

[2018-06-20 15:44] joyeecheung commented on #1337
I opened https://github.com/nodejs/build/issues/1373 with a doodle and an agenda

[2018-06-20 15:56] #1330 closed

[2018-06-20 16:42] Trott commented on #1373
Probably a good idea to figure out ahead of time who is going to facilitate the meeting. It doesn't have to be (and perhaps shouldn't be) someone with strong opinions about the topic. Just needs to be someone who is willing to understand the concerns and have a clear idea of what the outcomes of the meeting should be.

[2018-06-20 18:47] #1308 closed

[2018-06-20 20:49] gdams opened #1375 "Request for elevated access - gdams"
There have been multiple times where I would have found having the script console available in jenkins to be very useful to diagnose jenkins issues with machines. What level of access is required to get this access and what would be the process to obtain it?

[2018-06-20 23:16] rvagg commented on #1373
no overlapping time between myself Jon and Michael so far unfortunately

[2018-06-20 23:22] rvagg commented on #1361
Oh, I just remembered that we manage the DNS for both nodejs.org and iojs.org, so it's trivial for us to alter the SPF for both so we could use mailgun for @nodejs.org or even mailjet (first I've heard of them but I assume they have restrictions in place that would stop any other mailjet user from sending as @nodejs.org?).  So @vdeturckheim & @mhdawson just make a call and we'll make it happen.

[2018-06-20 23:28] rvagg commented on #1337
www is kind of the crown jewels, I'm hesitant support more relaxation on that one but I get that there are concerns about www deployment. I think there's an easy fix though, we can just expose the log of the webhook execution, nodejs.org/github-webhook.log or something, I don't believe there's anything protected there and that's all that's needed in order to fix any of the problems we've had in th

[2018-06-20 23:52] rvagg commented on #1375
jenkins-admins. I'm +1 on elevating @gdams' access.

[2018-06-20 23:52] rvagg commented on #1337
https://github.com/nodejs/build/pull/1376 should sort out primary www concerns, not sure why we didn't do this earlier

[2018-06-21 00:41] refack commented on #1375
+1

[2018-06-21 04:31] MylesBorins commented on #1337
@rvagg does the log make it easy to relaunch?

It sees like there is likely a script that could run the resets git to master and runs build would maybe be sufficient?

[2018-06-21 04:46] rvagg commented on #1337
@MylesBorins no, but a push to master will relaunch, we've never had a problem with that. The process is essentially a fresh clone of master, npm install and build then copy build assets into place. So we have a trigger to do a fresh build, we just don't have insight into what the build is doing. We've got a PaaS for the website but it's an entirely black box.

Of the hangups we've had with the we

[2018-06-21 04:56] MylesBorins commented on #1337
@rvagg great points Thank for explaining

[2018-06-21 06:55] joyeecheung commented on #1373
@rvagg Do you have some time slots friendly to people in EDT? (I think that's where @maclover7 @mhdawson and @refack are in) I picked the time using the TSC time sheet but that's Wednesday only.

[2018-06-21 08:04] vdeturckheim commented on #1361
@rvagg I'll run a quick compare between mailgun and mailjet to see which one suits our needs best here. Probably running this on the WE :)

[2018-06-21 13:36] gdams commented on #1369
I'm going to shutdown the test OSUOSL AIX machines at [8:45](http://www.wolframalpha.com/input/?i=8:45AM+21st+June+pacific+in+local+time) Pacific time

[2018-06-21 16:36] mmarchini commented on #1354
Closing since https://github.com/nodejs/email/pull/102 landed. Feel free to reopen if there's anything else to be done here.

[2018-06-21 16:36] #1354 closed

[2018-06-21 18:35] gdams commented on #1369
Both AIX test machines have now returned and builds appear to be passing. I'll wait for @mhdawson who has ci-release access to confirm functionallity of the release machine and then we can close.

[2018-06-21 18:48] mhdawson commented on #1369
@gdams bit confused as both builds failed opened: https://github.com/nodejs/node/issues/21451

[2018-06-21 18:48] mhdawson commented on #1369
Job to validate release CI is ok https://ci-release.nodejs.org/job/iojs+release/3514/

[2018-06-21 18:49] mhdawson commented on #1369
There was  some "fun" with the release machine as we need to be more diligent about cleaning up `/etc/security/failedlogin`.

[2018-06-21 18:50] mhdawson commented on #1369
Release test build was ok, so looks goon on that front.  Hoping that restart of agent on test machines helps the issues we saw there.

[2018-06-21 19:07] mhdawson opened #1377 "AIX - tweak jenkins agent startup after reboot"
We almost never reboot the AIX machines because we've been advised that it is best practice not to reboot unless necessary.

After the latest system maintenance (https://github.com/nodejs/build/issues/1369) there was a failure in one of the tests which was resolved by restarting the jenkins agent after logging in.  We probably need to tweak how the agent is started on reboot in order to avoid this

[2018-06-21 19:40] gdams commented on #1369
test machines appear to be building okay now. closing

[2018-06-21 19:40] #1369 closed

[2018-06-21 19:41] refack commented on #1369
We had the same with the `test-*` machines. I changed sshd per https://github.com/nodejs/build/issues/866#issuecomment-328583989

[2018-06-21 22:10] refack opened #1378 "policy: no use of PR code in live jobs"
Please don't use code from branches or forks in live jobs.

IMO also the use in testing jobs is questionable, since it's hard to audit.

[2018-06-21 22:35] refack commented on #1337
I would like to freeze this discussion until we figure out some policy regarding the __existing__ permission structure.

[2018-06-22 01:48] mmarchini opened #1379 "Trigger `node-test-commit-v8-linux` as a downstream project of `node-update-v8-canary`"
`node-update-v8-canary` only runs `make test-ci` and `make lint-ci`. It would be nice to also run `make test-v8` and `make test-v8-updates`. Since both are run by `node-test-commit-v8-linux`, adding it as a downstream project of `node-update-v8-canary` should be enough.

If there are no objections I can work on it next week.

/cc @targos

[2018-06-22 08:58] targos commented on #1379
`node-update-v8-canary` triggers a custom version of `node-test-commit` called `node-test-commit-node-v8`. I just added `node-test-commit-v8-linux` to it. Let's see how it goes: https://ci.nodejs.org/view/MyJobs/job/node-test-commit-node-v8/60/

[2018-06-22 10:19] joyeecheung commented on #1373
@rvagg OK, I've created a new doodle (I tried to edit the original one but I think many people do not have a doodle account so they cannot edit their previous vote, so might as well create a new one)

https://doodle.com/poll/tecqbir56397b9wh

New options are:

8:30am UTC+10 - 6:30pm UTC+4
9am UTC+10 - 7pm UTC+4
10am UTC+10 - 8pm UTC+4
10pm UTC+10 - 8am UTC+4

Please update your vote there, thanks!

[2018-06-22 11:22] gdams commented on #1358
I'm going to play around with this over the weekend. The main issue that I have right now is that it means that we will have to install non-default versions of xcode on macOS distributions which is much harder to source. We might have to stick an xcode dmg file on the public files server that we have for a few dependencies.

[2018-06-22 11:29] gdams commented on #1358
gcc versions for reference:

macOS 10.10
[code]

macOS 10.11
[code]

[2018-06-22 12:06] gdams commented on #1358
hmm so it appears that 6.8 requires Xcode 8.x or higher but unfortunately Xcode 8.x is not supported on macOS 10.10 and these is no workaround for this. We therefore will have to build on macOS 10.11.5 or higher.

https://en.wikipedia.org/wiki/Xcode#8.x_series

[2018-06-22 12:11] targos commented on #1379
New build (Jenkins was having issues): https://ci.nodejs.org/view/MyJobs/job/node-test-commit-node-v8/61/

[2018-06-22 12:45] mhdawson commented on #1358
@gdams thanks for figuring that out.

That has 2 potential issues  in respect to V8 6.8, our current support statement is

[code]

If we have to build on 10.11 I think that means we'd have to change it to >= 10.11 which I'm not sure we can do in 10.x.  I think we could build on 10.11 and it would still run on 10.10, but people building themselves could no longer build on 10.10 which could force th

[2018-06-22 13:55] mhdawson commented on #1337
@maclover7 did we have issues with the release ci during the last security release?  I have access and was around syncing with Evan.  The main issue that I'm aware of was the issue with one of the new tests in the test CI which I helped investigate/resolved.  Either myself or Rod  are around for security releases to sync on the security announcement and are in nodejs/jenkins-release-admins.  Not t

[2018-06-22 14:02] mhdawson commented on #1378
Do you have some specific examples (I'm ok if they identify me as the culprit :))?  I have a few guesses as I think I've done what you are mentioned in a few cases.  In the case of the compiler selection script I wanted to:

* be able to test before the change landed
* let it run a short time to build confidence before affecting the release jobs (as the same script is used for both test/release).

[2018-06-22 14:06] mhdawson commented on #1375
+1, @gdams has joing IBM full time and I'm looking for him to take ownership of keeping testing on the IBM platforms in good shape as well as helping with other platforms.

[2018-06-22 14:14] mhdawson opened #1380 "Tweak ssh config on AIX release machine"
See https://github.com/nodejs/build/issues/866#issuecomment-328583989 for details.  Removes need to cleanup failedlog regularly.

[2018-06-22 14:53] refack commented on #1375
Done.
@gdams ping me, we'll do a few minutes of onboarding.

[2018-06-22 14:53] #1375 closed

[2018-06-22 15:51] mmarchini commented on #1379
Yep, it's working (postmortem tests reported a missing constant :) ). Thanks!

[2018-06-22 15:54] targos commented on #1379
Where do you see that?

[2018-06-22 15:55] maclover7 commented on #1378
I think this is related to my personal branch to move all `node-test-commit` subjobs to one bash script, and I think that testing this with live jobs is justified, to make sure there are no regressions. Also, since it's tracked using Git, any "bad' commands that may be run are stored in version control.

[2018-06-22 15:55] targos commented on #1379
Ah ok, the subjob is only accessible from the output log. Can we fix that?

[2018-06-22 15:56] maclover7 commented on #1337
@mhdawson Trying to remember what the issue was with release CI, but can't off the top of my head (I _think_ something with the Pi docker machines, but IRC logs are probably helpful with this)

[2018-06-22 16:01] mmarchini commented on #1379
You can access through the nodes=benckmark subjobs:

![image](https://user-images.githubusercontent.com/4048656/41786571-b6539ba0-75fa-11e8-9cd1-5b015590c1a9.png)

It's still kinda cumbersome, but at least we don't need to go through the output log. We probably should improve this in the future though.

[2018-06-22 16:12] targos commented on #1379
OK! I was searching for it at the bottom of the page 🙃

[2018-06-22 16:12] targos commented on #1379
Can we close this issue?

[2018-06-22 16:15] mmarchini opened #1381 "node-test-commit-v8-linux: use test-nearform_intel-ubuntu1604-x64-1 instead of infra-softlayer-ubuntu1404-x64-2"
While trying to fix the CI issues reported in https://github.com/nodejs/node/pull/21334 I found out we use an `infra-softlayer-ubuntu1404-x64-2 ` in `node-test-commit-v8-linux`. This is an infra machine, so not everyone from the Build WG has access to it. Since this is a test job and is run quite frequently, it would be a good idea to change the machine to a test machine. @refack suggested `test-n

[2018-06-22 16:15] #1379 closed

[2018-06-22 16:44] gibfahn commented on #1358
I don't think we have ever given a guarantee of what level you can build Node on, so I'd be fine with changing that. I think I remember @bnoordhuis saying this at some point.

It'd be difficult to be sure that it actually runs on 10.10 though if we can't build on that level.

[2018-06-22 18:59] joaocgreis commented on #1277
PR moving `setup/windows/` to `ansible/`: https://github.com/nodejs/build/pull/1383

[2018-06-22 20:01] joaocgreis commented on #1378
Over long periods of time, this would be a good policy. Anything that's stable should be using the main repo.

+1 to the points raised by @mhdawson, plus:
- what about when things are broken, need to be fixed as fast as possible and no one is available to review? I'd hate to be in a situation where I couldn't fix issues because of this policy.

[2018-06-23 03:44] Trott commented on #1358
If it matters, 10.10 is unsupported by Apple as of September 2017, so it may not be a big deal to stop supporting it...

[2018-06-24 02:01] mmarchini commented on #1378
I think having a clear policy documented somewhere regarding changing job settings is a good idea. IMO we should avoid using untested and unreviewed scripts/config on our main jobs unless something broke and the only way to fix it is by editing job configs.

[2018-06-24 10:36] LucaLanziani commented on #1299
I'm going to close this since https://github.com/nodejs/build/pull/1374 was merged and I'm now listed as member.

[2018-06-24 10:36] #1299 closed

[2018-06-26 21:34] refack opened #1385 "policy: stop using GitHub teams for Jenkins admins ACL"
As the events of the last few days show, the use of GitHub Teams as ACL in other systems is convoluted with other organisational consideration.
While IMHO it still makes sense to keep this parity with most of the teams currently used in Jenkins, I think using this GitHub feature for managing `jenkins-admin` and `jenkins-release-admins` is prohibitive. These two groups are relatively small and stab

[2018-06-27 00:40] joyeecheung commented on #1373
Looks like we missed the time to get @rvagg and @maclover7 in the same meeting. I will close this one for now and defer to another form of meeting/emails.

[2018-06-27 00:40] #1373 closed

[2018-06-27 01:19] ofrobots opened #1386 "grant ofrobots access to an aix machine"
I need to debug this timeout that seems to be happening on AIX only: https://ci.nodejs.org/job/node-test-commit-aix/16036/nodes=aix61-ppc64/console

It would be good if I could get temporary access to an AIX machine.

[2018-06-27 01:58] Trott commented on #1386
+1

[2018-06-27 03:55] maclover7 commented on #1386
+1, just double checking the host you'd like is `test-osuosl-aix61-ppc64_be-2` from that CI job

[2018-06-27 04:16] ofrobots commented on #1386
Yes, having access to the same machine would be best! Thanks!

[2018-06-27 12:05] mhdawson opened #1387 "Node.js Foundation Build WorkGroup Meeting 2018-07-10"
## Time

**UTC Tue 03-Jul-2018 22:00 (10:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 10-Jul-2018 15:00 (03:00 PM) |
| US / Mountain | Tue 10-Jul-2018 16:00 (04:00 PM) |
| US / Central  | Tue 10-Jul-2018 17:00 (05:00 PM) |
| US / Eastern  | Tue 10-Jul-2018 18:00 (06:00 PM) |
| London        | Tue 10-Jul-2018 23:00 (11:00 PM) |

[2018-06-27 12:58] mhdawson commented on #1386
+1

[2018-06-27 13:01] mhdawson commented on #1381
For history, we used the benchmarking machine initially (which is now infra-softlayer-ubuntu1404-2) to avoid interference with regular CI runs.

We want the job to run on at least one x86 linux box.  I like having it run on an older OS versus a newer one as it may be more likely to expose issues as V8 continues to push forward with using newer compiler (and possibly OS) features.

[2018-06-27 13:40] refack commented on #1386
+1
So we have 4 approvals. @ofrobots can you send me your public ssh key?

[2018-06-27 18:00] ofrobots commented on #1386
Sent via IRC.

[2018-06-27 19:40] mmarchini commented on #1381
@mhdawson thanks for the context! I don't have strong opinions regarding which machine we should use, as long as it's accessible by people with `test-*` credentials.

[2018-06-27 20:03] refack commented on #1386
Key added

[2018-06-27 20:45] mhdawson commented on #1381
The machine really should be benchmarking-xxxx but I'll have to see if it was always infra-xxx or was renamed to that for some reason along the way.

[2018-06-29 11:17] d3x0r commented on #359
I picked up this today; I would like to use node as a .so I can load into some android app.
I can't get it to build at all.
[code]

I would think stddef should be able to find bits/c++config.h
but I don't know where that would be defined; it's apparently internal? something --sysroot?

[code]
#9707 referenced the same missing .h and there was a modification to add --force installing the standalone

[2018-06-29 16:57] mhdawson commented on #1387
I'm on holiday the 3rd.

[2018-06-29 17:30] Trott commented on #1387
@mhdawson Is "on the 7th" a typo? Should be "on the 3rd" instead?

[2018-07-03 06:47] LucaLanziani commented on #1387
Any update on this? Is the meeting happening today?

[2018-07-03 12:03] mmarchini commented on #1387
@nodejs/build please use 👍 and 👎 reactions on the [initial post](https://github.com/nodejs/build/issues/1387#issue-336200535) to indicate likely-to-attend-this-one and not-likely-to-be-able-to-attend respectively, so we can decide if we should have the meeting today or postpone it.

[2018-07-03 12:42] refack commented on #1387
I'm available, but it seems like there's is a majority of others who are unavailable, so I'm +1 on moving the date (rather then skipping the meeting).
Maybe the 5th or 6th?

[2018-07-03 21:31] refack commented on #1387
I'd say we officially postpone.

[2018-07-03 21:41] Trott commented on #1387
On the two requests to join the WG, would people like me to follow up with the two individuals? Or something else?

[2018-07-03 21:44] refack commented on #1387
I think @maclover7 tried to reach out, maybe you could too.
If you manage to schedule something, I'd be happy to join as well.

[2018-07-03 21:58] Trott commented on #1303
I believe @danbev is unavailable for most or all of July but hopefully we can pick this up again at the end of July or beginning of August.

[2018-07-03 21:59] Trott commented on #1305
@amiller-gh Are you still interested in joining the Build WG? I'm happy to have a chat here or one-on-one in some other medium (my email is in my GitHub profile) if you have questions or anything like that.

[2018-07-03 22:03] rvagg commented on #1387
Sorry, I should have indicated that I intended to join! Looks like it's been cancelled for us by a lack of Michaels presence to start it. Next week!

[2018-07-03 22:06] Yhozen commented on #580
Maybe the GNOME runtime  is just enough

[2018-07-04 13:29] mhdawson commented on #1387
@nodejs/build I'd suggest the same time 6 EST on July 10th.  Lets see who can make that time

[2018-07-04 17:15] Trott commented on #1387
I could make it if it's an hour later, but not at that time.

[2018-07-05 19:51] mhdawson opened #1392 "Node Summit - Node.js what's next"
Doing a presentation at Node Summit, have one slide on what's next for the build WG.

This is what I have, any suggestion for other things I should call out ?

![image](https://user-images.githubusercontent.com/9373002/42344747-485cba02-806b-11e8-8bca-45f45c1e9d68.png)

[2018-07-06 00:03] rvagg opened #1393 "Document or automate macOS release machine setup"
/cc @mhdawson

We removed the macOS setup docs in https://github.com/nodejs/build/commit/b804f76f9955425d17109bdfe34db0f815b68de7 but I don't believe we're fully automated for release machines so we need to retain this documentation somewhere but it also needs updating because this seems to change with each new macOS version (specifically the signing cert stuff) and whenever I do it my notes from

[2018-07-06 12:49] joyeecheung commented on #1392
Under `more automation tools/scripts`, maybe we can be more specific? Like

- Commit queue
- Tracking flakiness of CI

Refs: https://github.com/nodejs/build/issues/1330

[2018-07-06 12:58] mmarchini commented on #1392
Maybe "requirement for higher gcc and clang levels"?

[2018-07-06 20:03] mhdawson commented on #1392
@joyeecheung thanks for the suggestions, will add

[2018-07-07 21:06] maclover7 commented on #1393
Ah, my bad. Is this mostly covered with https://github.com/nodejs/build/pull/1391? Or do more things need to be added to the Ansible scripts?

[2018-07-07 21:08] maclover7 commented on #1392
Nice slide! Not sure if there's enough room, but maybe mention Ansible specifically with the automation stuff?

[2018-07-08 11:26] rvagg opened #1394 "Automate pulling node secret for host_vars creation"
I've just has a big headache with the Pi cluster because it looks like someone ran Ansible with stale host_vars on the 15th of June more than half of them had their secrets reset to invalid ones so they couldn't get online.

My guess is that it's because I haven't updated my version of host_vars in the secrets repo but I'm not even sure of the best way to do that since we need to do it collaborati

[2018-07-08 16:33] maclover7 commented on #1309
ping @BridgeAR

[2018-07-09 13:02] mhdawson commented on #1387
Moving to July 10th.  @rvagg are you going to be able to make it?

If not we might see if we can do it earlier in the day.

[2018-07-09 19:38] mhdawson commented on #1393
@rvagg looks like things build ok on master, does that line up with what you expected? ie Packagemaker not being needed for recent versions?

[2018-07-09 19:40] mhdawson commented on #1393
These

*2 Install Packages from http://s.sudre.free.fr/Software/Packages/about.html
* Install xz utilities from http://macpkg.sourceforge.net/

Should be able to be added to the ansible scripts. Installing them on the test machines as well as the release machines should be fine (even though they are not necessary on the test machines).

I suggest that we should be the downloads on the ci machine u

[2018-07-09 20:51] mmarchini opened #1396 "Proposal: use Prometheus to monitor our infrastructure"
Today our monitoring and notification system are users pinging us when a machine is defective. I think we can do better, especially for simple cases like memory and HD starvation. Prometheus ia an interesting tool we could use to monitor (almost?) all of our infrastructure. We could start using it to monitor the resources being used by our servers plus notify us when those resources reach some thr

[2018-07-09 20:57] mhdawson commented on #1396
I'm +1 general to using a tool to monitor our systems.  I think what would be good is to demo (maybe even just screenshots in this issue) how the data will be reported/surfaced.

Just want to make sure we end up with something we can take action on as there will be some additional overhead for an additional machine inters of maintenance.

[2018-07-09 21:02] mhdawson commented on #1394
+1 for being careful when we run Ansible. Ideally we'd be able to run them at any time, but I don't think are there yet in terms of process and testing to be comfortable doing that (at least for me to be confortable)

[2018-07-10 01:52] maclover7 commented on #1396
Great idea! I think the biggest roadblock to something like this would be platform availability. Can you double check that Prometheus could be run on all of our test and release cluster machines?

[2018-07-10 12:21] mmarchini commented on #1396
I'll try to come up with a short demo after NodeSummit.

Prometheus would only need to run on a single server, and we would install [node-exporter](https://github.com/prometheus/node_exporter) on the other platforms to collect metrics ([wmi_exporter](https://github.com/martinlindhe/wmi_exporter) for Windows machines). `node-exporter` is supposed to work well for *NIX systems. Regarding architectur

[2018-07-10 12:51] gdams commented on #1396
we should also consider nagios which I've successfully used on other OSS projects

[2018-07-10 12:56] targos commented on #1396
Or Icinga (it's a fork of Nagios). A big advantage that I can see with Nagios/Icinga is that you don't need to install anything on the machines that you want to monitor. It can just execute commands by ssh.

[2018-07-10 15:48] mhdawson commented on #1387
I guess we'll have it at the original time 6pm EST. @Trott I can't make it an hour later, and we have 5 people who can make 6pm so figure its best to stick with that now even though we've not heard from Rod.

[2018-07-10 15:51] Trott commented on #1387
@mhdawson I believe Rod mentioned in the #node-build IRC channel today that he's on vacation.

[2018-07-10 17:17] mhdawson commented on #1387
@Trott thanks for the update, I think its too late to adjust time now even though.

[2018-07-10 21:58] mhdawson commented on #1387
Will start meeting in a few minutes.

[2018-07-10 21:59] maclover7 commented on #1387
Thought I had put a thumbs down earlier, but I'm in the same boat as @Trott for today, could make it an hour later, but can't attend at 6

[2018-07-10 22:06] mhdawson commented on #1387
Meeting is live now

[2018-07-10 23:05] mmarchini commented on #1396
Cool, I had no idea Nagios was able to do that. I suggested Prometheus because I'm  familiar with it and I think its philosophy fits well with what we need in terms of monitoring: something reliable, able to notify when things go wrong, and easy to maintain. We might want to come up with a list of upsides/downsides of each tool before deciding which one to use. We could even consider using both if

[2018-07-11 17:08] addaleax opened #1397 "Request access to macOS machine"
For investigating test issues with https://github.com/nodejs/node/pull/21561.

[2018-07-11 17:12] Trott commented on #1337
@maclover7 Is this being addressed in your opinion (via talks with @rvagg and activity in the Build WG) or should I set up a separate meeting specifically about this? (Hit me up offline on IRC or elsewhere if you'd rather not discuss in a public venue right now.)

[2018-07-11 18:43] maclover7 commented on #1397
+1, which host do you need access to?

[2018-07-11 21:14] refack commented on #1337
This issue was discussed yesterday at Build WG meeting (https://youtu.be/rzyqeVzHCCg?t=877). We tried to figure out how to improve the process while the current permission status is discussed.

AFAICT this could be removed from TSC agenda until the build WG (namly @rvagg) has some new recommendations.

[2018-07-11 21:18] refack commented on #1397
👍

[2018-07-11 21:19] refack commented on #1386
@ofrobots is this still needed?

[2018-07-11 23:33] ofrobots commented on #1386
Nope. This access can be removed and the issue closed.

[2018-07-11 23:42] refack commented on #1386
Thanks.
Removed.

[2018-07-11 23:42] #1386 closed

[2018-07-12 12:47] mhdawson opened #1398 "test-azure_msft-win10-x64-3 - Not in inventory?"
I was looking at the failure in this build https://ci.nodejs.org/job/node-test-node-addon-api/MACHINE=win10/393/console but I can't find test-azure_msft-win10-x64-3 in
https://github.com/nodejs/build/blob/master/ansible/inventory.yml

@joaocgreis can you give me info on how to connect?

[2018-07-12 13:03] refack commented on #1398
@mhdawson see https://github.com/nodejs/build/pull/1383#issuecomment-400469595
Sinse ansible isn't 100% compatible with the existing hosts (and neither is ssh) they are in `████████████/build/test/windows-servers.md`