[2020-06-22 10:34] bnoordhuis opened #2363 "Upgrade openssl to 1.1.1g on ubuntu1804_sharedlibs_openssl111_x64"
Refs: https://github.com/nodejs/node/pull/33981#issuecomment-647107568 - [this CI run](https://ci.nodejs.org/job/node-test-commit-linux-containered/20895/nodes=ubuntu1804_sharedlibs_openssl111_x64/consoleFull) specifically

I'm 90% sure that's caused by that buildbot using openssl 1.1.1b in `/opt/openssl-1.1.1b`. Can it be upgraded to 1.1.1g?

Alternatively, Ubuntu 18.04 has a security back-port o

[2020-06-22 10:55] richardlau commented on #2363
Yes, it can. Relevant lines in ansible are https://github.com/nodejs/build/blob/d4b074cd221cce329ee1f31292e3114845390a56/ansible/roles/docker/templates/ubuntu1804_sharedlibs.Dockerfile.j2#L57-L65

PR's welcome 😄.

[2020-06-22 10:57] richardlau commented on #2363
(To clarify, the ansible template will first need to be updated and then one of https://github.com/nodejs/build#jenkins-admins will need to reansible the sharedlib containers.)

[2020-06-22 21:26] mhdawson commented on #2362
I prefer expanding versus shortening the history

[2020-06-22 21:30] mhdawson commented on #2359
I'm +1 for notifications. We used to have more like those for machines going offline, failed jobs etc. which were useful but those have stopped working over time and we've not had time to fix.

[2020-06-23 05:10] rvagg commented on #2363
I'll do it. May as well do Alpine 3.12 while I'm there.

[2020-06-23 05:38] jbergstroem commented on #2362
I will create a new volume and mount it for jenkins. Will announce a service period for this shortly due later this week in a TZ that fits the cause. I expect it to be relatively quick, but still.

Since we don't control vm initialization in ansible just yet, recreating CI with a larger disk base would be enough to cover the changes I'm doing (read: no need to add more ansible playbooks)

[2020-06-23 05:39] rvagg commented on #2362
Something much discussed but never quite pulled off. There were a couple of attempts to set up a monitoring system for all our machines but nothing ever grew to maturity. You're welcome to try, and maybe being more limited in scope would be a way to actually get something working, I think previously the attempts have been to monitor ALL THE THINGS which might speak to their failure to eventuate.

[2020-06-23 09:32] rvagg commented on #2363
Upgraded to 1.1.1g, see #2364, but seeing failures on test-crypto-authenticated-stream on master, https://ci.nodejs.org/job/node-test-commit-linux-containered/nodes=ubuntu1804_sharedlibs_openssl111_x64/20939/, so I don't think the problem is in https://github.com/nodejs/node/pull/33981, it's on master already.

[2020-06-23 09:32] #2363 closed

[2020-06-23 10:15] rvagg opened #2365 "Pi3 troubles"
Since I redid the Pi boot disk arrangement a few weeks ago, the Pi 3's have been having problems staying online. The Pi 1's and 2's seem to be just fine, all of them are online and none seem to have needed fixing. The 1's are used less, but the 2's should be used as much as the 3's. I think the `git-update-nodesource` job might be pinned to the 3's but that should be the main difference. Yet twice

[2020-06-23 11:30] AshCripps commented on #2362
I think limiting the monitoring to just infra machine and a few other key machines like the workspace machines is the best bet, we should have enough redundancy in the test machines that one falling over shouldnt break us. There are plenty of open source solutions with loads of integrations (for example we could get alerts sent to our slack channel which should mirror to IRC, and if the warning is

[2020-06-23 21:32] sxa commented on #1138
@richardlau What would it take to update the unofficial-builds site with new builds? (Not sure who produced the old ones) and I presume given @jkunkee's comments that the code made it into the head stream? Are the alpha builds mentioned in a previous comment around anywhere @joaocgreis?

[2020-06-23 22:16] richardlau commented on #1138
I think @joaocgreis was manually producing the old ones (https://github.com/nodejs/unofficial-builds/issues/2).

[2020-06-24 05:54] rvagg commented on #2360
did an OS reload in IBM cloud and a reinstall with Ansible, it's back online now

[2020-06-24 05:54] #2360 closed

[2020-06-24 05:56] rvagg commented on #2355
This just needs someone from @nodejs/jenkins-admins to do the work. There's also some remnants in ci-release too that could be removed. I already moved the cron jobs for nightlies previously.

[2020-06-24 13:29] jbergstroem commented on #2355
(note: remove these jobs from disk too, not sure if removing the job will do this)

[2020-06-25 22:56] richardlau commented on #2072
With 8.x now End-of-Life and https://github.com/nodejs/node/pull/25868 now on the 10.x branches we can probably reenable running the flaky tests in the debug builds (i.e. `--flaky-tests=dontcare`).

[2020-06-25 23:06] jbergstroem opened #2366 "Jenkins host: scheduled downtime Sunday June 28 10pm pdt"
I will be taking the jenkins host down to expand the disk to remedy recent disk issues due to growth. I will create a separate volume and mount it to `/var/lib/jenkins`.

The scheduled downtime will be 1h, but I expect it to be done sooner.

[2020-06-25 23:06] jbergstroem commented on #2362
Opened/scheduled an issue in #2366 to handle this.

[2020-06-25 23:08] jbergstroem commented on #2361
I will be expanding available space to jenkins this coming Sunday. I will close this issue after that has been done and confirmed working unless there are outstanding issues.

[2020-06-25 23:09] jbergstroem commented on #2362
@AshCripps during my Very Active build days (read: lots of free time), I started setting up a InfluxDB/Grafana stack since telegraf more or less runs everywhere. I don't know what you have in mind, but perhaps we can have a chat about it and see if there are quick wins?

[2020-06-25 23:14] AshCripps commented on #2362
@jbergstroem funnily enough that was pretty much what I had in mind as something simple and widely used/supported

[2020-06-26 07:05] Aschen opened #2367 "About stripping node binaries"
I noticed that stripped Node binaries are ~10% smaller.
Is it intended to keep the object and debug information into the released binaries?

Node.js 14 binary is `72.4MB` and the stripped version is `62.4MB`

[2020-06-26 15:05] Trott opened #2389 "Auditing @nodejs/platform-windows"
Hi, @nodejs/platform-windows! If you're still active and want to be pinged on windows issues, can you please respond here?  A single word comment of "active" or "stay" or "remain" or something like that is fine. Thanks!

Refs: https://github.com/nodejs/admin/issues/518

[2020-06-26 18:46] mmarchini commented on #2367
It is. Many tools used for observability in production relies on non-stripped binaries to work properly. Also, it's possible to strip the binary afterwards in cases where the users what to do it, whereas it's not possible to reverse the stripping without having the contents that were stripped (which would make the bundle size almost equal as a non-stripped binary anyway). Because of that, official

[2020-06-26 23:45] Trott opened #2368 "IPv6 link-local address oddities on LinuxONE in CI"
I could be mistaken somewhere somehow, but I think [the problem with a test on LinuxONE](https://github.com/nodejs/node/pull/14500#issuecomment-650452791) might be a misconfiguration on the machine. I'm not sure who to ping about this. Maybe @mhdawson knows?

IPv6 link-local addresses start with `fe80:`.

Below is the output of `os.networkInterfaces()` on that machine. As you can see, the `lo` int

[2020-06-27 04:07] mmarchini commented on #2201
Ok, I got the ultra basic workflow working (just land, reverting on failures still tbd)! First PR merged with a commit queue as proposed above on a test repository: https://github.com/mmarchini-oss/automated-merge-test/pull/12. Also, it leaves a comment if `git node land` failed (pinging author and committer still tbd, although maybe it is not needed): https://github.com/mmarchini-oss/automated-me

[2020-06-27 04:52] mmarchini commented on #2201
Ok, I've been thinking more about how to revert when things fail. One option would be to revert in the push workflows, but this has many problems: GitHub doesn't let users declare dependencies across workflows, so either we would need to unify all files which run on push into one, or we would need to duplicate the revert logic on every workflow. Furthermore, GitHub hard stops a job when a step fai

[2020-06-27 11:42] Aschen commented on #2367
OK that's what I thought, thanks!

[2020-06-27 11:42] #2367 closed

[2020-06-27 12:00] richardlau commented on #2258
This was fixed by https://github.com/nodejs/build/pull/2346.

[2020-06-27 12:00] #2258 closed

[2020-06-27 12:00] #2239 closed

[2020-06-27 12:02] richardlau commented on #2239
This happened. We're currently on Jenkins ver. 2.222.4.

[2020-06-27 12:05] richardlau commented on #2188
The notarization changes happened and we're also using Orka in the CI. @AshCripps Is there anything remaining to do for this issue?

[2020-06-27 12:05] #2155 closed

[2020-06-27 12:08] #1519 closed

[2020-06-27 12:14] AshCripps commented on #2188
whats left is removal of the old hosting solution and possibly trialing the jenkins plugin but those can be/are tracked in other issues so closing

[2020-06-27 12:14] #2188 closed

[2020-06-27 12:22] richardlau commented on #2166
I didn't at the time, I do now 😀. This does require updating all the `node-test-commit-*` + the linter job, preferable all at the same time. I'll see if I can carve out some time later next week.

[2020-06-27 12:32] richardlau commented on #2126
@rvagg Can this be closed now?

[2020-06-27 12:34] richardlau commented on #2120
Of the jobs linked to in this issue, only https://ci.nodejs.org/view/All/job/node-test-napi-modules-citgm-v8.x/ remains.

[2020-06-27 12:36] richardlau commented on #2084
@mhdawson I think this has been resolved now?

[2020-06-27 19:27] mmarchini commented on #2166
Wouldn't updating the `node-test-pull-request` be enough at least to fix the comment? This one seems more urgent (I'm reluctant of testing [auto start CI via labels](https://github.com/nodejs/node-auto-test/issues/15) because it will spam a bunch of old issues), updating the others could be done at a separate time.

[2020-06-27 19:38] richardlau commented on #2166
Updated just `node-test-pull-request` via https://ci.nodejs.org/job/node-test-pull-request/jobConfigHistory/showDiffFiles?timestamp1=2020-06-01_13-53-19&timestamp2=2020-06-27_15-37-02

[2020-06-27 19:50] richardlau commented on #2166
@mmarchini I started https://ci.nodejs.org/job/node-test-pull-request/32125/ but I don't think it's worked. It did trigger https://ci.nodejs.org/job/post-build-status-update/1028669/ but doesn't look like it commented in https://github.com/nodejs/node-auto-test/pull/19.

[2020-06-27 19:52] mmarchini commented on #2166
It's not commenting on node-auto-test, but it's also not commenting on nodejs/node. And when starting a CI on a PR from nodejs/node it still comments correctly. Not the best outcome, but I call it a win :)

We probably need more changes on github-bot? I don't have access to the machine so I can't look at the logs to know what's wrong.

[2020-06-27 19:54] mmarchini commented on #2166
Maybe the bot lacks permission to comment on other repos?

[2020-06-27 19:54] richardlau commented on #2166
It's probably https://github.com/nodejs/github-bot/blob/4cce2b9b35f1d3db9d59c06f48d1d2dc63663260/scripts/jenkins-status.js#L4?

[2020-06-27 20:05] mmarchini commented on #2166
The bot doesn't have write permission on that repo. I made a request to add it: https://github.com/nodejs/node-auto-test/issues/20

[2020-06-28 02:47] mmarchini commented on #2201
Ugh, just hit another wall and honestly I'm starting to get tired of GitHub Actions :sweat_smile:

So according to the docs, events triggered by GITHUB_TOKEN will not trigger Action runs. I tested it and confirmed that's the case. The docs also say that if you use a personal token then the Action will run. I tried using a personal token to push but the push event is still not triggered, which mean

[2020-06-28 03:54] mmarchini commented on #2201
Ok, never mind, this was an implicit behavior of the checkout action. I needed to pass a personal token to the checkout action too. Will probably start a PR on core tomorrow to discuss adding this. In the first iteration I suggest we leave for collaborators to manually revert: using the commit queue _shouldn't_ be so different from git node land that it would cause more failures on master. In fact

[2020-06-28 17:16] jbergstroem commented on #2362
So, a few setbacks:
- The datacenter we are in doesn't support volume storage
- We cannot switch DC without changing IP which may impact the jenkins agents contract (needs to be confirmed). Also, lots of firewall-related stuff tied to agents

The other options available to us are:
- Expand the current volume to the next size (640T instead of 320T drive) which also is not risk free
- Lower how long

[2020-06-28 19:44] phillipj commented on #2166
Protip; the logs are actually exposed over HTTPS. I'll send you a couple of `curl` examples on IRC..

[2020-06-29 00:38] jbergstroem commented on #2362
I went through a few of the jobs and it looks to me that the [job pruning script](https://github.com/nodejs/build/blob/master/backup/backup_scripts/remove_old.sh) either isn't run or doesn't work as expected. I haven't been involved in this part much as of lately; I will wait for some confirmation about the current state before doing any potentially destructive (removal of jobs, resizing of disks,

[2020-06-29 02:06] rvagg commented on #2362
@jbergstroem /var/spool/cron/crontabs/root does it weekly: `/opt/local/bin/rsnapshot -c /opt/local/etc/rsnapshot.conf weekly && /root/backup_scripts/remove_old.sh ci-release.nodejs.org && /root/backup_scripts/remove_old.sh ci.nodejs.org`

No guarantee that it's working properly of course! Might be worth running it manually and watching that it's doing the right thing? The regex might need updating

[2020-06-29 02:06] rvagg commented on #2362
that's on our backup server btw, infra-joyent-smartos15-x64-1

[2020-06-29 02:09] #2126 closed

[2020-06-29 02:39] jbergstroem commented on #2362
Ah, was looking in the wrong place. I don't think the deletion scripts are working as properly then. I will have a look now.

[2020-06-29 02:54] jbergstroem commented on #2366
Closing; the issue was related to cleanup jobs and backups. No need to modify the vm.

[2020-06-29 02:54] #2366 closed

[2020-06-29 02:57] jbergstroem commented on #2361
Going to close this since we identified space-related issues and fixed them. Please reopen if I'm incorrect in my assessment.

[2020-06-29 02:57] #2361 closed

[2020-06-29 04:49] #1674 closed

[2020-06-29 12:04] AshCripps commented on #2315
Theres a 12 release that should go out tomorrow after which I can move on to the next steps (provided nothing breaks)

[2020-06-29 13:30] AshCripps commented on #2357
Ping those who havent responded yet:
@LucaLanziani
@bnoordhuis
@addaleax
@Starefossen
@maclover7
@joyeecheung
@gireeshpunathil

[2020-06-29 13:32] AshCripps commented on #2358
Ping those who havent responded:
@maclover7
@joyeecheung

[2020-06-29 13:34] bnoordhuis commented on #2357
Active(ish)

[2020-06-29 13:50] LucaLanziani commented on #2357
Thanks for the ping @AshCripps , I've tried my best but it's proven hard to find the time so I think it's for the best if I get removed from the working group.

Thanks everyone for the opportunity and sorry for not coming forward sooner about this. Hopefully things will change in the future and I will be able to help a bit here ;).

[2020-06-29 15:07] Trott commented on #2368
Do you have a non-loopback IPv6 interface that has an address starting with `fe80:`? If so, I'd be interested to know what happens if you apply https://github.com/nodejs/node/pull/14500 to master, compile, and run the test added in that pull request. But I also know that can be an annoying amount of work...

Now that you mention it, though, whether or not IPv6 loopback requires an `fe80:` interfac

[2020-06-29 15:36] Starefossen commented on #2357
I haven’t been much active lately but if there are interest for moving more of the build and test infrastructure towards Infrastructure as Code with Terraform and/or Kubernetes I would love to help out with that.

[2020-06-29 17:22] sxa commented on #2368
I have seen IPv6 related failures on zLinux elsewhere (outside Node) - I'll try and take a look at that PR in the next day and see what happens on one of my systems unless someone else gets there first :-)

[2020-06-29 19:57] sxa commented on #2368
`test-dgram-udp6-link-local-address` seems to have passed ok on my Marist system so I think we're probably ok

[2020-06-29 20:45] mmarchini commented on #2358
Joyee is on vacation, I'd suggest wait until she's back for a response.

[2020-06-29 22:28] Trott commented on #2368
That is both encouraging and discouraging at the same time. I wonder why it fails consistently on LinuxONE in CI, but seemingly nowhere else. Bug in the code? Bug in the test? Bug in LinuxONE? Misconfiguration in CI?

[2020-06-30 11:12] BethGriggs opened #2369 "release-nearform-macos10.15-x64-1 permission denied"
https://ci-release.nodejs.org/job/iojs+release/nodes=osx1015-release-tar/6142/console

[code]

[2020-06-30 11:22] AshCripps commented on #2369
This arised after I restarted the agent which had been down since 9 jun! do we install monit on macs as part of ansible for auto restart of the agents?

[2020-06-30 11:52] rvagg commented on #2369
I don't think monit is the right solution for macos. I used to install a launcher profile on macos to let the system handle restarts but I don't see any evidence of that in Ansible now (this was pre-ansible for macos when I managed it all manually). There's an XML config you load into the system that auto-starts it on boot but will also auto-restart it when it dies if you set the right property in

[2020-06-30 11:57] AshCripps commented on #2369
Something definitey go awry in the ansible scripts that machine doesnt have jenkins in launchctl, it used a start.sh which calls java directly:

[code]

[2020-06-30 12:43] jbergstroem opened #2370 "grafana/monitoring: request for github client credentials"
As part of improving monitoring, I've set up a [grafana](https://grafana.com/), [influxdb](https://www.influxdata.com/products/influxdb-overview/) and telegraf instance at Joyent, available at https://grafana.nodejs.org. I would like to set up a github oauth2 client to handle ACL, similar to how we do authorization with jenkins.

cc @mmarchini

[2020-06-30 13:51] AshCripps commented on #2369
ive cleared up the workspace on the machine to remove the locked files

[2020-06-30 13:53] AshCripps commented on #2369
hmmm, when I closed my terminal session it broke the connection for the agent again something is really not right with the setup. For now I will run it through the VM itself on the host and hope that connection stays up

[2020-06-30 15:44] jbergstroem commented on #2370
To elaborate, we will collect vm basics (cpu, ram, disk, net, ..) per host and use grafana to both make dashboards available (to build and likely a larger crowd) as well as setting up alerts to notify people once things are not working as intended.

[2020-06-30 15:49] AshCripps commented on #2370
Will this be targetting a subset of machines or do you plan to roll it out to all machines?

[2020-06-30 15:53] jbergstroem commented on #2370
Telegraf supports [all kinds of architectures](https://github.com/influxdata/telegraf/#nightly-builds), so this basically boils down to incorporating the ansible role as well as getting it deployed across the fleet. Right now I did this as a "make it work"-work, but will add the automation bits at some point.

For now, I will focus on critical machines: `www`, `ci`, `ci-release`, `backup`, `unencr

[2020-06-30 16:36] MylesBorins commented on #2370
If you are looking to get a +1 for using a GitHub app you should open an issue on http://github.com/nodejs/admin to ask permission with a link to the app you plan to install (assuming I understood the request appropriately)

[2020-06-30 17:06] BethGriggs commented on #2123
Posted in IRC, but this seems to have happened again for the v12.18.2 release post - https://github.com/nodejs/nodejs.org/pull/3289

[2020-06-30 17:38] mmarchini commented on #2370
I suggested Johan open an issue here first to share more detailed context (and to let folks know this is being worked on), and then reference it on nodejs/admin.

FWIW I'm +1 on this effort, it's something I wanted to implement a while back but never got the time to do.

[2020-06-30 19:30] codebytere opened #2371 "Resume Build option for Release Builds"
Would it be possible to add the ability to resume build for release jobs, a la:

<img width="196" alt="Screen Shot 2020-06-30 at 12 29 09 PM" src="https://user-images.githubusercontent.com/2036040/86168635-5841f100-bacd-11ea-8157-41a48c04edd0.png">

In my current case, i have one failure: https://ci-release.nodejs.org/job/iojs+release/6144/nodes=osx1015-release-tar/console

while all other jobs pa

[2020-06-30 23:02] richardlau commented on #2371
Unfortunately I'm not sure this is possible without recreating the job from scratch.

Resume build is a feature from the Multijob plugin (https://issues.jenkins-ci.org/browse/JENKINS-30505).

node-test-pull-request and node-test-commit are [multijob](https://wiki.jenkins.io/pages/viewpage.action?pageId=59510168) projects whereas the iojs+release is a [multi-configuration (i.e. matrix)](https://wik

[2020-07-01 00:41] rvagg commented on #2123
/cc @codebytere

Here's the output of the bottom of https://nodejs.org/github-webhook.log:

[code]

The bit above that is a successful build, which took 125670 ms.

The next two I believe are yesterday's 12.x and 14.x but says `build-site.sh already running`. That comes from here: https://github.com/nodejs/build/blob/41d831de68ee0e65f5dd78763f8a3b71190fac40/ansible/www-standalone/resources/scripts

[2020-07-01 02:02] jbergstroem opened #2372 "handle site redirects at CDN / edge"
We have a few million redirects (301's, 302's) a day due to how people choose to enter the site. We currently cater these url's

- http://nodejs.org (301 to https)
- http://www.nodejs.org (301 to https)
- https://www.nodejs.org (301 sans www)
- https://nodejs.org (302 to `/en/`)

Since cloudflare allows us to create pagerules to handle these cases I'm going to attempt enabling it for a bit to moni

[2020-07-01 02:09] jbergstroem commented on #2372
<img width="1305" alt="Screen Shot 2020-06-30 at 10 08 46 PM" src="https://user-images.githubusercontent.com/176984/86195160-4b012280-bb1e-11ea-8f2c-5b926543dbee.png">

Before / after

[2020-07-01 02:13] jbergstroem commented on #2372
..and from cloudflare side:
<img width="861" alt="Screen Shot 2020-06-30 at 10 12 22 PM" src="https://user-images.githubusercontent.com/176984/86195390-cd89e200-bb1e-11ea-8891-777490de267f.png">

[2020-07-01 02:23] jbergstroem commented on #2372
Note: I updated the `/en/` redirect to be `302` instead of `301`.

[2020-07-01 02:49] joyeecheung commented on #2358
Please keep my access (thanks @mmarchini for responding for me ;)

[2020-07-01 02:49] jbergstroem commented on #2359
related: #2370

Grafana hooks into many of these type of communication mediums; we just need to monitor what we expect to work and alert when it doesn't. Once we have github integration I will expand who has access (read: as many as possible).

[2020-07-01 03:32] jbergstroem commented on #2362
Just wanted to follow up here: I ran the script manually, once, giving us about half of the space back. I will be keeping an eye on this since the underlying issue - making the script not execute - needs fixing first.

[2020-07-01 13:22] AshCripps commented on #2369
Turns out I forgot to plug my brain in when starting the agent, started it as the wrong user its now working

[2020-07-01 13:22] #2369 closed

[2020-07-02 05:02] jbergstroem commented on #2359
So, we're currently collecting system information from `ci`, `ci-release`, `www`, `gh-bot`, `metrics` (the host that runs these alerts) and in a foreseeable future the `backup` host. We're also collecting influxdb statistics (predicting when metrics host could become an issue) as well as all web [nginx] servers (`ci`, `ci-release` and `www`) basic data. Finally, we will soon be collecting a bit of

[2020-07-02 10:16] AshCripps commented on #2315
weve been given a kick from macstadium

[code]

With that in mind I plan to start removing the 10.10 labels from jobs and removing the 10.11 machines from CI today.
I want to do this ASAP before the next 10.x release to ensure we dont break anything huge (we shouldnt really these machines are long out of support so we have no obligation to keep them around).

[2020-07-02 12:29] mhdawson opened #2373 "Node.js Build WorkGroup Meeting 2020-07-07"
## Time

**UTC Tue 07-Jul-2020 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 07-Jul-2020 13:00 (01:00 PM) |
| US / Mountain | Tue 07-Jul-2020 14:00 (02:00 PM) |
| US / Central  | Tue 07-Jul-2020 15:00 (03:00 PM) |
| US / Eastern  | Tue 07-Jul-2020 16:00 (04:00 PM) |
| London        | Tue 07-Jul-2020 21:00 (09:00 PM) |

[2020-07-02 14:35] mhdawson commented on #2354
@nodejs/build one more call for interest.

[2020-07-02 14:45] AshCripps commented on #2354
@mhdawson what would discussion be about? just how build is run and what our day to day looks like?

[2020-07-02 15:37] jbergstroem commented on #2354
Not very clear to me what the expectations would be either.

[2020-07-02 15:42] AshCripps commented on #2315
So think ive removed all labels of 1010 and 1011 from jenkins from at least the important jobs. Will wait for the jenkins-config repos to update before having another pass through tomorrow then I can start deleting the 10.11 machines in jenkins. Will wait on deleting the 10.10 machines, I also need to edit the version selector script for both.

[2020-07-02 15:43] richardlau opened #2374 "Read-only filesystem on test-softlayer-debian9-x64-1"
Build failed on test-softlayer-debian9-x64-1 due to `Read-only file system`.
https://ci.nodejs.org/job/node-test-commit-linux/nodes=debian9-64/35914/console

[code]

[2020-07-02 15:52] AshCripps commented on #2374
https://github.com/nodejs/build/issues/2360 this was only rebuilt recently

[2020-07-02 16:11] richardlau commented on #2374
I've marked test-softlayer-debian9-x64-1 offline in Jenkins for now.

[2020-07-02 17:45] mhdawson commented on #2368
@sxa I would be useful if you clarified what you mean by "on my Marist system".  If it passed on a different machine than the one we have in the CI we need to figure out what the difference is in terms of configuration.

[2020-07-02 18:34] sxa commented on #2368
I think a comment I posted before that got lost ... Not sure what happened there as I'd written more in that comment. Unfortunately there was quite a bit of detail that I've now lost so I'll try and remember ...

The issue is definitely with the network interface name that is selected by the test. If it has a `-` or `.` in the name then the test fails. I've verified this by changing network interf

[2020-07-02 19:19] mhdawson commented on #2354
I forwarded Brian from the foundation the "jenkins care and feeding scope" that we'd reviewed earlier. They said they would like to get together to better understand our infra. So to answer the question it is to better help them understand what we have, answer any questions etc.

[2020-07-02 19:29] mhdawson commented on #2084
@richardlau, yup, closing

[2020-07-02 19:29] #2084 closed

[2020-07-02 20:25] AshCripps commented on #2354
in that case I don't mind attending

[2020-07-02 21:49] mhdawson commented on #2370
Thanks for the heads up. Once we can log in I'd be interested in getting access.

[2020-07-02 22:20] mhdawson commented on #2371
Even if we have to recreate from scratch I could see this being quite helpful.

[2020-07-02 23:12] jbergstroem commented on #2354
I can join too.

[2020-07-03 01:34] jbergstroem commented on #2372
This has been running for 48h+ without issues. Closing.

[2020-07-03 01:34] #2372 closed

[2020-07-03 01:53] jbergstroem opened #2375 "Collecting input: validating releases and improving cache"
I'm looking at how we can improve our end to end storage of distfiles. Part of that also touches our release process, pushing distfiles and making these public (in the eyes of a user as well as cache).

To extend my train of thought a bit; I want our end storage to be something a bit more distributed as well as "colder"; be it GCS or s3-like. This way, we can offload a lot of traffic from our serv

[2020-07-03 01:54] jbergstroem commented on #2375
My first thought was to have any ci output with destination "dist" would land in a staging folder. From staging to cold storage (read: never write twice, never delete), there would be some kind of validation. Preferably automatic (checksums, extracting, binary checks, ..) but could also be manual since parts of our release is already intentionally manual. Based on the input I collect this may chan

[2020-07-03 02:11] rvagg commented on #2375
We invalidate cache because brute-force "invalidate all" is the best tool we have and when we publish new website updates and directory indexes we need those updates to be pushed out to the edges and not stay stale. CF has more fine-grained controls now but I think it means tagging everything into groups with nginx so we can invalidate just certain things. That work hasn't been done because ... it

[2020-07-03 02:12] jbergstroem opened #2376 "Splitting dist and documentation paths in uri"
We currently have multiple ways of linking to and hosting both downloads and documentation.

Targeting documentation alone, one linked from front page and one from docs
- https://nodejs.org/dist/latest-v12.x/docs/api/ and
- https://nodejs.org/docs/latest-v12.x/api/

If you check [our nginx config](https://raw.githubusercontent.com/nodejs/build/master/ansible/www-standalone/resources/config/nodejs.

[2020-07-03 02:21] rvagg commented on #2354
I've been holding off from this because my attendance is going to screw up timeslot planning. Maybe send me the invite when you arrive at a time but I'm not likely to show up if it's earlier than ~10pm UTC.

[2020-07-03 02:24] rvagg commented on #2376
It's going to be in enterprise workflows where they're using `curl` without `-L`, and we're not likely to see them until we break stuff unfortunately! We could do this slow-ish, by first enabling it in parallel to the other options, and then trying it over a weekend, and then trying it over a week where there's a new release, and then turning it on full-time.

[2020-07-03 02:27] rvagg commented on #2371
I think right now you can untick builds you don't want run if you do a re-run can't you? It's not ideal, but at least it doesn't force you to rerun everything and you can just rerun an individual builder if you want.

[2020-07-03 02:27] jbergstroem commented on #2376
If we can catch 50% of the traffic, that's a great improvement.

[2020-07-03 02:30] jbergstroem commented on #2375
I usually read this as "I don't know what I'm changing". My dream scenario would be to understand these changes and introduce a flow where we can replace "restarting windows" with "`killall Finder`".

Cache tags is one solution. The landscape has changed a bit so I would say we have more options now.

Discovering all exceptions would probably help us make the best decision and Make It So.

[2020-07-03 02:32] rvagg commented on #2374
ouch, I guess it needs to be discarded and reprovisioned, I'll try and get to that soon

[2020-07-03 02:40] rvagg commented on #2375
Right, it's always been a crappy setup but originally we didn't have much choice and as options started appearing they were just too complicated and time consuming to implement. We have two broad cases which overlap:

* website redeploy - all of the stuff we serve as website content would need to be invalidated, or magically just the things that have changed if that's possible. There might be flex

[2020-07-03 02:45] rvagg commented on #2373
@AshCripps wasn't there a new timeslot for these early meetings since we agreed it could move back a bit to accomodate Europe better?

[2020-07-03 02:46] jbergstroem commented on #2375
This is also what I find being the biggest win (hence #2376).

I don't remember this - can you share a link?

Doable; but ultimately not scalable hand-tooling. We can set timeouts from nginx based on file-types and do exceptions for indexes. The maintainable solution here is usually having a caching server in front that more easily can express logic for these cases; be it ATS or varnish (or cloudf

[2020-07-03 02:47] jbergstroem commented on #2373
I'm in and can do late/early to accommodate ☕

[2020-07-03 02:56] rvagg commented on #2375
what I mean is that "release" type builds are special cases of all the types. nightly, test and rc just get auto-promoted and they don't interact with the rest of the website at all, they're just a new subdirectory, a change to index.json and index.tab in their respective parent directories and a refresh of that parent directory index. For release builds that are either the current "current" line

[2020-07-03 04:24] jbergstroem commented on #2375
This seems highly relevant to #2359 as well.

[2020-07-03 08:32] AshCripps commented on #2373
I raised an issue on this but then dropped the ball on getting peoples time preference sorted....probs best to leave it as is this week and ill try to set a doodle or something to get a good time for people

[2020-07-03 10:40] richardlau commented on #2315
I have moved https://ci.nodejs.org/job/nodereport-continuous-integration-latest/ over from osx1010 and osx1012 to osx1014 and osx1015.

[2020-07-03 10:57] AshCripps commented on #2315
As part of this im going to delete this job - https://ci.nodejs.org/job/node-test-commit-osx-macstadium/

[2020-07-03 11:22] AshCripps commented on #2315
I have deleted both 10.11 machines from jenkins

[2020-07-03 11:32] rvagg commented on #2315
Did you check the labels were removed from all the jobs they're referenced in before you removed the machines? if you don't do that then the can't be deleted from the UI and have to be done by editing the XML. I normally grep all the XML files to find where those labels are and go remove them manually from each job. If the labels aren't present on active machines then the UI won't show them anywhe

[2020-07-03 11:36] AshCripps commented on #2315
@rvagg yes the only mentions of 10.11 left are descriptions not label strings. I was using the jenkins config repo to grep for them but I will double check.

[2020-07-03 11:38] AshCripps commented on #2315
Ok on the double check they are in two jobs scheduled for deletion (chakaracore osx and libuv osx (https://github.com/libuv/libuv/issues/2903) and a maclover7 job I couldnt find in jenkins anyway

[2020-07-03 12:52] richardlau commented on #2315
The scripts that populate the jenkins-config repos currently don't remove configs for deleted jobs (https://github.com/nodejs/build/issues/2133#issuecomment-614072748). I haven't had time to look into fixing that.

[2020-07-03 20:43] mhdawson commented on #2354
@brianwarner I think we are ready to schedule the meeting. I'd suggest we try for 6PM EST which is 10UTC.  I know that will mean it's late for @AshCripps but I can catch him up afterwards.

[2020-07-04 00:12] mmarchini commented on #2354
I can try to attend depending on the date (otherwise I'll read the notes afterwards)

[2020-07-06 15:38] jlbooker commented on #1995
This appears to mean that the Node v12.13+ distributed binaries are permanently broken on RHEL6.

Even with the latest gcc and libgcc packages, I still get the same error message as above.

[2020-07-06 15:52] richardlau commented on #2110
Closing as done.

The last step of building 10.x on AIX 7.1 was done a while ago via https://github.com/nodejs/build/pull/2184:

https://github.com/nodejs/build/blob/41d831de68ee0e65f5dd78763f8a3b71190fac40/jenkins/scripts/VersionSelectorScript.groovy#L92-L93

We removed the AIX 6.1 machines in https://github.com/nodejs/build/issues/2273.

[2020-07-06 15:52] #2110 closed

[2020-07-06 16:07] richardlau commented on #1697
Once https://github.com/nodejs/node/pull/34209 lands we'll have a green CI for IBM i, e.g. https://ci.nodejs.org/job/node-test-commit-ibmi/14/ for that pull request is green (🎉).

The [build times for IBM i](https://github.com/nodejs/build/issues/1697#issuecomment-645431735) in the CI are 1 hour 35 mins at best (and ~2 hours 50 mins in the worst case) which seems too long for the IBM i job to run

[2020-07-06 17:18] Trott commented on #1697
No objections to node-daily-master. So long as IBM is committed to following up with any problems that arise (which it certainly seems that they are), node-taily-master seems like the right place for it given the long run time.

[2020-07-07 00:54] gengjiawen commented on #1906
Already in github action.

[2020-07-07 00:54] #1906 closed

[2020-07-07 09:00] AshCripps commented on #2373
Is there an agenda for today?

[2020-07-07 09:05] bnoordhuis commented on #1995
@jlbooker You also need a new enough glibc; centos 6 ships 2.12, IIRC, but you need 2.17+. Try using devtoolset.

[2020-07-07 16:49] jbergstroem commented on #2373
I can talk a bit about monitoring plans as well as my thoughts on releases. Would be great to get feedback.

[2020-07-07 21:18] mhdawson commented on #2373
PR for minutes: https://github.com/nodejs/build/pull/2377

[2020-07-07 21:18] #2373 closed

[2020-07-08 06:16] rvagg commented on #1995
@jlbooker see https://github.com/nodejs/node/blob/v12.x/BUILDING.md#official-binary-platforms-and-toolchains (note the `v12.x` branch in that URL). We build the official binaries on a CentOS / RHEL 7 base, that's our minimum glibc target for the lifespan of 12.x. 10.x were the last that we built with CentOS / RHEL 6. This decision is made by considering the support lifetime of the base distributio

[2020-07-08 14:42] AshCripps opened #2378 "PSA: Maintanence of AIX7.1 Machines in CI"
On Monday 17th August all of our AIX7.1 machines will be taken down at 6AM ET for maintanence and will be brought back up by the end of the day.

I will disable the agents in jenkins before the window to prevent jenkins jobs being held up.

[2020-07-08 17:23] jlbooker commented on #1995
Yes, a realize that RHEL/CentOS 6 will be EOL in a few months. However, this is for a production system that will live on a while longer. Being that it's production, I'm not really interested in getting into custom building Node there, nor pulling in versions of glibc/libgcc that are outside of Redhat's packages (as that risks breaking lots of other things).

I was more just noting/confirming for

[2020-07-09 13:42] richardlau commented on #2097
cmake is now on the IBM platforms in the CI (we're using cmake to build libuv).

[2020-07-09 14:30] AshCripps commented on #2370
@jbergstroem I'd be happy to help with this, I also think it would be good to get the monitoring host itself into ansible so the machine can be recreated easily in the event of disaster.

[2020-07-11 05:06] rvagg commented on #2374
Reprovisioned with entirely new machine, it's back in the pool now.

@mhdawson can you cancel/delete the old one please (I don't have access for that)? https://cloud.ibm.com/gen1/infrastructure/virtual-server/50051947/details#main - or in the list of machines, it's the one named test-softlayer-debian9-x64-1 that's currently powered off.

[2020-07-12 16:32] Trott opened #2382 "Cross-compliling addon for napi benchmark on Raspberry Pi"
I'm adding benchmark tests to CI in https://github.com/nodejs/node/pull/34288. The napi benchmark fails on Raspberry Pi because the result of the `bench-addons-build` task in Makefile needs to be available to the machine executing the test.

[2020-07-13 21:05] mhdawson commented on #2374
Done

[2020-07-13 21:05] #2374 closed

[2020-07-15 16:02] richardlau commented on #1697
I've added IBM i to [node-daily-master](https://ci.nodejs.org/job/node-daily-master/).
Kicked off a test run: https://ci.nodejs.org/job/node-daily-master/2002/

[2020-07-15 18:13] bnb opened #2384 "Update Jenkins to 2.235.2 (Security Advisory)"
There was just a Jenkins security advisory sent out in addition to a new release, addressing a handful of security issues around XSS (at least, in the case of the ones that are potentially relevant to us). Would likely be nice to consider trying to update here shortly ❤️

Reference: https://www.jenkins.io/security/advisory/2020-07-15/

[2020-07-15 18:32] Trott commented on #2384
@nodejs/jenkins-admins

[2020-07-15 19:07] AshCripps commented on #2384
@nodejs/build-infra will be the only ones capable of an update

[2020-07-16 04:33] Trott commented on #2384
Doesn't need to be on the build-agenda....unless no one is available to do the upgrade....labeling just in case.

[2020-07-16 15:55] AshCripps commented on #2357
FInal warning ping:

@addaleax
@maclover7
@joyeecheung
@gireeshpunathil

Ill start the removal processes on monday if I havent heard otherwise

[2020-07-16 22:28] mhdawson commented on #2384
I think @rvagg, @jbergstroem have done most of the updates in the past.  Maybe its an opportunity for @AshCripps to pair with one of them on the update?

[2020-07-17 06:41] joyeecheung commented on #2357
I plan to remain active(ish)

[2020-07-19 05:35] Trott opened #2386 "Jenkins was out for awhile today"
Here's a copy/paste fo a conversation I had with myself in IRC today. Putting it here to document the outage and what I did to get Jenkins working again.

[code]

[code]

[2020-07-20 04:27] Trott commented on #2386
Ran the script again with `MAX_BUILDS = 500` because Jenkins was not starting jobs again.

[2020-07-20 04:28] Trott commented on #2386
That deleted  a lot more stuff obviously, and Jenkins is running again. But this seems like something that we should take steps to prevent from happening?

[2020-07-20 04:28] Trott commented on #2386
@nodejs/jenkins-admins

[2020-07-20 04:45] rvagg commented on #2386
Sorry, could be me, I'm currently cleaning disks on the workspace machines in response to seeing this issue but have been taking them offline to do it. Will finish up what I'm doing and then figure out what the specific problem is here.

[2020-07-20 05:04] rvagg commented on #2384
Sorry, I get these notices via email and I thought I'd taken care of this one but I was on holiday last week and everything's a bit blurry so I must be mixing it up with the plugins update that came just prior.

We get updates via the apt repositories on our Jenkins servers but it's a pretty brutal restart when it happens so normally I do it in my afternoons (AEST) when it's quietest but it usuall

[2020-07-20 06:23] rvagg commented on #2386
This should be all done now, it looks like it's running fine again

I took each of the workspace machines offline, then removed their workspaces entirely, updated the .jar, cleaned out some of the temporary stuff in ~iojs, and did system updates. The 3rd machine (ibm) was offline because of a Java memory problem but it's back online now. So we're back down to minimal disk, starting again without t

[2020-07-20 06:23] rvagg commented on #2384
done, and plugins updated too

[2020-07-20 06:23] #2384 closed

[2020-07-20 13:40] richardlau commented on #2368
This turned out to be a bug in core and was fixed via https://github.com/nodejs/node/pull/34364.

[2020-07-20 13:40] #2368 closed

[2020-07-20 20:56] MylesBorins opened #2387 "AIX machines are all offline"
https://ci.nodejs.org/job/node-test-commit-aix/nodes=aix71-ppc64/

[2020-07-20 22:35] richardlau commented on #2387
According to the logs both agents crashed:

test-ibm-aix71-ppc64_be-1:
[code]

test-ibm-aix71-ppc64_be-2:
[code]

I've restarted the agent on both test machines, via:

[code]

[2020-07-21 01:18] mmarchini commented on #2370
Not sure if there's anything that can be configured on Grafana (don't know if GitHub allows this level of granularity), but the OAuth requests read-only permission to all orgs it can, not only to `nodejs`.

[2020-07-21 03:23] rvagg commented on #2382
So what files need to be included? This should all be possible by fixing up https://ci.nodejs.org/view/All/job/node-cross-compile/ and adding in whatever files are needed. Currently it goes like this:

[code]

The binary/binary.tar.xz gets added to a git pack and pushed to the shared git repo. Then on the Pi side it gets fetched from that repo and unpacked. So whatever's in it gets unpacked into a

[2020-07-21 12:59] joaocgreis commented on #2389
stay

[2020-07-21 19:35] mmarchini commented on #2359
I still think it would be good to use [`ncu`](https://github.com/nodejs/node-core-utils) for that, it already categorizes errors, we just need to choose which categories to alert. Some errors like full disk are detectable by grafana, but what about read-only filesystems (happens somewhat frequently)?

[2020-07-22 03:29] jbergstroem commented on #2370
Hey all - just an update: it works but for it to scale we really need the enterprise plugin to "sync" teams similarly to the jenkins plugin. I got help reaching out to the grafana team and they will help us out! I had a few days off but will be back in action from tomorrow and will finish setting this up. After it has been done I would really appreciate all help we can get:

1. Help getting telegr

[2020-07-22 04:49] #2386 closed

[2020-07-22 09:16] richardlau commented on #2387
They're both offline again 😞.

[2020-07-22 10:08] richardlau commented on #2387
The agents crashed again. `SIGDANGER` looks like an AIX mechanism for warning when the paging space is low: https://www.ibm.com/support/knowledgecenter/en/ssw_aix_72/devicemanagement/page_space_trouble.html

The most obvious thing to have recently changed is the recent Jenkins server upgrade (https://github.com/nodejs/build/issues/2384). I've updated the agents (via the [`ansible/playbooks/jenkins

[2020-07-22 17:54] joaocgreis commented on #2355
Removed 9 jobs from test and 1 from release. Had to update the backup script to support new and deleted jobs, so many older unrelated changes appear in these commits:
- https://github.com/nodejs/jenkins-config-test/commit/2fd3bdef1f72cfe4ebc25aa43aceeb502e8398cf
- https://github.com/nodejs/jenkins-config-release/commit/46ecbe91dad1f0f9809788b7dbcaf32febf5fb80

Confirmed the jobs were removed from

[2020-07-22 17:54] #2355 closed

[2020-07-22 19:39] mhdawson commented on #2387
Given the Java versions are from 2018, I'd agree updating the Java version would make sense.

[2020-07-23 00:27] #1851 closed

[2020-07-23 10:42] AshCripps commented on #2387
the agent also crashed on the new arm macs after the jenkins upgrade with a similar crash message

[code]

[2020-07-23 15:25] AshCripps opened #2390 "Offboard inactive members"
Follow on from #2357 and #2358

Checklist for the offboarding of the following members:

@LucaLanziani  (build)
@maclover7 (build and jenkins)
@addaleax (build)
@gireeshpunathil (build)

Thank you all for your contributions and you will be welcomed back if you wish to return!

### Offboarding issue checklist

- [x] Remove their GPG key from `test` group in `nodejs-private/secrets`
- [x] Remove the

[2020-07-23 15:26] AshCripps commented on #2357
Audit complete. Offboarding being tracked in #2390.

[2020-07-23 15:26] #2357 closed

[2020-07-23 15:26] AshCripps commented on #2358
Audit complete. Offboarding being tracked in #2390.

[2020-07-23 15:26] #2358 closed

[2020-07-23 15:55] AshCripps commented on #2315
went through again and removed any mention of osx1010 and deleted the old osx-macstadium job. On monday ill have another check through the backup repo and double check everythings gone, then Ill remove the machines from jenkins and contact macstadium to remove them.

so last call to @nodejs/build is there anything worth saving on the machines hosted in the macstadium vsphere (osx10.10, 10.11 and 1

[2020-07-23 20:04] mhdawson opened #2391 "Node.js Build WorkGroup Meeting 2020-07-28"
## Time

**UTC Tue 28-Jul-2020 22:00 (10:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 28-Jul-2020 15:00 (03:00 PM) |
| US / Mountain | Tue 28-Jul-2020 16:00 (04:00 PM) |
| US / Central  | Tue 28-Jul-2020 17:00 (05:00 PM) |
| US / Eastern  | Tue 28-Jul-2020 18:00 (06:00 PM) |
| London        | Tue 28-Jul-2020 23:00 (11:00 PM) |

[2020-07-24 04:15] Trott opened #2392 "macos failing to build in CI"
Keep getting the same Java exception but at different points in the build.

<details>

[code]

</details>

Examples:

https://ci.nodejs.org/job/node-test-commit-osx/35425/
https://ci.nodejs.org/job/node-test-commit-osx/35424/
https://ci.nodejs.org/job/node-test-commit-osx/35423/
https://ci.nodejs.org/job/node-test-commit-osx/35422/
https://ci.nodejs.org/job/node-test-commit-osx/35421/

[2020-07-24 04:43] Trott commented on #2382
Looks like it just needed some Makefile changes that have happened. (@richardlau pointed out that the prerequisite build step and the test itself should have been added to the native suites job and not the JS suites job. WIth that change, everything seems to be working.) It's passing in CI now. Sorry for the noise.

[2020-07-24 04:43] #2382 closed

[2020-07-24 04:46] Trott commented on #2392
And now they're working again.
¯\\_(ツ)_/¯

[2020-07-24 04:46] #2392 closed

[2020-07-24 10:41] richardlau commented on #2387
Both AIX test machines are still online, so it looks like updating the agent has fixed this. I'll raise a separate issue for updating Java on these machines as it looks like we'd want to update on other platforms as well.

@AshCripps if updating the agent on the arm macs doesn't fix those I suggest opening a new issue or tracking under the existing issues for Apple silicon.

[2020-07-24 10:41] #2387 closed

[2020-07-24 10:43] richardlau opened #2393 "Update version of Java 8 on AIX and Linux on Power CI machines"
_Originally posted by @richardlau in https://github.com/nodejs/build/issues/2387#issuecomment-662366511_:

https://github.com/nodejs/build/blob/9cf3680add6ee833cff9bdf855d5c9ab70c1532a/ansible/roles/java-base/tasks/main.yml#L124-L129

- [ ] Update ansible scripts
- [ ] Run ansible to update
  - [ ] test-ibm-aix71-ppc64_be-1
  - [ ] test-ibm-aix71-ppc64_be-2
  - [ ] test-osuosl-centos7-ppc64_le-1

[2020-07-25 21:27] mmarchini opened #2394 "Increase privilege of `github-bot` on Jenkins"
I just added `github-bot` credentials to nodejs/reliability so that we can generate daily reports of failures in the CI via GitHub Actions. Unfortunately, it seems like the bot doens't have enough permissions on Jenkins, which leads to `ncu-ci` failing:

[code]

https://github.com/nodejs/reliability/runs/910446091?check_suite_focus=true

I tried to run the same command (`ncu-ci walk pr --stats=tru

[2020-07-26 00:29] #1898 closed

[2020-07-27 11:28] richardlau opened #2395 "Add @richardlau as a new active releaser"
Figured this should be a separate issue from https://github.com/nodejs/Release/issues/499 and https://github.com/nodejs/Release/pull/588 for visibility.

I'm being onboarded as a new releaser https://github.com/nodejs/Release/issues/585 and am now at the stage where I've been added to various additional GitHub teams as per https://github.com/nodejs/Release/blob/master/GOVERNANCE.md#adding-new-rele

[2020-07-27 11:36] rvagg commented on #2395
done, will be good to have someone new from build on there to have full visibility into the pipeline, maybe you can help improve the tooling while you have your head in there

[2020-07-27 11:56] AshCripps commented on #2315
Any reference Ive found in the jenkins config test repo is gone except for one osx1010 reference in `citgm-smoker-private` which I cant seem to see? but from looking at it its in a string so should be able to be removed from the job when the label is gone anyway. Im going to now remove the osx1010 1011 and 1012 machines from both CIs if found and send the email on to macstadium.

[2020-07-27 12:01] rvagg commented on #2315
removed from citgm-smoker-private, it wasn't a label so no big deal. no osx1011 on live configs

in ci-release there's some osx1010 and osx1011 references but they're all in test clone jobs that Michael uses for testing, so I'm not going to worry about them, the jobs themselves will probably be overwritten or deleted at some point anyway.

[2020-07-27 12:07] AshCripps commented on #2315
@rvagg thanks for that!

ive deleted the agents from CI and CI-release and sent an email to macstadium - will close the issue once I have confirmation there is nothing more for us to do.

[2020-07-27 12:32] richardlau commented on #2395
Thank you.

[2020-07-27 12:32] #2395 closed

[2020-07-27 17:35] mhdawson commented on #2391
@nodejs/build not too much on the agenda and I think the European people will have a hard time making it.

@rvagg, @jbergstroem  do you have anything to add to the agenda?

[2020-07-27 17:46] richardlau commented on #2394
If the bot is to have the same permissions as a collaborator, could it not be added to the `@nodejs/collaborators` team? We don’t, AFAIK, have a good method for restoring permissions after CI lockdown for security releases (https://github.com/nodejs/build/blob/master/doc/jenkins-guide.md#security-releases) other than manually reentering the entries so I would prefer not to have to add more.

[2020-07-27 18:08] mmarchini commented on #2394
`@nodejs/bots` already has the same write permission to nodejs/node as `@nodejs/collaborators`, so I think it should be fine. I suggested giving permissions to the bot team to give it only the least privilege it needs, but your point on it being hard to restore permissions after lockdown makes sense. I'll open an issue on nodejs/admin to request this. Let's keep this one open until we reach a deci

[2020-07-27 21:51] rvagg commented on #2391
nothing critical

[2020-07-28 01:22] jbergstroem commented on #2391
I can report on grafana updates

[2020-07-28 02:14] Trott commented on #1558
I thought we had accomplished this at some point. @bcoe

[2020-07-28 02:14] Trott commented on #1558
(But looking now, it looks like it's not working now at least.)

[2020-07-28 17:56] mhdawson commented on #2391
ok, sounds like we'll have at least @rvagg, @jbergstroem and myself and we'll add a report on grafana updates to the agenda and go from there.

[2020-07-29 00:27] #1896 closed

[2020-07-29 12:40] AshCripps commented on #2390
@nodejs/build anyone had any experience as to when I tried to clean up these keys from secrets it deleted the inventory.yml file as well? (I did also try to clean up an old keys of georges that was still left in the folder)

[2020-07-29 14:40] jbergstroem commented on #2390
@AshCripps haven't seen that. Did you use `dotgpg rm` to remove the keys?

[2020-07-29 14:43] AshCripps commented on #2390
yep I did get some gem errors though -
[code]

[2020-07-29 18:43] MylesBorins opened #2396 "Manually flush cloudflare cache on release?"
I've been noticing it taking quite a bit of time for new releases to propogate to the index For example we just released v14.7.0 and https://nodejs.org/download/release/latest-v14.x/ is still showing v14.6.0

My gut is this is related to our CDN cache, perhaps we should manually flush it on release?

[2020-07-29 19:03] mhdawson commented on #2391
PR for minutes: https://github.com/nodejs/build/pull/2397

[2020-07-29 19:03] #2391 closed

[2020-07-30 02:14] rvagg commented on #2396
It shows 14.7.0 now, but I'm 7h removed from this original comment so it'd be interesting to know how long that took if anyone happened to notice.

There should be a maximum of a 5 minute delay for pushing a full CDN purge request to CF after someone promotes a build. I've now got logs so at least I can trace it! Here's the most recent:

[code]

The most interesting one is ~7h20m ago from when I'm

[2020-07-30 06:24] rvagg commented on #2390
Silly low open files limit on macos, you need to increase the limit, `ulimit -n 10000` or something. There's a more advanced command that sets it permanently but I don't have that at hand. Check out a clean copy of the repo, lift the limit in your current shell and run it again.

[2020-07-30 12:24] sxa commented on #2393
As mentioned to Richard the adoptopenjdk project [has an API](https://api.adoptopenjdk.net) which can be used to download the java binaries. There is also the option to use the [AdoptOpenJDK RPM/DEB repositories](https://adoptopenjdk.net/installation.html#linux-pkg) but for simplicity and consistency across Operating Systems using the tarballs may be the better bet. Ref https://github.com/nodejs/b

[2020-07-30 13:11] jbergstroem commented on #2396
Nope, this will zap everything.

[2020-07-30 18:48] bcoe commented on #1558
👋 we had a regression at some point in our configured CI/CD:

* codecov.io will merge results from a variety of matrices, as  long as the sha matches.
* our coverage implementation works well on Windows.

tldr; I think we just need to carve out the time to reconfigure the appropriate jobs to send output.

[2020-07-30 20:23] MylesBorins commented on #2396
of course y'all are already doing it 😊.

Does cloudflare have a similar "immediate" cache flush option as fastly does?

I could imagine that we could make things a bit better by doing a more aggressive flush on particular routes... Specifically:

* https://nodejs.org/download/release/
* https://nodejs.org/download/latest-v*.x
* https://nodejs.org/download/latest-${lts-name}
* https://nodejs.org/do

[2020-07-31 00:15] rvagg commented on #2396
It should be pretty immediate, I think the call goes out to invalidate all of the edges when we send it, at least that's how I've seen it work. The 5 minute delay is on our end for dedupe and security reasons.

We've been discussing more selective flushes for a while now and there's enough awkwardness involved that we've yet to pull it off. But the timing would still be the same even when we get t

[2020-07-31 00:40] rvagg opened #2400 "Apple cert expiring in 30 days"
We got this email today:

We need to check if that cert is still in use or if we've moved to a newer one and this is just an unused one expiring. I think I might have made new ones when I did the notarization work and I'd be surprised if they're expiring so soon. I'm hoping this is a noop for us but it needs checking.

[2020-07-31 00:41] rvagg commented on #2400
oh, and its partner came in a separate email:

[2020-07-31 01:49] MylesBorins commented on #2396
Honestly 5 minutes is not the end of the world.

We should just document it.

[2020-07-31 12:16] jbergstroem commented on #2396
FWIW, this is part reason I want to move all downloads to a subdomain: have better control of caching (https://github.com/nodejs/build/issues/2375).

[2020-07-31 15:19] richardlau commented on #2362
I think we may have run out of space again.

I'm seeing lots of "java.io.IOException: No space left on device" messages in the Jenkins system log (https://ci.nodejs.org/log/all).

[2020-07-31 15:27] richardlau commented on #2362
![image](https://user-images.githubusercontent.com/5445507/89050488-bbcc7200-d34a-11ea-9057-e515415ca2bb.png)

[2020-07-31 15:52] richardlau commented on #2362
![image](https://user-images.githubusercontent.com/5445507/89052853-3945b180-d34e-11ea-9829-9c41e93459bd.png)

[2020-07-31 18:46] #2393 closed

[2020-08-01 00:30] #1346 closed

[2020-08-01 09:23] sxa commented on #2362
@jbergstroem resolved last night's problem - thanks!

[2020-08-01 19:16] mmarchini commented on #2362
One thing I raised on IRC while this incident was ongoing is that maybe we want a couple more folks on infra admin to increase our coverage/availability.

[2020-08-02 22:30] jbergstroem commented on #2362
Absolutely; in parallel to this we can increase visibility of this happening by measuring it in grafana (which we already do, ACL was finished just the other day) and allowing more people to monitor it (which is he next step).

[2020-08-03 10:39] AshCripps commented on #2390
Removed from the secrets repo - all except luca's key got `not a valid gpg key` for that one.
Will need someone to remove @maclover7's key from githubbot secrets as I dont have access and then someone to remove the above from the github teams as im not a maintainer.

[2020-08-04 02:41] rvagg commented on #2390
done

[2020-08-04 15:15] vtjnash commented on #2243
As someone who would end up with extra permissions, and ended up here because I am looking to fix an issue with the libuv build configuration (https://github.com/libuv/libuv/issues/2930), I'm also hesitant on being granted too much configuration power. I think I'd be too easy on a complex project like Jenkins for me to end up in the wrong section and cause headaches by altering something I didn't

[2020-08-04 15:19] richardlau commented on #2243
It doesn't sound like there's much enthusiasm for this so I'll close.

[2020-08-04 15:19] #2243 closed

[2020-08-04 16:52] vtjnash opened #2402 "libuv: stop using `-j` flag to `cmake --build .` with `make`, and/or use `ninja`"
(moving here from https://github.com/libuv/libuv/issues/2930)

https://ci.nodejs.org/job/libuv-test-commit-osx-cmake/ appears to often failing because it's doing `cmake --build . -j`, which is causing the bots to exceed their physical/virtual memory limits while running the compiler. The `-j` parameter needs some limit when using the `make` backend, or it needs to switch to another backend like `-

[2020-08-04 17:05] vtjnash opened #2404 "junit encoding configuration incorrect?"
It appears that tap2junit is trying to treat the utf-8 log file as ascii:

https://ci.nodejs.org/job/node-test-commit-freebsd/34807/nodes=freebsd11-x64/consoleText (can someone save that log file, so it doesn't get lost to time)

Failure backtrace:
[code]

probably caused by the presence of this test failure?
[code]

[2020-08-04 17:24] vtjnash opened #2405 "mismatched version of python-junit-xml and tap2junit?"
This error is nonsensical to me, unless the version of python-junit-xml being used is pretty old (pre-Oct, 2016), but I'm just reporting what I saw on CI run https://ci.nodejs.org/job/node-test-commit-linux/36408/nodes=centos7-64-gcc8/consoleText
[code]

[2020-08-04 23:02] richardlau commented on #2404
tap2junit source is https://github.com/nodejs/tap2junit

[2020-08-05 02:35] mmarchini commented on #2135
I think this was fixed? Reopen if not

[2020-08-05 02:35] #2135 closed

[2020-08-05 02:46] mmarchini commented on #2224
probably not actionable

[2020-08-05 02:46] #2224 closed

[2020-08-05 02:49] mmarchini commented on #2241
probably not actionable (similar to https://github.com/nodejs/build/issues/2224)

[2020-08-05 02:49] #2241 closed

[2020-08-05 02:58] #2351 closed

[2020-08-05 03:03] mmarchini commented on #2394
Bot was added to collaborators which fixed my issue, so closing

[2020-08-05 03:03] #2394 closed

[2020-08-05 04:39] rvagg commented on #2402
👍 thanks for catching that @vtjnash, we have a `$JOBS` on each of our CI machines and normally use that whenever we use `-j` or `JOBS=` but that's been left off in this instance. I've inserted that back and you should see a `-j 2` now on these runs I think.

https://ci.nodejs.org/job/libuv-test-commit-osx-cmake/177/ is a repeat of the last green run, https://ci.nodejs.org/job/libuv-test-commit-osx

[2020-08-05 14:07] vtjnash commented on #2402
Yep, that looks good now. (well, it says `-j4`, but that should be good)

[2020-08-05 14:07] #2402 closed

[2020-08-05 17:03] MylesBorins opened #2406 "Need to update CITGM Jenkins job to support npm flag for new peer dep behavior"
Using CITGM to test out npm 7 and need to introduce a new toggle to turn on / off the new peer dep behavior.

I'm doing some local experiments first to figure out the best way to implement this and if we need to do anything in CITGM itself

[2020-08-05 17:55] richardlau commented on #2406
Can this be implemented as a CITGM flag? The current jobs give a string parameter to specify the CITGM command used.

[2020-08-05 18:00] MylesBorins commented on #2406
@richardlau it likely will have to be implemented in CITGM. Still doing a bit of local work to figure out how to best implement

[2020-08-07 16:05] Trott commented on #2389
Time to close the loop on this one. Kept the five folks who commented. Removed the five who didn't.

@jdalton @digitalinfinity @piscisaureus @RReverser @seishun If this is an oversight and you want to stay on the platform-windows team, leave a comment here and I'll add you back!

[2020-08-07 16:05] #2389 closed

[2020-08-09 00:32] #1915 closed

[2020-08-10 12:15] AshCripps commented on #2356
@nodejs/build Ive set up a [doodle](https://doodle.com/poll/9yf24nz5kpeigg9a) with some options if people could vote or maybe suggest others that would be great.

[2020-08-12 12:18] mhdawson opened #2409 "Node.js Build WorkGroup Meeting 2020-08-18"
## Time

**UTC Tue 18-Aug-2020 20:00 (08:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 18-Aug-2020 13:00 (01:00 PM) |
| US / Mountain | Tue 18-Aug-2020 14:00 (02:00 PM) |
| US / Central  | Tue 18-Aug-2020 15:00 (03:00 PM) |
| US / Eastern  | Tue 18-Aug-2020 16:00 (04:00 PM) |
| London        | Tue 18-Aug-2020 21:00 (09:00 PM) |

[2020-08-12 12:44] #2329 closed

[2020-08-14 02:03] gengjiawen commented on #1914
close in favor of https://github.com/nodejs/node/issues/29415.

[2020-08-14 02:03] #1914 closed

[2020-08-14 02:25] rvagg commented on #2400
I validated the certs on one of the release machines, we are indeed using newer ones i made at the start of this year and we have 5 years with them so these expiries are for the original certs I must have generated 5 years ago! The first post-Joyent certs with the name "Node.js".
Steps to validate this all via the commandline have now been recorded in #2410.

[2020-08-14 02:25] #2400 closed

[2020-08-14 14:44] AshCripps commented on #2356
<img width="71" alt="image" src="https://user-images.githubusercontent.com/26796102/90261471-e509f980-de44-11ea-965b-b540ec9c3bd9.png">

Weve had five responses and the most popular result was 13:00-14:00 London time (BST)

[2020-08-15 08:22] mmarchini opened #2411 "Add hidden parameters to node-test-pull-request to help test github-bot/automation"
Add a new hidden optional parameter to `node-test-pull-request` to set the webhook URL where Jenkins will post build status updated. This will allow devs working on automation to test and debug it properly.

The parameter being optional should help avoid breakage across jobs. The parameter being hidden protects users from accidentally filling it, and developers working on automation will trigger C

[2020-08-16 14:38] lundibundi opened #2412 "arm-fanned builds stalled"
arm CI is stalled for some reason (3+ hours on each of the builds below)

https://ci.nodejs.org/job/node-test-pull-request/32798/
https://ci.nodejs.org/job/node-test-pull-request/32803/
https://ci.nodejs.org/job/node-test-pull-request/32802/
https://ci.nodejs.org/job/node-test-pull-request/32805/

/cc @nodejs/build

[2020-08-17 10:16] richardlau commented on #2378
I've disabled https://ci.nodejs.org/job/node-test-commit-aix/ and marked the two AIX 7.1 test machines offline.

[2020-08-17 11:07] richardlau commented on #2412
It looks like the pi3's are offline as they've run out of disk space. I've logged into one of them, test-requireio_kahwee-debian10-arm64_pi3-1, and the `.git` folder in the `node-test-binary-arm` workspace was 24G. I've wiped that workspace and brought it back online and look at doing similar on the rest.

Some digging around issues here shows we have https://ci.nodejs.org/job/git-clean-rpi/ which

[2020-08-17 13:51] richardlau commented on #2412
I've brought back what I could but more than half of the pi3's are unreachable (cannot ssh into them) and remain offline:
![image](https://user-images.githubusercontent.com/5445507/90403491-f6e3da80-e098-11ea-99b7-2b89b59c37f7.png)

The ones that are back online are processing jobs, but the backlog was quite big so it may take a while to clear.

[2020-08-18 02:23] rvagg commented on #2412
I've brought some of the others back online.

The regular clean job was more helpful when we had more limited space. We now have a much larger disk that they're all sharing so it wasn't supposed to be as much of a problem .. but 24G isn't sustainable!

I don't know why the regular clean was disabled. Maybe because it would land us with a bunch of queued jobs that won't run because various Pi's are

[2020-08-18 07:29] lundibundi commented on #2412
I think that will be easy to do with a monthly scheduled task on GitHub Actions if needed
(i.e. https://github.com/marketplace/actions/create-an-issue or a small script + `schedule - '0 0 1 * *'`)

[2020-08-18 09:35] richardlau commented on #2378
Machines are now back online. I've reenabled the job.

[2020-08-18 09:35] #2378 closed

[2020-08-18 13:58] jbergstroem commented on #2409
So, attendance looks to be two. Does this mean we postpone? Also, there was a doodle about changing the time; did that come into place?

[2020-08-18 14:23] richardlau commented on #2409
If the meeting goes ahead I can join.

@AshCripps was organizing the time slot change. He is on vacation this week so the time change hasn't come into effect.

[2020-08-18 14:53] jbergstroem commented on #2409
I just got called into something I cannot move; I will unfortunately have to pass.

[2020-08-18 14:55] richardlau commented on #2409
@mhdawson if it's just us two, with nothing on the agenda, I'd suggest cancelling.

[2020-08-18 16:19] richardlau opened #2413 "post-build-status-update (maybe all pipeline jobs?) is broken"
Was just on this week's release mentoring session and we noticed that starting CI's wasn't triggering comments/status back to the pull requests. I've dug into it and it looks like https://ci.nodejs.org/job/post-build-status-update/ (which posts status to the [github-bot](https://github.com/nodejs/github-bot)) is currently broken.

The console output for these jobs is useless (they're empty) but "P

[2020-08-18 17:14] jasnell opened #2414 "Options for enabling `NODE_DEBUG` and `NODE_DEBUG_NATIVE` env vars in CI jobs"
In a position again where I'm seeing failures only in CI on various environments. It is very difficult to track down the specific issue given the lack of debug output. The code is instrumented to output debug information when the `NODE_DEBUG_NATIVE` environment variable is used but there's currently no way to set that on a CI job.

[2020-08-18 17:51] mhdawson commented on #2409
@richardlau agreed, will close and remove from the calendar

[2020-08-18 17:51] #2409 closed

[2020-08-18 18:10] richardlau commented on #2413
"Pipeline: Nodes and Processes" doesn't show up in manage plugins, probably because it failed to load, so I can't roll it back via the Jenkins UI.

[2020-08-18 20:07] richardlau commented on #2414
@jasnell I've added two new `NODE_DEBUG` and `NODE_DEBUG_NATIVE` string parameters to
- https://ci.nodejs.org/job/node-test-pull-request/
- https://ci.nodejs.org/job/node-test-commit/

These should get set as environment variables.

[2020-08-18 20:08] jasnell commented on #2414
Thank you!

[2020-08-19 03:11] rvagg commented on #2413
there was a security release of jenkins yesterday so I did that during quiet hours and ran plugin updates afterward, I suppose this got tangled up during that process

sorry, I really should remember to post in issues when I do these updates

[2020-08-19 03:29] rvagg opened #2415 "Windows authenticode certification expiry"
It's going to be ~$1.5k to renew for 3 years I think. This will need someone with access and who wants to interact with the foundation to drive it forward and get a renewal. There is also the question about renaming the Foundation name too like we've been looking at for our Apple account.

[2020-08-19 14:38] mhdawson commented on #2415
I've emailed @brianwarner (and included @joaocgreis) to loop him in so that the Foundation can pay directly like we did in some other cases recently.

[2020-08-19 19:00] gabrielschulhof opened #2416 "Truncated logs, non-working "Resume Build", and absence of a message posted to the PR with a link to the job"
Seen with https://ci.nodejs.org/job/node-test-pull-request/32854/:

- logs are truncated, so I cannot see what caused the build to fail
- Resume Build doesn't seem to be doing anything
- The CI does not comment with a link to the job on the PR

[2020-08-19 19:08] richardlau commented on #2416
This one is https://github.com/nodejs/build/issues/2413.

[2020-08-19 19:12] richardlau commented on #2416
@nodejs/build-infra According to https://ci.nodejs.org/log/all it looks like we're out of disk space again.
e.g.
[code]

[2020-08-19 20:35] mmarchini opened #2418 "Request to join @nodejs/build-infra"
I mentioned this on IRC and https://github.com/nodejs/build/issues/2362#issuecomment-667575361, but I think we need a couple more folks on build-infra to help with incidents on the infra machines. With that in mind, I'd like to join @nodejs/build-infra to help with incidents where build-infra access is required. I'm a Netflix employee (Netflix is a OpenJS member), TSC member, OpenJS CPC regular me

[2020-08-19 22:26] joaocgreis commented on #2416
This should be fixed now. The https://ci.nodejs.org/view/All/job/node-compile-windows/ saves very large artifacts, so the default rotation period of 21 days enforced by the backup server is too large for it. I've changed the job settings in Jenkins to only 10 days, specifically for this job. After running one job the free space in the CI server has gone up to 37%.

![image](https://user-images.git

[2020-08-19 22:26] #2416 closed

[2020-08-21 00:08] mmarchini commented on #2413
@rvagg anything I can do to help with this?

[2020-08-21 04:27] rvagg commented on #2413
What a tedious beast Jenkins has become. The number of plugins we use is partly to blame of course.

So, the plugin named **Pipeline: Nodes and Processes** (a.k.a. "workflow-durable-task-step") has a new version that breaks with the LTS version of Jenkins. It's apparently fine with the latest release of Jenkins but we use LTS and it's incompatible, for whatever reason. I've had to manually downgra

[2020-08-21 04:41] rvagg commented on #2413
seems to be working OK

also ... post-build-status-update is up to build # 1,064,243, that's a lota builds.

[2020-08-21 07:26] rvagg commented on #2418
FYI this is being discussed (just so you know it's not being ignored), will update shortly

[2020-08-21 08:30] mmarchini commented on #2413
Looks like it's not working properly (not all machines are posting job status update):

![image](https://user-images.githubusercontent.com/4048656/90869785-916c4400-e34d-11ea-987e-7cfc76c477f6.png)

https://github.com/nodejs/node/pull/34836 / https://ci.nodejs.org/job/node-test-pull-request/

![image](https://user-images.githubusercontent.com/4048656/90869884-b5c82080-e34d-11ea-8adb-94e25d211e72.p

[2020-08-25 16:38] mmarchini commented on #2413
Haven't seen this anymore and haven't seen anyone complaining, so closing.

[2020-08-25 16:38] #2413 closed

[2020-08-25 21:08] mhdawson opened #2419 "Add DMARC TXT records for node.js and io.js domains"
Discussed with @rvagg and @jbergstroem we want to start the process of enabling DMARC on our domains manged through cloudflare.

Generated the following TXT records using: https://dmarcguide.globalcyberalliance.org/#

## Nodejs.org

_dmarc.nodejs.org. IN TXT "v=DMARC1; p=none; rua=mailto:build@iojs.org; ruf=mailto:build@iojs.org; sp=none; ri=86400"

## iojs.org

_dmarc.iojs.org. IN TXT "v=DMARC1;

[2020-08-25 21:09] mhdawson commented on #2419
Leaving this open as we should update to enable a stricter mode once we are comfortable from the reports that nothing should be broken by a stricter level.

[2020-08-26 05:07] rvagg commented on #2418
Sorry for the delay, entirely on my end as usual. We had a quick chat about this and are all :thumbsup: but we'd like to on-board @richardlau at the same time too, who's agreed to join in the fun as well.

There's a few challenges that make this a bit tricky:

1. On-boarding - it'd be good to have at least myself and @mhdawson together in a private Zoom to do the on-boarding, @joaocgreis and @jber

[2020-08-27 00:33] #1938 closed

[2020-08-27 12:24] #1638 closed

[2020-08-28 10:56] rvagg opened #2420 "Jenkins update Sept 1"
I'll run the plugins updates on Tuesday and also a general server updates on both instances regardless of whether the security releases impact us. There may be some restarts involved and could be some chaos to be discovered afterward like last time with a broken plugin.

[2020-08-28 18:13] mmarchini opened #2421 "Device busy on `test-requireio--williamkapke-debian10-arm64--pi3-1`"
Almost all tests failing on this host due to "Device or resource busy". I'm rebooting it (as done before for the same issue https://github.com/nodejs/build/issues/2352).

[code]

[2020-08-28 18:26] mmarchini commented on #2421
Rebooted. Did some more investigation before rebooting but couldn't find anything (`dmesg` around, before and after the time of the failure didn't have any interesting entries)

[2020-08-29 06:26] mmarchini commented on #2421
Same happening with `test-requireio_sambthompson-debian10-armv7l_pi2-1`, will reboot now.

[2020-08-29 06:28] mmarchini commented on #2421
dmesg of previous days a bit different than the other instance:

[code]

Still doesn't seem to provide a clue, this error has been going on for longer than a few days.

[2020-08-29 06:31] mmarchini commented on #2421
Rebooted, starting another run to see if it is fixed

[2020-08-29 06:43] mmarchini commented on #2421
Both seem to be working now.

[2020-08-29 06:43] #2421 closed

[2020-08-29 10:50] rvagg commented on #2421
the timing of this coincides with some pretty bad networking problems I had yesterday, I had to reboot some core hardware due to weird connectivity problems, I suppose that left things in a weird state on the Pi's, they might be all due for a reboot, I'll try and schedule that early next week.

[2020-08-30 00:03] mhdawson commented on #2419
From the reports over the last few days I don't see any fails for iojs.org and a couple for node.js.  The failures for node.js seem to be for different IPs and I can't correlate them to anything that I'm aware should be ok.

@rvagg, @jbergstroem, @nodejs/build any concerns with updating so that emails that fail DMARC are rejected ?

[2020-08-30 00:16] #1558 closed

[2020-08-30 00:31] Trott commented on #2419
Normally, I wouldn't weigh in on this sort of thing (since I wouldn't be the one dealing with the fallout should something go wrong), but since you pinged the build team: I'm 👍 on updating at this time.

[2020-08-31 02:24] MylesBorins opened #2422 "MacOS binary distribution is slow to start on Catalina (10.15)"
If you download the tarball of the MacOS binary and attempt to run on Catalina (10.15) there is a multi second delay until it starts. I believe that this is due to the binary not being notarized. We noticed something similar with the jstime binary

https://github.com/jstime/jstime/issues/30

[2020-08-31 06:04] rvagg commented on #2419
I haven't been looking at them so don't have much of an opinion. I have been saving the daily files though if someone from build or TSC or security wants to take a look at what's in them and contribute to the discussion here.

[2020-08-31 17:55] mmarchini commented on #2422
I thought our packages were notarized already: https://github.com/nodejs/node/pull/31459

[2020-08-31 17:58] mmarchini commented on #1944
node-core-utils now have citgm comparison: https://github.com/nodejs/node-core-utils/pull/455. Closing, but can be reopened if that's not what you're looking for.

[2020-08-31 17:58] #1944 closed

[2020-08-31 18:06] AshCripps commented on #2422
Our binarys are notorized but maybe the latest build failed notorization?

[2020-08-31 18:12] mmarchini commented on #2422
@MylesBorins can you try with previous releases?

[2020-08-31 18:21] richardlau commented on #2422
I think we only notarize the pkg distribution and not the tarballs.

[2020-08-31 18:29] MylesBorins commented on #2422
AFAIK we do only notarize the .pkg. @mmarchini  it is my understanding that all binary releases will now be slow on Catalina due to not being notarized, I just tested with v8.9.4 and replicated the behavior (release is 2+ years old). Although I'm a bit perplexed as to why this doesn't happen with nvm which AFAIK redistributes our binaries.

/cc @ljharb is nvm doing anything special?

[2020-08-31 18:46] ljharb commented on #2422
All nvm does is download a tarball and extract it; it's possible that using the command line doesn't check the notarization?

[2020-08-31 18:47] MylesBorins commented on #2422
@ljharb I'm using the command line, so that's what is so strange here... perhaps it is the indirection?

[2020-08-31 18:48] MylesBorins commented on #2422
OMG, it is literally just not being in the download folder 😂

Testing locally. A binary in the download folder runs super slow, one out of it doesn't WHAT!

[2020-08-31 20:50] jbergstroem commented on #2419
We could always pass them to another email that stores it on a disk someplace for later processing?

[2020-08-31 21:35] rvagg commented on #2422
All of our binaries are signed, with entitlements baked in, even in the tarball. Notarization is for packages, you can't do it to a tarball (unless something's changed recently). Currently the notarization handling on the client side is through the installer process, when you're doing things like unpacking tarballs, or copying a file onto your computer from elsewhere (rsync, scp, etc.), you're byp

[2020-08-31 22:03] mhdawson commented on #2419
@jbergstroem what kind of processing do you have in mind. If we have things set up correctly (SPF) it should not affect the flow of legitimate email. I don't think we want to wait to long before switching on reject.

[2020-08-31 22:15] MylesBorins commented on #2422
I had found this article about notarizing a golang binary, maybe it will be helpful. With that said it seems like the binaries are only slow the first time they are run in a directory that isn't `~/Downloads`. Very odd.

https://www.kencochrane.com/2020/08/01/build-and-sign-golang-binaries-for-macos-with-github-actions/

[2020-08-31 22:17] rvagg commented on #2422
right, but the notarization is stapled to the package, not the binary, when you install that notarization information gets extracted and associated with where the binary is installed, tarballs bypass this, they are signed but the notarization information is not included anywhere

[2020-08-31 22:18] MylesBorins commented on #2422
@rvagg thanks for clarifying. FWIW it does not seem like the signature plays a role in subsequent runs of the binary

[2020-08-31 22:41] ljharb commented on #2422
@MylesBorins it's also possible that files downloaded by browsers are marked with an extended attribute, and that's what makes them slow? It might be worth seeing if the presence of `com.apply.quarantine` is the cause: https://www.jamf.com/jamf-nation/articles/59/managing-file-quarantine-attributes

[2020-08-31 22:57] MylesBorins commented on #2422
@ljharb I just downloaded via wget instead of browser, same behavior

* slow as heck start up on every load
* move the file to another directory, run it twice, not longer slow
* move it back to ~/Download and it isn't slow

[2020-09-01 14:28] AshCripps opened #2423 "Platform Requirements for 15.x"
This issue is to discuss the platform requirements for 15.x. Node.js 15 is scheduled to be released in October 2020 and End-of-Life in June 2021.

As this is a non-LTS release we dont have to worry too much about making changes to platform levels as the version is not supported very long.

Based on https://github.com/nodejs/node/blob/master/BUILDING.md, https://github.com/nodejs/build/blob/master/

[2020-09-01 14:36] richardlau commented on #2423
We stopped building binaries on SmartOS (but we do still run tests) so I've removed that entry from the table.

The IBM platforms look okay to me. In an ideal world we'd build releases on AIX on AIX 7.2 (to match the supported on version) but we don't yet have that capability (we need to keep an AIX 7.1 release machine until at least Node.js 10 goes End-of-Life).

[2020-09-01 14:37] AshCripps commented on #2423
Ive updated to add compiler levels.

In terms of this

We are working to source some 7.2 machines for the CI.

[2020-09-01 23:05] rvagg commented on #2423
macOS - should we bump to Xcode to at least 11? 12 is the current one and it seems like dead-weight to be forcing ourselves to ensure >=10 support when the vast majority of users will be bumping theirs.

Linux looks fine to me, but I'm mainly interested to hear from the @nodejs/v8-update on the future of C++ support in V8 and how far GCC 6 is going to get us. 15.x is short-lived but if we think we

[2020-09-01 23:20] nschonni commented on #2423
Mainstream support for 2012 R2 is done, but the extended support goes to October 10th, 2023 https://support.microsoft.com/en-ca/lifecycle/search?alpha=Windows%20Server%202012%20R2

VS 2019 (16.4+) looks to be the minimum that will be supported till October 2021 https://docs.microsoft.com/en-us/visualstudio/releases/2019/servicing

[2020-09-02 03:50] rvagg commented on #2420
Done, updated all plugins on both instances except for the build pipeline one that broke for us last time. We had one plugin on our main test instance that was in the list of security patched ones released today.

Am pushing through a node-test-commit as a sanity check https://ci.nodejs.org/job/node-test-commit/40545/

[2020-09-02 03:50] #2420 closed

[2020-09-02 10:42] AshCripps commented on #2423
@rvagg I agree with the bump with to xcode, another point is whether we are explict on our support for 10.16? I know arm is progressing but I havent tested on intel yet but I assume it should be working all fine.

You are right there would be some difficulties with bumping GCC on IBM platforms but I will wait from someone from V8 to chime in before we make any decisions.

[2020-09-02 22:31] mhdawson commented on #2396
I agree with @MylesBorins that 5 mins is not all that long

[2020-09-03 14:35] AshCripps commented on #2423
@rvagg with the xcode comment turns out if we want to bump our min. xcode we would have to bump our minimum macos level too - xcode 11 is only support by 10.14+ plus. https://en.wikipedia.org/wiki/Xcode#Xcode_11.x_-_12.x_(since_SwiftUI_framework)

[2020-09-04 04:49] rvagg commented on #1988
FYI this got finally deployed https://github.com/nodejs/nodejs-dist-indexer/pull/10#issuecomment-686903601

it's not a small disruption, but we have better accuracy now.

[2020-09-04 10:34] AshCripps opened #2424 "Add new AIX7.2 machines"
This machine is running an old TL level which is due to go EOL next month and as part of adding new AIX72 machines we are updating it to a more recent TL and doing some other general maintanence.

@aixtools can you comment here with your rough timeline of the outage so I can open an issue in libuv to notify them of the outage.

[2020-09-04 13:40] aixtools commented on #2423
Obviously, there are AIX systems being used I have no knowledge of - as
I can only see one system (used to verify libuv iirc). That system is
at: 7200-02-02-1810.

Actually, if you are building on 7.1, you should be verifying libuv (and
any other dependency) at that level. The builddate (last 4 digits, e.g.,
1810) is vital for binary compatibility.

In simple terms - AIX 7.2 is binary compatible w

[2020-09-04 14:01] AshCripps commented on #2423
@aixtools we have 3 AIX7.1 machines provided to us and maintained by the IBM garage in Poughkeepsie. They are seperate from OSUOSL and are 7.1 because I believe we needed some 7.1 machines at the time. I had tested the binary compatabillity but didn't know about the builddate that is good to know.

[2020-09-04 15:53] mhdawson commented on #2419
I'd like to turn this on at this point.  There seems to be an uptick in what look like random IPs being reported possibly due to the article in the register as well as additional people creating hacker one reports about spoofing.

@jbergstroem @rvagg any objections. If I don't hear any I'll plan to enable early next week. If you both confirm you don't have concerns I'll possibly do it earlier.

[2020-09-04 16:16] richardlau opened #2425 "node-test-binary-arm-12+ failures across multiple hosts"
https://ci.nodejs.org/job/node-test-binary-arm-12+/ has been failing with errors such as:
https://ci.nodejs.org/job/node-test-binary-arm-12+/7053/RUN_SUBSET=addons,label=pi3-docker/console
[code]

This is happening across several different pi's.

Logging into the individual machines I see there are several node processes still running from yesterday which are locking the `out/Release` directory, e

[2020-09-04 17:10] mhdawson commented on #2419
Reviewing more of the files, one entry that we might need a fix for:

-<record>

-<row>

<source_ip>209.85.220.69</source_ip>

<count>4</count>

-<policy_evaluated>

<disposition>none</disposition>

<dkim>fail</dkim>

<spf>fail</spf>

-<reason>

<type>local_policy</type>

<comment>arc=pass</comment>

</reason>

</policy_evaluated>

</row>

-<identifiers>

<header_from>nodejs.org</header_from>

</i

[2020-09-04 18:35] jbergstroem commented on #2419
Statistics, visibility. I say go ahead with reject regardless.

[2020-09-07 07:02] aixtools commented on #2423
Nods.

I have taken a quick look at the OSU system
(test-osuosl-aix72-ppc64_be-2.nodejs.org aka p8-aix2-nodejs.osuosl.org)
- and see that I need to do some maintenance.

Want to be sure I can do that - will require some downtime (e.g., reboots).

Michael

On 04/09/2020 16:02, Ash Cripps wrote:

[2020-09-08 04:31] rvagg commented on #2419
@mhdawson I don't know, perhaps we throw it over the wall to them and get helpdesk@ to deal with it. Our SFP is the following:

[code]

Maybe tell them if they need something additional to work for mail they send as `@nodejs.org` then let us know, otherwise it's going to be locked in and they may get rejections. What might they be sending out as `@nodejs.org` that we need to account for? Marketing

[2020-09-08 07:35] rvagg opened #2426 "Onboarding build/infra members"
Continuing #2418. Here we figure out how to onboard new people into build/infra since we haven't had to do so for quite some time and a lot of what we do isn't written down. This is for @mmarchini and @richardlau this time around but this can serve as the beginning of documentation so that we can potentially repeat this.

So I'm going to start a list and add to it as I think of things and hopefull

[2020-09-08 11:41] AshCripps commented on #2426
Theres also the google account holding our cloudflare logs which is infra.

[2020-09-08 12:46] mhdawson opened #2427 "Node.js Build WorkGroup Meeting 2020-09-08"
## Time

**UTC Tue 08-Sep-2020 22:00 (10:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 08-Sep-2020 15:00 (03:00 PM) |
| US / Mountain | Tue 08-Sep-2020 16:00 (04:00 PM) |
| US / Central  | Tue 08-Sep-2020 17:00 (05:00 PM) |
| US / Eastern  | Tue 08-Sep-2020 18:00 (06:00 PM) |
| EU / Western  | Tue 08-Sep-2020 23:00 (11:00 PM) |

[2020-09-08 18:29] mhdawson opened #2429 "Node.js Security Release Sep 15 2020"
As pers Node.js security release process this is the issue to request WG members are available to fix any CI issues.

@richardlau has already volunteered to lock/unlock the CI on the day of the security release.

[2020-09-08 21:14] mhdawson commented on #2419
Talked to Brian and it might be related to some gsuite accounts that were created at one point but we don't think they are being actively used and many of the people they were created for are not active in the project anymore.

I'll plan to enable and if we need to add records due to rejections we can look at that when/if people report issues.

[2020-09-09 08:49] aixtools commented on #2424
Once I know the level desired I can give a better estimate - two to four
hours once I get started is expected, 8 hours if things go horribly wrong.

And, I'll work in a way I can go back to the old if something completely
unexpected occurs.

Also, I recommend saving anything you want saved - before I start.

Michael

On 04/09/2020 12:34, Ash Cripps wrote:

[2020-09-09 11:45] rvagg commented on #2425
Did a full clean-up of the machines, updated, restarted, all running again. Doing test jobs at the moment but they're taking a long time because the workspaces were all cleared and it takes time to re-populate. No issues so far, 🤞 .

[2020-09-09 11:45] #2425 closed

[2020-09-09 12:57] richardlau commented on #2425
@rvagg Do you have an opinion on widening the grep for the script that kills off defunct processes (or adding another `ps ... | grep ... | awk '{print $2}' | xargs -rl kill || true` line to kill off non-defunct node processes)? @Trott 's suggestion in #nodejs-build was to grep for `Release/node`.

[2020-09-09 16:23] richardlau commented on #2418
@mmarchini Would you be able to make the timeslot of yesterday's Build WG meeting (https://github.com/nodejs/build/issues/2427) but next Tuesday (15 September) for onboarding? That was the time suggested in the meeting (https://github.com/nodejs/build/pull/2430) to get yourself, me, @mhdawson and @rvagg together on a private Zoom to do some onboarding.

[2020-09-09 16:58] mmarchini commented on #2418
Yes, same time next week works for me

[2020-09-09 19:46] mhdawson commented on #2419
Updated DMARC to reject those that fail now.

## Nodejs.org

_dmarc.nodejs.org. IN TXT "v=DMARC1; p=reject; rua=mailto:build@iojs.org; ruf=mailto:build@iojs.org; sp=reject; ri=86400"

## iojs.org

_dmarc.iojs.org. IN TXT "v=DMARC1; p=reject; rua=mailto:build@iojs.org; ruf=mailto:build@iojs.org; sp=reject; ri=86400"

[2020-09-09 19:47] mhdawson commented on #2419
Will leave this open for a week or so in case we have problems reported.

[2020-09-09 20:31] niftylettuce commented on #2419
❤️

[2020-09-09 20:47] mhdawson commented on #2418
@richardlau can you send out an invite?

[2020-09-09 21:35] mhdawson commented on #2415
Have a meeting tomorrow to see if @brianwarner and me can renew.

[2020-09-09 21:37] mhdawson commented on #2411
No objections from me.

[2020-09-10 00:04] rvagg commented on #2418
include @joaocgreis and @jbergstroem too, hopefully they might able to make it too as they have key pieces of the puzzle in their heads too.

[2020-09-10 01:08] #2412 closed

[2020-09-10 08:34] #2427 closed

[2020-09-10 10:53] richardlau opened #2431 "CITGM job runs out of space on AIX"
e.g. https://ci.nodejs.org/job/citgm-smoker/2466/nodes=aix71-ppc64/console

[code]

For some background history we previously made changes to the job in https://github.com/nodejs/build/issues/1908#issuecomment-546136337 which should still be in effect. We're now running on the AIX 7.1 machines (we ditched the 6.1 ones some time ago) but also the Node.js builds have been steadily getting larger whi

[2020-09-10 13:58] richardlau commented on #2418
Invites have been sent to @mmarchini, @mhdawson, @rvagg, @jbergstroem and @joaocgreis

[2020-09-10 14:01] AshCripps commented on #2431
Turns out the machines have a very decent sized disk and we are not using it for some reason (probs my fault I set these machines up IIRC). Ive added 10G under /home to both test machine and the release machine but it is very easy to add more if needed later on

[2020-09-10 15:59] richardlau opened #2432 "latest-linker broken?"
I ran into the following problem when releasing Node.js `v14.10.1`:

[code]

This could be related to the new version of https://github.com/nodejs/nodejs-latest-linker which came out yesterday and contains https://github.com/nodejs/nodejs-latest-linker/pull/4. If I ssh onto the server it looks like the symlinks still point to `v14.10.0`:
[code]

[2020-09-10 16:11] richardlau commented on #2432
Read through scripts in https://github.com/nodejs/build/tree/master/ansible/www-standalone/tools/promote and manually ran the linker but got the same failure:

[code]

[2020-09-10 16:23] richardlau commented on #2432
FWIW The PR for the release was https://github.com/nodejs/node/pull/35137 and the release build done in https://ci-release.nodejs.org/job/iojs+release/6304/ (everything passed so I don't believe any assets are missing).

I've considered running `npx nodejs-latest-linker@1.2.0 /home/dist/nodejs/release/ /home/dist/nodejs/docs/` to run the previous version of the tool but am erring on the side of ca

[2020-09-10 19:52] mhdawson commented on #2415
@rvagg I got together with Brian today but I need a bit more help/context to complete the renewal.

Specifically its asking for a CSR as part of the renewal.

I've found the file " Node.js Foundation Microsoft Authenticode Certificate.txt" which I can decode and get the p12 from.  From there I can get the private key.

A few questions
1) I assume we re-use the existing private key ?
2) In the past

[2020-09-11 01:02] richardlau commented on #2432
https://github.com/nodejs/nodejs-latest-linker/pull/6 should fix `nodejs-latest-linker`.

[2020-09-11 01:41] #2432 closed

[2020-09-11 01:44] rvagg commented on #2432
thanks for the fix, have deployed and re-run it:

[code]

[2020-09-11 01:46] rvagg commented on #2432
have queued a cdn purge, https://nodejs.org/dist/latest-v14.x/docs/api/ still has 14.10.0 but should switch to 14.10.1 soon, will monitor

[2020-09-11 03:28] rvagg commented on #2415
OK, considering that years have now gone by, this is off the top of my head and with very little memory of how this all went down originally:

1. I assume we can re-use the private key, maybe there's a case for best practice being to generate a new one, but then we also have to roll it out into our infra (although maybe we need to do that anyway?)
2. I probably just used openssl to make it, I don'

[2020-09-11 03:38] nschonni commented on #2415
They're saying new https://docs.digicert.com/manage-certificates/code-signing-certificate/renew-code-signing-certificate/

[2020-09-11 06:20] targos commented on #2423
Coming from https://github.com/nodejs/node/pull/34337#issuecomment-690854945

It looks like Chromium is going to target C++17 by mid-2021: https://chromium.googlesource.com/chromium/src/+/master/styleguide/c++/c++.md#modern-c_features

C++17 seems to be fully supported by:
- GCC 7: https://gcc.gnu.org/projects/cxx-status.html#cxx17
- Clang 5: https://clang.llvm.org/cxx_status.html

[2020-09-11 13:12] mhdawson commented on #2415
@nschonni  it says best practice is to "generate a new CSR", that's different than generating a new private key unless I missed something.

[2020-09-11 13:22] mhdawson commented on #2415
@joaocgreis can you chime on on using a new versus the existing private key and what needs to be installed once we get the new certificate?

[2020-09-11 15:47] septs opened #2433 "How to Donation Raspberry Pi to this project."

[2020-09-11 16:18] mhdawson commented on #2418
@richardlau can you drop and re-add me. I think I was confused when I looked at next week and deleted it.

[2020-09-11 16:21] richardlau commented on #2418
done

[2020-09-11 18:46] jbergstroem commented on #2418
11pm for me but I will try to make it!

[2020-09-12 06:09] rvagg commented on #2433
We don't really need more at this stage, we have a nice compliment of 1b's 2's and 3's and adding more probably won't make things better. There might be a desire to expand with newer hardware at some point in the future but we're not ready to do that today. Thanks for the offer though!

[2020-09-12 06:09] #2433 closed

[2020-09-12 06:16] rvagg commented on #2423
Thanks @targos! That's what we were looking for.

So ... devtoolset-7, how do IBM folks feel about that as a target for 16.x at the latest? How close are the platforms we care about to having that available?

[2020-09-14 11:14] richardlau commented on #2429
https://github.com/nodejs/node/blob/master/doc/guides/security-release-process.md says to lock the CI down 24 hours before release, so I've locked the CI down now and posted in https://github.com/orgs/nodejs/teams/collaborators/discussions/107.

[2020-09-14 23:19] joaocgreis commented on #2415
@mhdawson when we renewed 3 years ago I had to install the new certificate in every machine, so I don't think the private key makes any difference.

I can install the certificate when you have it, please update the secrets and let me know. Essentially, it's just remove the old one, install the new one, and test building to make sure everything is ok. Note this is only for the release machines.

[2020-09-14 23:24] joaocgreis commented on #2423
Windows 2012 and VS 2019 for the build machine look good. For running, Windows 2008 is no longer supported, so only 2012R2 and above (BUILDING.md looks good, it's just the table above).

[2020-09-15 00:38] #1969 closed

[2020-09-15 11:03] gengjiawen commented on #2429
Looks like this time take very long. Any estimate time we can use CI again ?

[2020-09-15 11:05] richardlau commented on #2429
No. We're still trying to get a clean CI for one of the patches.

[2020-09-15 14:45] MylesBorins opened #2434 "Need temporary access to MacOS 10.14 and 10.15 machines to test npm regression"
Hey All,

I'd like to get both myself and @ruyadorno access to the MacOS testing infrastructure so we can help identify a regression in npm 7 that is only manifesting in CITGM on OSX.

Aware that we need to wait until the current security release it out the door.

Would someone be able to help us navigate this? I feel like i may already have all the necessary access as part of the build team, but

[2020-09-15 14:51] AshCripps commented on #2434
@MylesBorins you are in the build team and I can see your key in the test folder of secrets so you should be able to decrypt the SSH key. [here](https://github.com/nodejs/build/blob/master/doc/ssh.md) are some instructions on logging in to the machines (basically an ansible playbook to fill out your ssh config then you should be able to just `shh test-*host*`). If the instructions arent that clear

[2020-09-15 18:53] mmarchini commented on #2247
@nodejs/build-infra any objections? Might be a good task for me to learn how to spin up instances.

[2020-09-15 18:54] mmarchini commented on #2247
For context, I intend to use this runner either for the Commit Queue/Auto Start CI actions (as it might make schedule actions more consistent, although that's just theory), or for the Linter Actions.

[2020-09-15 22:00] richardlau commented on #2429
CI is unlocked and releases are out.

[2020-09-15 22:00] #2429 closed

[2020-09-15 22:43] nschonni commented on #2429
Can someone trigger the "unofficial builds" so we can get the Alpine binaries for docker-node?

[2020-09-15 22:45] MylesBorins commented on #2434
@AshCripps it does not appear my key is included in the https://github.com/nodejs-private/secrets/tree/master/build/infra-mac directory so I can't get the details for the macs

I tried https://github.com/nodejs-private/secrets/blob/master/build/test/nodejs_build_test as the key for https://github.com/nodejs/build/blob/master/ansible/inventory.yml#L64 but it didn't work

[2020-09-16 00:33] gengjiawen commented on #2429
You probably need to open issue in https://github.com/nodejs/unofficial-builds.

[2020-09-16 01:26] richardlau commented on #2414
I think this is done, but feel free to reopen if not.

[2020-09-16 01:26] #2414 closed

[2020-09-16 03:10] gireeshpunathil commented on #2053
closing based on https://github.com/nodejs/build/issues/2053#issuecomment-555783688
- we can regenerate missing builds from source, if need be. and the underlying issue is closed on this premise too.

[2020-09-16 03:10] #2053 closed

[2020-09-16 04:26] rvagg commented on #2429
FYI the holdup is this https://github.com/nodejs/unofficial-builds/issues/22

something we need to get fixed since alpine depends on the musl builds being available. I'd suggest someone could help by modifying the scripts in that repo but without access it's a bit hard to test it out! It's really down to myself and @mmarchini at the moment who have access and a bit of a clue about how it all works

[2020-09-16 04:33] rvagg commented on #2247
Fine by me, stay minimal, clean up after yourself. I think you should have a rough idea for where might be best to spin up new VMs now for this kind of experimentation.

[2020-09-16 04:52] rvagg commented on #2434
^ this is why running the `write-ssh-config.yml` ansible job is handy @MylesBorins. The one you've linked to is a `release-*` machine so you shouldn't be able to access it. Scroll down to the `test-*` machines and you'll see a batch of them: https://github.com/nodejs/build/blob/master/ansible/inventory.yml#L193-L197

Take note of the port number though if doing this manually (something `write-ssh-

[2020-09-16 12:06] #2315 closed

[2020-09-16 12:07] AshCripps commented on #1732
Closing, Modern macos is available through orka and there are DTKs in the CI for 11.0

[2020-09-16 12:07] #1732 closed

[2020-09-16 13:31] MylesBorins commented on #2434
@rvagg thanks for the insight. Unfortunately both dotpgp and the instructions for getting ansible setup are broken on 10.15, at least following the instructions as written. I ended up just manually going through things since it was faster than figuring out how to get the tools working.

If I find some spare time I'll go through the steps again and try and update the docs

[2020-09-16 14:05] AshCripps commented on #2434
@MylesBorins does that mean you have access now? does Ruy need access as well or is it fine with just you?

Also can you give a heads up of which machines you are using? im looking into some issues with the macs and dont want to trip over you if I have to clear some space.

[2020-09-16 14:15] MylesBorins commented on #2434
I'm in the gibson :hacker-man:

https://ci.nodejs.org/computer/test-orka-macos10.15-x64-1/ is the specific node, I've taken it temporarily offline so other work wouldn't trample. Will put it back online when I'm not working on it

[2020-09-16 15:13] richardlau opened #2435 "Replace z/OS 2.4 VMs (update from z/OS 2.2 to z/OS 2.4)"
_Originally posted by @richardlau in https://github.com/nodejs/build/issues/2345#issuecomment-641438281_

This issue will track setting up the new z/OS 2.4 VM's from marist, which will eventually replace the existing z/OS VMs.

[2020-09-16 20:03] MylesBorins commented on #2434
FTR I've gotten off https://ci.nodejs.org/computer/test-orka-macos10.15-x64-1/ and on to https://ci.nodejs.org/computer/test-orka-macos10.14-x64-3/

Will clean up and bring it back online when I'm done for the day, but may need to do more work on it throughout the week

[2020-09-17 10:45] richardlau commented on #2426
[build-infra](https://github.com/orgs/nodejs/teams/build-infra) looks to be the obvious team to add myself and @mmarchini to. Once that's done we can run `ncu-team` on the README here to sync the list.

[2020-09-17 14:03] mhdawson commented on #2415
ok So I'll create a new key, and then request the cert.

[2020-09-18 01:55] rvagg commented on #2426
@mhdawson || @mmarchini can you take care of the GitHub group access please?

[2020-09-18 02:18] mmarchini commented on #2426
Yes. Just `build-infra` then?

[2020-09-18 02:19] mmarchini commented on #2426
Done for build-infra. Let me know if I need to add us on another team.

[2020-09-18 02:21] rvagg commented on #2426
Just looking at my groups and here's some others that may be relevant: jenkins-admins and jenkins-release-admins are probably a good idea if you're not there already. automation-admins is another one I'm in but I'm not sure exactly what that does but it says "People who has admin access to automation-related stuff".

[2020-09-18 03:36] mmarchini commented on #2426
"automated-related stuff" right now is basically github-bot server I think. Do we need an onboarding for the Jenkins admin teams as well?

[2020-09-18 04:24] rvagg commented on #2426
So I think that once you have build/infra, you're better off having maximal access over the top of resources even if you don't end up touching them that much. Managing the ci and ci-release servers is much more practical when you can actually log in as an administrator of Jenkins (primary example: need to update the server, or jenkins itself? you really should put it into "shutting down" mode to s

[2020-09-18 04:25] rvagg commented on #2426
But we should probably schedule a follow-up on-boarding and cover anything we feel might be outstanding. I think we said we'd leave that a couple of weeks to let it all settle in and for other questions and concerns to arise out of what you know and can now access. Including Jenkins in a follow-up would be good; we can chat about who "owns" it because that's got become quite confusing over time.

[2020-09-18 09:55] AshCripps commented on #2426
@mmarchini whilst you are adding people - would you mind removing the people listed in this https://github.com/nodejs/build/issues/2390 from `@nodejs/build` please?

[2020-09-18 09:57] #2120 closed

[2020-09-18 14:56] mhdawson commented on #2415
Certificate requested, will update when we receive the response

[2020-09-18 16:33] AshCripps commented on #2423
@rvagg Sorry for the late response had to organise some interal discussions to get the answer. For IBM platforms we would like to target GCC8 for 16.x but ask if we can delay the switch on master to mid-Feburary next year to ensure the compilers for current and future IBM platforms are ready.

[2020-09-18 18:00] mmarchini commented on #2426
@AshCripps will do

[2020-09-21 05:22] rvagg commented on #2423
@AshCripps sounds reasonable to me, let's make sure we work on this early though, we should at least start migrating the x64 machines to support gcc8 not long after 15.x goes out. The scramble to make everything happen at once is always awkward and we'll have work to do in the compiler selector scripting, jenkins, ansible, ando ther places - it'd be good to make sure we're actively working on that

[2020-09-22 21:49] mhdawson commented on #2415
On with chat support at Digicert, seems we still need the verification process to support.  They need to call the public number for the foundation.  Unfortunately there was no answer when I tried, so suggested the leave a message to have them call back. Will ping Brian to hopefully make sure they know the context.

[2020-09-22 21:58] brianwarner commented on #2415
Yes, it's a voicemail line, so they need to leave a message for a callback. They can also call me directly, if that's sufficient.

[2020-09-23 07:52] mmarchini opened #2440 "FYI: rejected request to add Slack integration to this repo"
Just FYI, we received a direct request to add a Slack integration to this repository. I rejected it as it didn't follow our GitHub App request policy. If it was someone from this repo please let me know.

[2020-09-23 08:05] mmarchini commented on #2440
ok just confirmed the user is active here

@aixtools we received your request to add the Slack integration to this repository, but we can't move forward unless the request follows our [GitHub App policy](https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANAGEMENT_POLICY.md). You'll need to open an issue on [nodejs/admin](https://github.com/nodejs/admin) requesting us to add the app with the

[2020-09-23 11:43] AshCripps opened #2441 "PSA testing new AIX7.1 machines"
im looking into replacing our (Non OSUOSL) AIX machines with AIX7.1 machines from a differenet source. As part of this work Im going to hook up a machine or 2 to the CI for testing build times to ensure we dont add a bottleneck.

[2020-09-23 12:19] mhdawson opened #2442 "Node.js Build WorkGroup Meeting 2020-09-29"
## Time

**UTC Tue 29-Sep-2020 12:00 (12:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 29-Sep-2020 05:00 (05:00 AM) |
| US / Mountain | Tue 29-Sep-2020 06:00 (06:00 AM) |
| US / Central  | Tue 29-Sep-2020 07:00 (07:00 AM) |
| US / Eastern  | Tue 29-Sep-2020 08:00 (08:00 AM) |
| EU / Western  | Tue 29-Sep-2020 13:00 (01:00 PM) |

[2020-09-23 13:01] richardlau commented on #2441
Have added an entry for `test-ibm-aix71-ppc64_be-3` to the CI firewall.

[2020-09-23 14:54] AshCripps commented on #2423
@rvagg so are we in agreement for 15.x then? if so Ill close this issue and open a new tracker issue for the 16.x updates.

cc @nodejs/build

[2020-09-24 02:21] rvagg commented on #2423
I _think_ so

[2020-09-24 09:08] rvagg opened #2443 "Jenkins update today"
Just ran an update of both instances. The LTS channel has delivered a bit of a major update so I hope this goes smoothly, crossing fingers (tbh I didn't know this when I ran the upgrade, apt just delivered this one).

There were some security updates for plugins, I don't believe we were using any of them though, so this is just a routine upgrade.

Here's what's happened for the record:

**ci-relea

[2020-09-24 09:08] #2443 closed

[2020-09-24 16:57] AshCripps commented on #2440
Closing. I spoke to Michael and it was unintentional click of a button, sorry!

[2020-09-24 16:57] #2440 closed

[2020-09-25 11:18] richardlau commented on #2435
We have the new z/OS 2.4 VM's now and I'm in the process of setting them up with the ansible scripts from https://github.com/nodejs/build/pull/2437.

[2020-09-25 13:35] richardlau commented on #2435
New z/OS 2.4 VMs have been added to the test CI. I've marked the old z/OS 2.2 VMs (which are historically labelled as `test-marist-zos13-s390x-*`) as offline. I'll give it a week or so and then remove the old ones assuming no unforeseen issues arise.

[2020-09-26 00:39] #1742 closed

[2020-09-27 12:47] FoxyCodes234 opened #2444 "visual studio code error"
abort(TypeError: Cannot read property 'url' of undefined). Build with -s ASSERTIONS=1 for more info.
(Use `node --trace-uncaught ...` to show where the exception was thrown)

[2020-09-28 03:45] rvagg commented on #2444
I don't think this applies here, if you think it's a mistake for me to close this then please respond with more information about how your issue relates to the work in this repository.

[2020-09-28 03:45] #2444 closed

[2020-09-28 10:48] AshCripps commented on #2423
ok closing issue - if anything comes to anyones mind feel free to reopen

[2020-09-28 10:48] #2423 closed

[2020-09-28 11:16] AshCripps opened #2445 "Action plan for 16.x upgrades"
This issue is the tracker for the updates and upgrades we need to undertake before the release date of 16.x in April 2021.

#

### Toolchain updates

These machines will need the new versions installed and added to the ansible scripts

- [x] Linux x86
- [x] Linux arm
- [ ] Linux cross compiling
- [x] MacOS
- [ ] Windows
- [x] AIX
- [x] zLinux
- [x]  Linux on P
- [ ] IBMi
- [ ] zOS
- [ ] smartos

#

[2020-09-28 11:59] rvagg commented on #2445
From https://github.com/nodejs/build/issues/2423, so far there's agreement that we need to get to _at least_ devtoolset-7 for all the Linux platforms. V8 will force this on us. If we can get to a later one then even better but this is probably going to be dictated by IBM folks.

[2020-09-28 12:01] AshCripps commented on #2445
We would like to go to devtoolset-8 (GCC8) - A lot of our systems already have that available and ones we have in the pipleline are targeting 8 aswell.

[2020-09-28 13:12] richardlau commented on #2445
We don't release on it, but we still test on smartos -- I assume we'll need to update those too?

[2020-09-28 13:23] AshCripps commented on #2445
ah I forgot to mention feel free to update the list as I knew I wouldve forgotten something - Ill add smartos now

[2020-09-28 22:12] mhdawson commented on #2442
I'm not going to be able to make it tomorrow.

[2020-09-29 08:18] AshCripps commented on #2442
Shall we cancel? the issues tagged to the agenda have all been discussed/closed since the last meeting.

[2020-09-29 08:39] rvagg commented on #2442
Fine by me. We probably can't even run this zoom without Michael anyway.

[2020-09-29 08:40] AshCripps commented on #2442
I have the creditionals for the zoom if needed

[2020-09-29 08:50] rvagg commented on #2442
ok, well I could possibly join if anyone really wants it to happen, otherwise I'm happy to have my night back

[2020-09-29 09:53] AshCripps commented on #2442
Spoken with Richard and he has nothing to add so im cancelling for today.

[2020-09-29 09:53] #2442 closed

[2020-09-29 12:02] aixtools commented on #2442
Ah - so know I see cancelled. Had hoped to at least say hello. C'est la vie.

[2020-09-30 07:54] rvagg commented on #2445
yeah, and we should also look at what we should retire when we do these, we often don't clean up old combos as we move forward.

[2020-09-30 09:21] AshCripps commented on #2445
@rvagg 100% agree if we get on top of this early enough we can clear a lot of cruft from the buildfarm especially with 10.x going EOL roughly around the same time.

[2020-09-30 11:55] anlexN opened #2446 "can we give up very old version toolchain?"
gcc/g++ should be > 9, remove python 2 and something like this.

if so, i think nodejs can be lighter and better

[2020-09-30 13:54] AshCripps commented on #2446
see - #2445 we plan to move to GCC8 for 16.x and as far as im aware node is python3 compatable at this point

[2020-09-30 13:59] AshCripps opened #2447 "Why do we set hostnames in ansible scripts?"
title. Setting up some AIX machines and im getting test failures on all socket tests - see https://ci.nodejs.org/job/node-test-commit-aix-ashcripps/nodes=test-ibm-aix71-ppc64_be-3/5/console. The IP the machine is trying to connect to `138.197.224.240` resolves to `dist-libuv.org` which seems really odd to me.

so I just wanted to know is there a reason we set the hostname? im hoping to just blow t

[2020-09-30 14:09] richardlau commented on #2447
I don't know the reason. We are explicitly setting the hostname on AIX for something under `*.nodejs.org` and that's probably why the name resolves to that IP address.

https://github.com/nodejs/build/blob/06c83e72a359ff8b24e5b04bf071656f6325c2e3/ansible/roles/baselayout/tasks/main.yml#L31-L33

[2020-09-30 15:15] jbergstroem commented on #2447
When initially creating this, the hostname was an identifier of the machine, where it was hosted and what it did. We then had an ansible script that wrote configuration to your `.ssh/config` so you could quickly ssh into boxes by using their hostnames. I'm sure the script is around but I haven't tested it in.. long.

[2020-09-30 15:17] jbergstroem commented on #2447
When initially creating this, the hostname was an identifier of the machine, where it was hosted and what it did. We then had an ansible script that wrote configuration to your `.ssh/config` so you could quickly ssh into boxes by using their hostnames. I'm sure the script is around but I haven't tested it in.. long.

- inventory parser/generator (hostname definition): https://github.com/nodejs/bui

[2020-09-30 15:25] AshCripps commented on #2447
if its thats for the SSH config and stuff (Which I agree is very useful I use that all the time) is it possible to drop the `.nodejs.org` off the end of the scripts? I think thats the part thats breaking this tests as it resolves to an actual domain then and I think that suffix is only added to AIX and macos currently.

[2020-09-30 15:29] anlexN commented on #2445
i think we don't need more talking, many and many os already have newer toolchain that nodejs need. so please quickly upgrade. i need many modern C++ syntax (for example: smart pointer) to write nodejs, i think if so, nodejs source code can be decreased very much and lighter. can we go further? action plan for 15.x, not wait 16.x.

[2020-09-30 15:37] AshCripps commented on #2445
@anlexN Unfortunatly we can't push the update to 15.x as not all the platforms we support have GCC8 compatability and won't have it until near 16.x's release date. Also V8 won't require c++17 support until mid 2021 - https://chromium.googlesource.com/chromium/src/+/master/styleguide/c++/c++.md#modern-c_features

[2020-09-30 15:48] AshCripps commented on #2447
I can confirm removing the `.nodejs.org` from the hostname got me a passing test suite - Ill open a PR tomorrow to remove it from ansible as I dont think its needed and is now causing breakages

[2020-09-30 21:53] mhdawson commented on #2415
Still looks like it is in pending, trying to contact support again.

[2020-09-30 22:03] mhdawson commented on #2415
Called in to support again today. What I've been told is that they called the Foundation number and left a code which somebody needs to call back with in order to complete the validation.  @brianwarner I think I need you to follow up on that

[2020-10-01 03:29] anlexN commented on #2445
but at least, we must remove python 2. it is died.

[2020-10-01 04:00] rvagg commented on #2446
@anlexN we're dealing with a very diverse and complex ecosystem here, making big jumps is just impossible. Particularly with newer GCC, we wipe out entire classes of operating systems that we can support. We also have hardware that we support that don't have newer toolchains. So we have to move fairly slowly and balance our need for _newer features_ with _maximal compatibility_. This is quite diff

[2020-10-01 04:00] #2446 closed

[2020-10-01 04:17] rvagg commented on #2447
Change hostname on the machine to whatever you like, it shouldn't impact anything on our end. It's mainly in there for the convenience when having to deal with a lot of machines, often with random, or bad names coming our of our various infra providers. This all dates back to a time when we didn't have a good method for consistently naming things. @jbergstroem came up with a good scheme and we've

[2020-10-01 04:21] rvagg commented on #2447
Re 138.197.224.240 -> dist.libuv.org, because it's our web server and it hosts a bunch of names, that one included. I don't know who's indexing IP->name mappings that might give you that one first, it could be one of a bunch of names. It's correct name according to ansible should be infra-digitalocean-ubuntu1604-x64-1. But that's only useful for internal purposes.

[2020-10-01 08:31] AshCripps commented on #2447
opened a PR to remove the problematic part - https://github.com/nodejs/build/pull/2448 its weird it only causes failures on AIX but ill put that down to AIX being weird more than anything else.

[2020-10-01 11:00] aixtools opened #2449 "Playbook for AIX"
I have volunteered to be AIX admin at OSU, and as part of that am also looking at redoing the ansible playbooks for other projects. I do not find any direct action since PR #784 - although I am sure there has been some.

See https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1582 or https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1583 for info on how I would proceed, roughly

[2020-10-01 11:54] dennisameling opened #2450 "Re-add Windows arm64 (un)official builds"
While trying to add [Windows arm64 support to GitHub Desktop](https://github.com/desktop/desktop/pull/9691), I came across some issues with the NodeJS Windows arm64 binaries. The Electron part of the app works fine, as they've been supporting Windows arm64 for a while (e.g. http://electronjs.org/headers/v9.3.1/win-arm64/node.lib).

The last NodeJS release that had unofficial arm64 builds was 12.15

[2020-10-01 11:57] AshCripps commented on #2450
Best person to ask would be @joaocgreis as I believe the machines used to build it are hosted on his desk.

[2020-10-01 14:34] davidstanke commented on #2171
Hi! Will you look at the time... a whole year has gone by. So, I apologize for leaving this thread idle. As you can probably guess, _something_ kind of weird happened this year and completely scrambled my priorities and availability. So, I don't expect I'll be able to contribute here after all. :( Thank you to the folks like @mhdawson and @sam-github who were patient and generous with their time i

[2020-10-01 14:34] #2171 closed

[2020-10-01 15:08] anlexN commented on #2446
can you tell me what very complex and broad beast with many conflicting requirements?

[2020-10-01 15:16] AshCripps commented on #2446
We support over 6 different architectures, some of which are very _unique_ in terms of what toolchains they support so its never easy to just make a jump across the board. We also support our LTS versions for ~3 years and we keep them as stable as possible thereforce we cant drop/change the toolchain without a extreme reason and it will be a breaking change.

[2020-10-01 15:40] anlexN commented on #2446
whether have variant nodejs that satisfy my requirement?

[2020-10-01 19:08] MylesBorins commented on #2434
Taking https://ci.nodejs.org/computer/test-orka-macos10.14-x64-3/  offline again. will update when online

[2020-10-01 22:11] MylesBorins commented on #2434
Cleanup up machine and put it back online a bit ago, sorry for not updating.

We found the bug!!!! Closing

[2020-10-01 22:11] #2434 closed

[2020-10-01 22:26] mhdawson opened #2451 "All machines at nearform are offline"
Looks like all the machines hosted by nearform are offline in jenkins.  I could still ssh into test-nearform_intel-ubuntu1604-x64-1 eariler

I'd tried restarting the agent earlier when I thought it was just one, and the failure was that it could not connect to the CI.

I checked that the IP was in the firewall so thinking its a problem on the nearform network side.

@jasnell can you check if there

[2020-10-02 11:23] AshCripps opened #2453 "CI not starting any jobs - out of space"
trying to start https://ci.nodejs.org/job/node-test-commit-aix-ashcripps/ and I just get page refreshes and according to [grafana](https://grafana.nodejs.org/d/000000127/system-health?orgId=1&refresh=1m) looks like the CI system is out of space
<img width="133" alt="image" src="https://user-images.githubusercontent.com/26796102/94918187-f74dfe80-04a9-11eb-863e-0ec885925778.png">

@nodejs/build-inf

[2020-10-02 11:50] rvagg commented on #2453
I think the backup server has filled up which has stopped the automatic cleanup:

[code]

@jbergstroem halp!

I'm running the cleanup scripts manually and will restart ci afterward.

FYI on the backup server, the cleanup script is called from /var/spool/cron/crontabs/root, I'm running:

[code]

[2020-10-02 11:56] rvagg commented on #2453
done and restarted, and I've updated Jenkins plugins while I was in there:

WMI Windows Agents
Trilead API
Git client
Git
Pipeline: Nodes and Processes
Bitbucket Branch Source
JUnit
Pipeline: Basic Steps
Groovy
SCM API
Git client
Lockable Resources
Matrix Project
Role-based Authorization Strategy

This will mean a second restart which I'll get sorted out when this current queue is emptied.

[2020-10-02 11:59] AshCripps commented on #2453
Thanks a lot @rvagg sorry to disturb your evening!

[2020-10-02 13:37] #2447 closed

[2020-10-02 13:37] #2453 closed

[2020-10-02 19:31] mhdawson commented on #2415
Received the email today, with the cert have raised to update in the secrets repo.

@joaocgreis over to you to update the servers with the new p12 file.

[2020-10-04 07:50] joaocgreis commented on #2415
Updated, done. Thanks @mhdawson

[2020-10-04 07:50] #2415 closed

[2020-10-05 03:05] joaocgreis commented on #2450
v14.13.0 published: https://unofficial-builds.nodejs.org/download/release/v14.13.0/

It was not possible to run the tests for this release because the machines we have are currently offline, I'll check on them and run the tests when possible. @dennisameling if you can try the release and confirm it works, that would be appreciated.

Note the release process for this is manual - the unofficial rele

[2020-10-05 10:10] dennisameling commented on #2450
Thanks @joaocgreis! Can confirm the release works. Have been trying some things and all looks good so far.

![image](https://user-images.githubusercontent.com/17739158/95054469-34a4cd00-06f2-11eb-9bd6-8772fb20460d.png)

I was also able to build an MSI installer from the v14.13.0 tag, here's the link in case someone's interested: https://github.com/dennisameling/node/releases/tag/v14.13.0-arm64 (I'

[2020-10-05 17:28] mhdawson commented on #2451
@jasnell, @mcollina can you see if there is any known issue on the Nearform side

[2020-10-05 17:35] jasnell commented on #2451
Checking... Will get back once I hear from our sysadmin

[2020-10-05 17:55] mcollina commented on #2451
We are undergoing some maintenance on our own network.

[2020-10-06 00:50] emaste commented on #1791
@anandsuresh as far as this issue is concerned, if you're finding FreeBSD 12 works fine and 11 or earlier has issues, we should just focus our efforts there.

[2020-10-06 10:42] richardlau commented on #2435
I've updated all references to the definitions for the old z/OS 2.2 VMs from both test and release Jenkins and removed them. https://github.com/nodejs/build/pull/2457 will remove them from the ansible inventory, after which I'll remove them from secrets.

marist have been informed that the old VMs can be shut down.

[2020-10-06 14:05] AshCripps commented on #2390
Can the one of the members of build with TSC overlord powers remove the poeple at the top of the issue from the respective teams please? @mhdawson @Trott @mmarchini

[2020-10-06 19:52] jasnell commented on #2451
Ok, so... it is sounding like the fans on the intel benchmarking machine may be going out. The machine was shutdown, possibly due to overheating. We're going to continue to monitor it but it should be up now if you can give it a try.

The mac minis appear to be running fine. Please let me know if you're having issues with those.

[2020-10-06 21:45] mhdawson commented on #2390
@AshCripps done, does not look like there is a **nodejs/build-release** team, was that the right name?

[2020-10-06 22:27] AshCripps commented on #2390
build-release is referring to secrets team I believe

[2020-10-07 17:44] jasnell commented on #2451
Can someone confirm if they are able to access the servers now

[2020-10-07 22:36] mhdawson commented on #2390
@AshCripps there is no team specifically related to secrets but those in the `nodejs-private/build` team have access to the secrets repo. I've remove the inactive members from that team so I think we should be good.

[2020-10-08 00:20] mmarchini commented on #2390
Is build-release referring to the private keys instead?

[2020-10-08 08:20] aixtools commented on #2424
OK. As part of redoing the nodejs AIX infrastructure at OSU - I will 'offline' the current image. While it will not be simple (for me), should it turn out that there are certain files that are missed - I'll be able to recover them from the backup for you.

Unless someone objects - this image will go offline either Friday or Monday (9 October or 12 October).

[2020-10-08 08:26] AshCripps commented on #2390
sorry yes its referring to those you have access to the keys - theres no "team" as such cause there doesnt need to be.

[2020-10-08 11:48] richardlau commented on #2415
@joaocgreis I suspect the new certificate is behind Windows flagging the most recent installers as unsafe: https://github.com/nodejs/node/issues/35539
Do you know if there's anything we need to do to prevent that?

[2020-10-08 11:50] AshCripps commented on #2390
Closing as complete.

[2020-10-08 11:50] #2390 closed

[2020-10-08 13:21] aixtools commented on #2424
OK - so what this has become: Add for AIX 7.2 systems.

The system with the NodeJS label test-osuosl-aix72-ppc64_be-2 will be reinstalled. The existing image will go offline on Monday 12 October sometime after 0600 CUT.

When it comes up, it will have a base AIX install image - no ansible configs will be run against it by myself.

There will be three other servers installed - identical except for

[2020-10-08 13:43] #2435 closed

[2020-10-08 14:18] AshCripps commented on #2451
@jasnell I can log in to the systems however none of them can connect to our jenkins server - they are in the firewall so they should connect just fine.

[2020-10-08 14:23] jasnell commented on #2451
hmmm... ok... let me connect you directly with our sysops.... expect an email soon

[2020-10-08 16:38] joaocgreis commented on #2415
I have reported the files as safe, let's see if it solves the issue.

[2020-10-08 20:45] mhdawson commented on #2451
@AshCripps thanks for following up. What you reported was the same as I saw.  We could ssh in, but they could not connect to the CI despite being in the firewall config.

[2020-10-08 20:47] mhdawson commented on #2088
@BridgeAR I'm assuming this is long stale and will close, please re-open if that is not hte case.

[2020-10-08 20:47] #2088 closed

[2020-10-08 20:49] mhdawson commented on #2449
our ansible playbooks are integrated and share where possible across platforms. We can tweak the AIX specific parts but we still want them to share with the scripts we have for other platforms which will constrain how/what you can change.

Not sure if that fits with what you had in mind.

[2020-10-08 22:19] joaocgreis commented on #2450
Published v14.13.1.

CI: https://ci.nodejs.org/view/All/job/node-test-commit-windows-fanned/38639/

`test-dgram-udp6-link-local-address` seems to always fail, but it may be because of the configuration of the machine.

@dennisameling we are using essentially the same thing as a self-hosted agent, but connected to our Jenkins system. This is not a reliable setup though, the machine was offline and

[2020-10-09 01:56] rvagg opened #2459 "Jenkins updates"
ci and ci-release were just updated, plugins and their versions, both went from Jenkins 2.249.1 to 2.249.1. I don't believe there were any security concerns in that versioning. There were some security releases in plugins though and we did touch a few of those. Here's the advisory:

[code]

Audit Trail and Role-based Authorization Strategy are plugins we use.

Here's the plugins that were updated

[2020-10-09 01:57] #2459 closed

[2020-10-09 02:02] rvagg opened #2460 "DigiCert Intermediate CA cert replacement"
We were impacted by the first round of this, they've just announced a second. I don't know if we'll be impacted and don't have time to figure it out. We use a wildcard *.nodejs.org (can't recall if we still use a *.iojs.org, maybe that got switched to LetsEncrypt). Here's some bits from the email, if someone else wants to start assessing that'd be great:

---

This email is to inform you on Novemb

[2020-10-09 02:03] rvagg opened #2461 "DigiCert replacing intermediate CA certs"
We were impacted by the first round of this, they've just announced a second. I don't know if we'll be impacted and don't have time to figure it out. We use a wildcard *.nodejs.org (can't recall if we still use a *.iojs.org, maybe that got switched to LetsEncrypt). Here's some bits from the email, if someone else wants to start assessing that'd be great:

---

This email is to inform you on Novemb

[2020-10-09 03:20] rvagg commented on #2415
iirc it took a few days of our original cert in the wild and enough people to mark their installs as OK for Microsoft to start flagging it as OK

[2020-10-09 07:57] aixtools commented on #2449
It fits fine. I would not have it any other way. I might have a difference of opinion over some things - but my key goal is to be able to have things as similar as possible. in other words, wherever possible minimize/remove AIX idiosyncrasies.

Ansible - built-in/collection support for AIX misses many elements - and I hope to make a difference in that area.

Where differences are unavoidable - the

[2020-10-09 08:52] AshCripps commented on #2451
Eamonn restarted the firewall at nearform's end and the machines are back up and now connecting to the CI 🎉 I also checked and brought the release mac back online. Closing.

[2020-10-09 08:52] #2451 closed

[2020-10-14 00:45] #2049 closed

[2020-10-14 12:18] mhdawson opened #2463 "Node.js Build WorkGroup Meeting 2020-10-20"
## Time

**UTC Tue 20-Oct-2020 22:00 (10:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 20-Oct-2020 15:00 (03:00 PM) |
| US / Mountain | Tue 20-Oct-2020 16:00 (04:00 PM) |
| US / Central  | Tue 20-Oct-2020 17:00 (05:00 PM) |
| US / Eastern  | Tue 20-Oct-2020 18:00 (06:00 PM) |
| EU / Western  | Tue 20-Oct-2020 23:00 (11:00 PM) |

[2020-10-15 10:49] AshCripps commented on #2140
Closing as audit was completed.

[2020-10-17 15:41] aberba commented on #580
Node.Js flatpak is very much needed. Linux packaging is moving to snaps and flatpaks

[2020-10-18 04:00] #2140 closed

[2020-10-20 02:12] rvagg commented on #2463
i've had to withdraw my :thumbsup: as I've just had something plop into my calendar that conflicts, sorry

[2020-10-20 16:34] richardlau commented on #2463
Nothing on the agenda... If nobody has anything to add shall we cancel? This is late (11pm) for me so I'd only really want to attend if there's something to discuss.

[2020-10-20 16:36] AshCripps commented on #2463
+1 on cancelling

[2020-10-20 19:24] mhdawson commented on #2463
+1 for cancelling

[2020-10-20 21:46] mhdawson commented on #2463
deleted from calendar, and closing.

[2020-10-20 21:46] #2463 closed

[2020-10-20 22:20] BethGriggs commented on #2365
I'm not sure if this has been raised elsewhere (I couldn't spot a recent build issue for it), but it seems we're down to 2 Pis @ https://ci.nodejs.org/label/pi3-raspbian-stretch/

[2020-10-20 22:34] richardlau commented on #2365
I mentioned it in the build Slack channel yesterday. I wasn't able to ssh into any of the offline pi3's.

[2020-10-21 00:02] rvagg commented on #2365
I'm on it. The Pi3's have been very unstable and I haven't been able to make much of a dent on their stability. I'll try another update today to see if something new comes in to solve this.

In the meantime, if this bottleneck becomes chronic, disable the arm-fanned job entirely to remove it from consideration, it's not the biggest loss and I can usually get ontop of it within 24 hours if notified

[2020-10-22 00:48] #2062 closed

[2020-10-22 14:44] AshCripps commented on #2460
Closing as dupe of #2461

[2020-10-22 14:44] #2460 closed

[2020-10-22 15:49] AshCripps commented on #2461
@rvagg can you elaborate on the first round? I do seem to remember some cert issues but cant find anything on the issue tracker except for some java certs that changed when we did a jenkins update - https://github.com/nodejs/build/issues/2384

[2020-10-22 21:44] rvagg commented on #2461
I can't remember, sorry, I have fog-brain about this but I seem to remember something coming in via nodejs.org with people reporting https rejection errors which resulted in intermediate cert change. https://github.com/nodejs-private/secrets/pull/51 is the last PR that seems to have made a material change to our secrets, but that's making me wonder whether we're out of sync on the server and secre

[2020-10-23 10:52] aixtools commented on #2449
So, here is an example of a playbook I wrote to install bash - without needing all the prequisites needed to use the Ansible `yum:` statement. (roughly 50 different packages and updates - not including the 3 to 5 extra needed to even get yum to be downloadable).

Note: I am testing with Ansible 2.10 (on AIX as Control Node) - but I expect this should work with lower levels of Ansible.

Note 2: Thi

[2020-10-23 11:02] richardlau commented on #2449
@aixtools sounds good if we end up with something like Note 2.

[2020-10-23 11:04] AshCripps commented on #2449
Yes note 2 is what we would like to implement - it should be a very simple cut n paste in replacement of yum. How would it handle in place updates? for example most AIX boxes we use come with bash 4 installed and we update to bash 5

[2020-10-23 14:23] aixtools commented on #2449
Aside note: while testing the current playbook - ran into - 'does not work with python3' - which I had already installed.

Have added the following so that `yum.sh` can be run:

[code]

Re: have bash4 - but want bash5.

My bash can be installed side-by-side - has always been a premise of mine to not step on **/opt/freeware** for standard **AIX** software. The exe is placed in /opt/bin. What the pl

[2020-10-24 12:51] RaisinTen opened #2465 "Extra slashes in links in the console output"
I was glancing through the logs [here](https://ci.nodejs.org/job/node-test-commit/41591/console) and noticed that the links of the build numbers and the statuses have an extra slash.
The build number link should be changed to this:
[code]
and the status link should be changed to this:
[code]
Is this the correct repo where I can fix this? If not, can someone please help me find out where I can fix

[2020-10-26 01:21] rvagg commented on #2465
These are all generated by Jenkins, unless you want to go chasing up the relevant Jenkins plugin that's creating those links I don't think there's a whole lot we can do.

[2020-10-26 06:43] #2465 closed

[2020-10-27 10:05] aixtools opened #2466 "Planned downtime for OSUOSL hosted AIX systems: 09 November 2020"
POWER System maintenance - to occur on 9 November 2020, starting at approximately 07.00 GMT.

Please advise if there are any show-stoppers.

[2020-10-27 21:00] richardlau opened #2467 "PSA: removing an errant file from staging on the www server"
@nodejs/build-infra @nodejs/releasers TL;DR This issue is recording (for traceability) that there's an errant file in staging on the www server, an explanation on how it got there and that I'm removing it.

During the promotion of Node.js 10.23.0 and 14.15.0 today we noticed (I did this live during today's Release mentoring call) that there is a staged `osx-x64-pkg` asset in v14.13.1:
[code]
(@Bet

[2020-10-27 21:04] richardlau commented on #2467
I've removed the file:
[code]

and it no longer shows when running the release script:
[code]

[2020-10-27 21:04] #2467 closed

[2020-10-27 21:56] rvagg commented on #2467
Very impressive detective work here @richardlau! Makes me **very** happy to see someone else understanding enough of the pieces of this puzzle and having the access to fix it.

[2020-11-02 02:06] rvagg opened #2469 "Possible unofficial-builds instability or downtime (DO)"

[2020-11-02 09:39] rvagg opened #2470 "Jenkins plugins security advisory (Nov 4)"
Depending on what the "Critical" is and whether it impacts something we're running, this update will either be done ASAP (by me or someone else who has access and gets these alerts), or I'll just wait until the slow period in my mid-afternoon when I usually do these updates (Jenkins' quietest time of day, basically nobody is around).

[2020-11-04 13:19] mhdawson opened #2472 "Node.js Build WorkGroup Meeting 2020-11-10"
## Time

**UTC Tue 10-Nov-2020 13:00 (01:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 10-Nov-2020 05:00 (05:00 AM) |
| US / Mountain | Tue 10-Nov-2020 06:00 (06:00 AM) |
| US / Central  | Tue 10-Nov-2020 07:00 (07:00 AM) |
| US / Eastern  | Tue 10-Nov-2020 08:00 (08:00 AM) |
| EU / Western  | Tue 10-Nov-2020 13:00 (01:00 PM) |

[2020-11-04 14:50] AshCripps commented on #2441
machines are added and will be switched over some time this week

[2020-11-04 14:50] #2441 closed

[2020-11-04 15:08] AshCripps commented on #2133
@richardlau can this be closed? Joao added the functionality for deleted jobs here https://github.com/nodejs/jenkins-config-test/commit/f90b5aa85935409e72bea78413e1ef5526d3a6d2

[2020-11-04 15:10] richardlau commented on #2133
Yeah, I think we can close this and open new issues for any follow ups.

[2020-11-04 15:11] #2133 closed

[2020-11-05 07:13] rvagg commented on #2470
Updated jenkins and plugins today, it was a bit awkward with timing, probably too late in the day because I was bumping up against people's jobs, and I had to cancel a bunch of auto-jobs that kept on getting into the queue so benchmarks and coverage will be missing from today.

Both went from jenkins v2.249.2 to v2.249.3. Plugins updated:

## ci-release

Bootstrap 4 API 4.5.3-1 <- 4.5.2-1
Branch A

[2020-11-05 07:13] #2470 closed

[2020-11-05 10:27] AshCripps commented on #2472
@rvagg I think this is because of EU/US timezone shifts as this was originally at 2pm UK time.

[2020-11-05 11:41] richardlau opened #2473 "Read only filesystem on test-softlayer-ubuntu1804_docker-x64-1"
Jobs on `test-softlayer-ubuntu1804_sharedlibs_container-x64-5` have been failing due to a read only filesystem, e.g. https://ci.nodejs.org/job/node-test-commit-linux-containered/nodes=ubuntu1804_sharedlibs_withoutssl_x64/23270/console
[code]

I've logged into `test-softlayer-ubuntu1804_docker-x64-1` and verified the filesystem is read only and followed the steps in https://github.com/nodejs/build/

[2020-11-05 11:43] richardlau commented on #2473
Test build looks to have at least started and got past the `git checkout` step: https://ci.nodejs.org/job/node-test-commit-linux-containered/23271/nodes=ubuntu1804_sharedlibs_withoutssl_x64/console

[2020-11-05 12:56] #2473 closed

[2020-11-05 13:15] AshCripps opened #2474 "Apple silicon builds"
refs: https://github.com/nodejs/TSC/issues/886#issuecomment-722366519

We need to kickstart the discussion again on how we plan to support the new Mac hardware which is due to be announced on [Nov 10th](https://www.independent.co.uk/life-style/gadgets-and-tech/apple-event-macbook-iphone-ipad-b1563449.html).

We last had the discussion in the [build meeting in july](https://github.com/nodejs/build/

[2020-11-05 19:18] richardlau opened #2475 "Unable to create '/home/iojs/build/workspace/node-test-binary-arm/.git/index.lock': File exists on pi3's"
`test-requireio_davglass-debian10-arm64_pi3-1` and `test-requireio_securogroup-debian10-arm64_pi3-1` were failing builds  due to a locked git repository:
e.g. https://ci.nodejs.org/job/node-test-binary-arm-12+/RUN_SUBSET=addons,label=pi3-docker/8037/console
[code]

I've checked there were no running processes and removed the lock file on both and they appear to be processing builds normally again.

[2020-11-05 19:19] #2475 closed

[2020-11-05 19:30] mhdawson commented on #2472
It's as early as I can make, but I think Ash is setup to host/stream so I'd be ok with the moving earlier with the understanding that I'll never make it.

[2020-11-05 20:25] vtjnash opened #2476 "too many threads on libuv-test-aix-cmake"
I'm seeing the identical problem as https://github.com/nodejs/build/issues/2402 (@rvagg), but on the https://ci.nodejs.org/job/libuv-test-commit-aix-cmake/250/ worker with the missing JOBS variable. Thanks!

[2020-11-05 20:27] mhdawson commented on #2476
@AshCripps can you take  a look at this one ?

[2020-11-05 20:29] mhdawson commented on #2474
I think we'd agree to do fat binaries as they seemed preferable for a number of reasons.

In terms of hardware longer term, we should see if macstadium has a longer term answer for that now as having them provide the hardware is the easiest path for us.

[2020-11-05 21:59] rvagg commented on #2474
+1 to fat (again, I think? I don't recall). We used to do fat for x86+x64 until we ripped that out for io.js (and then Node 4). There's still echoes of the code to do it in nodejs/node Makefile and tools/ and it's certainly in the git history.

For hardware, we really should have redundancy here too. Same approach as we have for x64. Rely on macstadium (assuming they'll let us use official hardwar

[2020-11-06 00:32] #1791 closed

[2020-11-06 08:04] gengjiawen commented on #2474
We have PRs need to run on silicon too: https://github.com/nodejs/node/pull/35986.

[2020-11-06 09:34] AshCripps commented on #2476
Added the variable https://ci.nodejs.org/job/libuv-test-commit-aix-cmake/253/ passed

[2020-11-06 12:55] richardlau commented on #2476
@AshCripps We'll need to set `JOBS` as well for the AIX nodes in Jenkins. [`ansible/roles/jenkins-worker/templates/aix.rc2.j2`](https://github.com/nodejs/build/blob/master/ansible/roles/jenkins-worker/templates/aix.rc2.j2) is probably the best place to do so based on the Jenkins start scripts for other platforms.

FWIW it looks like the failing job (https://ci.nodejs.org/job/libuv-test-commit-aix-

[2020-11-06 13:18] AshCripps commented on #2476
@richardlau the machines have the same amount of CPUs. question is why would we need to set it for these ones and not the older ones?

[2020-11-06 13:49] richardlau commented on #2476
@AshCripps 🤷:
[code]
or with `node`:
[code]
if `cmake` is doing something similar for `-j` (with no number) then there's a difference.

[2020-11-06 14:01] AshCripps commented on #2476
interesting as they should both be 4 cpus so no idea where 16 or 32 comes from. what would even set `JOBS` to? 4? or this 16?

[2020-11-06 14:07] richardlau commented on #2476
I would go with 4 but we could try 16. I have a vague recollection we've hardcoded some numbers into some of the Jenkins jobs when we should have gone for setting `JOBS` via ansible and that hardcoded number was in single digits (maybe 5 or 2).

[2020-11-09 09:30] aixtools commented on #2466
I had the systems down - but they are up again. An unexpected blocker prevents me from doing the planned maintenance.

I'll reschedule. To accomplish the planned update I have to move all the partitions to a different server. Need to plan those moves first.

[2020-11-09 16:36] richardlau commented on #2362
Public CI's disk was full again today. I logged into `backup` and ran the scripts in https://github.com/nodejs/build/issues/2362#issuecomment-650863422. This appears to have recovered disk space, but I got errors running the scripts that probably need further looking into.

[code]

and
[code]

cc @nodejs/build-infra

[2020-11-09 16:38] mhdawson commented on #2472
@AshCripps can you try to find a new time that works for @rvagg I think this was the one that we'd scheduled to make it easier for him to attend.

Since there is nothing tagged for the agenda, I'd suggest we cancel this one unless somebody has something to add?

[2020-11-09 16:50] AshCripps commented on #2472
I have tagged https://github.com/nodejs/build/issues/2474 for discussion but I will look into moving it as I think it would be good to have @rvagg's insight on it.

[2020-11-09 20:10] mhdawson commented on #2474
@rvagg redundancy makes sense.  I don't think we can order ARM mac mini H/W yet, correct me if I'm wrong on that and I can start the discussion with the Foundation.

[2020-11-09 20:14] mhdawson commented on #2476
I was thinking that the most likely probable was that we were missing the config in Ansible.  From that I remember we were limiting to 5 in the past but that was for the OSU machines. We should probably use something which is 1 to 1.5 times the number of CPUs.

[2020-11-09 20:18] richardlau commented on #2476
@mhdawson @AshCripps opened https://github.com/nodejs/build/pull/2477 for ansible changes.

[2020-11-09 23:11] rvagg commented on #2474
No, we're really just waiting to see Apple's announcement tomorrow. Rumours are suggesting laptops, which is probably not going to be helpful. But 🤞 we may get mini's out of this in which case we should jump straight on it.

[2020-11-10 00:34] #1756 closed

[2020-11-10 00:34] #1830 closed

[2020-11-10 09:43] AshCripps commented on #2474
Yeah the event looks to be the announcement of just 2 laptops according to rumours at least - we might be another year or so away from iMacs and mac minis.

[2020-11-10 13:06] AshCripps commented on #2472
Just as a reminder cancelling for today as its just me and Richard who can make it. Ill open a doodle for us to move the time, will we still want on to happen this week based on our options regarding #2474?

[2020-11-10 14:05] mhdawson commented on #2472
In terms of #2474 I don't think we need to rush, although scheduling one before the next regular meeting would be good. So  next week is fine in my opinion.

[2020-11-10 16:33] AshCripps commented on #2476
https://ci.nodejs.org/job/libuv-test-commit-aix-cmake/nodes=aix71-ppc64/265/console The job now picks up the jobs variable on the one machine I set it on and gets further but I dont know if the errors are related or not?

[2020-11-10 16:37] vtjnash commented on #2476
The error appears to be unrelated, though I don't know why that should fail. It appears it's refusing to switch the tty to raw mode, which isn't a failure I've seen before elsewhere.

[2020-11-10 16:37] richardlau commented on #2476
@AshCripps Are you still logged into the shell terminal that you restarted the Jenkins agent with? If so then a tty will be found when it's not expected to be.

[2020-11-10 16:48] AshCripps commented on #2476
.......yes I am

[2020-11-10 17:02] AshCripps commented on #2476
https://ci.nodejs.org/job/libuv-test-commit-aix-cmake/nodes=aix71-ppc64/269/console looks better 😄

[2020-11-10 18:48] AshCripps commented on #2474
Turns out they did announce new mac minis so it might be worth speaking with the guys at macstadium again to see their timeline.

[2020-11-10 23:33] rvagg commented on #2474
@mhdawson can you start the discussion with the Foundation about getting a couple of minis? And we'll need to make sure we have somewhere to put them, I guess we need to probe nearForm on this unless we have other options.

[2020-11-11 10:04] #2476 closed

[2020-11-11 14:42] AshCripps commented on #2474
just as an FYI I am working to get the DTKs into our regular regression runs to get some testing at least on the platform - I managed to brick one updating to the latest big sur but macstadium have swapped it out for another one. Im waiting to hear back if its safe to update the second one before I carry on.

[2020-11-11 15:30] AshCripps commented on #2472
https://doodle.com/poll/6f2zpz58aubmxkgb?utm_source=poll&utm_medium=link @nodejs/build Here is a doodle for us to pick a time to have a discussion about our options for apple silicon and to come with a plan/next steps. Ive gone with evening european time to have the best chance of getting a time every one can attend with the recent clock changes, but if there is a better option let me know.

[2020-11-11 21:28] mhdawson commented on #2474
@rvagg last time we also asked for virtualization software so that we could have a 2 vms on each mac mini so that 1 for test and one for release would be good enough.  Do you know if the same software will work on the arm machines?

We'll also need to agree on the specs. From https://www.apple.com/ca/shop/buy-mac/mac-mini there only seem to be 2 choices, one with the only difference being the SSD

[2020-11-11 22:01] AshCripps commented on #2474
Key difference this time is the minis are 8 core instead of 6 core so we _may_ be able to get away with running 3 VMs on one mini, The next issue is VMware fusion which I cant seem to find any more mention besides "soon" or "we are working on it" for M1 support

[2020-11-11 22:11] nschonni commented on #2474
I think there is also supposed to be support for 16GB or ram https://www.anandtech.com/show/16235/apple-intros-first-three-apple-silicon-macs-late-2020-macbook-air-13inch-macbook-pro-mac-mini but it doesn't look like it's on the shop either

[2020-11-12 00:30] #2093 closed

[2020-11-12 01:50] rvagg commented on #2474
Oh, right yeah, the VM problem. I bet VMWare aren't treating this as a top priority. I wonder if we need to shop around for that. Maybe Orka is the only game in town for now unless we're happy to go bare metal for these?

[2020-11-12 04:01] nschonni commented on #2474
Looks like the license was updated around virtualisation https://blog.macstadium.com/blog/developers-big-sur-and-vindication

[2020-11-13 16:02] AshCripps commented on #2472
so it looks like 9pm GMT is the best time for everyone answered on Tues or Wed - Seeing as we used to have the earlier build meeting at that time slot shall we have a meeting next Tues 17th at 9pm GMT and move the early build call back to that time slot as we are past the clock changes?

[2020-11-13 16:50] mhdawson opened #2478 "Node.js security releases Nov 16"
As per Node.js security release process this is the heads up to the @nodejs/build working group that there will be a security release Nov 16.

@richardlau can you help with the CI lock/unlock ?

[2020-11-13 16:53] richardlau commented on #2478
@mhdawson Yes, I'll coordinate with the releasers.

[2020-11-16 06:21] rvagg commented on #2474
So .. here's the key piece that someone needs to figure out - how do we get our toolchain to compile arm64 macos binaries on x64?

Here's how we used to make fat binaries: https://github.com/nodejs/node/blob/archived-io.js-v0.10/Makefile#L291-L301

i.e. we could do a `--dest-cpu=ia32` build and a `--dest-cpu=x64` build and smush the resulting `node` binaries together with `lipo`. This second piece

[2020-11-16 07:40] rvagg commented on #2474
It seems `CC_target` and `CC_host` can be (ab)used here to get further: `CC_host="ccache cc -arch x86_64" CXX_host="ccache c++ -arch x86_64" CC_target="ccache cc -arch arm64" CXX_target="ccache c++ -arch arm64" ./configure --dest-cpu=arm64`, although that gets me to asm errors in `out/Release/obj.host/v8_base_without_compiler/deps/v8/src/heap/base/asm/x64/push_registers_asm.o.d.raw` during the x64

[2020-11-16 09:27] AshCripps commented on #2474
https://developer.apple.com/documentation/xcode/building_a_universal_macos_binary Looks like Apple says to use `lipo` too but I dont know enough about the node source code to say if we have those conditional macros in place.

[2020-11-16 09:41] rvagg commented on #2474
Yeah, it's the two `-arch`'s that are appearing in the compile commands with the later one overriding the first. So if I remove the two lines that add the `-arch` from `tools/gyp/pylib/gyp/xcode_emulation.py` and rely on the ones supplied from my `CC_host` and `CC_target`:

`CC_host="ccache cc -arch x86_64" CXX_host="ccache c++ -arch x86_64" CC_target="ccache cc -arch arm64" CXX_target="ccache c++

[2020-11-16 10:09] richardlau commented on #2478
CI is now locked.

[2020-11-16 10:14] rvagg commented on #2474
Oh, so here's the most plausible explanation as to why it used to work for our fat binary builds but now doesn't - the i386 build, simply using `--dest-cpu=ia32` built binaries (including the build-time tooling) that actually ran on the compile host, because the compile host could run i386 binaries as well as x64. So `-arch i386` got passed through to everything and it didn't matter, the resulting

[2020-11-16 10:33] rvagg commented on #2474
A proposal for shoe-horning this in https://github.com/nodejs/gyp-next/pull/78

[2020-11-16 16:59] richardlau commented on #2478
CI is now unlocked.

[2020-11-16 16:59] #2478 closed

[2020-11-16 17:03] AshCripps commented on #2472
so @rvagg @mhdawson @richardlau are you ok with meeting tomorrow (17th) at 9pm GMT? also last ping to @nodejs/build if anyone else is interested

[2020-11-16 17:46] jbergstroem commented on #2472
@AshCripps: Added myself to tomorrows slots.

[2020-11-16 17:55] richardlau commented on #2472
@AshCripps I can make it tomorrow.

[2020-11-17 00:32] #580 closed

[2020-11-17 15:51] AshCripps opened #2480 "Softlayer datacenter closures"
Got an email from IBM cloud stating the following:

[code]

From a very brief glance we have only one machine possibly affected but its a machine I can't find in the inventory:

![image](https://user-images.githubusercontent.com/26796102/99412351-87c29000-28ec-11eb-873c-e64f5a3dbee0.png)

As you can see in the image it seems with have two machines with the same name and the one in our inventory is

[2020-11-17 21:05] AshCripps commented on #2472
we should be able to just use the WG meeting zoom link yes?

[2020-11-17 21:06] jbergstroem commented on #2472
I'm there "waiting", says meeting in progress.

[2020-11-17 22:29] AshCripps commented on #2474
we held a meeting today and come up with the following next steps as a starter:

- [ ] Get the DTKs back into CI for testing
- [ ] Test compiling and running node natively on the mac arm hardware
- [ ] Test if a current release runs on the new hardware through the translation layer
- [ ] Figure out a source of hardware to add to our CI for when our DTKs go back to apple
- [ ] Note down size differ

[2020-11-18 01:09] STRML commented on #2474
Just want to confirm since I got one in the mail - no compatibility problems with node, it just works - tested with a large/complex project-  and even runs very well compared to Intel chips. So new owners should not be complaining this week.

The work is still worth doing given the ~30% performance boost it unlocks.

[2020-11-18 05:23] rvagg commented on #2480
Check the IP addresses against inventory.yml to see what's in use and what isn't. It might have been a replacement server but the old one wasn't deleted.

if I'm reading VersionSelectorScript right, centos6 won't be needed after Node 10 is retired in April, and they're announcing this change for September. So we _could_ just sweep this all under the rug until then and do a complete removal of cent

[2020-11-18 09:20] aduh95 commented on #2474
FYI: https://github.com/nodejs/node/issues/36160

[2020-11-18 10:08] AshCripps commented on #2480
Richard pointed me to https://github.com/nodejs/build/issues/1074#issuecomment-365724152 which points to it being a replacement server.

[2020-11-19 00:29] BethGriggs opened #2481 "Release CI centos7-x64 machines"
At the moment, we appear to have just one machine (`release-digitalocean-centos7-x64-1`) that can service release jobs with the labels `centos7-64-gcc6`, `centos7-64-gcc8`, `centos7-release-64`, and `centos7-release-sources`.

The `centos7-64-gcc*` jobs are pretty quick, < 5 minutes . But the `centos7-release-sources` [trend](https://ci-release.nodejs.org/job/iojs+release/nodes=centos7-release-sou

[2020-11-19 01:50] mmarchini commented on #2022
Is there anything left to be done here?

[2020-11-20 04:14] rvagg commented on #2481
OK, so the easiest initial answer to this is that you, as a releaser of "official" versions, should have permission to just cancel the automatic builds if they get in the way. Nobody is going to die if a nightly doesn't go out. The v8-canary builds are especially costly because they have trouble leveraging ccache so those particularly are cancellable if they get in your way, I doubt anyone actuall

[2020-11-20 10:44] akx commented on #2474
Doesn't seem to be quite 100% problem-free: https://github.com/facebook/create-react-app/issues/10090

[2020-11-20 13:03] eugene1g commented on #2474
@akx some WASM-related things for Apple silicon have been fixed by https://github.com/nodejs/node/pull/35986 so that issue is now resolved in `master` :)

[2020-11-23 21:20] AshCripps opened #2482 "PSA: ORKA Maintanence Window"
@nodejs/build @nodejs/releasers Our ORKA environment will be going under maintenance to transfer our existing environment to an new updated cluster - this is disruptive and will require a 24hr downtime to complete. This means we will be without 10.14 macs and most of our 10.15 macs but will still have the nearform machines for releases if needed. The machines will need to be recreated after but sh

[2020-11-23 22:37] mhdawson commented on #2022
Gibson is no longer in the build or release Node.js teams  or any of the others mentioned so I think it can be closed.

[2020-11-23 22:37] #2022 closed

[2020-11-24 00:34] #1913 closed

[2020-11-24 05:58] #655 closed

[2020-11-24 05:58] mcollina commented on #655
no need :).

[2020-11-24 11:28] richardlau commented on #2482
In terms of preferred days we usually aim for releases on Tuesdays so it might be an idea to aim for the latter part of the week if possible.

[2020-11-25 13:05] mhdawson opened #2483 "Node.js Build WorkGroup Meeting 2020-12-01"
## Time

**UTC Tue 01-Dec-2020 23:00 (11:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 01-Dec-2020 15:00 (03:00 PM) |
| US / Mountain | Tue 01-Dec-2020 16:00 (04:00 PM) |
| US / Central  | Tue 01-Dec-2020 17:00 (05:00 PM) |
| US / Eastern  | Tue 01-Dec-2020 18:00 (06:00 PM) |
| EU / Western  | Tue 01-Dec-2020 23:00 (11:00 PM) |

[2020-11-25 13:11] AshCripps commented on #2482
ok so if I go back and say "pick a date between the 9th and 11th" that should be ok for everyone?

[2020-11-25 13:58] richardlau commented on #2482
:+1: from me.

[2020-11-25 18:37] mhdawson commented on #2482
Lets say 10-11th just to give some breathing room after Tuesday.

[2020-11-26 19:02] richiksc commented on #2474
I'm confused about the status of Apple Silicon support on node. I've seen many comments on issues that point to Apple Silicon being natively supported on `master` with nodejs/node#34238 and nodejs/node#35986 having landed in master for a while now  - have these changes made their way to a stable release of v15.x yet? 15.3.0 was released after both those PRs were merged. Does the `.pkg` installer d

[2020-11-26 19:13] eugene1g commented on #2474
@richiksc I can run Node natively (arm64 binary) on Apple Silicon. The most recent release 15.3 resolve last issues I noticed (related to WASM), and I can run large & complex codebases (both frontend and backend) with no issues whatsoever.

However, Apple Silicon is not yet _officially supported_ by the Node foundation. Official support is a big claim, and understandably the foundation is slow to

[2020-11-26 19:49] paolotremadio commented on #2474
No pre-built binaries yet. I’m running node 15.3.0 on M1 with no issues. The easiest way to install it is via nvm. It will try to download a binary (which it will not find) so it will compile one.

All I had to do was `nvm install v15` and that was it. I had to install Xcode build tools when prompted and wait for a few minutes for node to build. No homebrew needed.

It runs. It’s quick. No compati

[2020-11-27 10:47] AshCripps commented on #2482
Ive updated the ticket and said 10-11th will update with the exact timeframe they come back with

[2020-11-27 15:52] mhdawson opened #2485 "Remove infra for https://benchmarking.nodejs.org/"
- [x] Remove rsyncs from webserver (the ones for code coverage need to stay)
- [x] remove dns redirects etc.

[2020-11-27 17:07] mhdawson commented on #2485
Will leave open until we see the CNAME delete propagate, sounds like it could take up to 48 hours.

[2020-11-27 18:00] aduh95 opened #2486 "No space left on ARM CI"
I've noticed all CI on node repo are failing recently with this log trace for `node-test-binary-arm-12+` test suite:

[code]

https://ci.nodejs.org/job/node-test-binary-arm-12+/8467/RUN_SUBSET=addons,label=pi2-docker/console

[2020-11-27 20:06] richardlau commented on #2486
I've deleted a few of the workspaces to free up some space.

[2020-11-29 12:16] Trott commented on #2486
This seems to be resolved so I'll close it. Obviously, open it if I'm wrong and we want to leave it open until there's some automated something or other to prevent this or whatever.

[2020-11-29 12:16] #2486 closed

[2020-11-29 13:21] phillipj opened #2487 "github-bot playbook errors on `install apt-transport-https` task"
With the goal of upgrading Node.js running on the github-bot server (https://github.com/nodejs/build/pull/2479), I'm trying to use the [`create-github-bot.yml` playbook](https://github.com/nodejs/build/blob/master/ansible/playbooks/create-github-bot.yml).

After having setup secrets & SSH key, I'm able to ping the host and get past the initial `check if secrets are properly set` task successfully.

[2020-11-29 18:18] benjamingr opened #2488 "Add a `resume-ci` label to issues?"
Hey, not sure if this is the right place to ask (is it?)

There is a `request-ci` label which saves me the hassle of going to jenkins, entering all the details and starting a build for pull requests.

It would be useful to me if there was a similar label for `resume-ci` (when most builds pass but one is flakey or failed due to an unrelated infra issue).

Bonus points if it queues the "resume" even

[2020-11-29 19:14] richardlau opened #2489 "OSUOSL ppcle hosts down"
Reported by @Trott via Slack/IRC.

It looks like the OSU OSL machines aren't working, so we have no plinux hosts. See https://ci.nodejs.org/computer/test-osuosl-centos7-ppc64_le-2/ and https://ci.nodejs.org/computer/test-osuosl-centos7-ppc64_le-1/. Or here's a screenshot:
![image](https://user-images.githubusercontent.com/5445507/100551162-eab21080-3276-11eb-997f-16ba16e58d7e.png)
12:14
As a resul

[2020-11-29 19:19] richardlau commented on #2489
I've restarted the agents on both of the test machines.

FWIW from the logs it looks like some sort of network issue on 27 November.
[code]

The agent restart appears to have connected successfully.

[2020-11-29 19:19] #2489 closed

[2020-11-29 20:10] wreiske commented on #2474
If the nodejs project needs an M1 mac or mac mini for building and testing, please get in contact with me. I'd be happy to buy some mac minis or airs for the team to test with.

[2020-11-30 07:14] Dids commented on #2474
One thing to note with this is that you need to make sure you install/use `nvm` on the Terminal app, otherwise there's a chance it'll assume x86 for the architecture.

You should also be able to work around this by prefixing all commands with `arch arm64`. Additionally, you can run `arch` to see which architecture you're currently running on.

Disclaimer: I was using a 3rd party terminal app, whic

[2020-11-30 14:32] arthurlockman commented on #2474
I couldn’t actually get `nvm` to build a native version of Node even when running in a native terminal. It would build from source each time but produce an x64 binary.

Using the native version of Homebrew (installed in `/opt/homebrew`, just `brew install node`) I was able to produce an arm64 binary. Works a treat!

[2020-11-30 21:47] mhdawson commented on #2485
still seems to be active, will need to look again.

[2020-12-02 14:55] HenkPoley commented on #2474
Tip: The standard `nvm` install script uses uses `bash`. Which might be x86_64 on your system. Causing the whole chain to build under Rosetta 2.

[code]

[2020-12-02 15:27] mhdawson commented on #2483
PR for minutes: https://github.com/nodejs/build/pull/2490

[2020-12-02 15:27] #2483 closed

[2020-12-03 15:41] AshCripps commented on #2474
FYI. Ive gotten one DTK hooked up the CI and running and had to cross some hurdles. Firstly im running without ccache as that was failing to build from source from brew (I haven't bothered to build it fully from source yet because the build times seem to be fast enough for me currently). Ive also had to install a new java on the machine - the one we had was for x86_64 causing the jenkins job to bu

[2020-12-03 15:54] richardlau commented on #2474
For `test.abort/test-signal-handler` I think we can just add `SIGTRAP` to the list of signals tested for in https://github.com/nodejs/node/blob/393a1feeee69c6fb1a66d2abb4ad070a49ee3850/test/abort/test-signal-handler.js#L20-L22

[2020-12-03 16:15] AshCripps commented on #2474
@richardlau thanks Ill try that out now

[2020-12-03 18:13] richardlau opened #2491 "z/OS changes for https://github.com/libuv/libuv/pull/3060/"
This task is to log required changes to build/test https://github.com/libuv/libuv/pull/3060/

- [ ] Download and build https://github.com/ibmruntimes/zoslib (tbd do this as part of the ansible set up or in the libuv test job)
- [ ] Set `CXX` environment variable. Currently we set `CC` to `/bin/xlc` https://github.com/nodejs/build/blob/c6d76d0bdf38b0f5997c002fa72bc21a7ee02ca6/ansible/roles/jenkins-

[2020-12-04 17:59] sxa opened #2492 "Upgrade java used for the jenkins CI server from 8u202"
I was just looking at the java that hosts ci.nodejs.org and it seems to be Oracle's 8u202 (the last version before Oracle started [restricting the licensing of java 8](https://blogs.oracle.com/java-platform-group/oracle-java-se-releases-faq))

Since this version is now almost two years old I would recommend upgrading it to keep secure, and in the spirit of open source I would reocmmend using a ver

[2020-12-07 00:34] rvagg commented on #2492
Yeah, probably a good idea, but we've learned to be very hesitant about _any_ changes to Java in our Jenkins stack because we've had such a terrible history with Java-related problems being thrown up at random - _when you have something stable, don't touch it!_ is the mentality. It really needs someone dedicated to dealing with potential fall-out from such an upgrade. Otherwise we're just consumin

[2020-12-07 12:03] richardlau commented on #2481
Was just looking at the https://ci-release.nodejs.org/job/iojs+release/nodes=centos7-release-sources/ job and I think we're not actually using `ccache`. The job follows this pattern:
[code]

`. /opt/rh/devtoolset-6/enable` will prepend the path to the gcc 6 binaries to the `PATH` environment variable so that it comes before the `ccache` path.

Perhaps the job should be using [`select-compiler.sh`]

[2020-12-08 11:05] danielleadams opened #2493 "Missing status label for GitHub check"
When I opened a PR in nodejs/node (https://github.com/nodejs/node/pull/36435), I started the node-test-pull-request job and one of the checks that I received is pictured in the following:

<img width="941" alt="Screen Shot 2020-12-08 at 6 00 32 AM" src="https://user-images.githubusercontent.com/6271256/101475784-c9a68b00-391a-11eb-8d41-dd2ebfa20365.png">

The Details link to: https://ci.nodejs.org

[2020-12-08 17:48] richardlau commented on #2491
I've made a temporary clone of https://ci.nodejs.org/view/libuv/job/libuv-test-commit-zos-cmake as https://ci.nodejs.org/view/libuv/job/libuv-test-commit-zos-cmake-richardlau/ to test out changes. For now I'm limiting the changes to the Jenkins job.

## Cloning issue

The first issue I've run into is cloning https://github.com/ibmruntimes/zoslib. Attempting to clone with the https URL results in a

[2020-12-08 19:34] richardlau opened #2494 "Out of disk space on dockerized shared hosts"
Reported via Slack:

From @Trott :

From @danielleadams :

https://ci.nodejs.org/job/node-test-commit-linux-containered/nodes=ubuntu1804_sharedlibs_debug_x64/23997/console
https://ci.nodejs.org/job/node-test-commit-linux-containered/nodes=ubuntu1804_sharedlibs_withoutssl_x64/23997/console
https://ci.nodejs.org/job/node-test-commit-linux-containered/nodes=ubuntu1804_sharedlibs_openssl110_x64/23999/

[2020-12-08 19:36] richardlau commented on #2494
It looks like the disks are full. e.g. from https://ci.nodejs.org/job/node-test-commit-linux-containered/24011/nodes=ubuntu1804_sharedlibs_withoutssl_x64/console the relevant lines are:
[code]

[code]

I'll try removing the 14G/16G workspaces.

[2020-12-08 19:46] richardlau commented on #2494
I've cleaned up the workspaces for `test-softlayer-ubuntu1804_sharedlibs_container-x64-2` and `test-softlayer-ubuntu1804_sharedlibs_container-x64-3` to free up 30G of space.

[2020-12-09 00:14] zsw007 commented on #2491
@richardlau

For the Cloning issue, we are able to clone https URL by supplying `GIT_SSL_CAINFO` and `OPENSSL_CONF`, so a similar solution to AIX 6.1 may work for z/OS as well.

For the problem with xlclang/xlclang++, we suspect that the error may be due to not being able to find the compiler dataset. The dataset should be defined in the `xlclang.cfg` file, could you try taking a look there? Runni

[2020-12-09 03:55] rvagg commented on #2494
feel free to clean out all of the workspaces, it's not a huge slowdown to recreate them here (like it is on the Pi hosts)

[2020-12-09 12:28] richardlau commented on #2494
Out of space again this morning:
[code]

So the 15G workpaces are back and look to be Debug builds. I don't know what the typical expected workspace size is -- whether the sizes have been creeping up slowly over time or if there's been a recent change to cause a jump.

FWIW
[code]

[2020-12-09 12:53] richardlau commented on #2491
@zsw007 this is the current cfg file:

[code]

[code]

[2020-12-09 13:13] richardlau commented on #2494
I was waiting for the inflight https://ci.nodejs.org/job/node-test-commit-linux-containered/ jobs to complete before manually removing things but it looks like the two most recent builds passed. The current disk space usage with nothing running looks like this:

[code]

i.e. we only have one 16G (i.e. Debug build) workspace. We're probably seeing flaky behaviour if more than one https://ci.nodejs.

[2020-12-10 16:17] richardlau commented on #2494
Disk full again, with 15G workspaces on two hosts (suggesting we had concurrent debug builds again):
[code]

I've gone and wiped all the workspaces.

[code]

[2020-12-10 17:11] richardlau commented on #2491
For git and https URLs, pointing `GIT_SSL_CAINFO` to a local copy of https://github.com/nodejs/build/blob/master/ansible/aix61-standalone/resources/ca-bundle.crt works and fixes the SSL verification error. That copy of `ca-bundle.crt` dates from 2012, so we probably want a more up to date set of certificates. The comments in that file indicate that it was generated from Mozilla certificate data fo

[2020-12-10 17:58] richardlau opened #2496 "Access to z/OS machines for @zsw007"
Wayne Zhang (@zsw007) works at IBM on the z/OS port of Node.js (https://www.ibm.com/products/sdk-nodejs-compiler-zos). That team has started to upstream platform changes, starting with libuv (https://github.com/libuv/libuv/pull/3060) and have offered to assist with the setup of the z/OS CI machines (see https://github.com/nodejs/build/issues/2491 for the current set of issues). As such I would lik

[2020-12-10 17:59] richardlau opened #2497 "Access to z/OS machines for @IgorTodorovskiIBM"
Igor Todorovski (@IgorTodorovskiIBM) works at IBM on the z/OS port of Node.js (https://www.ibm.com/products/sdk-nodejs-compiler-zos). That team has started to upstream platform changes, starting with libuv (https://github.com/libuv/libuv/pull/3060) and have offered to assist with the setup of the z/OS CI machines (see https://github.com/nodejs/build/issues/2491 for the current set of issues). As s

[2020-12-10 21:35] mhdawson commented on #2496
+1 from me.

[2020-12-10 21:35] mhdawson commented on #2497
+1 from me.

[2020-12-10 21:44] MylesBorins commented on #2496
+1

[2020-12-10 21:44] MylesBorins commented on #2497
+1

[2020-12-11 09:28] AshCripps commented on #2496
+1

[2020-12-11 09:28] AshCripps commented on #2497
+1

[2020-12-11 19:01] mhdawson opened #2498 "Heads up of Security releases Jan 4 2021"
As per security release process this is a heads up that there will be security releases Jan 4 2020 and we'll need people from build to lock/unlock ci and to support and build issues we see.

[2020-12-11 19:04] richardlau commented on #2498
I've volunteered to handle some of the releases so I'll also handle locking/unlocking the CI 😄.

[2020-12-11 19:28] mhdawson commented on #2498
@richardlau Thanks!

[2020-12-12 16:46] phillipj commented on #2487
Diving into the docs and noticing the `check for apt-transport-https` got skipped by ansible, I decided to just run the playbook without `--check`. I didn't find an obvious way to make the `raw` module run in check mode, even with `check_mode: yes` added 🤷‍♂️

Bottom line: this is only an issue when running in check mode. Works as expected otherwise.

[2020-12-12 16:46] #2487 closed

[2020-12-12 16:49] Trott commented on #2482
I guess this can be closed now?

[2020-12-12 16:56] #2482 closed

[2020-12-15 18:19] BethGriggs commented on #2365
It seems like the a number of Pis have recently dropped off (also reported in Slack by @Trott).

I think it's starting to backlog ([trend](https://ci.nodejs.org/job/node-test-commit-arm-fanned/buildTimeTrend) is showing a few 4h+ builds). Would someone be able to disable the arm-fanned job temporarily?

[2020-12-15 18:51] richardlau commented on #2365
I've disabled `node-test-commit-arm-fanned` for now. I'm unable to ssh into the offline pi3's.

cc @nodejs/build-infra

[2020-12-15 23:34] richardlau opened #2501 "PSA marked the orka release machine offline"
At the request of @BethGriggs I've marked https://ci-release.nodejs.org/computer/release-orka-macos10.15-x64-1/ offline as it's failing pkg builds, e.g. https://ci-release.nodejs.org/job/iojs+release/nodes=osx1015-release-pkg/6531/console

[code]

cc @AshCripps

[2020-12-16 02:21] rvagg commented on #2501
IIRC this is because the full Xcode is required on these machines. I think I had to write up instructions in the docs in this repo about how to get this done, specifically for this.

[2020-12-16 09:26] AshCripps commented on #2501
This is likely on me (sorry @BethGriggs!) I think what likely to have happened is vms "reset" to the base image which didnt have full xcode on and I didnt notice. Ill look into installing xcode today.

[2020-12-16 12:42] AshCripps commented on #2501
Xcode installed and https://ci-release.nodejs.org/job/iojs+release/6535/nodes=osx1015-release-pkg/console notorised but the build failed?

[2020-12-16 12:44] AshCripps commented on #2501
nvm again on me - I have added the node-www ssh setup apparently

[2020-12-16 12:50] AshCripps commented on #2501
ssh setup added and verified

[2020-12-16 13:05] mhdawson opened #2502 "Node.js Build WorkGroup Meeting 2020-12-22"
## Time

**UTC Tue 22-Dec-2020 13:00 (01:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 22-Dec-2020 05:00 (05:00 AM) |
| US / Mountain | Tue 22-Dec-2020 06:00 (06:00 AM) |
| US / Central  | Tue 22-Dec-2020 07:00 (07:00 AM) |
| US / Eastern  | Tue 22-Dec-2020 08:00 (08:00 AM) |
| EU / Western  | Tue 22-Dec-2020 13:00 (01:00 PM) |

[2020-12-17 14:28] #2501 closed

[2020-12-17 16:28] richardlau commented on #2497
Since there's been no objections in a week and this is easily reversible (i.e. remove the appropriate ssh keys) I'm going to go ahead an add the keys from https://github.com/IgorTodorovskiIBM.keys.

[2020-12-17 16:28] richardlau commented on #2496
Since there's been no objections in a week and this is easily reversible (i.e. remove the appropriate ssh keys) I'm going to go ahead an add the keys from https://github.com/zsw007.keys.

[2020-12-17 17:01] richardlau commented on #2496
Keys have been added and I've sent an email to Wayne with further details.

[2020-12-17 17:01] richardlau commented on #2497
Keys have been added and I have sent an email to Igor with further details.

[2020-12-18 19:17] bcoe opened #2797 "Redirect coverage.nodejs.org to codecov.io"
Are we happy enough with [codecove.io's coverage tracking](https://codecov.io/gh/nodejs/node) that we could consider redirecting `coverage.nodejs.org` to its results?

The advantage being that our nightly coverage jobs have had a habit of breaking throughout the years.

CC: @mhdawson, @Trott

[2020-12-20 07:16] MylesBorins opened #2503 "test-packetnet-centos7-arm64-1 and 2 are offline"
https://ci.nodejs.org/job/node-test-commit-arm/ hasn't ~~passed~~ run in almost 2 days :(

[2020-12-21 12:21] richardlau commented on #2503
The release machine is also offline. I can't ssh into any of them (connection time out).

[2020-12-21 13:22] aduh95 opened #2504 "Upgrade Node.js version on node-test-linter job"
I got a PR with a [failing linter job on CI](https://ci.nodejs.org/job/node-test-linter/38339/) because it seems the Node.js version on the CI doesn't understand the language features used in https://github.com/nodejs/node/pull/36018.

I can see that in 32544396ae681178cbbca7091719c77dab203f49 (cc @phillipj), Node.js version was upgraded from v10.x to v14.x, yet the job is still failing. The conso

[2020-12-21 14:27] mhdawson commented on #2503
I can't ping any of them. I logged into the dashboard and it references a console but I can seem to access them from that either.

I've rebooted one of them and it seemed to come back on-line so I'm rebooting the rest.

[2020-12-21 14:45] mhdawson commented on #2503
They all seem to be back up now, closing.

[2020-12-21 14:45] #2503 closed

[2020-12-21 14:52] richardlau commented on #2504
Theoretically yes, but it would require a member of @nodejs/build-infra (of which I am one) to find some time to update the machines.

The linter job runs on a different set of hosts to the github-bot (which is what https://github.com/nodejs/build/commit/32544396ae681178cbbca7091719c77dab203f49 addressed). For the hosts that run the linter jobs I believe the ansible setup is https://github.com/nod

[2020-12-21 14:57] vielmetti commented on #2503
Glad to see these are back online. There was an incident with a detailed writeup at https://status.equinixmetal.com/incidents/pfgmgy1fnjcp that may well have been a contributing cause.

[2020-12-21 15:08] aduh95 commented on #2504
This can certainly wait, thanks for the explanation!

[2020-12-21 15:35] mhdawson commented on #2502
I'm not going to be able to make it, see Rod won't and I believe Ash is away as well.  There is nothing new on the calendar so I suggest we cancel.

[2020-12-21 15:38] richardlau commented on #2502
+1 to cancel.

[2020-12-21 15:49] AshCripps commented on #2502
+1 on cancelling

[2020-12-21 19:18] mhdawson commented on #2502
Cancelling

[2020-12-21 19:18] #2502 closed

[2020-12-23 14:48] richardlau commented on #2491
@zsw007 / @IgorTodorovskiIBM It looks like the changes marist have made for us now enable zoslib and libuv to compile with xlclang/xlclang++ but the tests are failing, e.g. https://ci.nodejs.org/job/libuv-test-commit-zos-cmake-richardlau/27/. The output from the tests is garbled -- probably an ASCII/EBCDIC conversion issue. Is there a known issue when running with `ctest`?

The current job config

[2020-12-23 22:01] zsw007 commented on #2491
We have been running the tests with `./build/uv_run_tests_a` instead of `ctest` so far. I took a look at `ctest` and we are seeing the same problem internally as well.  Is using `ctest` the preferred way to run the tests?

[2020-12-23 22:09] richardlau commented on #2491
I can change the job but it was what we were doing before.

[2020-12-23 23:09] richardlau commented on #2491
@zsw007 Are these failures expected?

https://ci.nodejs.org/job/libuv-test-commit-zos-cmake-richardlau/32/BUILDTYPE=Release,nodes=zos-s390x/console
[code]

[2020-12-24 00:29] zsw007 commented on #2491
Yes, we were seeing these two failures internally without our changes as well. We have changes prepared to fix these two failures, but we wanted to avoid making the first PR too large so we didn't include them there. Would it be preferred to include the fix for the failures in the first PR, or submit a separate PR?

[2020-12-24 00:53] #2139 closed

[2020-12-24 11:53] richardlau commented on #2491
How much extra are the fixes? I'm asking because I'm going to have to do some coordination to land both the PR but also switch the Jenkins job configuration at the same time as unfortunately building with `xlclang`/`xlclang++` is broken on the current libuv without the PR that introduces `zoslib` (`src/unix/os390.c:32:10: fatal error: 'csrsic.h' file not found`, https://ci.nodejs.org/job/libuv-tes

[2020-12-25 00:51] #589 closed

[2020-12-29 18:47] BraydenGirard commented on #2474
So is there any way to get Node 14 working on Apple Silicon? I have Node 15 working fine but some projects I am working with only support the LTS version of Node (Strapi).

[2020-12-29 19:24] andykenward commented on #2474
See https://github.com/nvm-sh/nvm/issues/2350#issuecomment-734132550 about running node versions via Rosetta 2.

[2020-12-29 22:52] mscdex opened #2506 "Cannot start CI jobs"
The `benchmark-node-micro-benchmarks` job does nothing after submitting a job. I've already tried re-logging in, but that did not seem to help. I was able to start one of these jobs just the other day, so I'm not sure what's going on.

[2020-12-30 14:30] targos commented on #2506
I've renamed the issue as I think the problem exists for all jobs. I cannot start any job anymore.

[2020-12-30 14:46] targos opened #2507 "Install Python 3 everywhere in CI"
This is a requirement for https://github.com/nodejs/node/pull/36691
There are a lot of hosts that only have Python 2 installed.

For example, in `ci-release`, only the Windows builds work if we remove Python 2 support: https://ci-release.nodejs.org/job/iojs+release/6555/

[2020-12-31 00:57] #2151 closed

[2020-12-31 02:26] rvagg commented on #2506
Disk full on ci.nodejs.org, caused by disk full on our backup server which does the pruning. i haven't dealt with the latter but I've invoked the pruner manually (`/root/backup_scripts/remove_old.sh ci.nodejs.org` for those with access). I've done a system update and restart of the server so it should be happy again. But this problem won't go away until we deal with the full backup server. We'll b

[2020-12-31 08:52] aduh95 commented on #2506
Not sure if this is related, but the @nodejs-github-bot doesn't comment anymore on the PR when a CI is started. I've seen that on https://github.com/nodejs/node/pull/36679 and https://github.com/nodejs/node/pull/29412.

[2020-12-31 10:11] ronag opened #2508 "Running JS linter... never completes"
Not sure if this is the right place for this issue. However, when I run `make -j4 test` on master it gets stuck on `Running JS linter...`. I've tried running `./configure` again but that doesn't seem to help.

Any ideas what might cause this?

[2021-01-01 18:23] aduh95 commented on #2508
Sometimes the linter takes a very long time to complete when the cache has been invalidated. Could this be it?

[2021-01-01 19:13] ronag commented on #2508
It's been running for almost an hour now... I don't that's it.

[2021-01-03 00:12] richardlau opened #2509 "IBM i hosts offline"
"pending—All nodes of label ‘ibmi72-ppc64’ are offline"

cc @ThePrez

I can't ssh into any of our IBM i CI hosts (connection is refused) so I'm going to disable https://ci.nodejs.org/job/node-test-commit-ibmi/ for now as it's otherwise preventing the daily builds from completing.

[2021-01-03 00:19] richardlau opened #2510 "java.lang.NoClassDefFoundError: Could not initialize class jenkins.model.Jenkins"
@Trott has reported in Slack that several hosts in the CI are failing with a Java exception, "java.lang.NoClassDefFoundError: Could not initialize class jenkins.model.Jenkins", and has rebooted several of the machines :heart:.

Remaining platforms are Windows and the docker Linux containered hosts.

[2021-01-03 00:24] richardlau commented on #2510
I've marked the following Windows hosts offline (cc @joaocgreis )
- https://ci.nodejs.org/computer/test-rackspace-win2012r2_vs2019-x64-1/
- https://ci.nodejs.org/computer/test-rackspace-win2012r2_vs2019-x64-3/
- https://ci.nodejs.org/computer/test-rackspace-win2012r2_vs2019-x64-5/

[2021-01-03 00:24] ThePrez commented on #2509
Well drat. Looks like those systems got rebooted for some maintenance activity and the SSH daemon is not set to autostart. Manually started the ssh daemon and it should be connectable now.

[2021-01-03 00:28] ThePrez commented on #2509
I've also configured the SSH daemon to be autostarted so hopefully this doesn't occur on future reboots.

[2021-01-03 00:28] richardlau commented on #2510
I tried rebooting test-digitalocean-ubuntu1804_docker-x64-1 and test-digitalocean-ubuntu1804_docker-x64-2 but they don't appear to have come back online 😞.

[2021-01-03 00:49] richardlau commented on #2509
I don't appear to be able to ssh into them with the build/test keys 😞.

[2021-01-03 01:27] ThePrez commented on #2509
The `nodejs` user got disabled, as we've seen happen a time or two in the past.

I queried the history log (for my own future reference, with SQL `SELECT * FROM TABLE(QSYS2.HISTORY_LOG_INFO(CURRENT TIMESTAMP - 24 DAY)) X WHERE MESSAGE_TOKENS like '%NODEJS%'`) and found the profile was disabled on December 18th due to too many invalid signon attempts.

I've re-enabled the profile and will reach out

[2021-01-03 01:49] richardlau commented on #2509
Thanks @ThePrez. I've logged in, restarted the agents and reenabled the job.

[2021-01-03 01:49] #2509 closed

[2021-01-03 02:31] richardlau commented on #2510
Restarted the agents on
- https://ci.nodejs.org/computer/test-softlayer-centos6-x64-1/
- https://ci.nodejs.org/computer/test-softlayer-centos6-x64-2/
- https://ci.nodejs.org/computer/test-digitalocean-debian8-x64-1/
- https://ci.nodejs.org/computer/test-rackspace-debian8-x64-1/
- https://ci.nodejs.org/computer/test-rackspace-debian8-x64-2/

[2021-01-04 02:35] rvagg commented on #2510
used "power cycle" in the DO dashboard on test-digitalocean-ubuntu1804_docker-x64-1 and test-digitalocean-ubuntu1804_docker-x64-2 and they are back up

Also did some quick maintenance on the Pi cluster and they are back online again and I've reenabled arm-fanned. I'm running some jobs through it now to fill up the workspaces I just emptied. there's 5 Pi1's marked offline and 4 Pi2's marked offline

[2021-01-04 06:34] matinzd commented on #2474
As of now we only have node v15 native support for darwin arm64?

[2021-01-04 17:58] zsw007 commented on #2491
The fix would provide separate z/OS implementation of `uv_setup_args()`, `uv_set_process_title()`, `uv_get_process_title()`, and `uv__process_title_cleanup()` similar to the approach used with AIX. I can go ahead and include the fix in https://github.com/libuv/libuv/pull/3060 to keep the build passing.

[2021-01-04 18:44] richardlau commented on #2498
CI has been unlocked.

[2021-01-04 18:44] #2498 closed

[2021-01-05 01:31] joaocgreis commented on #2510
Rebooted the affected Windows machines. Windows servers should be ok now.

[2021-01-05 03:23] joaocgreis commented on #2450
Published v15.5.1.

[2021-01-05 11:20] richardlau commented on #2365
Copying over from Rod's comment in https://github.com/nodejs/build/issues/2510#issuecomment-753726508:

[2021-01-05 11:25] #2510 closed

[2021-01-05 12:05] mscdex opened #2511 "benchmark-node-micro-benchmarks categories not completely sorted"
As the title says, the items in the categories dropdown for the benchmark-node-micro-benchmarks job are not completely sorted. I'm assuming this is done manually and any new categories are just being appended to the end. It would be nice to have it all sorted.

[2021-01-06 03:43] rvagg commented on #2365
https://ci.nodejs.org/label/pi3-docker/ 3 are already offline, sigh, I'll do my best to keep them alive but I might need to be reminded now and again

[2021-01-06 04:20] rvagg commented on #2506
^ can someone confirm whether the bot is still broken or not and needs some attention from someone who has a clue?

[2021-01-06 04:53] mmarchini commented on #2506
Not the case, there's a comment from 6 hours ago

[2021-01-06 11:21] richardlau opened #2512 "/usr/local/bin/tap2junit: /usr/local/opt/python/bin/python3.7: bad interpreter: No such file or directory"
It looks like the Orka 10.14 macOS hosts can't run tap2junit:
e.g. https://ci.nodejs.org/job/node-test-commit-osx/38260/nodes=osx1014/console

[code]

If I log into any of the three Orka macOS 10.14 hosts it looks like the tap2junit script is referencing a non-existent Python in its #! line:
[code]

[2021-01-06 11:42] richardlau commented on #2512
FWIW for comparison on a working Orka 10.15 host, `test-orka-macos10.15-x64-1`:
[code]

I think the #! line (and the tap2junit binary itself) is coming from the package installer (`pip`) rather than the tap2junit code (https://github.com/nodejs/tap2junit) itself.

[2021-01-06 11:56] AshCripps commented on #2512
So I assume this just requires a reinstall of `tap2junit`?

[2021-01-06 13:05] mhdawson opened #2513 "Node.js Build WorkGroup Meeting 2021-01-12"
## Time

**UTC Tue 12-Jan-2021 23:00 (11:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Tue 12-Jan-2021 15:00 (03:00 PM) |
| US / Mountain | Tue 12-Jan-2021 16:00 (04:00 PM) |
| US / Central  | Tue 12-Jan-2021 17:00 (05:00 PM) |
| US / Eastern  | Tue 12-Jan-2021 18:00 (06:00 PM) |
| EU / Western  | Tue 12-Jan-2021 23:00 (11:00 PM) |

[2021-01-07 01:02] #1910 closed

[2021-01-07 15:30] richardlau commented on #2512
🤞.

Just tried to run the ansible playbook against one of the hosts but got an error complaining about Python.
[code]

[2021-01-07 16:07] AshCripps commented on #2512
https://github.com/nodejs/build/blob/48a9ac25198a26af4546b93dfbb42b6feb988e39/ansible/ansible.cfg#L57-L59

is set to `usr/bin/python3` but the 10.14 macs seem to be:

[code]

[2021-01-07 16:14] richardlau commented on #2512
Temporarily commented out the entry for `ansible_python_interpreter` in `ansible.cfg` for macOS and set it in the `inventory.xml` for the host I'm running against (`test-orka-macos10.14-x64-1`) and the playbook gets a bit further and then errors on:
[code]

[2021-01-07 16:35] targos opened #2515 "Wrong SSH key on test-azure_msft-win10_vs2019-x64-4 ?"
I got an error in a citgm job: https://ci.nodejs.org/job/citgm-smoker-nobuild/1003/nodes=win10-vs2019/console

[code]

[2021-01-07 16:40] targos opened #2516 "Remote call on JNLP4-connect failed"
See https://ci.nodejs.org/job/citgm-smoker-nobuild/1000/nodes=ubuntu1404-64/console

I've seen this error multiple times with citgm-smoker-nobuild, I think always on the same host (test-digitalocean-ubuntu1404-x64-1)

https://ci.nodejs.org/computer/test-digitalocean-ubuntu1404-x64-1/builds

[code]

[2021-01-07 16:43] targos commented on #2515
Other failure: https://ci.nodejs.org/job/citgm-smoker-nobuild/1007/nodes=win10-vs2019/console

[2021-01-07 16:46] richardlau commented on #2512
Rerunning got past that failure (in "Upgrade installed packages") and I'm now stuck at
[code]

This looks to have been a recent breakage caused by Homebrew.
Refs: https://github.com/ansible-collections/community.general/issues/1524
Refs: https://github.com/Homebrew/discussions/discussions/340#discussioncomment-232364

[2021-01-07 17:11] richardlau commented on #2516
It looks like another instance of https://github.com/nodejs/build/issues/2510. It was probably missed because the build history suggests the regular CI for daily Node.js 10.x builds are going to the other `ubuntu1404-64` host which isn't exhibiting the issue. I'll restart the Jenkins agent which should fix it.

[2021-01-07 17:42] richardlau commented on #2516
Restarted the agent.
Test rebuild: https://ci.nodejs.org/job/citgm-smoker-nobuild/1008/nodes=ubuntu1404-64/

[2021-01-07 17:43] richardlau commented on #2516
Test build passed.

[2021-01-07 17:43] #2516 closed

[2021-01-07 17:52] richardlau commented on #2512
Apparently the latest ansible 2.10 contains a fix, but for other reasons the most recent versions of ansible in Fedora 33 (where I've been running the script) is 2.9.16. I'll try to set up a container and install ansible via pip.

[2021-01-07 18:36] targos commented on #2516
Thanks!

[2021-01-07 23:09] rvagg opened #2517 "Jenkins update Jan 13"
I'll get this done when the announcement is made, probably my afternoon - overnight USA time, and hopefully it goes smoothly like usual. But there's a chance for crazy incompatibilities as we've had in the past, so be warned!

[2021-01-08 11:13] targos commented on #2515
Maybe the issue is not that the SSH key is wrong, but that npm is trying to clone using SSH instead of HTTPS.

[2021-01-08 18:43] mhdawson commented on #2217
This is long since stale, closing.

[2021-01-08 18:43] #2217 closed

[2021-01-11 14:06] #2512 closed

[2021-01-12 11:38] AshCripps commented on #2513
Is this meeting going ahead? If so I think it will be a good place to discuss the metrics again (#2025 & #2518) as ive got the first step working and want to have some discussion on whats best for the next step.